<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>江湖令答题器_江湖令科举答题_49you江湖令官方网站</title>
<meta name="keywords" content="江湖令答题器,江湖令答题,江湖令科举答题" />
<meta name="description" content="江湖令答题器为江湖令玩家提供了最新最全的科举答题活动的问题与答案资料库，是一个使用简单快捷的江湖令科举答题查询器！" />
<link href="css/cp.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/basic.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jscontrol.js"></script>
</head>
<body>
<div id="topbg">
<div class="top">
<div class="sosuo"><input id="xlname" class="texta" type="text"  value="请输入问题或答案中最显著的关键词" style="color: gray;"  />
<input class="butt" type="button" onclick="txtclean()" value="清空重问"/>
 </div>
</div>
<div style="background: none repeat scroll 0% 0% transparent; color: blue; text-align: center; position: absolute; top: 112px; margin: 0pt 0pt 0pt 115px;">49you江湖令新服火爆开启&nbsp;&nbsp;<a style="color:red" href="http://jhl.49you.com/cardlist.html" target="_blank">点击进入</a>领取神秘豪华礼包<!--span style="margin-left:140px;"><a href="#" style="color:red;">下载</a>本答题器</span--></div>
<div class="main">
<div id="xldata" style="height:290px">
<table width="100%" height="100%">
<tr>
<td align="center" valign="middle"><img src="images/loading.gif"/></td>
</tr>
</table>
</div>
<p>【说明】：更多答题结果请在本答题器上方输入框进行一键查询</p><br/>
  <!--div class="page" id="xlpage"><a href="#">首页</a><strong>1</strong><a href="###">下一页</a><a href="###">末页</a></div-->
  <div class="dip">
    <div style="float:left;"><a href="http://jhl.49you.com/" target="_blank"><img src="images/guanw.jpg" width="248" height="58" /></a></div>
  <div class="anniu">
  <a href="http://www.49you.com/reg_9_4818894.html" target="_blank" >进入游戏</a>
  <a href="http://jhl.49you.com/server_list.html" target="_blank">最新开服</a>
  <a href="http://jhl.49you.com/news.html?pid=214&cid=223" target="_blank">游戏攻略</a>
  <a href="http://jhl.49you.com/news.html?pid=215&cid=216" target="_blank">最新资讯</a></div>
  </div>
  
</div>
<div class="sharedspacer5"></div>
<div class="bom"></div>
</div>
<script src="http://app.baidu.com/static/appstore/monitor.st"></script>
</body>
</html>
