<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>神仙道_神仙道材料|装备|丹药</title>
<meta content="神仙道,神仙道材料,神仙道材料大全,神仙道材料掉落,神仙道材料出处,神仙道装备,神仙道丹药" name="Keywords">
<meta content="神仙道材料、装备及丹药大全为神仙道玩家提供了最新最全的材料掉落处、装备及丹药合成所需材料，轻松快捷掌握神仙道！" name="Description">
<link href="css/cp.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/basic.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jscontrol.js"></script>
</head>

<body>
<div id="topbg">
<div class="top">

<div class="sosuo">
<input id="dataname" class="texta" type="text" value="请输入装备、材料或丹药名" style="color:gray;" />
<input id="txtcln" class="butt" type="button" value="清空"/>
</div>
<div class="remen"><strong>热门关键字：</strong><span id="hotkey">。。。。。。</span></div>
</div>

<div class="main">

<div class="ban">
<a href="###" class="bans" id="mat">材 料(99)</a><a href="###" class="banns" id="equ">装 备(99)</a><a href="###" class="banns" id="dru">丹 药(99)</a>
 <div style=" float:right;"><a href="http://sxd.49you.com/" style="color:#00F;" target="_blank">进入官网</a></div>
</div>

<div style="clear:both; height:325px;" id="datadata">
<table width="100%" height="100%">
<tr>
<td align="center" valign="middle"><img src="images/loading.gif"/></td>
</tr>
</table>

 </div> 
  <div class="page" id="datapage"><a href="#">首页</a><strong>1</strong><a href="###">下一页</a><a href="###">末页</a></div>
  <div class="dip">
    <div style="float:left; margin-left:8px;"><a href="http://sxd.49you.com/" target="_blank"><img src="images/guanw.jpg" width="202" height="58" /></a></div>
  <div class="anniu">
  <a href="http://www.49you.com/reg_4_4819031.html" target="_blank">进入游戏</a>
  <a href="http://sxd.49you.com/server_list.html" target="_blank">最新开服</a>
  <a href="http://sxd.49you.com/news.html?pid=128&cid=131" target="_blank">游戏攻略</a>
  <a href="http://sxd.49you.com/news.html?pid=122&cid=123" target="_blank">最新资讯</a>
  <a href="http://sxd.49you.com/lm.html" target="_blank">猎命摸拟器</a>
  <a href="http://sxd.49you.com/news_info.html?id=983" target="_blank">伙伴大全</a>
  </div>
  </div>
  
</div>

<div class="sharedspacer5"></div>
<div class="bom"></div>
</div>
<script src="http://app.baidu.com/static/appstore/monitor.st"></script>
</body>
</html>