<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天之刃_49you天之刃_天之刃春节活动专题</title>
<link href="css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!--头部-->
<div id="main" class="fix">
<div class="toplink">
<a class="toplink_a" href="http://tzr.49you.com/" target="_blank">官网首页</a>
<a class="toplink_b" href="http://tzr.49you.com/server_list.html" target="_blank">进入游戏</a>
<a class="toplink_c" href="http://www.49you.com/pay_type.html?gid=17" target="_blank">立即充值</a>
</div>
<div class="content fix">

<div class="con_boxa"><img src="images/banner01.jpg" width="960" height="210" /></div>
<div class="con_nav">
<ul>
<li id="li1"><a href="index1.html">新春好礼送不停</a></li>
<li id="li2"><a href="index2.html">年兽入侵啦!</a></li>
<li id="li3"><a href="index3.html">集齐祝福换神宠</a></li>
<li id="li4"><a href="index4.html">红包天天领</a></li>
<li id="li5"><a href="index5.html">亲朋好友互祝贺</a></li>
</ul>
</div>
</div>
<div class="footer">
<a class="logo" href="http://tzr.49you.com/" target="_blank">天之刃</a>
<p align="left">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br />
Copyright ©2011 49you游戏平台 <a href="http://www.49you.com/" target="_blank">www.49you.com</a> 粤ICP备11094650号-1 粤网文[2011]0266-037号 Rights Reserved<br />
</div>
</div> 


</body>
</html>
