<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="layout">

  <div id="n-top"> </div>
  
  <div id="n-content">
    <div id="n-content1" >
      <div id="n-content1-t"><strong><?=$row_news['title']?></strong><span><a href="javascript:parent.info_close();">返回</a></span></div>
	  <div id="n-content1-c"><?=$row_news['content']?></div>
	</div>
  </div>
</div>

</body>
</html>
