<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>江湖令|江湖令官网|49you江湖令|江湖令春节活动</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">


<div class="wipper1"><img src="images/index_02.jpg" border="0" usemap="#Map2"/>
<map name="Map2" id="Map2">
  <area shape="rect" coords="629,30,704,52" href="http://www.49you.com/reg.html" target="_blank" />
  <area shape="rect" coords="549,30,624,52" href="http://jhl.49you.com/" target="_blank" />
</map>
</div>

<div class="wipper2"></div>


<div class="wipper3"><img src="images/index_05.jpg" border="0" usemap="#Map"/>
<map name="Map" id="Map">
  <area shape="rect" coords="104,94,215,205" href="page01.html" title="新春年兽哥闹江湖" />
  <area shape="poly" coords="65,218" href="#" /><area shape="poly" coords="71,225,73,328,173,348,183,234" href="page02.html" title="收集“新春大鞭炮”咯" />
<area shape="rect" coords="53,365,213,499" href="page03.html" title="穿红装 换新宠 过肥年"/><area shape="poly" coords="547,239,545,375,672,395,672,252" href="page04.html" title="一起通关抢礼包"/>
<area shape="poly" coords="448,378,444,504,555,520,553,394" href="page05.html" title="登录游戏赢大礼" />
<area shape="rect" coords="624,405,789,532" href="page06.html"  title="有妹纸 过年不寂寞" />
</map></div>






</div>


<div class="foot">
<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
</div>
</body>
</html>
