<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>江湖令|江湖令官网|49you江湖令|江湖令春节活动</title>
<link href="style/page.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
</style>
</head>
<style>
.wipper .content H2 {
	OVERFLOW: hidden; TEXT-INDENT: -9999px; HEIGHT: 43px;
}
.rili {
	  WIDTH:1004px; height:113px; margin:0 auto;}
.rili LI {
	FLOAT: left; HEIGHT: 113px;}
	
.rili LI h2{
display:none;}

.rili LI table{ }
</style>

<body>

<div class="main">

<div class="wipper1"><img src="images/page_02.jpg" border="0" usemap="#Map"/>
<map name="Map" id="Map">
  <area shape="rect" coords="631,30,707,55" href="http://www.49you.com/reg.html" target="_blank" /><area shape="rect" coords="548,30,624,55" href="http://jhl.49you.com/" target="_blank" />
</map>
</div>

<div class="wipper2"></div>
<div class="wipper3"></div>
<div class="wipper4">

<div class=rili>
  <LI>
  <H2>新春年兽哥闹江湖</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A  title="新春年兽哥闹江湖"  class=but_01 buta1 href="page01.html">新春年兽哥闹江湖</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  

    <LI>
  <H2>收集“新春大鞭炮”咯</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="收集“新春大鞭炮”咯" class=but_02 href="page02.html">收集“新春大鞭炮”咯</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>穿红装 换新宠 过肥年</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="穿红装 换新宠 过肥年" class=but_03 href="page03.html">穿红装 换新宠 过肥年</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
    <LI>
  <H2>一起通关抢礼包</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="一起通关抢礼包" class=but_c4 href="page04.html">一起通关抢礼包</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
      <LI>
  <H2>登录游戏赢大礼</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="登录游戏赢大礼" class=but_05 href="page05.html">登录游戏赢大礼</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>有妹纸 过年不寂寞</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="有妹纸 过年不寂寞" class=but_06 href="page06.html">有妹纸 过年不寂寞</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
 </div>

</div>

<div class="content">

<div class="nr">

<h1>◆一起通关抢礼包</h1>

<strong>活动时间：<span class="STYLE1">1月27日 04:00——2月2日 03:59</span></strong><br>
<br>

<strong>活动范围：全服</strong><br><br>

<strong>活动内容：</strong><br>
　　<span class="red1"><strong> 玩家通关35级、45级单人副本</strong></span>，有一定的几率获得【新春幸运大礼包】*1，打开礼包之后有机会获得以下道具之一：<br>

<div align="center">
<table width="42%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#CC0000">
  <tr>
    <td width="70%"><div align="center"><strong>新春幸运大礼包</strong></div></td>
    <td width="30%"><div align="center"><strong>状态</strong></div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">绑定元宝*5</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">春节大红装(2天)</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">银锭*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">金锭*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">沉甸甸的大金砖*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">绑定元宝*10</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">绑定元宝*888</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">绑定元宝*166</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
</table>

</div><br>


注：<br>
1、【新春幸运大礼包】为绑定物品，开出的道具也是绑定的；<br>
2、玩家们通关副本有一定的几率获得，不是一定会掉落的哦；<br>
3、【新春幸运大礼包】将会直接进入玩家背包，所以请保留足够的背包空间，以免物品丢失。<br>





</div>
</div>



<div class="bot"><div style=" width:100px; margin:10px auto;"><a href="index.html"><img src="images/gohome.jpg" border="0"/></a></span></div>

</div>

<div class="foot">
<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
</div>
</body>
</html>
