<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>江湖令|江湖令官网|49you江湖令|江湖令春节活动</title>
<link href="style/page.css" rel="stylesheet" type="text/css" />
</head>
<style>
.wipper .content H2 {
	OVERFLOW: hidden; TEXT-INDENT: -9999px; HEIGHT: 43px;
}
.rili {
	  WIDTH:1004px; height:113px; margin:0 auto;}
.rili LI {
	FLOAT: left; HEIGHT: 113px;}
	
.rili LI h2{
display:none;}

.rili LI table{ }
.STYLE1 {color: #FF0000}
</style>

<body>

<div class="main">

<div class="wipper1"><img src="images/page_02.jpg" border="0" usemap="#Map"/>
<map name="Map" id="Map">
  <area shape="rect" coords="631,30,707,55" href="http://www.49you.com/reg.html" target="_blank" /><area shape="rect" coords="548,30,624,55" href="http://jhl.49you.com/" target="_blank" />
</map>
</div>

<div class="wipper2"></div>
<div class="wipper3"></div>
<div class="wipper4">

<div class=rili>
  <LI>
  <H2>新春年兽哥闹江湖</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A  title="新春年兽哥闹江湖"  class=but_01 buta1 href="page01.html">新春年兽哥闹江湖</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  

    <LI>
  <H2>收集“新春大鞭炮”咯</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="收集“新春大鞭炮”咯" class=but_c2 href="page02.html">收集“新春大鞭炮”咯</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>穿红装 换新宠 过肥年</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="穿红装 换新宠 过肥年" class=but_03 href="page03.html">穿红装 换新宠 过肥年</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
    <LI>
  <H2>一起通关抢礼包</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="一起通关抢礼包" class=but_04 href="page04.html">一起通关抢礼包</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
      <LI>
  <H2>登录游戏赢大礼</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="登录游戏赢大礼" class=but_05 href="page05.html">登录游戏赢大礼</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>有妹纸 过年不寂寞</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="有妹纸 过年不寂寞" class=but_06 href="page06.html">有妹纸 过年不寂寞</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
 </div>

</div>

<div class="content">

<div class="nr">

<h1>◆收集“新春大鞭炮”</h1>


　　玩家只要参与游戏的“科举、护送、循环任务”三个游戏系统，达到指定要求就可以获得“新春大鞭炮”了！拿了“鞭炮”之后哪里可以点着玩啊？年轻人，《江湖令》的“新春大鞭炮”不是用来点的，去【活动商店】看看有什么好东西，换一个玩玩吧。<br><br>

<strong>活动时间：</strong><br>
<strong>“科举”奖励时间：<span class="STYLE1">1月19日 04:00——1月23日 03:59</span><br>
“护送”奖励时间：<span class="STYLE1">1月23日 04:00——1月27日 03:59</span><br>
“循环任务”奖励时间：<span class="STYLE1">1月27日 04:00——1月31日 03:59</span></strong><br>
<br>

<strong>活动范围：全服</strong><br>
<br>

<strong>道具获取途径：</strong><br>
1、玩家们在活动时间内每天参加“科举答题”，<span class="STYLE1"><strong>达到150分以上</strong></span>，答题完毕后就可以获得<span class="STYLE1"><strong>【新春大鞭炮】*3</strong></span>；<br>
2、在活动期间玩家每天刷新“护送品质”，<span class="red1"><strong>大小姐或公主</strong></span>，护送结束后都获得<span class="STYLE1"><strong>【新春大鞭炮】*1</strong></span>；<br>
3、“循环任务”刷新到<span class="STYLE1"><strong>橙色以上品质</strong></span>的玩家，完成第20环任务后，可以获得<span class="STYLE1"><strong>【新春大鞭炮】*3</strong></span>。<br>
<br>

注：<br>
1、【新春大鞭炮】为绑定物品；<br>
2、【新春大鞭炮】可以在【活动商店】兑换对应的节日道具；<br>
3、【新春大鞭炮】出售后可以获得10两绑定银两；<br>
<span class="red1"><strong>4、玩家每天最多可以获得4次“护送”机会，只要达到活动要求，就可以获得奖励；</strong></span>
<br />
5、玩家们通过“科举答题”与“护送”获得的节日物品可以由邮件附件的形式获取，“循环任务”的奖励物品将直接进入玩家背包，请注意保留空余的背包空间，避免物品丢失。</div>
</div>



<div class="bot"><div style=" width:100px; margin:10px auto;"><a href="index.html"><img src="images/gohome.jpg" border="0"/></a></span></div>

</div>

<div class="foot">
<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
</div>
</body>
</html>
