<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>江湖令|江湖令官网|49you江湖令|江湖令春节活动</title>
<link href="style/page.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
</style>
</head>
<style>
.wipper .content H2 {
	OVERFLOW: hidden; TEXT-INDENT: -9999px; HEIGHT: 43px;
}
.rili {
	  WIDTH:1004px; height:113px; margin:0 auto;}
.rili LI {
	FLOAT: left; HEIGHT: 113px;}
	
.rili LI h2{
display:none;}

.rili LI table{ }
.STYLE2 {font-size: 16px}
</style>

<body>

<div class="main">

<div class="wipper1"><img src="images/page_02.jpg" border="0" usemap="#Map"/>
<map name="Map" id="Map">
  <area shape="rect" coords="631,30,707,55" href="http://www.49you.com/reg.html" target="_blank" /><area shape="rect" coords="548,30,624,55" href="http://jhl.49you.com/" />
</map>
</div>

<div class="wipper2"></div>
<div class="wipper3"></div>
<div class="wipper4">

<div class=rili>
  <LI>
  <H2>新春年兽哥闹江湖</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A  title="新春年兽哥闹江湖"  class=but_01 buta1 href="page01.html">新春年兽哥闹江湖</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  

    <LI>
  <H2>收集“新春大鞭炮”咯</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="收集“新春大鞭炮”咯" class=but_02 href="page02.html">收集“新春大鞭炮”咯</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>穿红装 换新宠 过肥年</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="穿红装 换新宠 过肥年" class=but_03 href="page03.html">穿红装 换新宠 过肥年</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
    <LI>
  <H2>一起通关抢礼包</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="一起通关抢礼包" class=but_04 href="page04.html">一起通关抢礼包</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
      <LI>
  <H2>登录游戏赢大礼</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="登录游戏赢大礼" class=but_05 href="page05.html">登录游戏赢大礼</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>有妹纸 过年不寂寞</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="有妹纸 过年不寂寞" class=but_c6 href="page06.html">有妹纸 过年不寂寞</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
 </div>

</div>

<div class="content">

<div class="nr">

<h1>◆有妹纸 过年不寂寞</h1>


　　2012年新春来临，有钱没钱，带个妹纸回家过年吧！活动期间把你在《江湖令》护送公主的截图作为QQ头像，即可到论坛赢取春节大礼包！<br><br>

<strong>活动时间：<span class="STYLE1">2012年01月19日 00:00:00 ——2012年01月29日 23:00:00</span></strong><br>
<br>

<strong>活动内容：</strong><br>
<span class="STYLE1"><strong>1、拥有1个常用QQ等级必须≥4级（图标为1个月亮）</strong></span><br>
2、修改并保持3天QQ头像为玩家本人在游戏里护送美女的截图（护送对象必须为大小姐或者公主）<br>
3、QQ签名修改为：有钱没钱，带个妹纸回家过年！《江湖令》让你过年抱得美人归！官网：<a href="http://jhl.49you.com/" target="_blank">http://jhl.49you.com/</a><br>
4、玩家必须把QQ资料的截图回复到对应的活动帖。<a href="http://bbs.49you.com/viewthread.php?tid=17875" target="_blank" class="STYLE2">>>>点击参与活动<<<</a><br>
<br>

<strong>发帖格式：</strong><br>
<strong>签名截图：</strong>（必须换上指定头像并修改签名）<br>
<img width="572" height="187" src="images/page06_clip_image001.jpg" border="0" /><br>

<strong>角色名称：</strong>XXXX<br>
<strong>所在服务器：</strong>XXXX<br><br>



<strong>活动奖励：<span class="red1">【新春幸运大礼包】*3</span></strong><br><br>

注：<br>
1、每位中奖的玩家只可以获得一次奖励，不能重复获奖；<br>
2、参与的玩家会在活动结束后3个工作日内收到丰厚的大奖；<br>
3、截图中QQ头像上方角色名必须与玩家的游戏角色名称对应。<br>




</div>
</div>



<div class="bot"><div style=" width:100px; margin:10px auto;"><a href="index.html"><img src="images/gohome.jpg" border="0"/></a></span></div>

</div>

<div class="foot">
<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
</div>
</body>
</html>
