<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>江湖令|江湖令官网|49you江湖令|江湖令春节活动</title>
<link href="style/page.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
</style>
</head>
<style>
.wipper .content H2 {
	OVERFLOW: hidden; TEXT-INDENT: -9999px; HEIGHT: 43px;
}
.rili {
	  WIDTH:1004px; height:113px; margin:0 auto;}
.rili LI {
	FLOAT: left; HEIGHT: 113px;}
	
.rili LI h2{
display:none;}

.rili LI table{ }
</style>

<body>

<div class="main">

<div class="wipper1"><img src="images/page_02.jpg" border="0" usemap="#Map"/>
<map name="Map" id="Map">
  <area shape="rect" coords="631,30,707,55" href="http://www.49you.com/reg.html" target="_blank" /><area shape="rect" coords="548,30,624,55" href="http://jhl.49you.com/" target="_blank" />
</map>
</div>

<div class="wipper2"></div>
<div class="wipper3"></div>
<div class="wipper4">

<div class=rili>
  <LI>
  <H2>新春年兽哥闹江湖</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A  title="新春年兽哥闹江湖"  class=but_01 buta1 href="page01.html">新春年兽哥闹江湖</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  

    <LI>
  <H2>收集“新春大鞭炮”咯</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="收集“新春大鞭炮”咯" class=but_02 href="page02.html">收集“新春大鞭炮”咯</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>穿红装 换新宠 过肥年</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="穿红装 换新宠 过肥年" class=but_c3 href="page03.html">穿红装 换新宠 过肥年</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
    <LI>
  <H2>一起通关抢礼包</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="一起通关抢礼包" class=but_04 href="page04.html">一起通关抢礼包</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
      <LI>
  <H2>登录游戏赢大礼</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="登录游戏赢大礼" class=but_05 href="page05.html">登录游戏赢大礼</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>有妹纸 过年不寂寞</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="有妹纸 过年不寂寞" class=but_06 href="page06.html">有妹纸 过年不寂寞</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
 </div>

</div>

<div class="content">

<div class="nr">

<h1>◆穿红装 换新宠 过肥年</h1>


　　“年兽哥”的战斗力可不是吹的，相信玩家们都可以体验得到，那么你是否想过有一个“年兽哥”帮你撑门面呢？你可以在活动时间内到【活动商店】或者【优惠商店】，<strong>满足活动要求就可以换一个甚比九尾狐一般强大的“年兽哥”了！</strong>（其中还有属性强大的新外装，机不可失，失不再来~~）<br>
<br>
<div align="center"><img src="images/page_002.gif" border="0"/></div><br>
<strong>（一）红装新宠 新春鞭炮免费换</strong><br><br>

<strong>活动时间：<span class="STYLE1">1月19日 04:00——2月2日 03:59</span></strong><br>
<br>


<strong>活动范围：全服</strong><br><br>

<strong>活动内容：</strong><br>
　　玩家们可以使用节日道具【新春大鞭炮】通过【活动商店】兑换惊喜“新年大红装”和宠物“年兽”。<br>
<div align="center">
<table width="50%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#CC0000">
  <tr>
    <td><div align="center"><strong>兑换条件</strong></div></td>
    <td><div align="center"><strong>节日物品</strong></div></td>
    <td><div align="center"><strong>兑换数量</strong></div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">新春大鞭炮*20</div></td>
    <td bgcolor="#FFFF99"><div align="center">新年大红装*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">无限量</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">新春大鞭炮*2</div></td>
    <td bgcolor="#FFFF99"><div align="center">小年兽（一阶）*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">无限量</div></td>
  </tr>
    <tr>
    <td bgcolor="#FFFF99"><div align="center">新春大鞭炮*15</div></td>
    <td bgcolor="#FFFF99"><div align="center">大年兽（二阶）*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">无限量</div></td>
  </tr>
    <tr>
    <td bgcolor="#FFFF99"><div align="center">新春大鞭炮*2</div></td>
    <td bgcolor="#FFFF99"><div align="center">金锭*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">无限量</div></td>
  </tr>
</table>
</div><br>


注：<br>
1、使用【新春大鞭炮】兑换的时装和宠物必须在“限购时间内”才可以进行兑换；<br>
2、【新春大鞭炮】会在“活动二”中注明获取的方式；<br>
3、兑换的游戏物品皆为绑定；<br>
<span class="STYLE1"><strong>4、兑换的宠物自带全新的主动战斗技能“外功横杀”；</strong></span><br>
<strong>5、玩家想要获得全新的“年兽”系列宠物，暂时只有通过新春活动的途径获得，开启【如意宠物蛋】暂时无法获得“年兽”宠物。</strong><br>
<br><br>


<strong>（二）极品红装新宠 限时抢购秒杀</strong><br><br>

<strong>活动时间：</strong><br>
<strong>“春节盛装”限购时间：<span class="STYLE1">1月23日 04:00——1月 29 日 03:59</span><br>
“瑞雪年兽（三阶）”限购时间：<span class="STYLE1">1月23日04:00——1月27日 03:59</span></strong><br>
<br>

<strong>活动范围：全服</strong><br><br>

<strong>活动内容：</strong><br>
　　玩家还可以在【优惠商店】指定时间内购买到限购的“春节盛装”和“瑞雪年兽（三阶）”！<br>

<div align="center">
<table width="50%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#CC0000">
  <tr>
    <td><div align="center"><strong>兑换条件</strong></div></td>
    <td><div align="center"><strong>节日物品</strong></div></td>
    <td><div align="center"><strong>兑换数量</strong></div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">888元宝</div></td>
    <td bgcolor="#FFFF99"><div align="center">春节盛装*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">66件</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">488元宝</div></td>
    <td bgcolor="#FFFF99"><div align="center">瑞雪年兽（三阶）*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">99个</div></td>
  </tr>
</table>
</div><br>

注：<br>
1、使用元宝购买的时装和宠物必须在“限购时间内”才可以进行兑换；<br>
2、每种节日物品，玩家一天只可以购买1件；<br>
<span class="STYLE1"><strong>3、兑换的宠物自带全新的主动战斗技能“外功横杀”；<br>
</strong></span> <strong>4、玩家想要获得全新的“年兽”系列宠物，暂时只有通过新春活动的途径获得，开启【如意宠物蛋】暂时无法获得“年兽”宠物。</strong><br>





</div>
</div>



<div class="bot"><div style=" width:100px; margin:10px auto;"><a href="index.html"><img src="images/gohome.jpg" border="0"/></a></span></div>

</div>

<div class="foot">
<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
</div>
</body>
</html>
