<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>江湖令|江湖令官网|49you江湖令|江湖令春节活动</title>
<link href="style/page.css" rel="stylesheet" type="text/css" />
</head>
<style>
.wipper .content H2 {
	OVERFLOW: hidden; TEXT-INDENT: -9999px; HEIGHT: 43px;
}
.rili {
	  WIDTH:1004px; height:113px; margin:0 auto;}
.rili LI {
	FLOAT: left; HEIGHT: 113px;}
	
.rili LI h2{
display:none;}

.rili LI table{ }
.STYLE1 {color: #FF0000}
</style>

<body>

<div class="main">

<div class="wipper1"><img src="images/page_02.jpg" border="0" usemap="#Map"/>
<map name="Map" id="Map">
  <area shape="rect" coords="631,30,707,55" href="http://www.49you.com/reg.html" target="_blank" /><area shape="rect" coords="548,30,624,55" href="http://jhl.49you.com/" target="_blank" />
</map>
</div>

<div class="wipper2"></div>
<div class="wipper3"></div>
<div class="wipper4">

<div class=rili>
  <LI>
  <H2>新春年兽哥闹江湖</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A  title="新春年兽哥闹江湖"  class=but_c1 buta1 href="page01.html">新春年兽哥闹江湖</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  

    <LI>
  <H2>收集“新春大鞭炮”咯</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="收集“新春大鞭炮”咯" class=but_02 href="page02.html">收集“新春大鞭炮”咯</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>穿红装 换新宠 过肥年</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="穿红装 换新宠 过肥年" class=but_03 href="page03.html">穿红装 换新宠 过肥年</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
    <LI>
  <H2>一起通关抢礼包</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="一起通关抢礼包" class=but_04 href="page04.html">一起通关抢礼包</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
      <LI>
  <H2>登录游戏赢大礼</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="登录游戏赢大礼" class=but_05 href="page05.html">登录游戏赢大礼</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>有妹纸 过年不寂寞</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="有妹纸 过年不寂寞" class=but_06 href="page06.html">有妹纸 过年不寂寞</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
 </div>

</div>

<div class="content">

<div class="nr">

<h1>◆新春年兽哥闹江湖</h1>

　　趁着《江湖令》新春活动之际，“上古年兽”划破虚空，出现在上古遗迹！你还以为新春的鞭炮声可以吓跑它吗？少年，你太天真了。拿起你手上的刀枪棍棒、板凳、拖鞋什么的，让嚣张的“年兽哥”体验一下什么是鼻青脸肿、落花流水的感觉吧。也许你一棍子下去，说不定会蹦出一个什么东西来哦~~<br><br>

<strong>活动时间：<span class="STYLE1">2012年1月22日——2012年1月26日</span></strong><br>
<br>

<strong>活动范围：全服</strong><br>
<br>

<strong>活动内容：</strong><br>
<div align="center"><img src="images/page_001.jpg" border="0"/></div><br>
　　在春节活动时间内，玩家们可以在世界BOSS出现的时候，通过攻击BOSS（年兽），有一定的几率可以获得一个物品，物品目录如下：<br>

<div align="center">
<table width="43%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#CC0000">
  <tr>
    <td width="52%"><div align="center"><strong>物品名称</strong></div></td>
    <td width="48%"><div align="center"><strong>物品状态</strong></div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">三级气血丹*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">三级精气丹*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">初级锥子*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">中级气血包*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">中级精气包*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF99"><div align="center">大红包*1</div></td>
    <td bgcolor="#FFFF99"><div align="center">绑定</div></td>
  </tr>
</table>
</div>
<br>

注：<br>
1、打年兽BOSS掉落的物品皆为绑定；<br>
2、打年兽BOSS不是每次都会有物品掉落；<br>
3、掉落的物品将会直接进入玩家背包，请注意保留足够的背包空间，以免无法获得掉落的物品；<br>
4、点击【大红包】出售以后，可以获得88绑定元宝。<br>







</div>
</div>



<div class="bot"><div style=" width:100px; margin:10px auto;"><a href="index.html"><img src="images/gohome.jpg" border="0"/></a></span></div>

</div>

<div class="foot">
<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
</div>
</body>
</html>
