<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>缤纷暑期狂欢节</title>
<link href="css/bfsj.css" rel="stylesheet" type="text/css" />
</head>

<body >
<iframe src="<?=YOU_ROOT?>/top_bar_iframe.html?url=<?=urlencode(HTTP_ROOT.$_SERVER['REQUEST_URI'])?>&name=<?=urlencode('49游戏平台九天仙梦')?>" frameborder="0" height="37px;" scrolling="no" width="100%"></iframe>
<div id="divman">
<div class="bfsj_warp">

	<div class="bfsj_top">
    	<div class="bfsj_topnav"><a href="index.html">返回官网</a>|<a href="<?=YOU_ROOT?>/pay_type.html?gid=2" target="_blank">游戏充值</a>|<a href="<?=BBS_ROOT?>/forumdisplay.php?fid=13" target="_blank">游戏论坛</a></div>
    </div>
    <div class="bfsj_con">
    <?
    $tmpclass="bfsj_nav2 fl";
    if($pgid=="2") $tmpclass="bfsj_nav fl";
    else if($pgid=="3") $tmpclass="bfsj_nav3 fl";
    else if($pgid=="4") $tmpclass="bfsj_nav4 fl";
    else if($pgid=="5") $tmpclass="bfsj_nav3 fl";
    ?>
    	<div class="<?=$tmpclass?>">
        	<ul>
            	<li><a href="bfsj.html?pgid=1" class="bfsj_n01">活动一</a></li>
                <li><a href="bfsj.html?pgid=2" class="bfsj_n02">活动二</a></li>
                <li><a href="bfsj.html?pgid=3" class="bfsj_n03">活动三</a></li>
                <li><a href="bfsj.html?pgid=4" class="bfsj_n04">活动四</a></li>
                <li><a href="bfsj.html?pgid=5" class="bfsj_n05">活动五</a></li>
            </ul>
        </div>
        <?if($pgid=="2"){?>
        <div class="bfsj_text fl">
       	  <p class="bfsj_hdname"><img src="imagesbfsj/bfsj_pic02.jpg" /></p>
          <p>
【【活动时间】2011年8月27日00：00;00——2011年8月31日23:59:59<br/>
【活动范围】<span class="green">九天仙梦全服</span> <br/>
【活动规则】8月27日到8月31日期间，商城里的<span class="red"><strong>神秘商城</strong></span>将刷出各种给力商品（如<span class="red"><strong>新时装青春魅力、新宠物福娃和阿紫</strong></span>），时不时去看看神秘商城哦。说不定有你想要的极品道具在里面呢。<br/>
神秘商城活动期间会推出以下新商品哦！更多商品请到游戏里查看。<br/>
</p>
    <p><img src="imagesbfsj/bfsj_jt03.jpg" /></p>
    <p><img src="imagesbfsj/bfsj_jt04.jpg" /></p>
    <p><img src="imagesbfsj/bfsj_jt05.jpg" /></p>
    <p><img src="imagesbfsj/bfsj_jt06.jpg" /></p>
    <p class="red"><strong>PS：活动宠物可是有很犀利的魂魄哦！去抽取看看吧。</strong></p>
    <p>神秘商城位置如下图：</p>
    <p><img src="imagesbfsj/bfsj_jt08.jpg" /></p>
    <p>注：<br/>
1、神秘商城所有道具均为绑定，不可交易。<br/>
2、一切游戏内容以游戏内为准，九天仙梦运营团队拥有随时变更、修正活动内容之结果与权力。</p>
        </div>
        <?}else if($pgid=="3"){?>
        <div class="bfsj_text5 fl">
          <p class="bfsj_hdname"><img src="imagesbfsj/bfsj_pic03.jpg" /></p>
          <p>狂欢节期间桃园里冒出各种祝福道具任君采集，BOSS们也都疯狂起来了，他们收藏有对九天仙梦的各种祝福，只要打败他们就有机会获得啦！<br />
            【活动内容】活动期间<span class="red"><strong>桃园</strong></span>将刷出祝福兑换道具，副本内BOSS（仅限以下副本：帮派副本、神魔之井、幻境之塔）将会掉落"缤""纷""暑""期""狂""欢""节"（祝福道具可在活动期间兑换各种珍贵的道具哦）<br />
            【活动时间】2011年8月27日10:00——维护后结束 <br />
            【活动范围】<span class="green">九天仙梦全服&nbsp;</span>&nbsp;<br />
            【活动奖励】"缤""纷""暑""期""狂""欢""节"（非绑定）---可于凌风城-夕颜『活动宣传员』（坐标288，359）处兑换各种珍贵道具哦！ </p>
          <p>PS：如果不想兑换的话，直接使用祝福道具还可以获得经验或铜券哦！ </p>
          <p>&nbsp;</p>
          注：<br/>
          1、祝福道具直接使用可获得经验或铜券。<br />
          2、一切游戏内容以游戏内为准，九天仙梦运营团队拥有随时变更、修正活动内容之结果与权力。<br />

  </p>
        </div>
        <?}else if($pgid=="4"){?>
        <div class="bfsj_text2 fl">
       	  <p class="bfsj_hdname"><img src="imagesbfsj/bfsj_pic04.jpg" /></p>
          <p>【活动内容】活动期间用"祝福道具"在可于凌风城-夕颜『活动宣传员』（坐标288，359）处将可兑换各种珍贵道具哦！ <br />
【活动时间】2011年8月27日10:00——维护后结束 <br />
【活动范围】<span class="green">九天仙梦全服 </span><br />
【活动规则】一定数量的"祝福道具"在凌风城-夕颜『活动宣传员』（坐标288，359）处将可兑换各种珍贵道具，如下： </p>
    <p><img src="imagesbfsj/bfsj_jt10.jpg" width="489" height="394" /></p>
    <p><span class="red"><strong>PS：活动宠物可是有很犀利的魂魄哦（或者是带技能的魂魄呢）！去抽取看看吧。
新增宠物如下</strong></span>：</p>
    <p><img src="imagesbfsj/bfsj_jt09.jpg" width="379" height="260" /></p>
    <p>注：<br/>
1、奖励物品皆为绑定，不可交易。<br/>
2、一切游戏内容以游戏内为准，九天仙梦运营团队拥有随时变更、修正活动内容之结果与权力。</p>
        </div>
        <?}else if($pgid=="5"){?>
        <div class="bfsj_text3 fl">
          <p class="bfsj_hdname"><img src="imagesbfsj/bfsj_pic05.jpg" /></p>
          <p>８月27日星期六 14：00-16：00打怪基础经验加成100%<br />
            ８月28日星期日 10：00-12：00押镖基础奖励加成100%<br />
            ８月29日星期一 聚灵阵基础经验加成50%<br />
            ８月30日星期二 温泉基础经验加成50%<br />
            <span class="red"><strong>８月31日星期三 14：00-16：00打怪基础经验加成100%</strong><br />
              <strong>８月31日星期三 10：00-12：00押镖基础奖励加成100%</strong><br />
              <strong>８月31日星期三 聚灵阵基础经验加成50%</strong><br />
              <strong>８月31日星期三 温泉基础经验加成50%</strong></span></p>
        </div>
		<?}else{?>
        <div class="bfsj_text2 fl">
       	  <p class="bfsj_hdname"><img src="imagesbfsj/bfsj_pic01.jpg" /></p>
            <p>
【活动内容】活动期间系统将向玩家发放"<span class="red"><strong>暑期狂欢礼包</strong></span>"<br/>
【活动时间】2011年8月27日——2011年8月31日<br/>
【活动范围】<span class="green">九天仙梦全服</span><br/>
【活动规则】 8月27日——8月31日期间每天上线即可获得系统赠送的"<span class="red"><strong>暑期狂欢礼包</strong></span>"（<span class="STYLE1">注意：是每天都有礼包拿哦</span>），打开礼包可获得以下物品之一：<br/>
    聚魂丹（小）*1<br/>
    聚灵丹（小）*1<br/>
    兽魂丹（小）*1<br/>
    兽灵丹（小）*1<br/>
    二阶奇异果*1<br/>
    三阶神兵强化石*1<br/>
    三阶护甲强化石*1<br/>
   "祝福道具"之一（"缤""纷""暑""期""狂""欢""节"）<br/>
    礼包领取图例：</p>
    <p><img src="imagesbfsj/bfsj_jt01.jpg" /></p>
    <p><img src="imagesbfsj/bfsj_jt02.jpg" /></p>
    <p>注：<br/>
1、奖励物品皆为绑定，不可交易。<br/>
2、一切游戏内容以游戏内为准，九天仙梦运营团队拥有随时变更、修正活动内容之结果与权力。</p>
        </div>
        <?}?>
    </div>
</div>
<div class="footer"></div>
</div>
</body>
</html>
