<?php $title='游戏资料_49you九天仙梦官方网站'; 
$keywords="九天仙梦游戏资料";
$description="49you九天仙梦游戏资料"?>
<?php include('header.html'); ?>
<div class="main">
  <div class="l">
<!--left_login start-->
<? include('lefter_login.html'); ?> 
<!--left_login end-->
<!--left_server start-->
<? include('lefter_server.html'); ?> 
<!--left_server end-->
<!--lefter_newsinfo start-->
<? include('lefter_newsinfo.html'); ?> 
<!--lefter_newsinfo end-->
  </div>
  <div class="r">
    <div class="dh">
      <label>游戏资料</label>
      <div>您当前的位置：九天仙梦 &gt; 游戏资料</div>
    </div>
    <div class="contend">
      <ul class="zl">
        <li><strong>【新手指南】</strong>
        <br />
        <a href="<?=get_newslink(418)?>" title="九天仙梦_新手指南_游戏FAQ">游戏FAQ</a>|<a href="<?=get_newslink(480)?>" title="九天仙梦_新手指南_怪物分布">怪物分布</a>|<a href="<?=get_newslink(419)?>" title="九天仙梦_新手指南_flash插件">flash插件</a>|<a href="<?=get_newslink(429)?>" title="九天仙梦_新手指南_flash插件">清理缓存</a>|<a href="<?=get_newslink(473)?>" title="九天仙梦_新手指南_防盗防骗知识">防盗防骗知识</a></li>
        <li><strong>【副本介绍】</strong>
        <br />
        <a href="<?=get_newslink(469)?>" title="九天仙梦_副本介绍_普通副本">普通副本</a>|<a href="<?=get_newslink(470)?>" title="九天仙梦_副本介绍_帮派副本">帮派副本</a>|<a href="<?=get_newslink(471)?>" title="九天仙梦_副本介绍_幻境之塔">幻境之塔</a>|<a href="<?=get_newslink(472)?>" title="九天仙梦_副本介绍_神魔之井">神魔之井</a> </li>
        <li><strong>【系统介绍】</strong>
        <br />
        <a href="<?=get_newslink(444)?>" title="九天仙梦_系统介绍_PK系统">PK系统</a>|<a href="<?=get_newslink(443)?>" title="九天仙梦_系统介绍_战斗系统">战斗系统</a>|<a href="<?=get_newslink(445)?>" title="九天仙梦_系统介绍_帮派系统">帮派系统</a>|<a href="<?=get_newslink(446)?>" title="九天仙梦_系统介绍_挂机系统">挂机系统</a>|<a href="<?=get_newslink(447)?>" title="九天仙梦_系统介绍_复活系统">复活系统</a>
          <br />
          <a href="<?=get_newslink(448)?>" title="九天仙梦_系统介绍_装备系统">装备系统</a>|<a href="<?=get_newslink(450)?>" title="九天仙梦_系统介绍_商城系统">商城系统</a>|<a href="<?=get_newslink(451)?>" title="九天仙梦_系统介绍_时装系统">时装系统</a>|<a href="<?=get_newslink(452)?>" title="九天仙梦_系统介绍_宠物系统">宠物系统</a>|<a href="<?=get_newslink(453)?>" title="九天仙梦_系统介绍_交易系统">交易系统</a>

          <br />
          <a href="<?=get_newslink(442)?>" title="九天仙梦_系统介绍_好友系统">好友系统</a>|<a href="<?=get_newslink(454)?>" title="九天仙梦_系统介绍_角色系统">角色系统</a>|<a href="<?=get_newslink(441)?>" title="九天仙梦_系统介绍_聊天系统">聊天系统</a>|<a href="<?=get_newslink(436)?>#xuexijineng" title="九天仙梦_系统介绍_技能系统">技能系统</a>|<a href="<?=get_newslink(455)?>" title="九天仙梦_系统介绍_活动系统">活动系统</a>

          <br />
          <a href="<?=get_newslink(440)?>" title="九天仙梦_系统介绍_信函系统">信函系统</a>|<a href="<?=get_newslink(439)?>" title="九天仙梦_系统介绍_组队系统">组队系统</a>|<a href="<?=get_newslink(456)?>" title="九天仙梦_系统介绍_组队系统">坐骑系统</a>|<a href="<?=get_newslink(457)?>" title="九天仙梦_系统介绍_目标系统">目标系统</a>

          <br />
        <a href="<?=get_newslink(458)?>" title="九天仙梦_系统介绍_装备强化炫耀系统">装备强化炫耀系统</a></li>
        <li><strong>【职业介绍】</strong>
        <br />
        <a href="<?=get_newslink(436)?>#pojun" title="九天仙梦_职业介绍_破军">破 军</a>|<a href="<?=get_newslink(436)?>#qisha" title="九天仙梦_职业介绍_七煞">七 煞</a>|<a href="<?=get_newslink(436)?>#jianling" title="九天仙梦_职业介绍_剑灵">剑 灵</a>|<a href="<?=get_newslink(436)?>#tianshang" title="九天仙梦_职业介绍_天殇">天 殇</a>|<a href="<?=get_newslink(436)?>#lingxing" title="九天仙梦_职业介绍_铃星">铃 星</a></li>
        <li><strong>【特色玩法】</strong>
        <br />
        <a href="<?=get_newslink(463)?>" title="九天仙梦_特色玩法_温泉系统">温泉系统</a>|<a href="<?=get_newslink(464)?>" title="九天仙梦_特色玩法_双修打坐">双修打坐</a>|<a href="<?=get_newslink(465)?>" title="九天仙梦_特色玩法_挖矿系统">挖矿系统</a>|<a href="<?=get_newslink(461)?>" title="九天仙梦_特色玩法_摆摊系统">摆摊系统</a>|<a href="<?=get_newslink(467)?>" title="九天仙梦_特色玩法_元神系统">元神系统</a> 
          <div id="u115_rtf">
<p><a href="<?=get_newslink(460)?>" title="九天仙梦_特色玩法_寄售系统">寄售系统</a>|<a href="<?=get_newslink(466)?>" title="九天仙梦_特色玩法_押镖系统">押镖系统</a>|<a href="<?=get_newslink(468)?>" title="九天仙梦_特色玩法_远古战场">远古战场</a>|<a href="<?=get_newslink(459)?>" title="九天仙梦_特色玩法_boss系统">boss系统</a>|<a href="<?=get_newslink(462)?>" title="九天仙梦_特色玩法_聚灵阵系统">聚灵阵系统</a></p>
          </div>
        </li>

      </ul>
    </div>
    <div class="bg2"></div>
    <div class="bg1">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</div>
  </div>
  <div class="clear"></div>
</div>
<? include('footer.html'); ?>