<div class="tjlm">
<div class="tjlmdiv">推荐栏目</div>
<a href="news.html?pid=78&cid=92" title="九天仙梦_精彩活动"><img src="images/banner1.jpg" border="0" alt="九天仙梦_精彩活动"/></a>
<a href="<?=get_newslink(436)?>" title="九天仙梦_职业详解"><img src="images/banner2.jpg" border="0" alt="九天仙梦_职业详解"/></a>
<a href="<?=get_newslink(518)?>" title="九天仙梦_宠物图鉴"><img src="images/banner3.jpg" border="0" alt="九天仙梦_宠物图鉴"/></a>
</div>
<div class="xstd">
<div class="xstddiv">新手通道</div>
<a href="cardlist.html" title="九天仙梦_新手卡领取"><img src="images/xsbanner1.jpg" border="0" alt="九天仙梦_新手卡领取"/></a>
<a href="<?=get_newslink(418)?>" title="九天仙梦_常见问题"><img src="images/xsbanner2.jpg" border="0" alt="九天仙梦_常见问题"/></a>
<a href="news.html?cid=89&pid=88" title="九天仙梦_新手秘籍"><img src="images/xsbanner3.jpg" border="0" alt="九天仙梦_新手秘籍"/></a>
</div>
<div class="kf">
  <div class="kfdiv">客服中心</div>
  <a href="<?=YOU_ROOT?>/service_online.html" target="_blank"><img src="images/kf.jpg"></a>
  <ul>
    <li>客服热线：<?=$config['service_tel1']?> </li>
    <li>联系客服：<a target="_blank" href="<?=YOU_ROOT?>/service.html" class="e">点击进入</a></li>
    <li>游戏论坛：<a target="_blank" href="<?=BBS_ROOT?>" class="e">点击进入</a></li>
    <li>玩家交流群：160726225</li>
    <li style="font-size: 14px; font-weight: bold; color: rgb(255, 255, 0);"></li>
  </ul>
</div>
 <div class="youxi">
  <div class="youxidiv">游戏介绍</div>
 <p style="padding:10px 18px 0px 28px; line-height:16px;" >&nbsp;&nbsp;49you九天仙梦是游戏史上最"萌"的一款即时PK网页游戏巨作。以悦耳的背景音乐、绚丽神奇的装备、刺激的动态副本、可爱的宠物培养等各种给力特色带给您前所未有的魅力体验！</p></div>
<div class="mt"><?=$mtinfo?></div>