<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="盛世三国_盛世三国官网_49you盛世三国官网_盛世三国春节活动">
	<meta name="description" content="盛世三国,盛世三国官网,2011最受期待的游戏49you《盛世三国》，真正史诗级大作，超大地图，万人互动，华美画面，突破游戏极限。">
	
	<link type="text/css" rel="stylesheet" href="sg_newyear_event_files/reset.css">
	<link type="text/css" rel="stylesheet" href="sg_newyear_event_files/sg.css">
	<link href="http://sg.xd.com/game_statics/sg/img/sg.ico?1323418882" rel="bookmark" type="image/x-icon">
	<link href="http://sg.xd.com/game_statics/sg/img/sg.ico?1323418882" rel="icon" type="image/x-icon">
	<link href="http://sg.xd.com/game_statics/sg/img/sg.ico?1323418882" rel="shortcut icon" type="image/x-icon">
    
	<title>盛世三国_盛世三国官网_49you盛世三国官网_盛世三国春节活动</title>

	<script src="sg_newyear_event_files/jquery.js" type="text/javascript"></script>
    <script src="sg_newyear_event_files/xd.js" type="text/javascript"></script>
	<script src="sg_newyear_event_files/swfobject.js" type="text/javascript"></script>
	
	<style media="screen" type="text/css">#ev_flash {visibility:hidden}</style>
	</head>
<body>
<div id="body2"><div id="body3">

<link type="text/css" rel="stylesheet" href="sg_newyear_event_files/event.css">

<div class="ev_head">
	<div class="ev_head_in">
		<a class="ev_head_logo" href="http://sg.49you.com/"></a>
				<div class="my_select">
		</div>
		<ul>
			<li><a href="http://sg.49you.com/">官网首页</a></li>
			<li><a href="http://www.49you.com/reg.html" target="_blank">注册帐号</a></li>
			<li><a href="http://sg.49you.com/" target="_blank">下载游戏</a></li>
			<li><a href="http://bbs.49you.com/forumdisplay.php?fid=44" target="_blank">官方论坛</a></li>
		</ul>	
	</div>
</div>
<link type="text/css" rel="stylesheet" href="sg_newyear_event_files/event_newyear.css">
<script src="sg_newyear_event_files/swfobject.js" type="text/javascript"></script>

<div class="ev_body">
	<div class="ev_body2">
		<div class="ev_body3">
			<object style="visibility: visible;" id="ev_flash" data="sg_newyear_event_files/newyear.swf" type="application/x-shockwave-flash" height="764" width="1138"><param value="transparent" name="wmode"><param value="noscale" name="scale"></object>
			<div class="black_drop2"></div>
			<div class="content">
				<h2>春节活动</h2>
				<a id="close_content">关闭</a>
				<br>
				<div class="content_in">
					<h3 class="ev_title">活动一：喜庆新年  迎新礼包来袭</h3>
					<h3 class="ev_title">活动二：天降财神</h3>
					<h3 class="ev_title">活动三：任务经验免费寻</h3>
					<h3 class="ev_title">活动四：赶年兽获大礼</h3>
					<h3 class="ev_title">活动五：彩镖节</h3>
					<h3 class="ev_title">活动六：种植迎春树</h3>
					<h3 class="ev_title">活动七：聚宝盆财源滚滚</h3>
					<h3 class="ev_title">活动八：角色坐骑换新装</h3>
					
					
					
					<h3 class="ev_title">活动一：元宵祝福</h3>
					<h3 class="ev_title">活动二：猜灯谜，闹元宵</h3>
					
					
					<!--活动一-->
					<p class="content_in2">
					活动时间：1月22日0:00  —  1月24日23:59<br/>
					活动内容：玩家每天完成四大日常任务，可前往福利管理员处领取日常奖励，可以获得 “迎新礼包” 一个。<br/>
					<br/>
					“迎新礼包”随机开出下列任一物品：<br/>
					强化石二级*3<br/>
					强化石三级*1<br/>
					镶嵌宝石二级*2<br/>
					镶嵌宝石三级*1<br/>
					紫星石*1<br/>
					任务令（黄）*2<br/>
					任务令（绿）*1<br/>
					魂器升级石（中）*2<br/>
					白金元宝*2<br/>
					锦缎包（7天）*1<br/>
					</p>
					<!--活动二-->
					<p class="content_in2">
					活动时间：1月23日20:00  —  20:20<br/>
					活动内容：活动开始后，财神爷将会从天上撒下元宝，每2分钟发放一次奖励。奖励以红包的形式丢进玩家包裹，打开即可获得188两 — 988两不同额度的绑银哦~让您红包拿到手软。<br/>
					<br/>
					注：<br/>
					1. 活动期间，背包必须保留一个空格，否则无法获得红包<br/>
					2. 本活动持续时间20分钟，请玩家做好准备<br/>
					</p>
					<!--活动三-->
					<p class="content_in2">
					活动时间：1月23日0:00——1月31日23:59<br/>
					活动介绍：活动时间内，玩家每日未完成的日常任务经验，之后3天内均可免费找回经验，让您轻松过大年。<br/>
					注意事项：<br/>
					1. 经验保留时间为3天，例1月23日的经验可保留至1月26日，1月31日经验可保留至2月3日；<br/>
					2.超过3天则无法找回经验。<br/>
					小贴士：虽然可以免费找回，也请玩家隔一两天上线看一下哦，防止超过领取时间哦<br/>
					</p>
					<!--活动四-->
					<p class="content_in2">
					活动时间：1月22日0:00——1月24日23:59<br/>
					活动介绍：玩家每日完成寻仙任务即获得年兽封印令，打开包裹使用令牌，可召唤出一个年兽，击败年兽随机获得”精致礼盒“或”豪华礼盒“，打开之后随即获得物品。<br/>
					活动奖励： 精致礼盒或者豪华礼盒<br/>
					<br/>
					”精致礼盒“打开后获得以下物品：<br/>
					强化石三级*2<br/>
					初级进阶丹*5<br/>
					回血丹*5<br/>
					<br/>
					”豪华礼盒“打开后获得以下物品：<br/>
					紫星石*1<br/>
					神兵之魂*1<br/>
					回血丹*10<br/>
					高级五禽戏*5<br/>
					<br/>
					</p>
					<!--活动五-->
					<p class="content_in2">
					活动时间：<br/>
					1月29日 0:00~23:59（春节活动）<br/>
					2月6日 0:00~23:59（元宵节活动）<br/>

					活动内容：活动期当天，玩家领取押运任务第一次镖车是黄车，第二次镖车是绿车，让您轻松经验暴涨。<br/>
					<br/>
					</p>
					<!--活动六-->
					<p class="content_in2">
					活动时间：1月30日0:00- 23:59<br/>
					活动介绍： 玩家在活动当日可到主城npc-水果西施处领取迎春树种子，果实种植后为紫色品质，成熟之后获得大量经验，让您的经验飙升。<br/>
					</p>
					<!--活动七-->
					<p class="content_in2">
					活动时间：1月18日0:00——1月31日23:59<br/>
					活动内容：<br/>
					1月18日到1月22日，25级（含）以上的玩家可往聚宝盆投入一定数量的非绑物品或者银子；（已放入的银子与道具无法取回）<br/>
					1月23日到1月31日，在聚宝盆中可领取双倍绑定状态的投入物品。（取回的物品为绑定）<br/>
					可投入物品为：银子、高级任务令（黄）、高级宠物进阶丹、魂器升级石（中）、紫星石<br/>
					注： 投放仅限银子和非绑物品<br/>

					<br/>
					</p>
					<!--活动八-->
					<p class="content_in2">
					角色新年时装大派送：<br/>
					活动时间：1月21日0:00——1月31日23:59 <br/>
					活动内容：25级（含）以上的玩家到聚宝盆npc处可领取一套新年时装，每个角色只可领取一次。（除活动领取之外，新年时装也将在随身商店中上架销售）<br/>
					新年时装介绍：增加属性8% ，时效3天<br/>
					另外，1月21日起，玩家可在随身商店（U）内可购买时效7天的新年时装。<br/>
					<br/>
					
					巨萌熊猫闹新春:<br/>
					活动时间：1月22日起出售<br/>
					活动内容：1月22日起，玩家可以在随身商店内直接购买新版拉风熊猫轿子坐骑时装。<br/>
					熊猫坐骑：属性均为10%，移动速度20%<br/>
					
					</p>
					
					
					
					<!--元宵-->
					<!--活动一-->
					<p class="content_in2">
					活动时间：2月5日 0:00 — 2月7日 23:59<br/>
					活动内容： <br/>
					玩家做完日常【国家发展】，【押运军资】，【营救】，【征战四方】就可以随机获得一个祝福字[花，好，月，圆]。 <br/>
					25级以上的黄绿BOSS活动期间会掉落汤圆，黄怪只掉落一个汤圆，绿怪掉落数量同组队人数 。集齐花，好，月，圆可在主城处【活动大使】处兑换元宵祝福礼包，集齐花，好，月，圆另加汤圆可以到主城【活动大使】处兑换元宵豪华大礼包。活动期间每人每天仅限一次。更多好礼等你来拿，快来加入到元宵祝福的队伍中来吧！ <br/>
					活动奖励：祝福礼包或者豪华元宵礼包 <br/>
					 <br/>
					祝福礼包打开后随机获得其中一项物品 <br/>
					绑银*200 <br/>
					初（高）级任务令黄*2 <br/>
					绑银400两 <br/>
					祝福石*5 <br/>
					宠物初级进阶丹*3 <br/>
					镶嵌宝石一级*2 <br/>
					初（高）级强化石二级*5 <br/>
					高级宠物进阶丹*1 <br/>
					魂器升级石（初）*2 <br/>
					 <br/>
					豪华元宵礼包打开后随机获得其中一项物品 <br/>
					绑银500两 <br/>
					初（高）级任务令黄*2 <br/>
					绑银800两 <br/>
					祝福石*10 <br/>
					镶嵌石头二级*2 <br/>
					高级宠物进阶丹*1 <br/>
					魂器升级石（中）*2 <br/>
					<br/>
					</p>
					<!--活动二-->
					<p class="content_in2">
					活动时间：2月5日 0:00 — 2月7日 23:59<br/>
					活动内容：<br/>
					活动期间，访问主城的灯笼npc,正确回答题目可以获得元宵宝珠，每天有5次机会。使用元宵宝珠可以获得大量经验。<br/>
					<br/>
					</p>
				</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	swfobject.embedSWF("sg_newyear_event_files/newyear.swf", "ev_flash", "1138", "764","9.0.0","",{},{wmode:"transparent",scale:"noscale"},{})
	var cont_tit = $('.ev_title');
	var cont_in = $('.content_in2');
	
	function flash_click(x){
		var str = x.split('_');
		var index = parseInt(str[1]);
		
		$('.content , .black_drop2').show();
		$(cont_tit[index]).show();
		$(cont_in[index]).show();
		if(index>7){
			$('.content h2').html('元宵活动');
		}else{
			$('.content h2').html('春节活动');
		}
		if($.browser.version == 6.0){
			$('.black_drop2').hide();
		}
	}
	$('#close_content').click(function(){
		$('.content , .black_drop2,.ev_title,.content_in2').hide();
	});
</script><script type="text/javascript">
	$('#select_button').click(function(){
		$('.select_box').toggle();
	})
</script>

</div><!--body3--></div><!--body2-->
</body>

