<?php include_once("header.html");?>
<div class="main">
	<form id="form1" name="form1" method="post" action="" >
		<table width="100%" border="0" cellpadding="2" cellspacing="1" class="table_add">
			<tr>
				<th>广告名称：</th>
				<td>
					<input type="text" name="adv_name" id="adv_name" value="<?=$rs['adv_name']?>" class="input_w400" />
				</td>
			</tr>
            <tr>
				<th>广告标题：</th>
				<td>
					<input type="text" name="adv_title" id="adv_title" value="<?=$rs['adv_title']?>" class="input_w400" />
				</td>
			</tr>
            <tr>
				<th>备用标题1：</th>
		    <td>
					<input type="text" name="adv_title1" id="adv_title1" value="<?=$rs['adv_title1']?>" class="input_w400" />
					针对备用素材1</td>
			</tr>
            <tr>
				<th>备用标题2：</th>
		    <td>
					<input type="text" name="adv_title2" id="adv_title2" value="<?=$rs['adv_title2']?>" class="input_w400" />
				针对备用素材2 </td>
			</tr>
			<? if(!empty($rs['adv_url'])){ ?>
			<tr>
				<th>链接地址：</th>
				<td>
					<?=$rs['adv_url']?>
				</td>
			</tr>
			<? } ?>
			<tr>
				<th>推广渠道：</th>
				<td>
					<select name="adv_type" id="adv_type">
						<option value="">请选择</option>
						<?php
							if($advtype_group_arr){
								foreach($advtype_group_arr as $row){
									$strSelected="";
									if($row['advtype_id'] == $rs['adv_type']){
										$strSelected="selected";
									}
						?>
						<option value="<?=$row['advtype_id']?>" <?=$strSelected?> ><?=$row['advtype_name']?></option>
						<?php
								}
							}
						?>
					</select>
				</td>
			</tr>
			<tr>
				<th>广告分类：</th>
				<td>
					<select name="adv_groupid" id="adv_groupid">
						<option value="">请选择</option>
						<?php
							if($advgroup_arr){
								foreach($advgroup_arr as $row){
									$strSelected="";
									if($row['advgroup_id'] == $rs['adv_groupid']){
										$strSelected="selected";
									}
						?>
						<option value="<?=$row['advgroup_id']?>" <?=$strSelected?> ><?=$row['advgroup_name']?></option>
						<?php
								}
							}
						?>
					</select>
				</td>
			</tr>
            <tr>
				<th>广告模板：</th>
				<td>
					<select name="adv_tpl" id="adv_tpl">
                    	
						<?=cfg_to_opt($cfg_adv_tpl,false,$rs['adv_tpl']); ?>
					</select>
				</td>
			</tr>
            
			<tr>
				<th>素材信息：</th>
				<td>
					<input type="text" name="adv_metrid" id="adv_metrid" value="<?=$rs['adv_metrid']?>" class="input_w100" />素材ID号
				</td>
			</tr>
            
			<tr>
				<th>备用素材1：</th>
				<td>
					<input type="text" name="adv_metrid1" id="adv_metrid1" value="<?=$rs['adv_metrid1']?>" class="input_w100" />素材ID号
				</td>
			</tr>
			<tr>
				<th>备用素材2：</th>
				<td>
					<input type="text" name="adv_metrid2" id="adv_metrid2" value="<?=$rs['adv_metrid2']?>" class="input_w100" />素材ID号
				</td>
			</tr>
            <tr>
				<th>平台：</th>
				<td>
                	<select name="adv_pid" id="adv_pid">
                    
                    </select>
					<input type="hidden" name="adv_pid_default" id="adv_pid_default" value="<?=$rs['adv_pid']?>" class="input_w200"  />
                    <input type="hidden" name="material_gname" id="material_gname" value="<?=$rs['material_gname']?>" class="input_w200"  />
				</td>
			</tr>
            <tr>
				<th>游戏：</th>
				<td>
                	<select name="adv_gid" id="adv_gid">
                    
                    </select>
					<input type="hidden" name="adv_gid_default" id="adv_gid_default" value="<?=$rs['adv_gid']?>" class="input_w200"  />
                    <input type="hidden" name="material_gname" id="material_gname" value="<?=$rs['material_gname']?>" class="input_w200"  />
				</td>
			</tr>
			<tr>
				<th>服务器：</th>
				<td>
                	<select name="adv_sid" id="adv_sid">
                    
                    </select>
					<input type="hidden" name="adv_sid_default" id="adv_sid_default" value="<?=$rs['adv_sid']?>" class="input_w200"  />
                    <input type="hidden" name="material_sname" id="material_sname" value="<?=$rs['material_sname']?>" class="input_w200"  />
				</td>
			</tr>
            
            
			<tr>
				<th>排序号：</th>
				<td>
					<input type="text" name="adv_sort" id="adv_sort" value="<?=$rs['adv_sort']==''?'0':$rs['adv_sort']?>" class="input_w100" maxlength="10" />&nbsp;
				</td>
			</tr>
            
            <tr>
				<th>注册代码：</th>
				<td>
               
					<textarea type="text" name="adv_regcode" id="adv_regcode"  style="width:400px;height:100px" ><?=$rs['adv_regcode']?></textarea>&nbsp;
				</td>
			</tr>
            
            <tr>
				<th>页面代码：</th>
				<td>
               
					<textarea type="text" name="adv_pagecode" id="adv_pagecode"  style="width:400px;height:100px" ><?=$rs['adv_pagecode']?></textarea>&nbsp;
				</td>
			</tr>
			
			<tr>
				<td colspan="2" height="50">
					<input type="hidden" name="act" id="act" value="<?=$act?>" />
					<input name="" type="submit" value="提交" class="btn" />&nbsp;
					<input name="" type="reset" value="重置" class="btn" />
				</td>
			</tr>
		</table>
	</form>
</div>
<script language="javascript">
function on_server_change(){
	var obj_game = document.getElementById('adv_gid');
	var obj_server = document.getElementById('adv_sid');
}
function on_server_load(domid,game_id,obj){
	$("<option value='0'>全部</option>").prependTo('#' + domid);
}
$(document).ready(function(){
	get_platforms('adv_pid','adv_gid','adv_sid');
});
</script>
<?php include_once("footer.html");?>

