<?php include_once("header.html");?>
<div class="main">
	<form id="form1" name="form1" method="post" action="">
		<table width="100%" border="0" cellpadding="2" cellspacing="1" class="table_add">
			<tr>
				<th>开始时间：</th>
				<td colspan="5">
					<input type="text" name="advcost_start" id="advcost_start" value="<?= empty($rs['advcost_start']) ? date('Y-m-d',time()) : date('Y-m-d',$rs['advcost_start']) ?>" class="input_w200"  />
				</td>
			</tr>
          <?if($rs_adv){
            foreach($rs_adv as $k=> $v){?>
			<tr>
				<th>广告ID：</th>
				<td><input type="text" name="advid" id="advid_<?=$k?>" value="<?=$v["adv_id"]?>" class="input_w100" readonly="readonly"/></td>            
				<th>广告：</th>
				<td>
					<input type="text" value="<?=$v["adv_name"]?>" class="input_w200"  readonly="readonly"/></td>
                <th>成本：</th>
				<td>
					<input type="text" name="advcost" id="advcost_<?=$k?>" value="<?=$rs['advcost_startcost']?>" class="input_w200"  />
				</td>
			</tr>
            <?}
          }?>
			<tr>
				<td colspan="6" height="50" align="center">
					<input type="hidden" name="act" id="act" value="<?=$act?>" />
					<input name="" type="submit" value="提交" class="btn" />&nbsp;
					<input name="" type="reset" value="重置" class="btn" />
				</td>
			</tr>
		</table>
	</form>
</div>
<script language="javascript">
function on_server_change(){
	var obj_game = document.getElementById('advcost_gid');
	var obj_server = document.getElementById('advcost_sid');
	$('#advcost_gname').val(obj_game.options[obj_game.selectedIndex].text);
	$('#advcost_sname').val(obj_server.options[obj_server.selectedIndex].text);
}
function on_server_load(domid,game_id,obj){
	$("<option value='0'>全部</option>").prependTo('#' + domid);
}
$(document).ready(function(){
	
	get_games('advcost_gid','advcost_sid');
	
});
</script>
<?php include_once("footer.html");?>