<?php include_once("header.html");?>
<div class="main">
	<form id="form1" name="form1" method="post" action="" onsubmit="return checkForm(this);">
		<table width="100%" border="0" cellpadding="2" cellspacing="1" class="table_add">
			<tr>
				<th>标题：</th>
				<td>
					<input type="text" name="title" id="title" value="<?=$title?>" class="input_w400" />
				</td>
			</tr>
			<!--
			<tr>
				<th>会员编号：</th>
				<td>
					<input type="text" name="member_id" id="member_id" value="<?=$member_id==''?'0':$member_id?>" class="input_w100" maxlength="10" />&nbsp;
				</td>
			</tr>
			-->
			<tr>
				<th>内容：</th>
				<td>
					<?php
					//建立fckeditor对象
					$oFCKeditor = new FCKeditor('content');
					$oFCKeditor->BasePath = EDITOR_ROOT;
					$oFCKeditor->ToolbarSet = '';
					$oFCKeditor->Width = '100%' ;
					$oFCKeditor->Height = '400' ;
					$oFCKeditor->Value = $content;
					$oFCKeditor->Create() ;
					?>
				</td>
			</tr>
			<tr>
				<td colspan="2" height="50">
					<input type="hidden" name="act" id="act" value="<?=$act?>" />
					<input type="hidden" name="ask_id" id="ask_id" value="<?=$ask_id?>" />
					<input type="hidden" name="reply_id" id="reply_id" value="<?=$reply_id?>" />					
					<input name="" type="submit" value="提交" class="btn" />&nbsp;
					<input name="" type="reset" value="重置" class="btn" />
				</td>
			</tr>
		</table>
	</form>
</div>
<?php include_once("footer.html");?>
<script type="text/javascript">
<!--
function checkForm(dom)
{
	if( dom.cate_name.value == '' )
	{
		alert('分类名称必须填写');
		dom.cate_name.focus();
		return false;
	}
	else if( !checkNumber(dom.sort_num.value) )
	{
		alert('排序号必须是数字');
		dom.sort_num.focus();
		return false;
	}
	else
	{
		return true;
	}
}
-->
</script>