<?php include_once("header.html");?>
<div class="main">
	<form id="form1" name="form1" method="post" action="">

        <div class="searcher">
          <div id="searchbar" style="display:none">
          { 'header':'游戏编码' , 'dataIndex':'game_code' , 'type':'textbox' },
          { 'header':'游戏名称' , 'dataIndex':'game_name' , 'type':'textbox' }
          </div>
        </div>

		<div class="searcher">
			<strong>批量操作：</strong>
			<input type="button" value="删除" class="btn action_del" onclick="todel();" />
			<input type="button" value="添加" class="btn action_add" onclick="toadd();" />
		</div>

		<div class="searcher" id="grid_contaniner"></div>
                
        <script>
		
		var grid;
		$(document).ready(function(){
			
			function getoperator(rs) {
				return "<a href='###' class='action_edit' onclick=\"toedit('" + rs["game_id"] + "')\">编辑</a>"  + "  <a href='###' onclick=\"todelone('" + rs["game_id"] + "')\">删除</a>";
	
			}
	
			
			var cm = new ColumnModel
			([
			new CheckboxModel({dataIndex: 'game_id'}),
			{header: '游戏id', dataIndex: 'game_id',  width: 80 },
			{header: '游戏编码', dataIndex: 'game_code',  width: 100 },
			{header: '游戏名称', dataIndex: 'game_name',  width: 200 },
			new TextboxModel({header: '推荐度', dataIndex: 'game_recom', priIndex: 'game_id', url: 'game-add.php', sortable: true, width: 50 }), 
			new BoolenModel({header: '是否新游戏', dataIndex: 'game_isnew', priIndex: 'game_id', url: 'game-add.php',  width: 50 } ),
			new BoolenModel({header: '是否热门游戏', dataIndex: 'game_ishot', priIndex: 'game_id', url: 'game-add.php',  width: 70 } ),
			{header: '添加日期', dataIndex: 'game_time', sortable: true, format:'yyyy-MM-dd', width: 100 },
			{header: '操作状态', dataIndex: 'game_status', sortable: false, width: 100, renderer: '<?=$json->encode($game_status);?>' },
			{header: '操作',  width: 120, renderer: getoperator }
			]);
	
			grid = new GridView({ id: 'grid_contaniner', url: window.location.href, cm: cm, size: 10, params: { 'act': 'dataget'} });
			grid.load();
			
			//搜索栏初始化
			renderSearchBar("searchbar", function(filter) { grid.load({ params: { start: 0, limit: 10, filter: filter} }); });
			$('#searchbar').show();
			
			
		});
		
		
		function toadd(){
			show_editor({ title:'添加',src:'game-add.php',  onclose:function(){
				grid.load();
			}});
		}
		
		function toedit(id){
			show_editor({ title:'编辑',src:'game-add.php?game_id=' + id,  onclose:function(){
				grid.load();
			}});
		}
		
		function todel(){
			ajax_action('game-add.php',{act:'del' , ids:grid.get_selected_ids()} , '您确定要删除吗？' , function(){ 
				grid.load(); 
			});
		}
		
		function todelone(id){
			ajax_action('game-add.php',{ act:'del' , ids:id } , '您确定要删除吗？' , function(){ 
				grid.load();
			});
		}
		
	
		</script>
	</form>
</div>

<?php include_once("footer.html");?>