<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="<?=$web_root?>/style/table.css" rel="stylesheet" type="text/css" />
<link href="<?=$web_root?>/style/style.css" rel="stylesheet" type="text/css" />
<link href="<?=$web_root?>/style/jquery_dialog.css" rel="stylesheet" type="text/css" />
<link href="permi-css.php?permi_code=<?=PERMI_CODE?>" rel="stylesheet" type="text/css" />
<link href="<?=$web_root?>/style/jquery-calendar.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<?=$web_root?>/js/jquery.js"></script>
<script type="text/javascript" src="<?=$web_root?>/js/function_common.js"></script>
<script type="text/javascript" src="<?=$web_root?>/js/jquery_dialog.js"></script>
<script type="text/javascript" src="<?=$web_root?>/js/jquery_grid.js"></script>
<!--<script type="text/javascript" src="<?=$web_root?>/js/jquery_valid.js"></script>-->
<script type="text/javascript" src="<?=$web_root?>/js/check_feedback.js"></script>
<script type="text/javascript" src="<?=$web_root?>/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="<?=$web_root?>/js/jquery-calendar.js"></script>
</head>

<body>
<? if($page_nav){ ?>
<div class="options">
	<!--<span class="fr btn_fs_yes" id="btn_screen"><a href="###"></a></span>
	<span class="fr btn_ref"><a href="###" onclick="javascript:history.go(-1);"></a></span>-->
	<span class="position">当前位置：<span><?=$page_nav?></span></span>
</div>
<? } ?>	
