<?php include_once("header.html");?>
<div class="main">
	<form id="form1" name="form1" method="post" action="info-list.php?cate_id=<?=$cate_id?>">
		 <div class="searcher">
          <div id="searchbar" style="display:none">
          { 'header':'标题' , 'dataIndex':'i1.title' , 'type':'textbox' },
          { 'header':'类别' , 'dataIndex':'i1.cate_id' , 'type':'select' , 'options':{ '全部':'' , <?= getCateSelect($top_id,$cate_id,true)?>} },
          { 'header':'时间从' , 'dataIndex':'i1.add_time' , 'type':'datetime' }</div>
        </div>
		  <div class="searcher">
			<strong>批量操作：</strong>
			<input type="button" value="删除" class="btn action_del" onclick="todel();" />
			<input type="button" value="添加" class="btn action_add" onclick="toadd();" />
		</div>
        
		<div class="searcher" id="permimag"></div>
        
		 
		<script>
		var grid;
		$(document).ready(function(){
			
			function getoperator(rs) {
				return "<a href='###' class='action_edit' onclick=\"toedit('" + rs["info_id"] + "')\">编辑</a>" + " <a href='###' class='action_list' onclick=\"tolist('" + rs["info_id"] + "')\">查看</a>";
			}
			
		
	
			var cm = new ColumnModel
			([
			new CheckboxModel({dataIndex: 'info_id'}),
			{header: '标题', dataIndex: 'title', sortable: false},
			{header: '所属分类', dataIndex: 'cate_name', sortable: false, width: 100},
			new TextboxModel({header: '排序号', dataIndex: 'sort_num', priIndex: 'info_id', url: 'info-add.php', sortable: true, width: 60 }),
			{header: '添加时间', dataIndex: 'add_time' , format:'yyyy-MM-dd', sortable: true, width: 100 },
			{header: '显示时间', dataIndex: 'info_start' , format:'yyyy-MM-dd', sortable: true, width: 100 },
			new BoolenModel({header: '是否屏蔽', dataIndex: 'is_enabled', priIndex: 'info_id', url: 'info-list.php',  width: 60 } ),
			{ header: '操作',  width: 70, renderer: getoperator }
			]);
	
			grid = new GridView({ id: 'permimag', url: window.location.href, cm: cm, size: 10, params: { 'act': 'dataget'} });
			grid.load();
			
			//搜索栏初始化
			renderSearchBar("searchbar", function(filter) { grid.load({ params: { start: 0, limit: 10, filter: filter} }); });
			$('#searchbar').show();
		});
		
		
		function toadd(){
			show_editor({ title:'添加',src:'info-add.php?cate_id=<?=$cate_id?>',  onclose:function(){
				grid.load();
			}});
		}
		
		function toedit(id){
			show_editor({ title:'编辑',src:'info-add.php?info_id=' + id,  onclose:function(){
				grid.load();
			}});
		}
		function tolist(id){
			show_editor({ title:'查看',src:'info-view.php?info_id=' + id,  onclose:function(){
				grid.load();
			}});
		}
		
		function todel(){
			if(grid.get_selected_ids() == ''){
				alert("请选择要删除的行");
				return;
			}
			ajax_action('info-add.php',{act:'del' , ids:grid.get_selected_ids()} , '您确定要删除吗？' , function(){ 
				grid.load(); 
			});
		}
		
		</script>
	</form>
	</form>
</div>
<?php include_once("footer.html");?>