<?php include_once("header.html");?>
<div class="main">
	<form id="form1" name="form1" method="post" action="">
		<table width="100%" border="0" cellpadding="2" cellspacing="1" class="table_add">
			
		
			<tr>
				<th>开始时间：</th>
				<td>
					<?=  date('Y-m-d H:i:s',$rs['mainten_start']) ?>
				</td>
			</tr>
			<tr>
				<th>结束时间：</th>
				<td>
					<?=  date('Y-m-d H:i:s',$rs['mainten_end']) ?>
				</td>
			</tr>
			<tr>
				<th>生成数量：</th>
				<td>
                    <input name="export_count" value="100"  type="text">
				</td>
			</tr>
			<tr>
				<td colspan="2" height="50">
					<input type="hidden" name="act" id="act" value="<?=$act?>" />
					<input name="" type="submit" value="提交" class="btn" />&nbsp;
					<input name="" type="reset" value="重置" class="btn" />
				</td>
			</tr>
		</table>
	</form>
</div>

<?php include_once("footer.html");?>