<?php include_once("header.html");?>
<div class="main">
	<form id="form1" name="form1" method="post" action="">

        <div class="searcher">
          <div id="searchbar" style="display:none">
          { 'header':'会员ID' , 'dataIndex':'bg_mid' , 'type':'textbox' },
          { 'header':'IP地址' , 'dataIndex':'bg_ip' , 'type':'textbox' },
          { 'header':'禁止时间' , 'dataIndex':'bg_bantime' , 'type':'datetime' }
          </div>
        </div>

		<div class="searcher">
			<strong>批量操作：</strong>
			<input type="button" value="删除" class="btn action_del" onclick="todel();" />
			<input type="button" value="添加" class="btn action_add" onclick="toadd();" />
		</div>

		<div class="searcher" id="grid_contaniner"></div>
                
        <script>
		
		var grid;
		$(document).ready(function(){
			
			function getoperator(rs) {
				return "<a href='###' class='action_edit' onclick=\"toedit('" + rs["bg_id"] + "')\">编辑</a>"  + "  <a href='###' onclick=\"todelone('" + rs["bg_id"] + "')\">删除</a>";
	
			}
	
			
			var cm = new ColumnModel
			([
			new CheckboxModel({dataIndex: 'bg_id'}),
			{header: '会员ID', dataIndex: 'bg_mid',  width: 100 },
			{header: 'IP地址', dataIndex: 'bg_ip',  width: 200 },
			{header: '禁止时间', dataIndex: 'bg_bantime', sortable: true, format:'yyyy-MM-dd H:m:s', width: 100 },
			{header: '操作',  width: 120, renderer: getoperator }
			]);
	
			grid = new GridView({ id: 'grid_contaniner', url: window.location.href, cm: cm, size: 10, params: { 'act': 'dataget'} });
			grid.load();
			
			//搜索栏初始化
			renderSearchBar("searchbar", function(filter) { grid.load({ params: { start: 0, limit: 10, filter: filter} }); });
			$('#searchbar').show();
			
			
		});
		
		
		function toadd(){
			show_editor({ title:'添加',src:'member-banlogin-add.php',  onclose:function(){
				grid.load();
			}});
		}
		
		function toedit(id){
			show_editor({ title:'编辑',src:'member-banlogin-add.php?bg_id=' + id,  onclose:function(){
				grid.load();
			}});
		}
		
		function todel(){
			ajax_action('member-banlogin-add.php',{act:'del' , ids:grid.get_selected_ids()} , '您确定要删除吗？' , function(){ 
				grid.load(); 
			});
		}
		
		function todelone(id){
			ajax_action('member-banlogin-add.php',{ act:'del' , ids:id } , '您确定要删除吗？' , function(){ 
				grid.load();
			});
		}
		
	
		</script>
	</form>
</div>

<?php include_once("footer.html");?>