<?php include_once("header.html");?>
<div class="main">
	<form id="form1" name="form1" method="post" action="member-list.php">
		
        <div class="searcher">
          <div id="searchbar" style="display:none">
          { 'header':'UID' , 'dataIndex':'member_id' , 'type':'text' },
          { 'header':'用户名' , 'dataIndex':'member_name' , 'type':'text' },
          { 'header':'游戏帐号' , 'dataIndex':'member_gamename' , 'type':'text' },
          { 'header':'电子邮箱' , 'dataIndex':'email' , 'type':'text' },
          { 'header':'推广渠道' , 'dataIndex':'member_advtype' , 'type':'select' , 'options':{ '全部':'' , <?= getTableSelect("advtype","advtype_id","advtype_name",'1',true)?>}},
          { 'header':'广告' , 'dataIndex':'member_advid' , 'type':'select' , 'options':{ '全部':'' , <?= getTableSelect("adv","adv_id","adv_name",'1',true)?>}},
          { 'header':'素材' , 'dataIndex':'member_metrid' , 'type':'textbox' },
          { 'header':'身份证号' , 'dataIndex':'member_idcard' , 'type':'text' },
          { 'header':'活跃天数' , 'dataIndex':'login_day' , 'type':'intrange' },
          { 'header':'积分情况' , 'dataIndex':'points' , 'type':'intrange' },
          { 'header':'推荐人' , 'dataIndex':'member_reomname' , 'type':'text' },
          { 'header':'最后登陆IP' , 'dataIndex':'last_ip' , 'type':'text' },
          { 'header':'注册时间' , 'dataIndex':'add_time' , 'type':'time' }</div>
        </div>
        
       <div class="searcher">
			<strong>批量操作：</strong>
			<input type="button" value="删除" class="btn action_del" onclick="todel();" />
			<input type="button" value="添加" class="btn action_add" onclick="toadd();" />
		</div>
        
		<div class="searcher" id="permimag"></div>
        
        
		<script>
		var grid;
		$(document).ready(function(){
			
			function getoperator(rs) {
				return "<a href='###' class='' onclick=\"toview('" + rs["member_id"] + "')\">查看</a>"+"  <a href='###' class='action_edit' onclick=\"toedit('" + rs["member_id"] + "')\">编辑</a>" ;
				//return "<a href='###' class='action_edit' onclick=\"toedit('" + rs["member_id"] + "')\">编辑</a>" + "  <a href='###'>查看订单</a>"+ "  <a href='###'>查看帐目明细</a> "+ "  <a href='###' class='action_prepaid' onclick=\"toprepaid('" + rs["member_id"] + "')\">充值</a>";
			}
	 
			var cm = new ColumnModel
			([
			new CheckboxModel({dataIndex: 'member_id'}),
			{header: 'UID', dataIndex: 'member_id', sortable: true,  width: 50},
			{header: '用户名', dataIndex: 'member_name'},
			{header: '用户邮箱', dataIndex: 'email'},
			{header: '充值金额', dataIndex: 'trans_money', sortable: true},
			{header: '平台币', dataIndex: 'money', sortable: true},
			{header: '积分', dataIndex: 'points', sortable: true},
			{header: '登陆IP', dataIndex: 'last_ip'},
			{header: '注册渠道', dataIndex: 'advtype_name'},
			{header: '注册广告', dataIndex: 'adv_name'},
			{header: '注册素材', dataIndex: 'material_name'},
			{header: '注册时间', dataIndex: 'add_time' , format:'yyyy-MM-dd', sortable: true, width: 80 },
			{header: '活跃天数', dataIndex: 'login_day' , sortable: true },
			{ header: '操作', renderer: getoperator }
			]);
	
			grid = new GridView({ id: 'permimag', url: window.location.href, cm: cm, size: 10, params: { 'act': 'dataget' ,filter: '[{"name":"member_id","oper":"=","value":"0"}]'} });
			grid.load();
			
			//搜索栏初始化
			renderSearchBar("searchbar", function(filter) { grid.load({ params: { start: 0, limit: 10, filter: filter} }); });
			$('#searchbar').show();
		});
		
		
		function toadd(){
			show_editor({ title:'添加',src:'member-add.php', onclose:function(){
				grid.load();
			}});
		}
		
		function toedit(id){
			show_editor({ title:'修改',src:'member-add.php?member_id=' + id, onclose:function(){
				grid.load();
			}});
		}
		function toview(id){
			show_editor({ title:'查看',src:'member-view.php?member_id=' + id, onclose:function(){
				grid.load();
			}});
		}
		
		function todel(){
			if(grid.get_selected_ids() == ''){
				alert("请选择要删除的行");
				return;
			}
			ajax_action('member-add.php',{act:'del' , ids:grid.get_selected_ids()} , '您确定要删除吗？' , function(){ 
				grid.load(); 
			});
		}
		  

		function toprepaid(id){
			show_editor({ title:'充值',src:'member-add-prepaid.php?member_id=' + id,  onclose:function(){
				grid.load();
			}});
		}
		
		
		
		</script>
	</form>
</div>
<?php include_once("footer.html");?>