<?php include_once("header.html");?>
<div class="main">
	<form id="form1" name="form1" method="post" action="">

        <div class="searcher">
          <div id="searchbar" style="display:none">
          { 'header':'模块名称' , 'dataIndex':'permi_name' , 'type':'textbox' }</div>
        </div>
        
     	
		<div class="searcher" id="permimag"></div>
                
        <script>
		
		function allcheck(obj){
			
			var chk_list = obj.parentNode.childNodes;
			
			var value = 0;
			for(i=0;i<chk_list.length;i++){
				if(chk_list[i].disabled==false){
					if(obj.checked){
						if(chk_list[i].checked==false){
							value = value | chk_list[i].value;
						}
					
						chk_list[i].checked = true;
					}else{
						if(chk_list[i].checked){
							value = value | chk_list[i].value;
						}
						
						chk_list[i].checked = false;
					}
				}
			}
			obj.value = value;
			checkedone(obj);
		}
		
		function checkedone(obj){
			var pid = obj.getAttribute("pid");
			ajax_action(window.location.href,{act:'configpermi' , field: obj.name,value: obj.value, pid:pid } , null , function(){ 
				
			});
		}
		
		var grid;
		$(document).ready(function(){
			
			function getoperator(rs) {
				return "<a href='###' class='action_edit' onclick=\"toedit('" + rs["permi_id"] + "')\">修改</a>";
			}
	
	
			var actions = eval('(<?=$json_actions?>)');
			function getoptions(rs,columnIndex,rowIndex,dataIndex){
				var html = "";
				
				var list = rs['permi_action'].split("\r\n");
				var total_val = 0;
				var all_checked = true;
				var all_disabled = true;
				for(var k in list){
					if(list[k]=="")continue;
					var value = Math.pow(2, k);
					total_val = total_val | value;
					var action_name = get_action_name(list[k]);
					var chk_id = "chk_" + columnIndex + '_' + rowIndex + '_' + list[k];
					
					var checked = "";
					if( (value & rs[dataIndex]) == value ){
						checked = "checked";
					}else{
						all_checked = false;
					}
					
					var disabled = "";
                	if( (value & rs['last_' + dataIndex]  ) == value ){
                    	disabled = "disabled";
                	}else{
						all_disabled = false;
					}
					
					html += '<input type="checkbox" id="' + chk_id + '" name="' + dataIndex + '" ' + checked + ' ' + disabled + ' pid="' + rs['permi_id'] + '"  value="' + value + '"   onclick="checkedone(this);" onlyset="0"  /><label for="' + chk_id + '" >' + action_name + '</label>';
					
				}
				
				
				var checked = "";
				if(all_checked){
					checked = "checked";
				}
				var disabled = "";
				if(all_disabled){
					disabled = "disabled";
				}
				var chk_id = "chk_" + columnIndex + '_' + rowIndex;
				html += '<input type="checkbox" id="' + chk_id + '" name="' + dataIndex + '" ' + checked + ' ' + disabled + ' pid="' + rs['permi_id'] + '"  value="' + total_val + '"   onclick="allcheck(this);" onlyset="1"  /><label for="' + chk_id + '" >全选</label>';
				
				return html;
			}
			
			function get_action_name(code){
				for(var k in actions){
					if(actions[k].permiaction_code == code){
						return actions[k].permiaction_name;
					}
				}
				return code;
			}
			
			var cm = new ColumnModel
			([
			{header: '模块名称', dataIndex: 'permi_name',   width: 100 },
			{header: '允许', dataIndex: 'permiset_allow',  renderer: getoptions },
			{header: '拒绝', dataIndex: 'permiset_deny',  renderer: getoptions }
			]);

			grid = new GridView({ id: 'permimag', url: window.location.href, cm: cm, size: 10, params: { 'act': 'dataget', 'uid':'<?=$_REQUEST["uid"]?>', 'gid':'<?=$_REQUEST["gid"]?>' } });
			grid.load();
			
			//搜索栏初始化
			renderSearchBar("searchbar", function(filter) { grid.load({ params: { start: 0, limit: 10, filter: filter} }); });
			$('#searchbar').show();
			
			
		});
		
		
		function toadd(){
			show_editor({ title:'添加',src:'permi-add.php',  onclose:function(){
				grid.load();
			}});
		}
		
		function toedit(id){
			show_editor({ title:'修改',src:'permi-add.php?permi_id=' + id,  onclose:function(){
				grid.load();
			}});
		}
		
		function todel(){
			ajax_action('permi-add.php',{act:'del' , ids:grid.get_selected_ids()} , '您确定要删除吗？' , function(){ 
				grid.load(); 
			});
		}
		
		</script>
	</form>
</div>
<?php include_once("footer.html");?>