<?php include_once("header.html");?>
<div class="main">
	<form id="form1" name="form1" method="post" action="">
        <div class="searcher">
          <div id="searchbar" style="display:none">
		  { 'header':'游戏' , 'dataIndex':'ss_gid' , 'subIndex':'ss_sid', 'url':'ajax-servers.php' , 'type':'select' , 'options':{ '全部':'',<?= getTableSelect("game","game_id","game_name",'1 order by game_recom desc',true)?>} },
          { 'header':'服务器' , 'dataIndex':'ss_sid' ,  'type':'select' , 'options':{ '全部':'' } },
		  {'header':'统计时间' , 'dataIndex':'add_time' , 'type':'datetime', 'defaultValue':'<?=date("Y-m-d")?>'}
          </div>
        </div>
<div class="searcher action_rerun">
<div class="searchoptions"><strong>重算数据：</strong>
<div class="search_datetime">
<input type="text" size="10" class="searCom Wdate" id="reset_start" value="<?=date("Y-m-d");?>"></div>
</div>
<select id="reset_hour">
<option value="">全部</option>
<? $hournow=date("H");
	for($i=0;$i<24;$i++){
?>
<option value="<?=$i?>:00"<? if($hournow==$i){?> selected<?}?>><?=$i?>:00</option>
<?}?>
</select>
<input type="button" value="重算" class="btn" onclick="toreset();" />
<script type="text/javascript" src="/js/sum_data_reset.js"></script>
<script type="text/javascript">
		function toreset(){
			var redt_star=$('#reset_start').val();
			var reset_hour=$('#reset_hour').val();
			sum_resetday("server","h",redt_star,'<?=$db->get_cache_md5();?>',0,reset_hour);
		}
</script>
		</div>
        <div class="searcher" id="grid_contaniner"></div>
        <script>
		
		var grid;
		$(document).ready(function(){
			var cm = new ColumnModel
			([
			{header: '日期', dataIndex: 'ss_sumtime', sortable: true},
			{header: '进入游戏', dataIndex: 'mg_add_total', sortable: true}
			]);
	
			grid = new GridView({ id: 'grid_contaniner', url: window.location.href, cm: cm,dir:'desc',sort:'ss_sumtime', size: 24, params: { 'act': 'dataget',filter:	'[{"name":"add_time","oper":">=","value":"<?=strtotime(date('Y-m-d'))?>"}]'} });
			grid.load();
			
			//搜索栏初始化
			renderSearchBar("searchbar", function(filter) { grid.load({ params: { start: 0, limit: 24, filter: filter} }); });
			$('#searchbar').show();
			


		});
		
		</script>
	</form>
</div>

<?php include_once("footer.html");?>