<?if($act != 'dataget'){?>
<?php include_once("header.html");?>
<div class="main">
	<form id="form1" name="form1" method="post" action="">
        <div class="searcher">
          <div id="searchbar" style="display:none">
          { 'header':'平台' , 'dataIndex':'ss_platform' , 'type':'select' ,'subIndex':'gid', 'url':'ajax-games.php' , 'options':{'全部':'',<?=get_system_select(true)?>} },
          { 'header':'游戏' , 'dataIndex':'gid' , 'subIndex':'sid', 'parentIndex':'ss_platform', 'url':'ajax-servers.php' , 'type':'select' , 'options':{'请选择':''} },
          { 'header':'服务器' , 'dataIndex':'sid' ,  'type':'select' , 'options':{'请选择':''} },
          { 'header':'统计时间' , 'dataIndex':'startime' , 'type':'datetime', 'defaultValue':'<?=date("Y-m-d")?>' }
          </div>
        </div>
<div class="searcher action_rerun">
<div class="searchoptions"><strong>重算数据：</strong>
<div class="search_datetime">
<input type="text" size="10" class="searCom Wdate" id="reset_start" value="<?=date("Y-m-d");?>"></div> &mdash; 
<div class="search_datetime">
<input type="text" size="10" class="searCom Wdate" id="reset_end"></div>
</div>

            <input type="button" value="重算" class="btn" onclick="toreset();" />
<script type="text/javascript" src="/js/sum_data_reset.js"></script>
<script type="text/javascript">
		function toreset(){
			var redt_star=$('#reset_start').val();
			var redt_end=$('#reset_end').val();
			sum_resetdatas("server","d",redt_star,redt_end,'<?=$db->get_cache_md5();?>',0);
		}
</script>
</div>
<script>
$(document).ready(function(){
	//搜索栏初始化
	renderSearchBar("searchbar", function(filter) {
			$("#ifram_list").attr("src","report-gamereg-group.php?act=dataget&filter="+filter) ;
			}
		);
	$('#searchbar').show();
});
</script>
<div id="grid_contaniner" class="searcher" style="height:500px;">
<iframe width="100%" scrolling="auto" height="100%" frameborder="no" allowtransparency="allowtransparency" marginheight="0" marginwidth="0" border="0" src="report-gamereg-group.php?act=dataget" id="ifram_list"></iframe>
</div>
	</form>
</div>

<?php include_once("footer.html");?>

<?}



else{?>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<link type="text/css" rel="stylesheet" href="/style/style.css">
<link type="text/css" rel="stylesheet" href="/style/table.css">
<link type="text/css" rel="stylesheet" href="/style/jquery_dialog.css">
<link type="text/css" rel="stylesheet" href="/style/jquery-calendar.css">
<script type="text/javascript" src="/js/jquery.js"></script>


<style>
.tdclick{
	cursor:pointer;
}
.openlist{
	width:10px;
	height:10px;
	border:1px solid #666;
	margin:0 auto;
	text-align:center;
	line-height:10px;
	float:left;
	margin-right:5px;
	margin-top:3px;
}
</style>
</head>

<table cellspacing="0" cellpadding="0" border="0" class="grid_table" id="tbshowlist">
<tbody>
<tr>
<th class="grid_header">平台</th>
<th class="grid_header">游戏名称</th>
<th class="grid_header">服务器</th>
<th class="grid_header">自然注册</th>
<th class="grid_header">广告注册</th>
<th class="grid_header">总注册数</th>
</tr>
<? if($rs){
	$i=0;
    //行类型：0 普通，1 游戏合计，2 平台合计，3 平台总合计
    $linetype= 0;
    $linecolor=array(0=>"#070",1=>"#06F",2=>"#A0A",3=>"#F60");
    $ptname=array(1=>"快乐营",2=>"56uu",5=>"49you");
	foreach($rs as $k){
    	$linetype=0;
        if(empty($k["ss_platform"])){
    		$pf_name="所有平台";
            $linetype= $linetype==0 ? 3 : $linetype;
        }else{ 
            $pf_name=$ptname[$k["ss_platform"]];
        }
        
        if(empty($k["game_name"]) && !empty($k["server_name"])){
	        $game_name=$k["game_name"]." 合计";
            
        }else{
        	$game_name= $k["game_name"];
            if(empty($game_name)){
            	$game_name="&nbsp;";
            }
        }
	    if(empty($k["game_name"]) && empty($k["server_name"])){
	        $server_name= $pf_name." 合计";
            $linetype= $linetype==0 ? 2 : $linetype;
            
        }elseif(empty($k["server_name"])){
        	$server_name= $rs[$i+1]["game_name"]." 合计";
            $linetype= $linetype==0 ? 1 : $linetype;
            $pf_name="&nbsp;";
        }else{
        	$server_name=$k["server_name"];
        }
		if($linetype==2){
        	$pf_name="<div class='openlist' id='open".$i."'>+</div>".$pf_name;
        }elseif($linetype==1){
	        $game_name="<div class='openlist' id='open".$i."'>+</div>".$game_name;
        }elseif($linetype==3){
	        $pf_name="△ ".$pf_name; 
        }elseif($linetype==0){
        	$pf_name="&nbsp;";
        }
    ?>
<tr pf_id="<?=$k["ss_platform"]?>" pf_gid="<?=$k["pf_gid"]?>" trlevel="<?=$linetype?>" <?if($linetype<1){?>style="display:none;"<?}else{?>class="tdclick" onclick="showlist(this)" tshow="<?=$linetype==2 ? "1" : "0"?>" openid="<?=$i?>" <?}?>  >
<td align="left" class="grid_cell" style="color:<?=$linecolor[$linetype]?>"><?=$pf_name?></td>
<td align="left" class="grid_cell" style="color:<?=$linecolor[$linetype]?>"><?=$game_name?></td>
<td align="left" class="grid_cell" style="color:<?=$linecolor[$linetype]?>"><?=$server_name?></td>
<td align="right" class="grid_cell" style="color:<?=$linecolor[$linetype]?>"><?=$k["ss_natreg"]?></td>
<td align="right" class="grid_cell" style="color:<?=$linecolor[$linetype]?>"><?=$k["ss_advreg"]?></td>
<td align="right" class="grid_cell" style="color:<?=$linecolor[$linetype]?>"><?=$k["ss_memreg"]?></td>
</tr>
<?	$i++;
	}
}?>
</tbody>
</table>
<script type="text/javascript">
function showlist(obj){
	var pf_id=$(obj).attr("pf_id");
	var pf_gid=$(obj).attr("pf_gid");
	var trlevel=$(obj).attr("trlevel");
	var tshow=$(obj).attr("tshow");

	if(trlevel==2){
		if(tshow==0){
			$("tr[pf_id='"+pf_id+"']").show();
			$("tr[pf_id='"+pf_id+"']").attr("tshow",1);
			$("tr[trlevel='0']").hide();
			$("tr[trlevel='1']").attr("tshow",0);
		}else{
			$("tr[pf_id='"+pf_id+"']").hide();
			$("tr[pf_id='"+pf_id+"']").attr("tshow",0);
			$(obj).show();
		}
	}else if(trlevel==1){
		if(tshow==0){
			$("tr[pf_gid='"+pf_gid+"']").show();
			$("tr[pf_gid='"+pf_gid+"']").attr("tshow",1);
		}else{
			$("tr[pf_gid='"+pf_gid+"']").hide();
			$("tr[pf_gid='"+pf_gid+"']").attr("tshow",0);
			$(obj).show();
		}
	}else if(trlevel==3){
		$("tr[trlevel='0']").hide();
		$("tr[trlevel='1']").hide();
		$("tr[trlevel='1']").attr("tshow",0);
		$("tr[trlevel='2']").attr("tshow",0);
	}
}
</script>
</html>
<?}?>