<?php include_once("header.html");?>

<div class="main">
	<form id="form1" name="form1" method="post" action="">
        <div class="searcher">
          <div id="searchbar" style="display:none">
          { 'header':'平台' , 'dataIndex':'sd_platform' , 'type':'select' , 'options':{'全部':'',<?=get_system_select(true)?>} },
          { 'header':'广告渠道' , 'dataIndex':'advtype_id' , 'type':'select' , 'options':{ '全部':'' , <?= getTableSelect("advtype","advtype_id","advtype_name",'1 order by advtype_name',true)?>}},
		  { 'header':'注册时间' , 'dataIndex':'regtime' , 'type':'datetime', 'defaultValue':'<?=date("Y-m-d")?>' }
          </div>
        </div>

		<div class="searcher" id="grid_contaniner"></div>
                
        <script>
		
		var grid;
		$(document).ready(function(){
			var cm = new ColumnModel
			([
			{header: '广告渠道', dataIndex: 'advtype_name'},
			{header: '登陆数量', dataIndex: 'onlogin' ,sortable: true},
			{header: '5分钟', dataIndex: '5min'},
			{header: '10分钟', dataIndex: '10min'},
			{header: '15分钟', dataIndex: '15min'},
			{header: '20分钟', dataIndex: '20min'},
			{header: '25分钟', dataIndex: '25min'},
			{header: '30分钟', dataIndex: '30min'},
			{header: '30分钟以上', dataIndex: 'sd_activeall'}
			]);
	
			grid = new GridView({ id: 'grid_contaniner', url: window.location.href, cm: cm, sort:'onlogin',dir:'desc' , size: 50, params: { 'act': 'dataget' }});
			grid.load();
			
			//搜索栏初始化
			renderSearchBar("searchbar", function(filter) { grid.load({ params: { start: 0, limit: 50, filter: filter} }); });
			$('#searchbar').show();
			
			
		});
	
		</script>
	</form>
</div>

<?php include_once("footer.html");?>