<?php include_once("header-open.html");?>
<div class="main">
	<form method="post" action="upload-img.php" enctype="multipart/form-data">
		<p>
			<input name="act" type="hidden" value="upload" />
			<input name="upload_input" type="hidden" value="<?=$upload_input?>" />
            <input name="upload_attachment_url" type="hidden" value="<?=$upload_attachment_url?>" />&nbsp;
			<input name="pic" id="pic" type="file" size="25" />&nbsp;
            <input name="order_id" type="hidden" value="<?=order_id?>" />&nbsp;
			<input type="submit" value="上传" class="btn" />&nbsp;
			<input type="button" value="取消" class="btn" onclick="window.close();">
		</p>
		<p <?=$is_pic!=1?"class=\"hide\"":""?>>
			<label><input name="thumb" id="thumb" type="checkbox" value="1" onclick="checkThumb(this.checked)" <?=$thumb==1?"checked":""?>  />生成缩略图</label>
			<span id="thumb_span" class="hide">
			宽：<input name="thumb_w" id="thumb_w" class="input_w50" type="text" value="<?=$thumb_w?>"  />&nbsp;
			高：<input name="thumb_h" id="thumb_h" class="input_w50" type="text" value="<?=$thumb_h?>" />&nbsp;
			</span>
		</p>
	</form>
</div>
<?php include_once("footer.html");?>
<script type="text/javascript">
<!--
function checkThumb(v)
{
	if(v)
	{
		$("#thumb_span").show();
	}
	else
	{
		$("#thumb_span").hide();
	}
}
$(document).ready(function(){
	var v = $("#thumb").attr("checked");
	checkThumb(v);
});
-->
</script>