<?php include_once("header.html");?>
<div class="main">
	<form id="form1" name="form1" method="post" action="">
		<table width="100%" border="0" cellpadding="2" cellspacing="1" class="table_add">
			<tr>
				<th>用户名：</th>
				<td>
					<input type="text" name="vipinfo_member_name" id="vipinfo_member_name"  <?=$act=='edit'?'disabled':''?>  value="<?=$rs['vipinfo_member_name']?>" class="input_w200"  />
				</td>
			</tr>
			<tr>
				<th>QQ:</th>
				<td>
					<input type="text" name="vipinfo_qq" id="vipinfo_qq" value="<?=$rs['vipinfo_qq']?>" class="input_w200" />
				</td>
			</tr>
			<tr>
				<th>游戏名称</th>
				<td>
					<select name="vipinfo_game_id" id="vipinfo_game_id" >
                    
                    </select>
					<input type="hidden" name="vipinfo_game_id_default" id="vipinfo_game_id_default" value="<?=$rs['vipinfo_game_id']?>" class="input_w200"  />
                    <input type="hidden" name="vipinfo_game_name" id="vipinfo_game_name" value="<?=$rs['vipinfo_game_name']?>" class="input_w200"  />
				</td>
			</tr>
			<tr>
				<th>服务器名称</th>
				<td>
                    <select name="vipinfo_server_id" id="vipinfo_server_id" >
                    
                    </select>
					<input type="hidden" name="vipinfo_server_id_default" id="vipinfo_server_id_default" value="<?=$rs['vipinfo_server_id']?>" class="input_w200"  />
                    <input type="hidden" name="vipinfo_server_name" id="vipinfo_server_name" value="<?=$rs['vipinfo_server_name']?>" class="input_w200"  />
				</td>
			</tr>
			<tr>
				<td colspan="2" height="50">
					<input type="hidden" name="act" id="act" value="<?=$act?>" />
					<input type="hidden" name="vipinfo_id" id="vipinfo_id" value="<?=$vipinfo_id?>" />
					<input name="" type="submit" value="提交" onclick="return checkForm();" class="btn" />&nbsp;
					<input name="" type="reset" value="重置" class="btn" />
				</td>
			</tr>
		</table>
	</form>
</div>
<?php include_once("footer.html");?>
<script language="javascript">
function on_server_change(){
	var obj_game = document.getElementById('vipinfo_game_id');
	var obj_server = document.getElementById('vipinfo_server_id');
	$('#vipinfo_game_name').val(obj_game.options[obj_game.selectedIndex].text);
	$('#vipinfo_server_name').val(obj_server.options[obj_server.selectedIndex].text);
	on_last_change();
}
function on_server_load(domid,game_id,obj){
	$("<option value='0'>全部</option>").prependTo('#' + domid);
}
$(document).ready(function(){
	
	get_games('vipinfo_game_id','vipinfo_server_id');
	
});
</script>