<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英雄王座答题器_49you英雄王座官网</title>
<meta name="keywords" content="英雄王座答题器" />
<meta name="description" content="英雄王座答题器提供了最新最全的英雄王座答题活动的问题与答案资料库，是一个可以让玩家快速查找答题对应答案的查询工具！" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/basic.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jscontrol.js"></script>
</head>

<body>

<div id="layout">

  <div id="top">
    <div id="ser">
      <form action="" method="get">
	     <input name="" type="text" class="input-test" id="xlname"  type="text"  value="请输入最显著的关键词"/>
	     <input name="重置"  class="ser-button" type="button" onclick="txtclean()" value="清空重问"//>
	  </form>
	</div>
	<div id="libao">
	  <div id="libao2"><a href="http://yx.49you.com/cardlist.html"  target="_blank">点击进入</a></div>
	 </div>
  </div>
  
  <div id="content">
     <div id="xldata">
		<table width="100%" height="100%">
		<tr>
		<td align="center" valign="middle"><img src="images/loading.gif"/></td>
		</tr>
		</table>
	</div>
  </div>
  
  <div id="footer">
    <div id="footer2">
      <div id="footer-img"><a href="http://yx.49you.com/" target="_blank"><img src="images/yxwz_14.gif" border="0" /></a></div>
	  <div id="footer-buttom">
	     <ul>
		    <li><a href="http://yx.49you.com" target="_blank">进入官网</a></li>
			<li><a href="http://yx.49you.com/server_list.html" target="_blank">最新开服</a></li>
			<li><a href="http://yx.49you.com/news.html" target="_blank">最新资讯</a></li>
			<li><a href="http://www.49you.com/reg_12_4818959.html" target="_blank">进入游戏</a></li>
			<li><a href="http://yx.49you.com/news.html?pid=242&cid=251" target="_blank">游戏攻略</a></li>
			<li><a href="http://bbs.49you.com/forumdisplay.php?fid=68" target="_blank">玩家论坛</a></li>
		 </ul>
	  </div>
	</div>
  </div>
  <div class="clear"></div>

</div>
<script src="http://app.baidu.com/static/appstore/monitor.st"></script>
</body>
</html>
