<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>九天仙梦-法宝五行专题</title>
<link href="css/wuxing.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wx_wrap">
	<div class="wx_01"><div class="wx_topnav"><a href="http://jtxm.49you.com/">官网首页</a>|<a href="http://www.49you.com/reg.html?returl=http%3A%2F%2Fjtxm.49you.com%2F">账号注册</a>|<a href="http://bbs.49you.com/forumdisplay.php?fid=13">游戏论坛</a></div></div>
    <div class="wx_02"></div>
    <div class="wx_03"><img src="images/wx_03.jpg" border="0" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="circle" coords="686,117,81" href="wuxing03.html" title="法宝技能"/>
  <area shape="circle" coords="594,279,81" href="wuxing05.html" title="FAQ"/>
  <area shape="circle" coords="491,117,81" href="wuxing02.html" title="法宝养成"/>
  <area shape="circle" coords="391,279,81" href="wuxing04.html" title="法宝展示"/>
  <area shape="circle" coords="290,117,81" href="wuxing01.html" title="五行介绍"/>
</map>
  </div>
</div>
<div class="wx_footer">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</div>
</body>
</html>