<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>九天仙梦-法宝五行专题</title>
<link href="css/wuxing.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wx_wrap">
	<div class="wx_01"><div class="wx_topnav"><a href="http://jtxm.49you.com/">官网首页</a>|<a href="http://www.49you.com/reg.html?returl=http%3A%2F%2Fjtxm.49you.com%2F">账号注册</a>|<a href="http://bbs.49you.com/forumdisplay.php?fid=13">游戏论坛</a></div></div>
    <div class="wx_02"></div>
    <div class="wx_con">
    	<div class="wx_con2">
        	<div class="wx_left">
            	<ul>
                	<li><a class="wxhd_01" href="index.html" title="专题首页">活动一</a></li>
                    <li><a class="wxhd_02" href="wuxing01.html" title="五行介绍">活动二</a></li>
                    <li><a class="wxhd_03" href="wuxing02.html" title="法宝养成">活动三</a></li>
                    <li><a class="wxhd_04" href="wuxing03.html" title="法宝技能">活动四</a></li>
                    <li><a class="wxhd_05" href="wuxing04.html" title="法宝展示">活动五</a></li>
                    <li><a class="wxhd_06" href="wuxing05.html" title="FAQ">活动六</a></li>
                </ul>
            </div>
            <div class="wx_right">
            	<div class="wx_r_tit">法宝展示</div>
                <div class="wx_r_con">
                	<table width="720" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#CEEFB8">
  <tr>
    <td height="100" align="center" valign="middle"><strong><a href="#a"><img src="images/fb_img01.jpg" title="兵塚"/></a></strong></td>
    <td align="center" valign="middle"><strong><a href="#b"><img src="images/fb_img02.jpg" title="诸方弥勒印"/></a></strong></td>
    <td align="center" valign="middle"><strong><a href="#c"><img src="images/fb_img03.jpg" title="天地"/></a></strong></td>
    <td align="center" valign="middle"><strong><a href="#d"><img src="images/fb_img04.jpg" title="生死"/></a></strong></td>
    <td align="center" valign="middle"><strong><a href="#e"><img src="images/fb_img05.jpg" title="轮回"/></a></strong></td>
    <td align="center" valign="middle"><strong><a href="#f"><img src="images/fb_img06.jpg" title="天珠"/></a></strong></td>
    <td align="center" valign="middle"><strong><a href="#g"><img src="images/fb_img07.jpg" title="心焰"/></a></strong></td>
  </tr>
</table>

                    <a name="a" id="a"></a>
                  <table width="720" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#999" style="border-collapse:collapse;">
                    <tr>
                      <td width="104" align="center" valign="middle" bgcolor="#66CC99"><strong>法宝名称 </strong></td>
                      <td width="63" align="center" valign="middle" bgcolor="#66CC99"><strong>职业 </strong></td>
                      <td width="43" align="center" valign="middle" bgcolor="#66CC99"><strong>等级 </strong></td>
                      <td width="140" align="center" valign="middle" bgcolor="#66CC99"><strong>技能 </strong></td>
                      <td width="75" align="center" valign="middle" bgcolor="#66CC99"><strong>图标 </strong></td>
                      <td width="261" align="center" valign="middle" bgcolor="#66CC99"><strong>效果 </strong></td>
                    </tr>
                    <tr>
                      <td width="104" rowspan="5" align="center" valign="middle"><p><strong>兵塚</strong></p>
                      <p><strong><img src="images/fb_img01.jpg" width="82" height="82" /></strong></p>
                      <p><a name="b" id="b"></a></p></td>
                      <td width="63" rowspan="5" align="center" valign="middle"><p align="center">通用</p>
                      </td>
                      <td width="43" rowspan="5" align="center" valign="middle"><p align="center">60</p>
                        </td>
                      <td width="140" align="center" valign="middle">金身</td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_01.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">被动增加体魄X点 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle">封雪</td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_02.jpg" /> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">攻击中有概率对目标施放技能，伤害为玩家等级*X的冰攻伤害 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle">大夏红雀</td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_03.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">攻击中有概率对目标施放技能，伤害为玩家等级*X的毒攻伤害 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle">天琊</td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_04.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">攻击中有概率对目标施放技能，伤害为玩家等级*X的雷攻伤害 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle">轩辕剑</td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_05.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">主动施放，提升X%的冰攻、毒攻、雷攻、暴击率，减少自身一定比例的物防、法防，持续15秒 </p></td>
                    </tr>
                    <tr>
                      <td width="104" rowspan="5" align="center" valign="middle"><p><strong>诸方弥勒印</strong></p>
                      <p><strong><img src="images/fb_img02.jpg" width="82" height="82" /></strong></p>
                      <p><a name="c" id="c"></a></p></td>
                      <td width="63" rowspan="5" align="center" valign="middle"><p align="center">通用</p>
                        </td>
                      <td width="43" rowspan="5" align="center" valign="middle"><p align="center">65</p>
                        </td>
                      <td width="140" align="center" valign="middle">降龙印</td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_06.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">被动增X点物攻、法攻 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">燃灯古佛印 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_07.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">被动提升X点冰抗 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">药师琉璃印 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_08.jpg" /> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">被动提升X点毒抗 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">韦陀尊天印 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_09.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">被动提升X点雷抗 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">大般若印 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_10.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">攻击生命力少于50%的目标时，可以使自己暴击效果提高X，持续10秒，冷却4秒 </p></td>
                    </tr>
                    <tr>
                      <td width="104" rowspan="5" align="center" valign="middle"><p><strong>天地</strong></p>
                      <p><strong><img src="images/fb_img03.jpg" width="82" height="82" /></strong></p>
                      <p><a name="d" id="d"></a></p></td>
                      <td width="63" rowspan="5" align="center" valign="middle"><p align="center">&nbsp;</p>
                          <p align="center">天殇</p>
                        </td>
                      <td width="43" rowspan="5" align="center" valign="middle"><p align="center">&nbsp;</p>
                          <p align="center">70</p>
                        </td>
                      <td width="140" align="center" valign="middle"><p align="center">灌顶 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_11.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">被动增加X点悟性 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">御雷 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_12.jpg" /> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">天殇的天雷破空可以附加悟性点数*X%的雷攻伤害 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">地动山摇 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_13.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">释放地动星沉会触发法攻为玩家X%的法攻的一个阳炎形式的范围伤害 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">噬心雷 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_14.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">释放碎心决会附加当前法力值*X%的雷攻伤害 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">真·天魔解体 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_15.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">主动释放。每3秒损失1500点法力值。同时法攻提升X%。法力值不够后效果消失 </p></td>
                    </tr>
                    <tr>
                      <td width="104" rowspan="5" align="center" valign="middle"><p><strong>生死</strong></p>
                      <p><strong><img src="images/fb_img04.jpg" width="82" height="82" /></strong></p>
                      <p><a name="e" id="e"></a></p></td>
                      <td width="63" rowspan="5" align="center" valign="middle"><p align="center">破军</p>
                        </td>
                      <td width="43" rowspan="5" align="center" valign="middle"><p align="center">70</p>
                        </td>
                      <td width="140" align="center" valign="middle"><p align="center">锻骨 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_16.jpg" /> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">被动增加X点根骨 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">狂袭 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_17.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">施放破袭时可以附加自身根骨点数*X%的冰攻伤害。并且释放单体嘲讽，持续2秒。对玩家无效 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">凝雪为冰 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_18.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">施放飞雪狂舞时附加根骨点数*X%的冰攻伤害 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">不败修罗 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_19.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">施放修罗降世后。伤害减免效果增加X%</p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">凶神 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_20.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">攻击时附加自身物攻*X%的物攻伤害。自身的生命值越低造成的伤害越高。最多造成300%的伤害 </p></td>
                    </tr>
                    <tr>
                      <td width="104" rowspan="5" align="center" valign="middle"><p><strong>轮回</strong></p>
                      <p><strong><img src="images/fb_img05.jpg" width="82" height="82" /></strong></p>
                      <p><a name="f" id="f"></a></p></td>
                      <td width="63" rowspan="5" align="center" valign="middle"><p align="center">玲星</p>
                        </td>
                      <td width="43" rowspan="5" align="center" valign="middle"><p align="center">70</p>
                        </td>
                      <td width="140" align="center" valign="middle"><p align="center">灌顶 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_21.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">被动增加X点悟性 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">婆娑苍龙 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_22.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">释放苍龙映月附加自身悟性点数*X%的毒攻伤害 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">沉浮 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_23.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">使用逆水花澜攻击生命值高于50%的目标时，额外附加自身法攻*X%的法攻伤害 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">万法自然 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_24.jpg" /> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">释放的碎甲术可以同时减少目标的物理防御的X%，持续60秒 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">花神护体 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_25.jpg" /> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">释放花尘雨露可以给受治疗目标施放状态，减少受到的伤害的X%。持续10秒 </p></td>
                    </tr>
                    <tr>
                      <td width="104" rowspan="5" align="center" valign="middle"><p><strong>天珠</strong></p>
                      <p><strong><img src="images/fb_img06.jpg" width="82" height="82" /></strong></p>
                      <p><a name="g" id="g"></a></p></td>
                      <td width="63" rowspan="5" align="center" valign="middle"><p align="center">&nbsp;</p>
                          <p align="center">通用</p>
                        </td>
                      <td width="43" rowspan="5" align="center" valign="middle"><p align="center">&nbsp;</p>
                          <p align="center">75</p>
                        </td>
                      <td width="140" align="center" valign="middle"><p align="center">百战 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_26.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">被动增加命中X点 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">神灭 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_27.jpg" /> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">攻击中有概率降低对手X%的物防、法防，持续3秒。冷却10秒 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">心死 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_28.jpg" /> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">攻击中有概率降低对手X%的物攻、法攻，持续3秒 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">仇深似海 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_29.jpg" /> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">受到攻击时候有概率触发伤害反弹。把所受伤害的X%反弹给对方，持续5秒 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">天诛地灭 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_30.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">攻击中有2%概率对目标施放群攻技能，伤害为玩家物攻或法攻*X%的物攻或者法攻伤害 </p></td>
                    </tr>
                    <tr>
                      <td width="104" rowspan="5" align="center" valign="middle"><p><strong>心焰</strong></p>
                      <p><strong><img src="images/fb_img07.jpg" width="82" height="82" /></strong></p>
                      <p>&nbsp;</p></td>
                      <td width="63" rowspan="5" align="center" valign="middle"><p align="center">通用</p>
                        </td>
                      <td width="43" rowspan="5" align="center" valign="middle"><p align="center">80</p>
                        </td>
                      <td width="140" align="center" valign="middle"><p align="center">护心炎 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_31.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">被动增加物防和法防X点 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">骨灵幽冥火 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_32.jpg" /> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">被攻击时，有概率触发吸血状态。吸血状态下回复造成伤害的X%的生命值，持续5秒 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">金身琉璃焰 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_33.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">受到伤害时有概率提升X点物防、法防持续10秒 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">祝融焚天炎 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_34.jpg" /> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">受到伤害时有概率提升X点法攻、物攻持续10秒 </p></td>
                    </tr>
                    <tr>
                      <td width="140" align="center" valign="middle"><p align="center">东皇护心焰 </p></td>
                      <td width="75" align="center" valign="middle"><p align="center"><img src="images/fb_35.jpg"/> </p></td>
                      <td width="261" align="center" valign="middle"><p align="center">受到的所有伤害减少X% </p></td>
                    </tr>
                  </table>
                  <p>&nbsp;</p>
                  <p><span><span class="red">*所有资料均以游戏内数据为准</span></span><br/>
                  </p>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="wx_footer">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</div>
</body>
</html>