<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>九天仙梦-法宝五行专题</title>
<link href="css/wuxing.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {color: #FF9900}
.STYLE2 {color: #0099CC}
.STYLE3 {color: #FF0000}
.STYLE4 {color: #663300}
-->
</style>
</head>
<body>
<div class="wx_wrap">
	<div class="wx_01"><div class="wx_topnav"><a href="http://jtxm.49you.com/">官网首页</a>|<a href="http://www.49you.com/reg.html?returl=http%3A%2F%2Fjtxm.49you.com%2F">账号注册</a>|<a href="http://bbs.49you.com/forumdisplay.php?fid=13">游戏论坛</a></div></div>
    <div class="wx_02"></div>
    <div class="wx_con">
    	<div class="wx_con2">
        	<div class="wx_left">
            	<ul>
                	<li><a class="wxhd_01" href="index.html" title="专题首页">活动一</a></li>
                    <li><a class="wxhd_02" href="wuxing01.html" title="五行介绍">活动二</a></li>
                    <li><a class="wxhd_03" href="wuxing02.html" title="法宝养成">活动三</a></li>
                    <li><a class="wxhd_04" href="wuxing03.html" title="法宝技能">活动四</a></li>
                    <li><a class="wxhd_05" href="wuxing04.html" title="法宝展示">活动五</a></li>
                    <li><a class="wxhd_06" href="wuxing05.html" title="FAQ">活动六</a></li>
                </ul>
            </div>
            <div class="wx_right">
            	<div class="wx_r_tit">五行介绍</div>
                <div class="wx_r_con">
                  <p align="left"> </p>
                  <p align="left"><strong>【五行说明】</strong></p>
                  <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;打开角色面板，点击【五行】分页，即可打开法宝五行界面。中间的五行圆盘可单击，对应的是人物的五行属性面板；五行圆盘外环绕的是法宝图标，单击显示该法宝面板。</p>
                  <p><div align="center"><img src="images/img_01.jpg" /></div></p>
                  <p>&nbsp;</p>
                  <p><span>	 &nbsp;&nbsp;&nbsp;&nbsp;人物的五行属性分为金、水、木、火、土。不同的五行对角色的战斗属性有不同的影响：</span>
                  </p>
                  <div align="center">
                    <table width="385" border="1" cellpadding="0" cellspacing="0" bordercolor="#999999" style="border-collapse:collapse;">
                      <tr>
                        <td width="133" align="center" valign="middle" bgcolor="#FFCC00"><strong>属性名称</strong></td>
                        <td width="252" align="center" valign="middle" bgcolor="#FFCC00"><strong>说明</strong></td>
                      </tr>
                      <tr>
                        <td width="133" align="center" valign="middle"><span class="STYLE1"><strong>五行属性</strong>-<strong>金</strong></span></td>
                        <td width="252" align="center" valign="middle">每点增加人物0.5点根骨、悟性</td>
                      </tr>
                      <tr>
                        <td width="133" align="center" valign="middle"><span class="STYLE2"><strong>五行属性-</strong><strong>水</strong></span></td>
                        <td width="252" align="center" valign="middle">每点增加人物0.5点生命、物防</td>
                      </tr>
                      <tr>
                        <td width="133" align="center" valign="middle"><span class="green"><strong>五行属性-</strong><strong>木</strong></span></td>
                        <td width="252" align="center" valign="middle">每点增加人物0.5点生命、法防</td>
                      </tr>
                      <tr>
                        <td width="133" align="center" valign="middle"><span class="STYLE3"><strong>五行属性-</strong><strong>火</strong></span></td>
                        <td width="252" align="center" valign="middle">每点增加人物0.5点生命、法防</td>
                      </tr>
                      <tr>
                        <td width="133" align="center" valign="middle"><span class="STYLE4"><strong>五行属性-</strong><strong>土</strong></span></td>
                        <td width="252" align="center" valign="middle">每点增加人物0.5点生命、物防</td>
                      </tr>
                    </table>
                  </div>
                  <p>&nbsp;</p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;五行属性通过使用道具直接提升： </p>
                  <div align="center">
                    <table width="385" border="1" cellpadding="0" cellspacing="0" bordercolor="#999999" style="border-collapse:collapse;">
                      <tr>
                        <td width="92" align="center" valign="middle" bgcolor="#FFCC00"><strong>道具名称 </strong></td>
                        <td width="246" align="center" valign="middle" bgcolor="#FFCC00"><strong>效果</strong></td>
                      </tr>
                      <tr>
                        <td width="92" align="center" valign="middle"><strong><span class="STYLE1">本源之金</span></strong></td>
                        <td width="246" align="center" valign="middle"><span class="STYLE1">双击使用后增加一点人物金属性</span></td>
                      </tr>
                      <tr>
                        <td width="92" align="center" valign="middle"><strong><span class="STYLE2">本源之水</span></strong></td>
                        <td width="246" align="center" valign="middle"><span class="STYLE2">双击使用后增加一点人物水属性</span></td>
                      </tr>
                      <tr>
                        <td width="92" align="center" valign="middle"><strong><span class="green">本源之木</span></strong></td>
                        <td width="246" align="center" valign="middle"><span class="green">双击使用后增加一点人物木属性</span></td>
                      </tr>
                      <tr>
                        <td width="92" align="center" valign="middle"><strong><span class="STYLE3">本源之火</span></strong></td>
                        <td width="246" align="center" valign="middle"><span class="STYLE3">双击使用后增加一点人物火属性</span></td>
                      </tr>
                      <tr>
                        <td width="92" align="center" valign="middle"><strong><span class="STYLE4">本源之土</span></strong></td>
                        <td width="246" align="center" valign="middle"><span class="STYLE4">双击使用后增加一点人物土属性</span></td>
                      </tr>
                    </table>
                  </div>
                  <p>&nbsp;</p>
                  <p><span><strong>【五行本源道具部分来源】</strong><br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;①60级以上的野外精英怪物会掉落随机一种五行本源道具<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;②降妖中的远古妖兽有概率获得五合一五行礼包（内含本源之金、木、水、火、土各5个）<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;③完成每日必做任务可以获得不同数量的五行百宝袋，可随机开出一个五行本源道具。<br />
                  </span></p>
                  <span>
                  <div align="center">
                    <p><img src="images/img_02.jpg" /></p>
                    <p>&nbsp;</p>
                  </div>
                  </span>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;五行属性分等级，等级越高五行属性的上限越高，达到上限后需要提升五行等级才能继续增加属性。不同的五行属性升级需要不同的升级材料。当某项五行属性达到上限时就可以对该五行属性进行升级操作。
                  <p />
                  <div align="center"><img src="images/img_03.jpg" /></div>
                  <p>&nbsp;</p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;升级说明：</p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&middot;升级需要消耗五行纯净材料（商城可以购买到）和相应的铜币/铜券。<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&middot;提升有概率失败，失败后会为该属性增加祝福值，每消耗1个升级材料提升1点祝福值。当祝福值达到上限时，成功率提升为100%<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&middot;提升成功后该属性的上限增加。祝福值上限也提升至该属性上限值。<br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&middot;提升成功后祝福值不清空。<br/>
                    <table width="611" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#999999" style="border-collapse:collapse;">
                      <tr>
                        <td width="98" align="center" valign="top" bgcolor="#FFCC00"><strong>等级</strong></td>
                        <td width="153" align="center" valign="top" bgcolor="#FFCC00"><strong>五行属性上限</strong></td>
                        <td width="125" align="center" valign="top" bgcolor="#FFCC00"><strong>人物等级</strong></td>
                        <td width="110" align="center" valign="top" bgcolor="#FFCC00"><strong>提升需要道具</strong></td>
                        <td width="125" align="center" valign="top" bgcolor="#FFCC00"><strong>升级材料</strong></td>
                      </tr>
                      <tr>
                        <td width="98" align="center" valign="top">一阶</td>
                        <td width="153" align="center" valign="top">100</td>
                        <td width="125" align="center" valign="top">60</td>
                        <td width="110" align="center" valign="top">升级材料*1</td>
                        <td width="125" align="center" valign="top">纯净之金</td>
                      </tr>
                      <tr>
                        <td width="98" align="center" valign="top">二阶</td>
                        <td width="153" align="center" valign="top">250</td>
                        <td width="125" align="center" valign="top">65</td>
                        <td width="110" align="center" valign="top">升级材料*2</td>
                        <td width="125" align="center" valign="top">纯净之水</td>
                      </tr>
                      <tr>
                        <td width="98" align="center" valign="top">三阶</td>
                        <td width="153" align="center" valign="top">500</td>
                        <td width="125" align="center" valign="top">70</td>
                        <td width="110" align="center" valign="top">升级材料*3</td>
                        <td width="125" align="center" valign="top">纯净之木</td>
                      </tr>
                      <tr>
                        <td width="98" align="center" valign="top">四阶</td>
                        <td width="153" align="center" valign="top">1000</td>
                        <td width="125" align="center" valign="top">75</td>
                        <td width="110" align="center" valign="top">升级材料*4</td>
                        <td width="125" align="center" valign="top">纯净之火</td>
                      </tr>
                      <tr>
                        <td width="98" align="center" valign="top">五阶</p></td>
                        <td width="153" align="center" valign="top">2000</p></td>
                        <td width="125" align="center" valign="top">80</p></td>
                        <td width="110" align="center" valign="top">升级材料*5</td>
                        <td width="125" align="center" valign="top">纯净之土</td>
                      </tr>
                    </table>
                  <p>&nbsp;</p>
                  <p><strong>【五行隐藏属性】 </strong><span /><br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;人物的五大五行属性之和达到一定数量时激活隐藏属性，为人物增加生命、法力、攻击防御等战斗属性。点击面板上的【隐藏属性】按钮，即可查看当前已激活的属性以及下一级可激活的属性。<br />
                  </p>
                  <div align="center"><img src="images/img_04.jpg" /></div>
                  </p>
                  <p><span class="red">*所有资料均以游戏内数据为准</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wx_footer">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</div>
</body>
</html>