<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>九天仙梦-法宝五行专题</title>
<link href="css/wuxing.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE4 {color: #FF0000}
-->
</style>
</head>
<body>
<div class="wx_wrap">
	<div class="wx_01"><div class="wx_topnav"><a href="http://jtxm.49you.com/">官网首页</a>|<a href="http://www.49you.com/reg.html?returl=http%3A%2F%2Fjtxm.49you.com%2F">账号注册</a>|<a href="http://bbs.49you.com/forumdisplay.php?fid=13">游戏论坛</a></div></div>
    <div class="wx_02"></div>
    <div class="wx_con">
    	<div class="wx_con2">
        	<div class="wx_left">
            	<ul>
                	<li><a class="wxhd_01" href="index.html" title="专题首页">活动一</a></li>
                    <li><a class="wxhd_02" href="wuxing01.html" title="五行介绍">活动二</a></li>
                    <li><a class="wxhd_03" href="wuxing02.html" title="法宝养成">活动三</a></li>
                    <li><a class="wxhd_04" href="wuxing03.html" title="法宝技能">活动四</a></li>
                    <li><a class="wxhd_05" href="wuxing04.html" title="法宝展示">活动五</a></li>
                    <li><a class="wxhd_06" href="wuxing05.html" title="FAQ">活动六</a></li>
                </ul>
            </div>
            <div class="wx_right">
            	<div class="wx_r_tit">法宝技能</div>
                <div class="wx_r_con">
                  <p><strong>【法宝技能说明】
                  </strong>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;<div align="center"><img src="images/fbjn_open.jpg" width="439" height="197" /></div><br/>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&middot;每种法宝都带有若干个技能，当该法宝的五行属性注入到一定数量时该技能自动激活。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&middot;鼠标移动到技能图标上可查看技能描述及开启条件。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&middot;每个法宝激活后的技能同一时间只能生效一个，不能同时使用一个法宝上的多个技能。但是不同法宝上的技能可以同时生效，也就是如果开启了五个法宝及激活了技能，那么就能最多同时使用五个技能。</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p><strong>【使用法宝技能】</strong></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;要使用某个法宝技能，首先在人物五行界面选中该法宝，打开法宝属性界面，</p>
<div align="center"><img src="images/fbjn.jpg" width="337" height="261" /></div><br/>
<p>&nbsp;&nbsp;&nbsp;&nbsp;在下方技能栏单击已激活的某个技能（已激活的技能会显示为彩色），在弹出选项框中选择“使用”则该技能生效，并显示在人物五行属性界面下方的技能栏。</p>
<p><span><span class="STYLE4">&nbsp;&nbsp;&nbsp;&nbsp;法宝属性界面显示法宝所带技能及已激活技能：</span></span><br/>
            <div align="center"><img src="images/img_08.jpg" /></div><br/>
            <span class="STYLE4">&nbsp;&nbsp;&nbsp;&nbsp;人物五行属性界面显示当前生效技能：</span><div align="center"><img src="images/img_09.jpg" /></div><br/>
<span class="STYLE4">&nbsp;&nbsp;&nbsp;&nbsp;鼠标移动到技能图标上可查看技能具体描述：</span><div align="center"><img src="images/img_10.jpg" /></div></p>
<p><strong>【法宝技能升级】</strong><br/>
&nbsp;&nbsp;&nbsp;&nbsp;当法宝所注入的五行属性满足技能下一级要求时，法宝的技能自动升级。技能描述上即可查看了解到下一级的五行要求及技能效果。</p>
<p>&nbsp;</p>
<p><span class="red">*所有资料均以游戏内数据为准</span><br/>
</p>
              </div>
          </div>
        </div>
    </div>
</div>
<div class="wx_footer">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</div>
</body>
</html>