<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>九天仙梦-法宝五行专题</title>
<link href="css/wuxing.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wx_wrap">
	<div class="wx_01"><div class="wx_topnav"><a href="http://jtxm.49you.com/">官网首页</a>|<a href="http://www.49you.com/reg.html?returl=http%3A%2F%2Fjtxm.49you.com%2F">账号注册</a>|<a href="http://bbs.49you.com/forumdisplay.php?fid=13">游戏论坛</a></div></div>
    <div class="wx_02"></div>
    <div class="wx_con">
    	<div class="wx_con2">
        	<div class="wx_left">
            	<ul>
                	<li><a class="wxhd_01" href="index.html" title="专题首页">活动一</a></li>
                    <li><a class="wxhd_02" href="wuxing01.html" title="五行介绍">活动二</a></li>
                    <li><a class="wxhd_03" href="wuxing02.html" title="法宝养成">活动三</a></li>
                    <li><a class="wxhd_04" href="wuxing03.html" title="法宝技能">活动四</a></li>
                    <li><a class="wxhd_05" href="wuxing04.html" title="法宝展示">活动五</a></li>
                    <li><a class="wxhd_06" href="wuxing05.html" title="FAQ">活动六</a></li>
                </ul>
            </div>
            <div class="wx_right">
            	<div class="wx_r_tit">FAQ</div>
                <div class="wx_r_con">
                  <p><strong>1</strong><strong>、五行属性有什么用？ </strong><br />
                    答：提高五行属性可以使人物的攻击、防御、生命力获得提升。同时提高五行属性后还可以开启相应的法宝。</p>
                  <p><strong>2</strong><strong>、人物五行属性如何增加？ </strong><br />
                    答：通过双击使用本源之金、本源之木、本源之水、本源之火、本源土增加。</p>
                  <p><strong>3</strong><strong>、五行本源道具如何获得？ </strong><br />
                    答：<br />
                    1）60级以上的野外精英怪物会掉落随机一种五行本源道具<br />
                    2）降妖中的远古妖兽有概率获得五合一五行礼包（内含本源之金、木、水、火、土各5个）<br />
                    3）完成每日必做任务可以获得不同数量的五行百宝袋，可随机开出一个五行本源道具。<br />
                    4）各种活动中有可能出现的五行本源道具的奖励，敬请关注</p>
                  <p><strong>4</strong><strong>、法宝如何开启？ </strong><br />
                    答：当玩家的五行属性达到一定数量时，就可以按照顺序开启法宝。高级的法宝需要更高的等级才能开启。</p>
                  <p><strong>5</strong><strong>、如何使用法宝技能？ </strong><br />
                    答：开启法宝后按照该法宝的技能要求，为法宝注入一定的本源五行属性就可以激活法宝的技能。每个法宝拥有多个技能，但是同一时间只能使用一个技能。</p>
                  <p><strong>6</strong><strong>、如何提升法宝技能的等级？ </strong><br />
                    答：为法宝继续注入本源五行属性，达到一定数量时法宝技能就会升级，具体数值参照各技能的说明</p>
                  <p><strong>7</strong><strong>、人物五行属性的注入上限如何提升？ </strong><br />
                    答：当属性达到上限后，可以在五行界面中点击【升阶】，成功后上限会提高</p>
                  <p><strong>8</strong><strong>、法宝五行属性的注入上限如何提升？ </strong></p>
                  <p>答：法宝的五行属性上限受到人物的五行属性上限影响，提升人物的五行属性上限就可以同时提升法宝的五行属性上限了。</p>
                  <p>&nbsp;</p>
                  <p class="red">*所有资料均以游戏内数据为准</p>
                </div>
          </div>
        </div>
    </div>
</div>
<div class="wx_footer">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</div>
</body>
</html>