<?php $title='游戏服务器列表_49you降龙十八掌官方网站'; 
$keywords="降龙十八掌服务器列表,降龙十八掌新服";
$description="49you降龙十八掌服务器列表"?>
<?php include('header.html'); ?>
<!--main -->
<div id="main">
 <!--content -->
 <div class="content">
	 <!--left -->
	 <div class="left">
<!--left_login start-->
<? include('lefter_login.html'); ?> 
<!--left_login end-->
<!--server -->
<? include('lefter_server.html'); ?> 
<!--server end -->
<!--info -->
<? include('lefter_info.html'); ?> 
<!--info end -->
<!-----kefu----->
<? include('lefter_kf.html'); ?> 
<!--kefu end -->
	 </div>
     <!--left end -->
	 <!--right -->
	 <div class="right">
		<!--newslist -->
        <div id="newslist">
		  <div class="newslist-top"><span style="margin-left:20px;">游戏资料</span></div>
          <div id="newslist-content" style="text-align:center;">
            <p><img src="images/neiye1_07.png"></p><br/>
			<div class="p-content">
			   <ul>
				 <li style="border:none"><a href="#">游戏界面</a>&nbsp;|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a></li>
				 <li style="border:none"><a href="#">角色创建</a>&nbsp;|&nbsp;<a href="#">装备介绍</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a></li>			
			   </ul>
			</div><br/><br/><br/>
            <p><img src="images/neiye1_15.png"></p><br/>
			<div class="p-content">
			   <ul>
				 <li style="border:none"><a href="#">游戏界面</a>&nbsp;|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a></li>
				 <li style="border:none"><a href="#">角色创建</a>&nbsp;|&nbsp;<a href="#">装备介绍</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a></li>			
			   </ul>
			</div>			
			<br/><br/><br/>
            <p><img src="images/neiye1_18.png"></p><br/>
			<div class="p-content">
			   <ul>
				 <li style="border:none"><a href="#">游戏界面</a>&nbsp;|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a></li>
				 <li style="border:none"><a href="#">角色创建</a>&nbsp;|&nbsp;<a href="#">装备介绍</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a>|&nbsp;<a href="#">游戏操作</a></li>			
			   </ul>
			</div>
			</div>
		  <div class="newslist-footer"><img src="images/index2_82.png"></div>
        </div>
	 </div><!--right end -->
	 <div class="clear"></div>
 </div><!--content end -->
</div><!--main end -->
<? include('footer.html'); ?> 
