	   <!-----新手指南----->
	   <div class="xinshouzhinan">
	     <div class="xinshouzhinan-header">新手指南</div>
		 <div class="xinshouzhinan-content">
           <ul>
		     <li><a href="#">游戏界面</a>&nbsp;|&nbsp;<a href="#">游戏操作</a></li>
			 <li><a href="#">角色创建</a>&nbsp;|&nbsp;<a href="#">装备介绍</a></li>
			 <li><a href="#">职业介绍</a>&nbsp;|&nbsp;<a href="#">两大阵营</a></li>
			 <li><a href="#">战斗模式</a>&nbsp;|&nbsp;<a href="#">使用物品</a></li>
			 <li><a href="#">人物属性</a>&nbsp;|&nbsp;<a href="#">任务包裹</a></li>
			 <li><a href="#">清理缓存</a>&nbsp;|&nbsp;<a href="#">网络异常</a></li>
		   </ul>
		 </div>
	   </div><!--新手指南 end -->
	   	   <!-----系统介绍----->
	   <div class="xitongjieshao">
	     <div class="xitongjieshao-header">系统介绍</div>
		 <div class="xitongjieshao-content">
           <ul>
		     <li><a href="#">游戏界面</a>&nbsp;|&nbsp;<a href="#">游戏操作</a></li>
			 <li><a href="#">角色创建</a>&nbsp;|&nbsp;<a href="#">装备介绍</a></li>
			 <li><a href="#">职业介绍</a>&nbsp;|&nbsp;<a href="#">两大阵营</a></li>
			 <li><a href="#">战斗模式</a>&nbsp;|&nbsp;<a href="#">使用物品</a></li>
			 <li><a href="#">人物属性</a>&nbsp;|&nbsp;<a href="#">任务包裹</a></li>
			 <li><a href="#">清理缓存</a>&nbsp;|&nbsp;<a href="#">网络异常</a></li>
		   </ul>		 </div>
	   </div><!--系统介绍 end -->
       	   <!-----特色玩法----->
	   <div class="tesewanfa">
	     <div class="tesewanfa-header">特色玩法</div>
		 <div class="tesewanfa-content">
           <ul>
		     <li><a href="#">游戏界面</a>&nbsp;|&nbsp;<a href="#">游戏操作</a></li>
			 <li><a href="#">角色创建</a>&nbsp;|&nbsp;<a href="#">装备介绍</a></li>
			 <li><a href="#">职业介绍</a>&nbsp;|&nbsp;<a href="#">两大阵营</a></li>
			 <li><a href="#">战斗模式</a>&nbsp;|&nbsp;<a href="#">使用物品</a></li>
			 <li><a href="#">人物属性</a>&nbsp;|&nbsp;<a href="#">任务包裹</a></li>
			 <li><a href="#">清理缓存</a>&nbsp;|&nbsp;<a href="#">网络异常</a></li>
		   </ul>		 </div>
	   </div><!--特色玩法 end -->