<?php $title='龙将★龙将官网★49you龙将★龙将新服★礼包★猜拳★职业★酒馆★攻略';
$keywords="龙将,龙将官网,49you龙将,龙将礼包,龙将黄金礼包,龙将至尊礼包,龙将独家礼包,龙将攻略,龙将猜拳,龙将职业,龙将酒馆";
$description="龙将,龙将官网,49you龙将新服每天11点开启，人气最火爆。49you龙将官网提供龙将黄金礼包、至尊礼包免费领取！每日大量更新龙将猜拳、职业、酒馆攻略。用心服务每一位玩家。"?>
<?php include('header.html'); ?>
 <!--content -->
 <div class="content">
   <div class="left">   
<?php include('lefter_login.html'); ?>
<?php include('lefter_server.html'); ?>
<?php include('lefter_kf.html'); ?>
<?php include('lefter_yx.html'); ?>
     </div>
	 
	 <!--right -->
	 <div class="right">

	   <div class="hdp">
       <? include('lefter_gg.html'); ?> 
       </div>
	   
       <div class="small-img">
           <div class="small-img1">
		      <ul>
			     <li class="small-img1-1"><a href="cardlist.html" target="_blank" alt="领取新手卡" ><img src="images/1.jpg" border="0" /></a></li>
				 <li class="small-img1-1"><a href="<?=get_newslink(4816)?>" target="_blank" alt="VIP尊贵特权" ><img src="images/2.jpg" border="0" /></a></li>
                 <li class="small-img1-1"><a href="<?=get_newslink(5788)?>" target="_blank" alt="充值豪华礼包" ><img src="images/3.jpg" border="0" /></a></li>                 
				 <li class="small-img1-2"><a href="<?=get_newslink(4792)?>" target="_blank" alt="常见问题FAQ" ><img src="images/4.jpg" border="0" /></a></li>
			  </ul>
		   </div>
           <div class="small-img2">
		      <ul>
			     <li class="small-img2-1"><a href="<?=get_newslink(4803)?>" target="_blank" alt="武将招募" ><img src="images/5.jpg" border="0" /></a></li>
				 <li class="small-img2-1"><a href="<?=get_newslink(4841)?>" target="_blank" alt="骑麒麟走天下" ><img src="images/6.jpg" border="0" /></a></li>
				 <li class="small-img2-1"><a href="<?=get_newslink(4835)?>" target="_blank" alt="寻宝摸金" ><img src="images/7.jpg" border="0" /></a></li>
				 <li class="small-img2-2"><a href="<?=get_newslink(5854)?>" target="_blank" alt="极品装备" ><img src="images/8.jpg" border="0" /></a></li>
			  </ul>
		   </div>
           <div class="small-img2">
		      <ul>
			     <li class="small-img2-1"><a href="<?=get_newslink(4837)?>" target="_blank" alt="竞技PK" ><img src="images/9.jpg" border="0" /></a></li>
				 <li class="small-img2-1"><a href="<?=get_newslink(4822)?>" target="_blank" alt="斗地主" ><img src="images/10.jpg" border="0" /></a></li>
				 <li class="small-img2-1"><a href="<?=get_newslink(4831)?>" target="_blank" alt="军团战" ><img src="images/11.jpg" border="0" /></a></li>
				 <li class="small-img2-2"><a href="<?=get_newslink(5789)?>" target="_blank" alt="皇城争霸" ><img src="images/12.jpg" border="0" /></a></li>
			  </ul>
		   </div>
	   </div>
	    
		<!--17173-->
		<script type="text/javascript" src="js/changetab.js"></script>
		<div class="h-17173">
			
			<div class="tabmenu">
              <ul>
               <li onmouseover="tabChange(this,'tabcontent')" class="cli"><a href="http://long.49you.com/news.html ">热点</a></li>
               <li onmouseover="tabChange(this,'tabcontent')"><a href="http://long.49you.com/news.html?cid=302">新闻</a></li>
			   <li onmouseover="tabChange(this,'tabcontent')"><a href="http://long.49you.com/news.html?cid=303 ">活动</a></li>
              </ul>
            </div>

            <div id="tabcontent">
              <ul name="tabul">
                      <?if($rs_news){
                        foreach($rs_news as $k=> $v){
                        if($v["cate_id"]=='1' || $v["cate_id"]=='2'){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
			    <li class="<?=$cls?>">
                <span class="date"><a href=""><?=date('m-d',$v["add_time"])?></a></span>
                [<?if($v["cate_id"]=='1'){?><a href="news.html?cid=<?=$ids['gn_xw']?>" target="_blank">新闻</a><?}else{?><a href="news.html?cid=<?=$ids['gn_hd']?>" target="_blank">活动</a><?}?>]<a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"><?=$v["subtitle"]?></a>
                </li>
                      <?}
                        }
                      }?>
         	 </ul>
              
			  <ul class="hidden">
                      <?if($rs_news){
                        foreach($rs_news as $k=> $v){
                        if($v["cate_id"]==$ids['gn_xw']){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>              
			    <li class="<?=$cls?>"><span class="date"><a href=""><?=date('m-d',$v["add_time"])?></a></span>[<a href="news.html?cid=<?=$ids['gn_xw']?>" target="_blank">新闻</a>]<a href="<?=get_newslink($v["info_id"])?>"><?=$v["subtitle"]?></a></li>
                      <?}
                        }
                      }?>
                
			  </ul>
                           
			 <ul class="hidden">
                      <?if($rs_news){
                        foreach($rs_news as $k=> $v){
                        if($v["cate_id"]==$ids['gn_hd']){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>              
			    <li class="<?=$cls?>">
                <span class="date"><a href=""><?=date('m-d',$v["add_time"])?></a></span>
                [<a href="news.html?cid=<?=$ids['gn_hd']?>" target="_blank">活动</a>]<a href="<?=get_newslink($v["info_id"])?>"><?=$v["subtitle"]?></a></li>
                      <?}
                        }
                      }?>
             </ul>
           </div>
	 </div><!--17173 end-->
		
		<!--yxgl-->
		<div class="yxgl">
		  <div class="yxgl-top topgl"><h1>游戏攻略</h1><span><a href="news.html?cid=<?=$ids['gamegl']?>">更多>></a></span></div>
		  <div class="yxgl-content">
			  <ul>
                      <?if($rs_gamegs){
                        foreach($rs_gamegs as $k=> $v){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
			    <li class="<?=$cls?>" ><span class="date"><a href=""><?=date('m-d',$v["add_time"])?></a></span><a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"><?=$v["subtitle"]?></a></li>
                      <?}
                      }?>
			  </ul>
		  </div>
		</div><!--yxgl end-->
		
		<!--infro -->
        <div id="infro">
		  <div class="infro-top"><h1>游戏资料</h1><a href="http://long.49you.com/gamedata.html" style="display:inline-block; float:right; margin-right:25px;color:#fff">更多>></a></div>
          <div class="infro-content">
		     <div class="infro-content1">
			    <ul>
			      <li> 
                  <a href="<?=get_newslink(4801)?>">游戏简介</a>|
                  <a href="<?=get_newslink(4802)?>">游戏背景</a>|
                  <a href="<?=get_newslink(4803)?>">武将介绍</a>|
                  <a href="<?=get_newslink(4816)?>" style="color:red">VIP特权</a>|
                  <a href="<?=get_newslink(4817)?>">装备强化</a>|
                  <a href="<?=get_newslink(4851)?>">装备洗练</a>|
                  <a href="<?=get_newslink(4852)?>">装备继承</a>
                  </li>
                   <li>
                  <a href="<?=get_newslink(4829)?>" style="color:red">日常活动</a>|
                   <a href="<?=get_newslink(4792)?>">新手问题</a>|
                   <a href="<?=get_newslink(4854)?>">清理缓存</a>|
                   <a href="<?=get_newslink(4856)?>">网络异常</a>
                   </li>
			   </ul>
			 </div>
			 
			 <div class="infro-content2">
			    <ul>
			      <li>
                  <a href="<?=get_newslink(4824)?>">关卡系统</a>|
                  <a href="<?=get_newslink(4825)?>">副本系统</a>|
                  <a href="<?=get_newslink(4827)?>">军衔系统</a>|
                  <a href="<?=get_newslink(4837)?>">  竞技场</a>|
                  <a href="<?=get_newslink(4840)?>">将星系统</a>|
                  <a href="<?=get_newslink(4841)?>" style="color:red">骑宠系统</a>|
                  <a href="<?=get_newslink(4831)?>">  军团战</a>
                  </li>
			      <li>
                  <a href="<?=get_newslink(4833)?>">  天赋石</a>|
                  <a href="<?=get_newslink(4834)?>">  士气石</a>|
                  <a href="<?=get_newslink(5789)?>" style="color:red">皇城争霸</a>|
                  <a href="<?=get_newslink(5791)?>" style="color:red">北斗七星</a>
                  </li>
			   </ul>
			 </div>
			 
			 <div class="infro-content2">
			    <ul>
			      <li>
                   <a href="<?=get_newslink(4835)?>" style="color:red">摸金系统</a>|
                   <a href="<?=get_newslink(4822)?>">  斗地主</a>|
                   <a href="<?=get_newslink(4842)?>">封印魔神</a>|
                   <a href="<?=get_newslink(4843)?>">闯关玩法</a>|
                   <a href="<?=get_newslink(4844)?>">怪物攻城</a>|
                   <a href="<?=get_newslink(4847)?>">天狼星图</a>|
                   <a href="<?=get_newslink(4848)?>">猛将星图</a>
				</li>
			      <li>
                   <a href="<?=get_newslink(4849)?>">军师星图</a>|                  
                   <a href="<?=get_newslink(4850)?>">射手星图</a>|
                   <a href="<?=get_newslink(4845)?>" style="color:red">30级套装</a>|
                   <a href="<?=get_newslink(4846)?>" style="color:red">50级套装</a>|
                   <a href="<?=get_newslink(5794)?>" style="color:red">70级套装</a>
                  </li>
			   </ul>
			 </div>
		  </div>
        </div>
		
		<!--yxgl-->
		<div class="yxgl" style="float:left; margin-left:0;">
                  <!--div class="yxgl-top2">
		      <div class="yxgl-sele"><span>服务器：</span><select name="" id="servers" class="yxgl-sele2" onchange="javascript:serverchange(this.value)">
		        <option value="请选择服务器区">请选择服务器区</option>
                 <?if($rs_server){
                 foreach($rs_server as $k=> $v){?>
                  <option value="<?=$v["server_sid"]?>">双线<?=$v["server_num"]?>区</option>
                  <?}
                  }?>		      
              </select></div>
		 </div>
		  <div class="phb-content2">
		     
			 <div class="yxgl-title">
			    <span class="sp1">序号</span><span class="sp2">角色名</span><span class="sp3">官阶</span>
			 </div>
			 <div class="phb-list">
               <script language="javascript">
			    var _server="";
				var js_list_url="http://yqdx.49you.com/ajax_server.html";
				function getTopInfo() {
					$.getJSON(js_list_url+'?act=getorderjson&_server=138',function(data){
					if(data == ''){
						return;
					}
				 var obj=data;
				 var comp_list;
				 var i = 1;
				 for(k in data){
				  var company = data[k];
				  comp_list = '<li class="phb-list-1">';			
				  comp_list += '<span class="phb_list1">'+i+'</span>';
				  comp_list += '<span class="phb_list2">'+data[k].passport+'</span>';  
				  comp_list += '<span class="phb_list3">'+data[k].officium+'</span>';
				  comp_list += '</li>'; 
					i+=1;
					if(i>5)break;
				 }
				 $('#phb').attr('innerHTML', comp_list);
				});
				}
				function serverchange(_ss){
					_server=_ss;
					getTopInfo();
				}
				function set_url(turl){
					js_list_url=turl;
				}

			</script>
			   <ul id="phb">
			     <!--li class="phb-list-1"><span class="phb_list1">1</span><span class="phb_list2">ashou81</span><span class="phb_list3">神射手</span></li-->
			   <!--/ul>
          <script>
		  set_url("<?=YOU_ROOT?>/ajax_server.html");
		  serverchange($('#servers').val());
          </script>
			 </div>
		  </div-->

          <div class="yxgl-top rchd"><h1>日常活动</h1><span><a href="news.html?cid=<?=$ids['gamerchd']?>">更多>></a></span></div>
		  <div class="yxgl-content2">
			  <ul>
                      <?if($rs_gamexq){
                        foreach($rs_gamexq as $k=> $v){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
			    <li class="<?=$cls?>" ><span class="date"><a href=""><?=date('m-d',$v["add_time"])?></a></span><a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"><?=$v["subtitle"]?></a></li>
                      <?}
                      }?>
			  </ul>
		  </div>
		</div><!--yxgl end-->
			
			<!--yxgl-->
		<div class="yxgl">
          <div class="yxgl-top cjwt"><h1>常见问题</h1><span><a href="news.html?cid=<?=$ids['gamecjwt']?>">更多>></a></span></div>
		  <div class="yxgl-content2">
			  <ul>
                      <?if($rs_gamequ){
                        foreach($rs_gamequ as $k=> $v){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
			    <li class="<?=$cls?>" ><span class="date"><a href=""><?=date('m-d',$v["add_time"])?></a></span><a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"><?=$v["subtitle"]?></a></li>
                      <?}
                      }?>
			  </ul>
		  </div>
		</div><!--yxgl end-->
		<div class="clear"></div>
		
<!--hzmt-->
<?php include('lefter_mt.html'); ?>
<!--hzmt end-->
	 
	 </div><!--right end -->
	 <div class="clear"></div>
 </div><!--content end -->
<?php include('footer.html'); ?>
