@charset "utf-8";
body,form,ul,li,p,dl,dd,dt,h,h1,h2,h3{margin:0;padding:0;}
body,td,th,div,p{font-size:12px;color:#666;line-height:150%;font-family:"宋体";word-wrap:break-word;word-break:break-all;}
li,ul,ol{list-style:none;}
img{border-style:0px;}
a:link,a:visited{color:#666;text-decoration:none;}
a:hover{text-decoration:underline;color:#f60;}

.fB{FONT-WEIGHT:bold}
.fI{FONT-STYLE:italic}
.f12px{FONT-SIZE:12px}
.f14px{FONT-SIZE:14px}
.f_c_r{color:#f00;}
.f_c_b{color:#00F;}

.fl{FLOAT:left}
.fr{FLOAT:right}
.clear{CLEAR:both;DISPLAY:block;OVERFLOW:hidden;HEIGHT:0px;LINE-HEIGHT:0px;font-size:0px;}
.hidden{DISPLAY:none}
.unLine{TEXT-DECORATION:none}
.unLineA{TEXT-DECORATION:none}
.noBorder{BORDER-TOP-STYLE:none;BORDER-RIGHT-STYLE:none;BORDER-LEFT-STYLE:none;BORDER-BOTTOM-STYLE:none}
.blank3{CLEAR:both;DISPLAY:block;OVERFLOW:hidden;HEIGHT:3px}
.blank6{CLEAR:both;DISPLAY:block;OVERFLOW:hidden;HEIGHT:6px}
.blank9{CLEAR:both;DISPLAY:block;OVERFLOW:hidden;HEIGHT:9px}
.blank10{CLEAR:both;DISPLAY:block;OVERFLOW:hidden;HEIGHT:10px}
.blank12{CLEAR:both;DISPLAY:block;OVERFLOW:hidden;HEIGHT:12px}
.blank15{CLEAR:both;DISPLAY:block;OVERFLOW:hidden;HEIGHT:15px}
.blank20{CLEAR:both;DISPLAY:block;OVERFLOW:hidden;HEIGHT:20px}