@charset "utf-8";
body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; padding:0px; margin:0px;}
div,span,ul,li,p,h1,h2,h3,h4,h5,h6,img,p,dl,dd,dt{ margin:0px; padding:0px;}
ul{ list-style-type: none; }
img{ border:0px;}
.cl{ clear:both;}
a{ color:#333333; text-decoration:none;}
a:hover{ color:#FF6600; text-decoration:underline;}

.red{ color:#ff0000}
.pop_mo{margin:0 auto; width:484px;}

.p_title{ padding:13px 0 7px 0;}
.p_title h2{text-align:center; color:#b44602; font-size:14px; width:243px; height:26px; background:url(../images/t_6.jpg); padding-top:7px; margin:0 auto;}
.pop_1{width:484px; height:27px; background:url(../images/pop_1.jpg) no-repeat;line-height:27px; text-align:center; font-size:16px; font:"微软雅黑"; font-weight:bold; color:#fff;}
.pop_1 .pp1{width:24px; height:23px; float:right; margin-right:10px; margin-top:4px;}
.pop_2, .pop_3{width:480px; border:2px #3ba4d4 solid; border-top:none;}
.p_1{position:relative; width:450px; margin-left:19px;}
.pl-x{ position: relative; bottom:-28px;right:-180px;font-size:12px;}
.p_1 h2{font-size:12px; color:#c04900; height:26px; background:#fbf8e8; line-height:26px; padding-left:7px; width:433px;}
.p_1 li{margin:8px 0; height:27px;}
.p_1 p{width:140px; height:27px; float:left; line-height:27px; background:url(../images/pop.gif) no-repeat 0 -148px;}
.p_1 p a, .p_second a{ color:#813202; text-decoration:none;}
.p_1 p a:hover, .p_second a:hover{ color:#FF6600; text-decoration:underline;}
.p_m{margin-right:10px;}
.p_1 span{display:block; padding-left:28px;}
.p_pic1{background:url(../images/pop.gif) no-repeat -4px -296px;}
.p_pic2{background:url(../images/pop.gif) no-repeat 1px -193px;}
.p_pic3{background:url(../images/pop.gif) no-repeat -2px -263px;}
.p_pic4{background:url(../images/pop.gif) no-repeat 1px -230px;}
.p_pic5{background:url(../images/pop.gif) no-repeat -7px -328px;}
.p_second{height:40px; margin:13px 0 2px 20px; width:450px; line-height:26px;}
.p_second span{display:block; float:left; margin-right:18px; padding-left:25px;}

/** n02**/
.p_2{width:460px; border:2px #d36f36 solid; padding:10px;background:white}
.p_2 h2{height:24px; line-height:24px; color:#c04900; font-size:14px;}
.p_2 span{width:24px; display:block; float:right;}
.p_2 p{line-height:30px; color:#6f6f6f;font-size:14px}
.p_2 a{ color:#FF6600; text-decoration:underline;}
.p_2 a:hover{ color:#FF6600; text-decoration:underline;}

/** n03**/
.p_bj1{background:url(../images/pop_2.jpg) no-repeat bottom;margin:0 auto; height: auto;}
.p_bj2{background:url(../images/pop_3.jpg) no-repeat bottom;margin:0 auto; height:128px;}
.p_bj3{background:url(../images/pop_4.jpg) no-repeat bottom;margin:0 auto; height:128px;}
.p_bj4{background:url(../images/pop_5.jpg) no-repeat bottom;margin:0 auto; height:128px;}
.p_bj5{background:url(../images/pop_6.jpg) no-repeat bottom;margin:0 auto; height:110px;}
.p_bj6{background:url(../images/pop_7.jpg) no-repeat bottom;margin:0 auto; height:128px;}

.p_3{width:466px;height:auto;color:#484747;}
.p_3 h2{padding-left:175px;padding-top:16px;padding-bottom:8px;font-size:14px;}
.p_3 p{ line-height:22px; padding-left:175px;}
.p_3 span, .p_4 span{color:#eb5a00;}
.p_3 p span a{color:#eb5a00; text-decoration:underline;}
.p_3 p span a:hover{ color:#FF6600; text-decoration:underline;}
.p_4{ padding-top:15px;}
.p_4 ul{margin:0 auto; width:426px;}
.p_4 li{width:189px; margin:0 7px; float:left;}
.p_4 p{height:30px; border-top:1px #fcccae solid; line-height:30px; background:#fef1e8 url(../images/pop.gif) 10px -109px no-repeat; margin-top:25px; padding-left:40px; width:440px;}

.btn-p0{width:120px;height:24px;background:url(img/btn-p0.jpg) no-repeat;line-height:24px; margin:0px 10px;font-weight:bold;font-size:14px;float:left; text-align:center ;color:#FFFFFF;}
.btn-p1{width:96px;height:24px;background:url(img/btn-p1.jpg) no-repeat;line-height:24px; margin:0px 10px;font-weight:bold;font-size:14px;float:left; text-align:center ;color:#FFFFFF;}
.btn-p2{width:96px;height:24px;background:url(img/btn-p2.jpg) no-repeat;line-height:24px; margin:0px 10px;font-weight:bold;font-size:14px;float:left; text-align:center ;color:#FFFFFF;}
.btn-p1:hover,.btn-p2:hover,.btn-p0:hover{text-decoration:none; color:#FFFF00;}
