/* CSS Document */

*{padding:0;margin:0 auto;font-size:12px;font-family:"ו", SimSun ,serif, sans-serif;}
img{border:0;}
body{background-color:#FFF;background-position:50% 36px;}

/**main**/
.main{ width:982px;margin:auto;}
.main .left{width:690px;height:253px;float:left;}
.main .right{width:292px;height:253px;background:url(/images/vip/vip_right.jpg) no-repeat;float:right;}

/*toptop*/
.toptop{width:100%;height:28px;background:url(toptop_bg.jpg) repeat-x top;}
.top_main{width:982px;height:28px;}
.main_left{width:300px;height:10px;float:left;padding-top:8px;padding-left:10px;}
.main_right{width:auto;height:28px;line-height:28px;float:right;}
.main_right li{width:62px;height:28px;line-height:28px;text-align:center;float:left;list-style:none;margin-right:10px;cursor:hand;}
#content { margin:auto;}
.min {list-style:none;margin:0px;padding:0px;}
.a_kefuk {list-style-type:none;margin-bottom:0px;padding:0px;_padding:0px;}

/**footer**/
.bottom{padding-top:20px;width:982px;height:135px;text-align:center;color:#666;line-height:24px; margin:0 auto;}
.bottom span{display:block;}
.closed a {font-family: Arial, Helvetica, sans-serif;font-size: 14px;color:#666;font-weight: bold;text-decoration:none;	}

a:link {font-family: Tahoma;font-size: 12px;color:#666;text-decoration: none;}
a:visited {font-family: Tahoma;font-size: 12px;color:#000;text-decoration: none;}
a:hover {font-family: Tahoma;font-size: 12px;color:#3D0000;text-decoration: none;}
a:active {font-family: Tahoma;font-size: 12px;color:#000;text-decoration: none;}

.bottom a:link {font-family: Tahoma;font-size: 12px;color:#666;text-decoration: none;}
.bottom a:visited {font-family: Tahoma;font-size: 12px;color:#666;text-decoration: none;}
.bottom a:hover {font-family: Tahoma;font-size: 12px;color:#000;text-decoration: none;}
.bottom a:active {font-family: Tahoma;font-size: 12px;color:#ccc;text-decoration: none;}
