<?php $title="游戏资料_49you侠客世界官方网站 ";
$keywords="侠客世界游戏资料";
$description="49you侠客世界游戏资料。"
?>
<?php include('header.html'); ?>
 <!--content -->
 <div class="content">

    <div class="left">
<?php include('lefter_login.html'); ?>
<?php include('lefter_server.html'); ?>	  
<?php include('lefter_info.html'); ?>
<?php include('lefter_kf.html'); ?>


	 <div class="clear"></div>
     </div>
	 
	 <!--right -->
	 <div id="n-right">
	    <div class="hdp"><? include('lefter_gg.html'); ?></div>
	   
	    <div id="n-right-t"><h1>游戏资料</h1><span>您现在的位置：<a href="/">首页</a>><a href="gamedata.html">游戏资料</a></span></div>
		
		<div id="n-right-c">
		   <div id="n-right-c1">
		      
			  <div class="game-zl-1">
			     <div class="game-zl-1-t"><h1>新手指南</h1></div>
				 <div class="game-zl-1-c">                   
                  <a href="<?=get_newslink(4235)?>">创建角色</a>|
                  <a href="<?=get_newslink(4236)?>">界面介绍</a>|
                  <a href="<?=get_newslink(4237)?>">经脉修为</a>|
                  <a href="<?=get_newslink(4239)?>">精彩战报</a>|
                  <a href="<?=get_newslink(4240)?>">聊天系统</a>|
                  <a href="<?=get_newslink(4241)?>">流派介绍</a>|
                  <a href="<?=get_newslink(4242)?>">气血补给</a>|
                  <a href="<?=get_newslink(4243)?>">人物属性</a>

				 <p>                   
                  <a href="<?=get_newslink(4244)?>">如何移动</a>|
                   <a href="<?=get_newslink(4245)?>">游戏背景</a>|
                   <a href="<?=get_newslink(4246)?>">组队系统</a>|
                   <a href="<?=get_newslink(4297)?>">地图介绍</a>|
                    <a href="<?=get_newslink(4343)?>">任务介绍</a>
                     
                   
                </p></div>
			  </div>
			  
			  <div class="game-zl-1">
			     <div class="game-zl-1-t"><h1>系统介绍</h1></div>
				 <div class="game-zl-1-c">
                  <a href="<?=get_newslink(4247)?>">PK系统</a>|
                  <a href="<?=get_newslink(4248)?>">帮会系统</a>|
                  <a href="<?=get_newslink(4249)?>">副本系统</a>|
                  <a href="<?=get_newslink(4251)?>">技能系统</a>|
                  <a href="<?=get_newslink(4252)?>">师徒系统</a>|
                  <a href="<?=get_newslink(4253)?>">侠客系统</a>|
                  <a href="<?=get_newslink(4255)?>">邮件系统</a>|
                  <a href="<?=get_newslink(4256)?>">战斗系统</a>
				 <p>
                  <a href="<?=get_newslink(4257)?>">章节系统</a>|
                  <a href="<?=get_newslink(4258)?>">阵法系统</a>|
                  <a href="<?=get_newslink(4261)?>">装备系统</a>|
                  <a href="<?=get_newslink(4291)?>">VIP系统</a>
                  




                 </p></div>
			  </div>
			  
			  <div class="game-zl-1">
			     <div class="game-zl-1-t"><h1>特色玩法</h1></div>
				 <div class="game-zl-1-c">
                   <a href="<?=get_newslink(4250)?>">华山论剑</a>|
                   <a href="<?=get_newslink(4262)?>">打坐系统</a>|
                   <a href="<?=get_newslink(4264)?>">副本宝箱</a>|
                   <a href="<?=get_newslink(4265)?>">挂机打怪</a>|
                   <a href="<?=get_newslink(4266)?>">离线睡觉</a>|
                   <a href="<?=get_newslink(4267)?>">天下第一</a>|
                   <a href="<?=get_newslink(4268)?>">在线奖励</a>|
                   <a href="<?=get_newslink(4349)?>">每日活动</a>|
				 </div>
			  </div>

			  <div class="clear"></div>
		   </div>
		</div>
     <div><img src="../images/neiye_03_2.gif" width="720" height="60"></div>
		<div class="clear"></div>
	 </div>
	 <!--right end -->
	 
	 <div class="clear"></div>
 </div><!--content end -->
<?php include('footer.html'); ?>