<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="盛世三国,盛世三国官网,网页游戏,WebGame">
	<meta name="description" content="盛世三国,盛世三国官网,2011最受期待的游戏《盛世三国》，真正史诗级大作，超大地图，万人互动，华美画面，突破游戏极限。">
	
	<link type="text/css" rel="stylesheet" href="event1_files/reset.css">
	<link type="text/css" rel="stylesheet" href="event1_files/sg.css">
	<link href="http://sg.xd.com/game_statics/sg/img/sg.ico?1323418882" rel="bookmark" type="image/x-icon">
	<link href="http://sg.xd.com/game_statics/sg/img/sg.ico?1323418882" rel="icon" type="image/x-icon">
	<link href="http://sg.xd.com/game_statics/sg/img/sg.ico?1323418882" rel="shortcut icon" type="image/x-icon">
    
	<title>盛世三国官方网站_双“蛋”来袭</title>

	<script src="event1_files/ga.js" async="" type="text/javascript"></script><script src="event1_files/jquery.js" type="text/javascript"></script>
    <script src="event1_files/xd.js" type="text/javascript"></script>
	<script src="event1_files/swfobject.js" type="text/javascript"></script>
	
	</head>
<body>
<div id="body2"><div id="body3">

<link type="text/css" rel="stylesheet" href="event1_files/event.css">
<div class="ev_head">
	<div class="ev_head_in">
		<a class="ev_head_logo" href="http://sg.xd.com/"></a>
		<span>12月  双蛋节</span>
		
		<ul>
			<li><a href="http://www.49you.com">官网首页</a></li>
			<li><a href="http://www.49you.com/reg.html?returl=/">注册帐号</a></li>
			<li><a href="http://bbs.49you.com/">官方论坛</a></li>
		</ul>	
	</div>
</div>
<div class="ev_body">
	<div class="ev_body2">
		<div class="ev_body3">
			<div class="ev_body_left">
				<a id="ev1" class="text_off ev_click" href="1.html">活动1.绑银翻倍</a>
				<div style="display: block;" class="arrow1 ev_arrow"></div>
				<a id="ev2" class="text_off ev_click" href="2.html">活动2.寻找圣诞老人</a>
				<div style="display: none;" class="arrow2 ev_arrow"></div>
				<a id="ev3" class="text_off ev_click" href="3.html">活动3.圣诞祈福</a>
				<div style="display: none;" class="arrow3 ev_arrow"></div>
				<a id="ev4" class="text_off ev_click" href="4.html">活动4.种植圣诞树</a>
				<div style="display: none;" class="arrow4 ev_arrow"></div>
				<a id="ev5" class="text_off ev_click" href="5.html">活动5.彩镖节</a>
				<div style="display: none;" class="arrow5 ev_arrow"></div>
			</div>
			<div class="ev_body_right">
				<a id="ev6" class="text_off" href="6.html">活动6.元旦祈福</a>
				<a id="ev7" class="text_off" href="7.html">活动7.收集祝福字</a>
			</div>	
		</div>
	</div>
</div>
<script type="text/javascript">
	$('.ev_arrow').hide();
	var clickBox = $('.ev_click');
	var arrowBox = $('.ev_arrow');
	$(clickBox).each(function(i){
		$(this).hover(function(){
			$(arrowBox[i]).show();
		},function(){
			$(arrowBox[i]).hide();
		})
	})
</script>
</div><!--body3--></div><!--body2-->
<div class="popup_choose">
	<div class="popup_head rl">
		<a href="#" id="popup_close" onclick="return false;"></a>
	</div>
	<div class="popup_line">
		<div class="popup_title1"></div>
		<div class="popup_line">
			<div id="played_list" class="popup_just">
			</div>
		</div>
		<div class="popup_title2"></div>
		<div class="popup_line">
			<div id="new_list" class="popup_just">
			</div>
		</div>
		<div class="popup_title3"></div>
		<div class="popup_line">
			<div id="all_list" class="popup_just">
			</div>
		</div>	
	</div>
	<div class="popup_tail"></div>
</div>

</body></html>