@charset "utf-8";
/* =================================
Author: Erico.len
Vision: YW0.0.1
Email: webmaster@uiwork.com
Copright: www.yaowan.com
================================= */

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
 border-bottom: 1px dotted;
 cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 让链接里的 img 无边框 */
/* optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
 border-collapse: collapse;
 border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }


body { background:url(../images/bg.jpg) no-repeat top center;}
.warp{width:1000px;margin:0 auto;}
.header1 { background:url(../images/h1.jpg);height:137px; position:relative;width:1000px;}
.btnbox { position:absolute; right:0;width:203px;top:40px;}
.btnbox a{ float:left;}
.jrgw { background:url(../images/btn_03.jpg) no-repeat left center; height:33px;width:95px; display:block; text-indent:-9999px; overflow:hidden;}
.jrgw:hover { background:url(../images/btnh_03.jpg) no-repeat left center;}
.jrlt {background:url(../images/btn_03.jpg) no-repeat right center; height:33px;width:95px; display:block; text-indent:-9999px; overflow:hidden;margin-left:13px; display:inline;}
.jrlt:hover { background:url(../images/btnh_03.jpg) no-repeat right center;}
.header2 { background:url(../images/h2.jpg);height:250px;}
.header4 { background:url(../images/h4.jpg);height:209px; overflow:hidden;}
.header4 p{ text-align:center;color:#faf560; line-height:1.8em; padding-top:105px;}
.header4 p a{color:#faf560;}
.header3 img{ display:block;}
.jlbox {width:670px; height:400px; background-color:#FFFEB3; border:7px #123608 solid;}
.closebtn{ width:33px; height:30px; float:right;}
.jlbox-inner{width:646px;height:353px; overflow:auto; margin-left:15px; margin-top:10px;}
.jlbox h1{ font-size:180%; border-bottom:2px #123608 solid; padding-bottom:10px; padding-top:4px; color:#123302;}
.jlbox h1 strong{font-size:120%; color:#123302;}
.red{color:red;}
.jlbox p{ padding:4px 0; line-height:1.8em; color:#123302;}