<?php $title='山海创世录_山海创世录游戏资料_49you山海创世录官方网站'; 
$keywords="山海创世录游戏资料";
$description="49you山海创世录游戏资料"?>
<?php include('header.html'); ?>


<div class="main">
  <div class="l">
  <!--left_login start-->
<? include('lefter_login.html'); ?> 
<!--left_login end-->
<!--left_server start-->
<? include('lefter_server.html'); ?> 
<!--left_server end--> 


<!--lefter_info start-->
<? include('lefter_info.html'); ?> 
<!--lefter_info end--> 
<div class="sharedspacer"></div> 
<!--lefter_kf start-->
<? include('lefter_kf.html'); ?> 
<!--lefter_kf end-->
<!--lefter_mt start-->
<? include('lefter_mt.html'); ?> 
<!--lefter_mt end--> 
 </div>
 
 
<div class="r">
      <div class="dh">
      <label>游戏资料</label>
      <div>您当前的位置：<a href="index.html">山海创世录</a> &gt; 游戏资料</div>
    </div>
<div class="sharedspacer"></div>

<div class="contend">
      <ul class="zl">
        <li><strong>【新手指南】</strong><br />
 <a href="<?=get_newslink('2387')?>">怪物分类</a>| 
 <a href="<?=get_newslink('2394')?>">角色创建</a>| 
 <a href="<?=get_newslink('2401')?>">两大阵营</a>| 
 <a href="<?=get_newslink('2404')?>">人物包裹</a><br>
 <a href="<?=get_newslink('2405')?>">人物属性</a>| 
 <a href="<?=get_newslink('2407')?>">游戏界面</a>| 
 <a href="<?=get_newslink('2412')?>">使用物品</a>| 
 <a href="<?=get_newslink('2415')?>">游戏FAQ</a>| 
 <a href="<?=get_newslink('2416')?>">游戏操作</a>| 
 <a href="<?=get_newslink('2417')?>">游戏界面</a><br>
 <a href="<?=get_newslink('2418')?>">战斗模式</a>| 
 <a href="<?=get_newslink('2419')?>">装备介绍</a>| 
 <a href="<?=get_newslink('2444')?>">网络异常处理方法</a>| 
 <a href="<?=get_newslink('2445')?>">各种常用浏览器清理缓存方法</a>
</li>

 <li><strong>【系统介绍】</strong><br />
 <a href="<?=get_newslink('2379')?>">副本系统</a>| 
 <a href="<?=get_newslink('2375')?>">PK系统</a>| 
 <a href="<?=get_newslink('2377')?>">VIP系统</a>| 
 <a href="<?=get_newslink('2378')?>">称号系统</a>| 
 <a href="<?=get_newslink('2383')?>">公会系统</a>| 
 <a href="<?=get_newslink('2385')?>">挂机系统</a><br>
 <a href="<?=get_newslink('2391')?>">好友系统</a>| 
 <a href="<?=get_newslink('2393')?>">交易系统</a>| 
 <a href="<?=get_newslink('2402')?>">聊天系统</a>| 
 <a href="<?=get_newslink('2406')?>">任务系统</a>| 
 <a href="<?=get_newslink('2409')?>">生活系统</a><br>
 <a href="<?=get_newslink('2411')?>">声望系统</a>| 
 <a href="<?=get_newslink('2414')?>">邮件系统</a>| 
 <a href="<?=get_newslink('2421')?>">组队系统</a>| 
 <a href="<?=get_newslink('2422')?>">坐骑系统</a>
</li>

 <li><strong>【特色玩法】</strong><br />
 <a href="<?=get_newslink('2408')?>">神秘宝库</a>| 
 <a href="<?=get_newslink('2397')?>">竞技场</a>| 
 <a href="<?=get_newslink('2399')?>">炼金炉</a>| 
 <a href="<?=get_newslink('2403')?>">排行榜</a>| 
 <a href="<?=get_newslink('2413')?>">物品拍卖</a>| 
 <a href="<?=get_newslink('2424')?>">离线经验</a><br>
 <a href="<?=get_newslink('2425')?>">十日目标</a>| 
 <a href="<?=get_newslink('2426')?>">女娲遗迹</a>| 
 <a href="<?=get_newslink('2427')?>">神装合成</a>| 
 <a href="<?=get_newslink('2431')?>">服食仙丹</a>| 
 <a href="<?=get_newslink('2432')?>">汇聚真气</a><br> 
 <a href="<?=get_newslink('2433')?>">坐骑进阶</a>| 
 <a href="<?=get_newslink('2435')?>">打通经脉</a>| 
 <a href="<?=get_newslink('2437')?>">神功阵法</a>
</li>

      </ul>
    </div>       
</div>


</div>

<? include('footer.html'); ?> 