<div class="ziliao">
<div>游戏资料</div>
      <ul>
        <li><strong>新手指导</strong>
 <a href="<?=get_newslink('2387')?>">怪物分类</a>|<a href="<?=get_newslink('2394')?>">角色创建</a><br />
 <a href="<?=get_newslink('2401')?>">两大阵营</a>|<a href="<?=get_newslink('2404')?>">人物包裹</a><br />
 <a href="<?=get_newslink('2405')?>">人物属性</a>|<a href="<?=get_newslink('2407')?>">游戏界面</a><br />
 <a href="<?=get_newslink('2412')?>">使用物品</a>|<a href="<?=get_newslink('2415')?>">游 戏FAQ</a><br />
 <a href="<?=get_newslink('2416')?>">游戏操作</a>|<a href="<?=get_newslink('2417')?>">游戏界面</a><br />
 <a href="<?=get_newslink('2418')?>">战斗模式</a>|<a href="<?=get_newslink('2419')?>">装备介绍</a><br />
 <a href="<?=get_newslink('2444')?>">网络异常</a>|<a href="<?=get_newslink('2445')?>">清理缓存</a>
        </li>
        <li><strong>系统介绍</strong>
 <a href="<?=get_newslink('2375')?>">PK 系 统</a>|<a href="<?=get_newslink('2377')?>">VIP系 统</a><br />
 <a href="<?=get_newslink('2378')?>">称号系统</a>|<a href="<?=get_newslink('2379')?>">副本系统</a><br />
 <a href="<?=get_newslink('2383')?>">公会系统</a>|<a href="<?=get_newslink('2385')?>">挂机系统</a><br />
 <a href="<?=get_newslink('2391')?>">好友系统</a>|<a href="<?=get_newslink('2393')?>">交易系统</a><br />
 <a href="<?=get_newslink('2402')?>">聊天系统</a>|<a href="<?=get_newslink('2406')?>">任务系统</a><br />
 <a href="<?=get_newslink('2409')?>">生活系统</a>|<a href="<?=get_newslink('2411')?>">声望系统</a><br />
 <a href="<?=get_newslink('2414')?>">邮件系统</a>|<a href="<?=get_newslink('2421')?>">组队系统</a><br />
 <a href="<?=get_newslink('2422')?>">坐骑系统</a> 
        </li>
        <li><strong>特色玩法</strong>
 <a href="<?=get_newslink('2397')?>">　竞技场</a>|<a href="<?=get_newslink('2399')?>">炼金炉　</a><br />
 <a href="<?=get_newslink('2403')?>">　排行榜</a>|<a href="<?=get_newslink('2408')?>">神秘宝库</a><br />
 <a href="<?=get_newslink('2413')?>">物品拍卖</a>|<a href="<?=get_newslink('2424')?>">离线经验</a><br />
 <a href="<?=get_newslink('2425')?>">十日目标</a>|<a href="<?=get_newslink('2426')?>">女娲遗迹</a><br />
 <a href="<?=get_newslink('2427')?>">神装合成</a>|<a href="<?=get_newslink('2431')?>">服食仙丹</a><br />
 <a href="<?=get_newslink('2432')?>">汇聚真气</a>|<a href="<?=get_newslink('2433')?>">坐骑进阶</a><br />
 <a href="<?=get_newslink('2435')?>">打通经脉</a>|<a href="<?=get_newslink('2437')?>">神功阵法</a>
        </li>
      </ul>
</div>