<?php $title='游戏服务器列表_49you山海创世录官方网站'; 
$keywords="山海创世录服务器列表";
$description="49you山海创世录服务器列表"?>
<?php include('header.html'); ?>

<div class="main">
  <div class="l">
  <!--left_login start-->
<? include('lefter_login.html'); ?> 
<!--left_login end-->

<!--left_server start-->
<? include('lefter_server.html'); ?> 
<!--left_server end-->
<!--lefter_info start-->
<? include('lefter_info.html'); ?> 
<!--lefter_info end-->
<div class="sharedspacer"></div> 
<!--lefter_kf start-->
<? include('lefter_kf.html'); ?> 
<!--lefter_kf end-->
<!--lefter_mt start-->
<? include('lefter_mt.html'); ?> 
<!--lefter_mt end--> 
 </div>
 
 
<div class="r">
      <div class="dh">
      <label>服务器列表</label>
      <div>您当前的位置：<a href="index.html">山海创世录</a> &gt; 服务器列表</div>
    </div>
<script type="text/javascript">
function memberServers(){
	var url="<?=YOU_ROOT?>/ajax_server.html?act=mygame&gid="+gid+"&format=json&jsoncallback=?";
	$.getJSON(url,
	function(data){
		var myrs=eval(data);
		var shtml = "";
		for(var i in myrs){
			shtml +='<ul><li>';
			shtml +='<label class="label1"></label>';

			shtml +='<a href="<?=YOU_ROOT?>/game_add.html?gid='+myrs[i].mg_game_id+'&sid='+myrs[i].mg_server_id+'" target="_blank">'+myrs[i].mg_server_name+'<font color="deepskyblue">'+myrs[i].mg_last_time+'</font></a>';
			shtml +='</li></ul>';
		}
		$("#lastgames").html(shtml);

	});
}
</script>
<div class="sharedspacer"></div>

<div class="contend">

<div class="Fwq1"></div>
<div class="Fwq1_info">
    <ul>
                      <?if($rs_servertj){
                        foreach($rs_servertj as $k=> $v){?>
      <li>					<a href="<?=YOU_ROOT?>/game_add.html?gid=<?=$v["server_gid"]?>&sid=<?=$v["server_id"]?>" target="_blank"><?=$v["server_name"]?> <font color="red"><?= date('m/d H:i',$v['server_start'])?> 开启</font></a></li>
                    <?}
                    }?>
    </ul>
</div>


<div class="Fwq2"></div>
<div class="Fwq2_info" id="lastgames">
</div>
<script language="javascript">memberServers();</script>

<div class="Fwq3"></div>
<div class="Fwq2_info">
    <ul>
				<?if($rs_servers){
                        foreach($rs_servers as $k=> $v){?>
					<li><a href="<?=YOU_ROOT?>/game_add.html?gid=<?=$v["server_gid"]?>&sid=<?=$v["server_id"]?>" target="_blank"><?=$v["server_name"]?> <font color="red"><?= date('m/d',$v['server_start'])?></font></a></li>
                    <?}
                    }?>
    </ul>
</div>


</div>   
</div>


</div>

<? include('footer.html'); ?> 
