<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英雄王座|英雄王座官网|英雄王座2|49you英雄王座新手卡</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
</head>
<style>
.rili {
	LEFT:172px; MARGIN: 0px; WIDTH: 224px; POSITION: relative;  height:67px; float:left;}
.rili LI {
	FLOAT: left;  HEIGHT: 67px;}
	
.rili LI h2{
display:none;}

.rili LI table{ }



.rili1 {
	LEFT:461px; MARGIN: 0px; WIDTH:224px; POSITION: relative;  height:67px; float:left;}
.rili1 LI {
	FLOAT: left;  HEIGHT: 67px;}
	
.rili1 LI h2{
display:none;}

.rili1 LI table{ }
</style>



<body>

<div class="main">
<div class="wipper1"><img src="images/index_02.jpg" border="0" usemap="#Map"/>
<map name="Map" id="Map">
  <area shape="rect" coords="686,19,751,41" href="http://yx.49you.com/news.html?pid=242&cid=251" />
  <area shape="rect" coords="619,19,684,41" href="http://yx.49you.com/news_4084.html" />
  <area shape="rect" coords="550,19,615,41" href="http://yx.49you.com/cardlist.html" />
  <area shape="rect" coords="337,20,402,42" href="http://www.49you.com/pay_type.html?gid=12" />
  <area shape="rect" coords="270,20,335,42" href="http://bbs.49you.com/forumdisplay.php?fid=68" />
  <area shape="rect" coords="203,19,268,41" href="http://yx.49you.com/news.html" />
  <area shape="rect" coords="134,19,199,41" href="http://yx.49you.com/" />
  </map>
</div>

<div class="wipper2"></div>

<div class="wipper3"></div>

<div class="wipper4"></div>

<div class="wipper5">


<div class=rili>
  <LI>
  <H2>跨服圣战</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="跨服圣战" class=butA_01 href="page01.html">跨服圣战</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  </div>



<div class=rili1>
  <LI>
  <H2>饰品升星</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="饰品升星" class=butA_02 href="page02.html">饰品升星</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  </div>


</div>
</div>

<div class="foot">
<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br>

</p>
</div>

</body>
</html>
