<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英雄王座|英雄王座官网|英雄王座2|49you英雄王座新手卡</title>
<link href="style/style2.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {
	font-size: 18px;
	font-weight: bold;
}
.STYLE2 {font-size: 14px}
.STYLE3 {font-size: 16px}
-->
</style>
</head>

<body>
<div class="main">
<div class="wipper1"><img src="images/page2_02.jpg" border="0" usemap="#Map2"/>
<map name="Map2" id="Map2">
  <area shape="rect" coords="686,19,751,41" href="http://yx.49you.com/news.html?pid=242&cid=251" />
  <area shape="rect" coords="619,19,684,41" href="http://yx.49you.com/news_4084.html" />
  <area shape="rect" coords="550,19,615,41" href="http://yx.49you.com/cardlist.html" />
  <area shape="rect" coords="337,20,402,42" href="http://www.49you.com/pay_type.html?gid=12" />
  <area shape="rect" coords="270,20,335,42" href="http://bbs.49you.com/forumdisplay.php?fid=68" />
  <area shape="rect" coords="203,19,268,41" href="http://yx.49you.com/news.html" />
  <area shape="rect" coords="134,19,199,41" href="http://yx.49you.com/" />
</map>
</div>

<div class="wipper2"></div>

<div class="wipper3"></div>

<div class="wipper4"><img src="images/page2_06.jpg" border="0" usemap="#Map"/>
<map name="Map" id="Map">
  <area shape="rect" coords="172,10,395,76" href="index.html" />
</map></div>

<div class="nr01">
  <h2>饰品升星详细指南</h2>
</div>

<div class="nr02">

<div class="nr">
　　随着等级的不断提升，《英雄王座》中烽火肆虐，勇士们纷纷踏上王座之路，为了成就英雄伟业而奋力厮杀。而在这个诸神退位、战火燃烧的时代，想要成为真正的王者，最直接有效的方法莫过于拥有一身强悍的实力。《英雄王座》全新饰品升星系统震撼登场，让曾经默默无闻的饰品，纷纷点亮他们内蕴的星辰之力，成就玩家半神之路，带来更畅快的游戏体验！<br>
<br>

<span class="STYLE1">系统简介：</span><br>
　　饰品升星就是饰品的强化，玩家等级达到40级时开放，升星成功，则该饰品的星等加1，失败则降1。使用☆★分别表示单数和双数星等，饰品一共可以被提升20星等，即10颗★。<br>
　　饰品的星级提升，是大神奥丁赐予所有为英雄王座奋战的勇者的全新能力，勇者在全新的场景和副本中历险将有机会拾取或兑换各种等级的升星石，使用升星石可以激活饰品的星等，全面提高英雄的攻击力、防御力、生命力和魔法力！随着饰品的星等提高，属性加成越大，升星的效果也就越明显。此外，无论多少等级的饰品，星等都是可以转移的！！
<br>
<br>
<span class="STYLE1">饰品升星的规则：</span><br>
　　1.	可以进行饰品升星操作的装备为：<span class="red1">项链</span>，<span class="red1">戒指</span>，<span class="red1">圣契</span>，<span class="red1">护符</span><br>
　　2.	升星需要使用升星材料---升星石<br>
　　3.	饰品升星有一定的成功率<br>
　　4.	升星石的等级越高，附加的成功率越高<br>
　　5.	升星失败饰品<span class="red1">不会消失，但会降级</span><br>
　　6.	神恩符可以确保饰品升星失败不降级，幸运符可以提高饰品升星的成功率<br>
　　7.	Vip卡会带来额外的成功率加成，其中<span class="red1">月卡vip额外加成5%</span>成功率，<span class="red1">半年卡vip额外加成10%</span>成功率<br>
　　8.	饰品升星时，若参与升星的饰品、升星石、神恩符和幸运符均不绑定，则升星结束后（不管升星成功与否），该饰<br>　　　　品仍然不绑定。若有任意一个是绑定的，则升星结束后（不管升星成功与否）该饰品被绑定<br>
　　9.	饰品升星需要消耗一定的金币<br>
<br>

<span class="STYLE1">饰品升星步骤：</span><br>
　　1.	进入游戏后，点击右下方的【锻造】图标，打开锻造界面，选择【升星】<br>
　　2.	在对应的装备框放入需要升星的饰品（项链/戒指/圣契/护符）<br>
　　3.	升星需要使用升星材料---升星石<br>
　　4.	根据个人需求放入适当的神恩符（确保失败不降级）和幸运符（提高成功率）<br>
　　5.	背包有足够支付升星费用的金币<br>
　　6.	点击升星按钮<br>
【<span class="red1">温馨提示</span>】合理搭配不同等级的升星石，可以有效提升升星的成功率哦！<br>
<br>
<img src="images/page2_07.jpg" /><br>
<br>
<span class="STYLE1">饰品升星的效果：</span><br>
　　饰品升星时提升的属性为：<br>
　　<table width="400" border="1">
  <tr>
    <td width="120"> 　　　　<span class="STYLE2">项链</span></td>
    <td width="264" class="STYLE2">　　　　　攻击、生命、魔法</td>
  </tr>
  <tr>
    <td>　　　　<span class="STYLE2">戒指</span></td>
    <td> 　　　　　　<span class="STYLE2">攻击、生命、魔法</span></td>
  </tr>
  <tr>
    <td>　　　　<span class="STYLE2">圣契</span></td>
    <td class="STYLE2">　　　　　攻击、魔法</td>
  </tr>
  <tr>
    <td>　　　　<span class="STYLE2">护符</span></td>
    <td>　　　　　　<span class="STYLE2">防御</span></td>
  </tr>
</table><br>

<img src="images/page2_08.jpg" /><br>
<br>
<span class="STYLE1">饰品的星等转移：</span><br>
　　为了让《英雄王座》亲爱的玩家们体验到跟贴心的饰品升星玩法，《英雄王座》诚意推出饰品的星等转移功能，所以玩家们不必担心自己花了大量精力打造的饰品会随着等级提升而报废，饰品的星等是可以转移的！！<br>
<br>

饰品星等转移规则：<br>
   1.	饰品的星等转移需要花费一定的金币<br>
   2.	饰品的星等转移会造成饰品的绑定，<span class="red1">凡是参与过转移的饰品，均被绑定</span><br>
   3.	转移后饰品依旧存在，<span class="red1">不会消失</span><br>
   4.	转移后的旧饰品星等为0，得到的新饰品降低2个星等，即减少一个★，不足一颗★的饰品则转移后变成0级。<br>
   5.	<span class="red1">不同位置的饰品星等不可以互相转移</span><br>
   
   <br>
   饰品星等转移步骤<br>
   1.	进入游戏后，点击右下方的【锻造】图标，打开锻造界面，选择【转移】<br>
   2.	如下图所示，在A处放入带星等的饰品，在B处放入目标饰品<br>
   3.	查看转移结果预览<br>
   4.	点击“转移”按钮<br>
   <img src="images/page2_09.jpg" /><br>
   <br>
   <span class="STYLE1">升星石的获取方式</span>
   <br>
   1.	使用<span class="red1">防御者徽章</span>在塔尔萨拉内的<span class="red1">升星使者</span>处可兑换<span class="red1">2-4级</span>的升星石<br>
   2.	击杀塔尔萨拉内的焦炭怪和熔岩领主有几率掉落<span class="red1">1级升星石</span><br>
   3.	在商城可购买<span class="red1">4级升星石</span><br>
   <br>
     　　玩家在<span class="red1">40级</span>的时候，会在<span class="red1">主城公告板</span>处接到支线任务“<span class="red1">塔尔萨拉：防御者的呼唤</span>”，要求玩家前往塔尔萨拉（入口在<span class="red1">冰封森林的右上角</span>），协助米德加特防御者，参加前线的战斗。完成该系列支线任务，将解锁该地区的日常任务，玩家每天可以通过完成该地区的日常任务，获得<span class="red1">绑定的防御者徽章</span>，在<span class="red1">升星使者</span>处兑换升星石。<br>
     
    <br>
　　　　<img src="images/page2_10.jpg" /><br>

　　　玩家在40~49级期间，将可以每日在该地区完成<span class="red1">5个随机日常任务</span>。
40~49级玩家参与随机刷新的日常任务包括： <br>
<br>
　　1.	小动物拯救者：保护塔尔萨拉的小动物们，对着受伤的小动物采集即可。<br>
　　2.	拯救伤员：对前线受伤的战士使用绷带，治疗他们。<br>
　　3.	收集装甲：从死亡的焦炭怪身上采集装甲。<br>
　　4.	临终遗言：在前线的阵亡将士身上采集灵魂之匣，回到默多克身边使用。<br>
　　5.	武装前线：击杀一定量的焦炭怪，收集烈焰核心。 <br>
　　6.	冲锋陷阵：加入前线的战斗，击杀入侵的烈焰使者。<br>
　　7.	舒缓疼痛：杀死一定数量的焦炭怪，并取得几颗烈焰包裹的心脏。（<span class="red1">有几率掉落不绑定的升星石</span>）<br>
　　8.	杀掉叛徒：加入前线的战斗，击杀叛变的前线士兵。<br>
　　9.	叛逃计划：击杀前线的叛徒有几率获得叛逃计划书，并将其交到指挥官默多克处。<br>
　　10.	擒贼擒王：击杀熔岩领主。（<span class="red1">有几率掉落不绑定的升星石</span>）<br>
　　<br>
　　　玩家达到50级时，将会接收到支线任务“塔尔萨拉的更多战斗”。完成该支线任务链后，玩家将每日可在该地区完成5个随机日常任务。完成该支线任务链之后，玩家每日在该地区完成日常任务，将会获得更多的<span class="red1">防御者徽章奖励</span>哦。<br>

　　<br>
　　<span class="STYLE1">升星石的合成：</span><br>
　　升星石共有5个等级，可以使用合成功能，利用低级升星石合成高级升星石。<br>
　　升星石的合成有成功率，但使用<span class="red1">4个4级升星石</span>合成5级升星石是<span class="red1">100%成功</span>的哦！<br>
　　<br>
　　<img src="images/page2_11.jpg" />　<br>

<span class="STYLE3">新副本预告</span>：日常解锁之后（即40级完成系列支线任务之后），玩家将可以在主城的公告板处接到副本召唤：战斗的塔尔萨拉任务【<span class="red1">未开放</span>】。该副本将采用全新地图，此外参加该副本将有机会获得<span class="red1">不绑定</span>的防御者徽章、各级升星石等，敬请期待！ </div>

　　


</div>
<div style=" margin-top:30px;"></div>


<div class="foot">
<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br>

</p>
</div>

</body>
</html>
