<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英雄王座|英雄王座官网|英雄王座2|49you英雄王座新手卡</title>
<link href="style/style1.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {
	font-size: 18px;
	font-weight: bold;
}
-->
</style>
</head>

<body>
<div class="main">
<div class="wipper1"><img src="images/page1_02.jpg" border="0" usemap="#Map2"/>
<map name="Map2" id="Map2">
  <area shape="rect" coords="686,19,751,41" href="http://yx.49you.com/news.html?pid=242&cid=251" />
  <area shape="rect" coords="619,19,684,41" href="http://yx.49you.com/news_4084.html" />
  <area shape="rect" coords="550,19,615,41" href="http://yx.49you.com/cardlist.html" />
  <area shape="rect" coords="337,20,402,42" href="http://www.49you.com/pay_type.html?gid=12" />
  <area shape="rect" coords="270,20,335,42" href="http://bbs.49you.com/forumdisplay.php?fid=68" />
  <area shape="rect" coords="203,19,268,41" href="http://yx.49you.com/news.html" />
  <area shape="rect" coords="134,19,199,41" href="http://yx.49you.com/" />
</map>
</div>

<div class="wipper2"></div>

<div class="wipper3"></div>

<div class="wipper4"><img src="images/page1_06.jpg" border="0" usemap="#Map"/>
<map name="Map" id="Map">
  <area shape="rect" coords="172,10,395,76" href="index.html" />
</map></div>

<div class="nr01"><h2>英雄竞技场前瞻</h2></div>

<div class="nr02">

<div class="nr">
 
              　　称英雄，道英雄，谁人是真英雄？<br>
              　　千万英雄，又有何人能王座称雄？<br>
　　          巨龙的灵魂在大地深处咆哮，武神的意志在天际翱翔，等待着真正的英雄降临。<br>
             　　一身极品紫装可以打造而成，头上尊贵称号可以传承得来，但惟有一颗英雄的心，你永远只能靠浴血奋战赢取。所谓英雄，就是永远无所畏惧，直面对手，怀着勇敢的心，可以匹敌千军万马！<br>
             在史诗紫装、神迹教堂等陆续开放之后，《英雄王座》即将推出突破服务器限制的跨服战场——英雄竞技场，让《英雄王座》各个服的高手齐聚一堂，决出神恩眷顾的第一英雄。<br>


　　<img src="images/page1_07.jpg" width="558" height="318" /><br>

　　　英雄竞技场报名期间，各服玩家可通过邀请组队报名等，与各服战队抗衡，打造本服最普通、最文艺、最牛叉队伍。面对数以百计的服务器和数以万计的玩家，英雄竞技场将通过严密的规则，保证各战队间的实力最优匹配，强大的队伍能够披荆斩棘，实力一般的队伍也能够步步为营。谁能最后夺得英雄王座，全靠实力证明。<br>
　　　<img src="images/page1_08.jpg" /><br>
　　在为玩家提供火爆刺激的战斗玩法外，英雄竞技场也为广大玩家提供了专属的装备道具，除了通过对战获得的点数能够购买英雄竞技场专属道具外，每期名列前茅的队伍还将能够获得专属神秘装备和稀有道具等。<br>
　　　<img src="images/page1_09.jpg" /><br>
　　　<span class="STYLE1">热血英雄王座，激情跨服战场！未来版本持续更新，敬请期待终极一刻！</span></div>

</div>

<div class="nr03"></div>

</div>
<div style=" margin-top:30px;"></div>


<div class="foot">
<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br>

</p>
</div>

</body>
</html>
