
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<title>合区</title>
<style>
html { overflow-x:hidden; }
body{
	color:#000;
	font-size:12px;
	font-family:'宋体',Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-repeat: repeat;
}
.nr{ width:650px;  margin:0; color:#000;}
.nr1{ padding:10px; line-height:25px; width:90%;}
.STYLE1 {color: #FF0000}
</style>
<body>
<div class="nr">
<div class="nr1">
  <p><strong>魅力无限，酷炫鱼坐骑</strong><strong> </strong><br />
      <strong>活动时间：</strong>2012年1月23日00：00 - 2011年12月28日23：59<br />
    <strong>活动内容： </strong><br />
    魅力排行榜更新后的次日凌晨，每日鲜花榜和每日护花榜排行前三名玩家将获得系统送出的丰厚奖励，系统会在达到要求后通过邮件发放奖励，酷炫鱼坐骑，魅惑花仙子等珍贵道具，谁是新年人气王呢？<br />
    1、   活动期间，每日鲜花榜和每日护花榜排行的 第一名 可以获得 新春魅力礼包 x 3；<br />
    2、 活动期间，每日鲜花榜和每日护花榜排行的 第二名 可以获得   新春魅力礼包 x 2；<br />
    3、 活动期间，每日鲜花榜和每日护花榜排行的 第三名 可以获得 新春魅力礼包 x 1；<br />
    开启 “新年魅力礼包” 可随机获得   爆竹、红包、鱼坐骑、花仙子宠物蛋等珍贵道具，亲爱的仙界好友，一起来展现你的魅力吧。<br />
    <strong>温馨提示： </strong><br />
    1、玩家通过赠送鲜花，或者使用爆竹可增加魅力值。<br />
    2、需要增加每日护花榜和每日鲜花榜排行<br />
    <span class="STYLE1">3、以上活动奖励物品均为已绑定。 </span><br />
    <strong>收集兑换，新年新时装</strong> <br />
    <span class="STYLE1"><strong>活动时间：</strong>2012年1月23日0:00-2012年1月28日24:00 <br />
    <strong>兑换时间：</strong>2012年1月23日0:00-2012年1月28日24:00 </span><br />
    <strong>活动内容： </strong><br />
    活动时间内，各大副本内、摇钱树、活动、任务会掉落红包，集齐99个红包，即可在太极城-财神爷处换兑换“新年礼服”时装。除了“新年礼服”，财神爷还准备了大量的神秘礼物哦！<br />
    <span class="STYLE1">1、以上兑换的道具均为绑定不可交易。 <br />
    2、红包道具只能在活动时间内兑换或者直接使用增加2000点经验。 </span><br />
    <strong>增加新道具，外形变换卷： </strong><br />
    此道具使用后即可将身上的时装外形变换为对应变换卷的外形。如：<br />
    原玩家穿的是圣诞时装，使用“新年礼服变换卷”后，圣诞时装变为新年礼服。<br />
    注：    1、原时装属性不变   2、原时装等级不变</p>
</div>




</div>

</body>
</html>
