
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
<!--
.STYLE1 {
	color: #FF0000;
	font-weight: bold;
}
-->
</style>
<head>
<title>合区</title>
<style>
html { overflow-x:hidden; }
body{
	color:#000;
	font-size:12px;
	font-family:'宋体',Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	line-height:24px;
	background-repeat: repeat;
}
.nr{ width:650px;  margin:0; color:#000;}
.STYLE2 {color: #FF0000}
</style>
<body>
<div class="nr">
  <p><strong>宝石合成，合一送一再送一</strong><strong> </strong><br />
    活动时间：2012年1月23日00：00 - 2011年12月28日23：59<br />
    活动内容：<br />
    活动时间内，合成3-6级宝石。每合成一次都会获得特性宝石奖励，以及摘除符奖励。<br />
    合成1颗3级任意宝石，送1级特性宝石1颗；<br />
    合成1颗4级任意宝石，送2级特性宝石1颗，初级摘除符*1；<br/>
    合成1颗5级任意宝石，送3级特性宝石1颗，中级摘除符*1；<br/>
    合成1颗6级任意宝石，送4级特性宝石1颗，高级摘除符*1；<br/>
    <span class="STYLE1">温馨提示：</span><br/>
  1、每合成3-6级宝石一次，即可获得相应的奖励，奖励在活动界面领取。<br/>
  2、多次合成宝石，奖励可累加，点击一次“领取奖励”即可全部领取。<br/>
  3、“领取奖励”按钮为亮色，点击领取无奖励时，弹框提示：<br/>
  <span class="STYLE2">4、游戏内日常活动界面可进行领取，以上活动物品均为已绑定。  </span>
  <p><strong>完美强七，免费送特性石</strong><strong> </strong><br />
      <span class="STYLE2"><strong>活动时间：</strong>2012年1月23日00：00 - 2011年12月28日23：59<br />
      <strong>活动内容： </strong></span><br />
    活动时间内，任意一件装备强化完美加七都可直接免费开启第四个宝石孔。同时还可以免费领取一颗3级特性宝石。<br />
    <span class="STYLE2"><strong>温馨提示： </strong></span><br />
    1、奖励可以重复领取，完美强7的装备必须在活动时间内操作才算。<br />
    2、在日常界面可领取奖励，奖励的物品均为绑定不可交易。<br />
    3、领取的奖励为任意3级特性宝石。</p>
</div>
</body>
</html>
