
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<title>合区</title>
<style>
html { overflow-x:hidden; }
body{
	color:#000;
	font-size:12px;
	font-family:'宋体',Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	line-height:24px;
	background-repeat: repeat;
}
.nr{ width:630px;  margin:0; color:#000;}
.STYLE1 {color: #FF0000}
.STYLE2 {
	color: #FF0000;
	font-weight: bold;
}
.STYLE3 {
	color: #0000FF;
	font-weight: bold;
}
</style>
<body>
<div class="nr">
  <p><span class="STYLE1"><strong>2012</strong><strong>奢华享受，VIP登录豪礼</strong> <br />
    <strong>活动时间：</strong>2012年1月23日00：00 - 2012年1月31日23：59<br />
    <strong>活动内容： </strong></span><br />
    活动时间内，VIP玩家每天登陆游戏都可以获得相应的登陆礼包；半年VIP卡没抢到？没关系，新春商城超值优惠，<span class="STYLE1">所有VIP卡7折超值优惠。（活动时间： 012年1月19日更新后- 2012年1月31日23：59）</span> <br/>
    1、周VIP玩家可领取  <span class="STYLE1">“青铜VIP登录礼包”</span>，开启“青铜VIP登录礼包”可随机获得紫色洗炼石、3级完美强化符、三级强化石、根骨提升符、灵宠成长石、灵宠灵性丹、一级特性宝石等道具； <br/>
    2、月VIP玩家可领取  <span class="STYLE1">“白银VIP登录礼包”</span>，开启“白银VIP登录礼包”可随机获得紫色洗炼石、3级完美强化符、三级强化石、根骨提升符、灵宠成长石、灵宠灵性丹、二级特性宝石、玄铁矿等珍贵道具；<br/>
    3、年VIP玩家可领取  <span class="STYLE1">“黄金VIP登录礼包”</span>，开启“黄金VIP登录礼包”  可随机获得橙色洗炼石、3级完美强化符、三级强化石、根骨提升符、灵宠灵性丹、灵宠成长石、百年玄铁、二级特性宝石等珍贵道具； <br />
<span class="STYLE2">温馨提示： </span><br />
    <span class="STYLE1">1、以上活动物品均为已绑定。 <br />
    2、以上奖励均在VIP界面领取。 </span><br />
    <span class="STYLE1"><strong>轻松玩游戏，开心过大年</strong> <br />
    <strong>活动时间：</strong>2012年1月23日00：00 - 2012年1月31日23：59<br />
    <strong>活动内容： </strong></span><br />
    过年期间，玩家无需担心没时间玩游戏，系统给您累积7天的副本次数，让您一键可以轻轻松松领取100%的副本经验。<br />
    等级在30级以上的玩家每天登陆游戏还可以获得我们送出的“新年礼盒”，在邮件附件中收取。<br />
    除此之外，从1月29日0:00起，所有老玩家登陆游戏都能获得<span class="STYLE3"><u>新年回归大礼包。</u></span><br />
    开启“新年回归大礼包”可获得：百年玄铁*1、50级进阶保护符*1、三级强化石*1、三级完美强化符*1、根骨提升符*1、灵宠成长石*3、灵宠灵性丹*3、绑定铜钱30000、经验200000<br />
    <span class="STYLE1"><strong>温馨提示：<br/>
  老玩家定义：</strong>1月29日前注册的等级超过40级的玩家。 </span></p>
</div>
</body>
</html>
