
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<title>合区</title>
<style>
html { overflow-x:hidden; }
body{
	color:#000;
	font-size:12px;
	font-family:'宋体',Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	line-height:24px;
	background-repeat: repeat;
}
.nr{ width:630px;  margin:0; color:#000;}
.STYLE1 {color: #FF0000}
</style>
<body>
<div class="nr">
  <p><span class="STYLE1"><strong>活动时间：</strong>2012年1月19日12：00 - 2012年1月31日23：59<br />
      <strong>活动内容： </strong></span><br />
    活动时间内，炼化系统增加活动炼化选项，增加新的炼化公式：</p>
  <table width="369" border="1" cellpadding="0" cellspacing="0" bordercolor="#000" style="border-collapse:collapse;">
    <tr>
      <td width="215" align="center" nowrap="nowrap"><strong>炼化</strong></td>
      <td width="155" align="center" valign="middle" nowrap="nowrap"><p align="center"><strong>获得 </strong></p></td>
    </tr>
    <tr>
      <td width="215" align="center" nowrap="nowrap">中级反震+中级连击+12个红包=</td>
      <td width="155" align="center" valign="middle" nowrap="nowrap">中级裂岩震击</td>
    </tr>
    <tr>
      <td width="215" align="center" nowrap="nowrap">高级反震+高级连击+36个红包=</td>
      <td width="155" align="center" valign="middle" nowrap="nowrap">高级裂岩震击</td>
    </tr>
    <tr>
      <td width="215" align="center" nowrap="nowrap">顶级反震+顶级连击+99个红包=</td>
      <td width="155" align="center" valign="middle" nowrap="nowrap">顶级裂岩震击</td>
    </tr>
    <tr>
      <td width="215" align="center" nowrap="nowrap">顶级反震+顶级连击+99个红包=</td>
      <td width="155" align="center" valign="middle" nowrap="nowrap">顶级千里冰</td>
    </tr>
    <tr>
      <td width="215" align="center" nowrap="nowrap">8格包裹+ 2个红包=</td>
      <td width="155" align="center" valign="middle" nowrap="nowrap">10格包裹 </td>
    </tr>
    <tr>
      <td width="215" align="center" nowrap="nowrap">10格包裹+ 4个红包=</td>
      <td width="155" align="center" valign="middle" nowrap="nowrap">12格包裹</td>
    </tr>
    <tr>
      <td width="215" align="center" nowrap="nowrap">12格包裹+ 8个红包=</td>
      <td width="155" align="center" valign="middle" nowrap="nowrap">14格包裹</td>
    </tr>
    <tr>
      <td width="215" align="center" nowrap="nowrap">14格包裹+10个红包=</td>
      <td width="155" align="center" valign="middle" nowrap="nowrap">16格包裹</td>
    </tr>
    <tr>
      <td width="215" align="center" nowrap="nowrap">16格包裹+12个红包=</td>
      <td width="155" align="center" valign="middle" nowrap="nowrap">18格包裹</td>
    </tr>
    <tr>
      <td width="215" align="center" nowrap="nowrap">（指定数量）坐骑精魄+红包=</td>
      <td width="155" align="center" valign="middle" nowrap="nowrap">神秘坐骑 </td>
    </tr>
  </table>
  <p><span class="STYLE1"><strong>温馨提示： </strong></span><br />
    1、活动炼化里，绑定的炼化出来的道具也为绑定。 <br />
    2、以上炼化合成只在活动时间开放。 <br />
    3、须宠物携带相应等级的天赋技能，才可进阶。  <br />
    4、更多顶级天赋技能将在后续开放。  </p>
</div>
</body>
</html>
