
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<title>合区</title>
<style>
html { overflow-x:hidden; }
body{
	color:#000;
	font-size:12px;
	font-family:'宋体',Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	line-height:24px;
	background-repeat: repeat;
}
.nr{ width:630px;  margin:0; color:#000;}
.STYLE1 {color: #FF0000}
</style>
<body>
<div class="nr">
  <p><span class="STYLE1"><strong>做任务达人，奖励也疯狂</strong> <br />
    <strong>活动时间：</strong>2012年1月23日00：00 - 2012年1月31日23：59<br />
    <strong>活动内容： </strong></span><br />
    活动时间内，完成仙盟日常，跑商，循环，百炼，宗门任务，护送灵兽除了获得固定奖励外，还可额外获得“新年礼盒*1”的奖励。 <br />
    开启“新年礼盒”可随机获得烟花、红包、一级强化石、爆竹、伏魔碎片、诛仙碎片、初级长生丹、初级归元丹、生死轮回、洗炼锁、一级宝石。 <br />
    <span class="STYLE1"><strong>温馨提示： </strong></span><br />
    1、每天在线1个小时也可获得“新年礼盒”奖励。 <br />
    2、每天参与齐放烟火获得，也有机会活动新年礼盒。 <br />
    <span class="STYLE1"><strong>新年乐翻天，天天有双倍</strong> <br />
    <strong>活动时间：</strong>2012年1月22日00：00 - 2012年12月28日23：59<br />
    <strong>活动内容： </strong></span><br />
    2012年1月22日  答题活动经验双倍<br />
    2012年1月23日  温泉经验，灵气获得双倍<br />
    2012年1月24日  灵兽护送经验双倍<br />
    2012年1月25日  仙盟圣火，灵气获得双倍<br />
    2012年1月26日  仙盟战，贡献，资源，经验双倍<br />
    2012年1月27日  战场荣誉获得双倍<br />
    2012年1月28日  太机城全天打坐经验，灵气双倍。<br />
  <span class="STYLE1"><strong>温馨提示：</strong></span><br />
    <li>活动期间：40级单人本、40级精英本；45级、50级幻象祭坛终极BOSS均有概率掉落红包，爆竹，烟花 </li>
    <li>活动期间：诛仙阵10,15,21,28层BOSS均有概率掉落红包，爆竹，烟花 </li>
    <li>活动期间：诛神塔4,8,12,17层BOSS均有概率掉落红包，爆竹，烟花 </li>
    <li>活动期间：守护灵源单人，精英：20，30,40,50,60波BOSS均有概率掉落红包，爆竹，烟花 </li>
    <li>五行神殿金木水火土元素均有概率掉落红包，爆竹，烟花 </li>
    <li>年兽BOSS有概率掉落红包，爆竹，烟花 </li>
    <li>战场之魂活动概率获得红包，爆竹，烟花 </li>
  </ul>
</div>
</body>
</html>
