<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>凡人修真2-驱年兽拿红包，烟花神兽迎新年</title>
<link href="css/newyear.css" rel="stylesheet" type="text/css" />
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
</style>
</head>
<body>
<div class="ny_wrap2">
  <div class="ny_04">
    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="126" height="205"><script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','126','height','150','src','images/denglong','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/denglong' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="126" height="150">
          <param name="movie" value="images/denglong.swf" />
          <param name="quality" value="high" />
          <param name="wmode" value="transparent" />
          <embed src="images/denglong.swf" width="126" height="150" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
        </object>
</noscript></td>
        <td width="148"><script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','148','height','205','src','images/bianpao','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/bianpao' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="148" height="205">
          <param name="movie" value="images/bianpao.swf" />
          <param name="quality" value="high" />
          <param name="wmode" value="transparent" />
          <embed src="images/bianpao.swf" width="148" height="205" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
        </object>
</noscript></td>
        <td valign="top"><table width="230" height="74" border="0" align="right" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" class="ny_topnav"><a href="index.html">活动首页</a> <a href="http://frxz2.4399.com/">游戏官网</a> <a href="http://web.4399.com/user/reg.php">账号注册</a></td>
          </tr>
        </table></td>
        <td width="126"><script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','126','height','150','src','images/denglong','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/denglong' ); //end AC code
        </script>
          <noscript>
          <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="126" height="150">
            <param name="movie" value="images/denglong.swf" />
            <param name="quality" value="high" />
            <param name="wmode" value="transparent" />
            <embed src="images/denglong.swf" width="126" height="150" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
          </object>
          </noscript>
        </td>
      </tr>
    </table>
  </div>
    <div class="ny_05"><img src="images/ny_05.jpg" /></div>
    <div class="ny_06">
    	<div class="ny_left">
        	<ul>
                <li><a class="ny_left_01" href="index01.html" title="年兽来袭 奖励疯狂送">活动一</a></li>
                <li><a class="ny_left_02" href="index02.html" title="战场之魂 全新BOSS战">活动二</a></li>
                <li><a class="ny_left_03" href="index03.html" title="VIP回馈 登陆送豪礼">活动三</a></li>
                <li><a class="ny_left_04" href="index04.html" title="年年有鱼 新年新时装">活动四</a></li>
            </ul>
        </div>
        <div class="ny_middle">
        	<div class="ny_title"><img src="images/ny_title06.jpg" /></div>
        <div class="ny_text">
<div class="nr">
  <p><span class="STYLE1">烟花齐燃放，福星送祝福 </span><br />
      <span class="STYLE2"><strong>活动时间：</strong></span><span class="STYLE2">2012年1月23日0:00-2012年1月31日23：59 </span><br />
      <span class="STYLE2"><strong>齐放烟花活动：晚上18:00-23:59</strong></span><br />
      <span class="STYLE2"><strong>活动内容： </strong></span><br />
    活动时间内，各大副本、摇钱树，活动，任务等都有机会获得烟花。玩家在背包里面使用烟花，出现烟火效果。使用烟花可增加2点魅力值，每天使用前100个还可获得经验。每天晚上18:00-23:59在太机城燃放烟花还有机会获得新年祝福状态、新年礼盒奖励。所有玩家燃放烟花的璀璨度加起来到达2012，全服所有30级以上的在线玩家均可获得半小时的新年祝福状态，以及新年礼盒*1的奖励。<br />
    <span class="STYLE2"><strong>温馨提示： </strong></span><br />
    1、新年祝福状态最多可以叠加6小时。 <br />
    2、璀璨度到达681,1010,1681,2012的玩家均会获得额外道具奖励：百年玄铁、50进阶保护符、5级完美强化符、高级宠物祝福果、根骨保护符其中之一。 <br />
    <span class="STYLE2"><strong>魅力无极限，新春人气王</strong> <br />
    <strong>活动时间：2012年1月23日00：00 - 2012年1月31日23：59</strong><br />
    <strong>活动内容： </strong></span><br />
    魅力排行榜更新后的次日凌晨，每日鲜花榜和每日护花榜排行前三名玩家将获得系统送出的丰厚奖励，系统将会在排行榜更新后通过邮件发放奖励，谁是新春人气王呢？<br />
    1、 活动期间，每日鲜花榜和每日护花榜排行的 第一名 可以获得 新春魅力礼包 x 3；<br />
    2、 活动期间，每日鲜花榜和每日护花榜排行的 第二名 可以获得 新春魅力礼包 x 2；<br />
    3、 活动期间，每日鲜花榜和每日护花榜排行的 第三名 可以获得 新春魅力礼包 x 1；<br />
    开启  <span class="STYLE2">"新年魅力礼包"</span>  可随机获得神秘坐骑、高级宠物祝福果、五级完美强化符、百年玄铁、50进阶保护符、三级特性石等珍贵道具，亲爱的仙界好友，一起来展现你的魅力吧。<br />
    <span class="STYLE2"><strong>温馨提示：<br />
    </strong></span>1、玩家通过赠送鲜花，或者使用烟花可增加魅力值。<br />
    2、副本或者击杀年兽、摇钱树均有机会获得烟花。<br />
    3、在线奖励，任务达人可获得新年礼盒，打开新年礼盒有机会获得1朵玫瑰。<br />
    <span class="STYLE2">4、以上活动奖励物品均为已绑定。</span> </p>
</div>
            </div>
      </div>
        <div class="ny_right">
        	<ul>
                <li><a class="ny_right_01" href="index05.html" title="新春大吉 欢乐摇钱树">活动一</a></li>
                <li><a class="ny_right_02" href="index06.html" title="除旧迎新 爆竹声声响">活动二</a></li>
                <li><a class="ny_right_03" href="index07.html" title="合成强化 送特性宝石">活动三</a></li>
                <li><a class="ny_right_04" href="index08.html" title="日常任务拿大奖">活动四</a></li>
            </ul>
        </div>
    </div>
    <div class="ny_07"><img src="images/ny_footer.jpg" /></div>
</div>
</body>
</html>