<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>凡人修真2-驱年兽拿红包，烟花神兽迎新年</title>
<link href="css/newyear.css" rel="stylesheet" type="text/css" />
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
</style>
</head>
<body>
<div class="ny_wrap2">
  <div class="ny_04">
    <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="126" height="205"><script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','126','height','150','src','images/denglong','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/denglong' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="126" height="150">
          <param name="movie" value="images/denglong.swf" />
          <param name="quality" value="high" />
          <param name="wmode" value="transparent" />
          <embed src="images/denglong.swf" width="126" height="150" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
        </object>
</noscript></td>
        <td width="148"><script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','148','height','205','src','images/bianpao','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/bianpao' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="148" height="205">
          <param name="movie" value="images/bianpao.swf" />
          <param name="quality" value="high" />
          <param name="wmode" value="transparent" />
          <embed src="images/bianpao.swf" width="148" height="205" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
        </object>
</noscript></td>
        <td valign="top"><table width="230" height="74" border="0" align="right" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" class="ny_topnav"><a href="index.html">活动首页</a> <a href="http://xz.49you.com/">游戏官网</a> <a href="http://www.49you.com/reg.html">账号注册</a></td>
          </tr>
        </table></td>
        <td width="126"><script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','126','height','150','src','images/denglong','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/denglong' ); //end AC code
        </script>
          <noscript>
          <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="126" height="150">
            <param name="movie" value="images/denglong.swf" />
            <param name="quality" value="high" />
            <param name="wmode" value="transparent" />
            <embed src="images/denglong.swf" width="126" height="150" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
          </object>
          </noscript>
        </td>
      </tr>
    </table>
  </div>
    <div class="ny_05"><img src="images/ny_05.jpg" /></div>
    <div class="ny_06">
    	<div class="ny_left">
        	<ul>
                <li><a class="ny_left_01" href="index01.html" title="年兽来袭 奖励疯狂送">活动一</a></li>
                <li><a class="ny_left_02" href="index02.html" title="战场之魂 全新BOSS战">活动二</a></li>
                <li><a class="ny_left_03" href="index03.html" title="VIP回馈 登陆送豪礼">活动三</a></li>
                <li><a class="ny_left_04" href="index04.html" title="年年有鱼 新年新时装">活动四</a></li>
            </ul>
        </div>
        <div class="ny_middle">
        	<div class="ny_title"><img src="images/ny_title08.jpg" /></div>
        <div class="ny_text">
<div class="nr">
  <p><span class="STYLE1"><strong>做任务达人，奖励也疯狂</strong> <br />
    <strong>活动时间：</strong>2012年1月23日00：00 - 2012年1月31日23：59<br />
    <strong>活动内容： </strong></span><br />
    活动时间内，完成仙盟日常，跑商，循环，百炼，宗门任务，护送灵兽除了获得固定奖励外，还可额外获得“新年礼盒*1”的奖励。 <br />
    开启“新年礼盒”可随机获得烟花、红包、一级强化石、爆竹、伏魔碎片、诛仙碎片、初级长生丹、初级归元丹、生死轮回、洗炼锁、一级宝石。 <br />
    <span class="STYLE1"><strong>温馨提示： </strong></span><br />
    1、每天在线1个小时也可获得“新年礼盒”奖励。 <br />
    2、每天参与齐放烟火获得，也有机会活动新年礼盒。 <br />
    <span class="STYLE1"><strong>新年乐翻天，天天有双倍</strong> <br />
    <strong>活动时间：</strong>2012年1月22日00：00 - 2012年12月28日23：59<br />
    <strong>活动内容： </strong></span><br />
    2012年1月22日? 答题活动经验双倍<br />
    2012年1月23日? 温泉经验，灵气获得双倍<br />
    2012年1月24日? 灵兽护送经验双倍<br />
    2012年1月25日? 仙盟圣火，灵气获得双倍<br />
    2012年1月26日? 仙盟战，贡献，资源，经验双倍<br />
    2012年1月27日? 战场荣誉获得双倍<br />
    2012年1月28日? 太机城全天打坐经验，灵气双倍。<br />
  <span class="STYLE1"><strong>温馨提示：</strong></span><br />
    <li>活动期间：40级单人本、40级精英本；45级、50级幻象祭坛终极BOSS均有概率掉落红包，爆竹，烟花 </li>
    <li>活动期间：诛仙阵10,15,21,28层BOSS均有概率掉落红包，爆竹，烟花 </li>
    <li>活动期间：诛神塔4,8,12,17层BOSS均有概率掉落红包，爆竹，烟花 </li>
    <li>活动期间：守护灵源单人，精英：20，30,40,50,60波BOSS均有概率掉落红包，爆竹，烟花 </li>
    <li>五行神殿金木水火土元素均有概率掉落红包，爆竹，烟花 </li>
    <li>年兽BOSS有概率掉落红包，爆竹，烟花 </li>
    <li>战场之魂活动概率获得红包，爆竹，烟花 </li>
  </ul>
</div>
          </div>
      </div>
        <div class="ny_right">
        	<ul>
                <li><a class="ny_right_01" href="index05.html" title="新春大吉 欢乐摇钱树">活动一</a></li>
                <li><a class="ny_right_02" href="index06.html" title="除旧迎新 爆竹声声响">活动二</a></li>
                <li><a class="ny_right_03" href="index07.html" title="合成强化 送特性宝石">活动三</a></li>
                <li><a class="ny_right_04" href="index08.html" title="日常任务拿大奖">活动四</a></li>
            </ul>
        </div>
    </div>
    <div class="ny_07"><img src="images/ny_footer.jpg" /></div>
</div>
</body>
</html>