<?php $title='新手卡领取_49you逍遥剑官方网站'; 
$keywords="逍遥剑新手卡";
$description="49you逍遥剑新手卡"?>
<?php include('header.html'); ?>
<style>.fontred{color:red;font-weight:bold}</style>
<script language="javascript">
function getcard(){
	if($('#secode').val()!="49逍遥剑"){alert("请在\"第一步\"输入\"49逍遥剑\"");$('#secode').val("");return;}
	if($('#country').val()==0){alert("请选择服务器！");return;}
	window.open('<?=YOU_ROOT?>/get_package.html?ct='+$('#country').val());
}
</script>

<div class="main">
<div class="l">
<!--left_login start-->
<? include('lefter_login.html'); ?> 
<!--left_login end-->
<!--left_server start-->
<? include('lefter_server.html'); ?> 
<!--left_server end-->
<!--lefter_info start-->
<? include('lefter_info.html'); ?> 
<!--lefter_info end--> 
<div class="sharedspacer"></div> 
<!--lefter_mt start-->
<? include('lefter_mt.html'); ?> 
<!--lefter_mt end--> 
 </div>
 
<div class="r">
      <div class="dh">
      <div class="dhh3">游戏资料</div> 
      <div class="dhdiv">您当前的位置：<a href="index.html">山海创世录</a> &gt; 礼品卡领取</div>
    </div>
<div class="sharedspacer"></div>
<div class="contend">
<div >
    <div class="news_so" ><p><strong>第一步：</strong>输入游戏名称</p>
      <input name="input" type="text" id="secode"/>  答案：<font color="#ff3300">49逍遥剑 </font></div>
          <div class="news_so" ><p><strong>第二步：</strong>选择服务器</p>
<select name="coid" id="country">
       <option value="0" selected="selected">请选择服务器</option>
<? if(!empty($cardlist)){ 
    	foreach($cardlist as $k=>$v){?>
        <option value="<?=$v["cardtype_id"]?>"><?=$v["cardtype_name"]?></option>
<?}
}?>
      </select>
            
<input class="inp3" type="button" name="button" value="点击领取" onClick="getcard()" />
    </div>
    
    
<div class="txt2" style="margin-top:10px; margin-left:10px; " >
<p class="xsliebiao">【新手卡奖励道具】</p>    
<p class="padding10">10官票、初级福袋x1、金疮药*5、平气丸*5、1000银票x1
</p> 
<p class="xsliebiao">【使用方法】</p>    
<p class="padding10">1、新手职业达到11级脱离新手引导后可以输入激活码领取礼包
<br />
2、通过游戏主界面左侧“活动”进行领取
<br />
<img src="images/u228_original.png" width="289" height="154" /><br />
3、选择“礼包卡兑换”
<br />
<img src="images/u231_original.png" width="347" height="173" /><br />
4、输入卡号即可领取成功
<br />
<img src="images/u234_original.png" width="379" height="220" /></p> 
<p class="xsliebiao">【注意】</p>    
<p class="padding10">1、每个角色和每个激活码只能使用一次，不能重复使用。<br />
2、该活动的所有解释权归49you网页游戏平台。</p>
</div> 

</div>
</div>
  <div class="mandi">	</div> 

</div>

</div>

<? include('footer.html'); ?>
