<?php $title='逍遥剑_逍遥剑官网_49you逍遥剑_49逍遥剑|职业|加点|装备|攻略';
$keywords="逍遥剑,逍遥剑官网,49you逍遥剑,49逍遥剑,逍遥剑职业,逍遥剑技能,逍遥剑加点,逍遥剑攻略";
$description="逍遥剑,逍遥剑官网,49逍遥剑,49you逍遥剑是一款4D立体PK的东方玄幻ARPG网页游戏。49you网页游戏平台提供战士、法师、猎人各职业技能加点,装备强化,神兽坐骑,新服等攻略。"?>
<?php include('header.html'); ?>
<div class="main">
<div class="l">
<!--left_login start-->
<? include('lefter_login.html'); ?> 
<!--left_login end-->
<!--left_server start-->
<? include('lefter_server.html'); ?> 
<!--left_server end-->  

<!--lefter_info start-->
<? include('lefter_info.html'); ?> 
<!--lefter_info end--> 
<!--lefter_mt start-->
<? include('lefter_mt.html'); ?> 
<!--lefter_mt end--> 
</div>
 
<div class="r">
      <div class="dh">
      <div class="dhh3">游戏资料</div> 
      <div class="dhdiv">您当前的位置：<a href="/">逍遥剑</a> &gt; 游戏资料</div>
    </div>
<div class="sharedspacer"></div>
<div class="contend">
      <ul class="zl">
        <li><strong>【新手指南】</strong><br />
<a target="_blank" href="<?=get_newslink(2709)?>">门派介绍</a>|
<a target="_blank" href="<?=get_newslink(2717)?>">人物武功</a>|
<a target="_blank" href="<?=get_newslink(2719)?>">人物属性</a>|
<a target="_blank" href="<?=get_newslink(2720)?>">任务介绍</a>|
<a target="_blank" href="<?=get_newslink(2730)?>">侠客属性</a><br />
<a target="_blank" href="<?=get_newslink(2752)?>">联系朋友</a>|
<a target="_blank" href="<?=get_newslink(2753)?>">组队通关</a>|
<a target="_blank" href="<?=get_newslink(2754)?>">通用技能</a>|
<a target="_blank" href="<?=get_newslink(2755)?>">游戏道具</a>
</li>

 <li><strong>【系统介绍】</strong><br />
<a target="_blank" href="<?=get_newslink(2688)?>">打工系统</a>|
<a target="_blank" href="<?=get_newslink(2689)?>">副本系统</a>|
<a target="_blank" href="<?=get_newslink(2691)?>">关卡系统</a>|
<a target="_blank" href="<?=get_newslink(2715)?>">目标系统</a>|
<a target="_blank" href="<?=get_newslink(2721)?>">突飞系统</a><br />
<a target="_blank" href="<?=get_newslink(2732)?>">运镖系统</a>|
<a target="_blank" href="<?=get_newslink(2757)?>">交易系统</a>|
<a target="_blank" href="<?=get_newslink(2756)?>">生活手艺</a>|
<a target="_blank" href="vippage.html">VIP系统</a>|
<a target="_blank" href="<?=get_newslink(2758)?>">秘籍系统</a>
</li>

 <li><strong>【特色玩法】</strong><br />
<a target="_blank" href="<?=get_newslink(2687)?>">帮派战</a>|
<a target="_blank" href="<?=get_newslink(2690)?>">古代战场</a>|
<a target="_blank" href="<?=get_newslink(2692)?>">竞技场</a>|
<a target="_blank" href="<?=get_newslink(2711)?>">聚贤楼</a>|
<a target="_blank" href="<?=get_newslink(2729)?>">侠客修炼</a><br />
<a target="_blank" href="<?=get_newslink(2734)?>">装备打孔</a>|
<a target="_blank" href="<?=get_newslink(2735)?>">装备强化</a>|
<a target="_blank" href="<?=get_newslink(2736)?>">装备重铸</a>|
<a target="_blank" href="<?=get_newslink(2751)?>">江湖名人谱</a>|
<a target="_blank" href="<?=get_newslink(2722)?>">侠客武功</a>
</li>
      </ul>
    </div>
  <div class="mandi">	</div> 


</div> 

</div>
</div>

<? include('footer.html'); ?> 