<div class="ziliao">
<div class="ziliaoh3">游戏资料</div>
      <ul>
        <li><strong>新手指南</strong>
        <div>
<a target="_blank" href="<?=get_newslink(2709)?>">门派介绍</a>|<a target="_blank" href="<?=get_newslink(2717)?>">人物武功</a><br />
<a target="_blank" href="<?=get_newslink(2719)?>">人物属性</a>|<a target="_blank" href="<?=get_newslink(2720)?>">任务介绍</a><br />
<a target="_blank" href="<?=get_newslink(2730)?>">侠客属性</a>|<a target="_blank" href="<?=get_newslink(2752)?>">联系朋友</a><br />
<a target="_blank" href="<?=get_newslink(2753)?>">组队通关</a>|<a target="_blank" href="<?=get_newslink(2754)?>">通用技能</a><br />
<a target="_blank" href="<?=get_newslink(2755)?>">游戏道具</a>
</div>
        </li>
        <li><strong>系统介绍</strong>
        <div>
<a target="_blank" href="<?=get_newslink(2688)?>">打工系统</a>|<a target="_blank" href="<?=get_newslink(2689)?>">副本系统</a><br />
<a target="_blank" href="<?=get_newslink(2691)?>">关卡系统</a>|<a target="_blank" href="<?=get_newslink(2715)?>">目标系统</a><br />
<a target="_blank" href="<?=get_newslink(2721)?>">突飞系统</a>|<a target="_blank" href="<?=get_newslink(2732)?>">运镖系统</a><br />
<a target="_blank" href="<?=get_newslink(2757)?>">交易系统</a>|<a target="_blank" href="<?=get_newslink(2756)?>">生活手艺</a><br />
<a target="_blank" href="<?=get_newslink(2758)?>">秘籍系统</a>|<a target="_blank" href="vippage.html">VIP系统</a>
</div>
        </li>
        <li><strong>特色玩法</strong>
        <div>
<a target="_blank" href="<?=get_newslink(2690)?>">古代战场</a>|<a target="_blank" href="<?=get_newslink(2687)?>">帮派战</a><br />
<a target="_blank" href="<?=get_newslink(2729)?>">侠客修炼</a>|<a target="_blank" href="<?=get_newslink(2692)?>">竞技场</a><br />
<a target="_blank" href="<?=get_newslink(2734)?>">装备打孔</a>|<a target="_blank" href="<?=get_newslink(2711)?>">聚贤楼</a><br />
<a target="_blank" href="<?=get_newslink(2735)?>">装备强化</a>|<a target="_blank" href="<?=get_newslink(2736)?>">装备重铸</a><br />
<a target="_blank" href="<?=get_newslink(2722)?>">侠客武功</a>|<a target="_blank" href="<?=get_newslink(2751)?>">江湖名人谱</a></div>
        </li>
      </ul>
</div>