<?php $title="{$titleinfo}_49you逍遥剑官方网站"; 
$keywords="逍遥剑新闻公告";
$description="49you逍遥剑新闻公告"?>
<?php include('header.html'); ?>
<script type="text/javascript" src="js/js_list.js"></script>
<div class="main">
<div class="l">
<!--left_login start-->
<? include('lefter_login.html'); ?> 
<!--left_login end-->
<!--left_server start-->
<? include('lefter_server.html'); ?> 
<!--left_server end-->  
<!--lefter_info start-->
<? include('lefter_info.html'); ?> 
<!--lefter_info end--> 
<!--lefter_mt start-->
<? include('lefter_mt.html'); ?> 
<!--lefter_mt end--> 
</div>
 
<div class="r">
      <div class="dh">
      <div class="dhh3">新闻中心</div> 
      <div class="dhdiv">您当前的位置：<a href="index.html">逍遥剑</a> >> <?=$titleinfo?></div>
    </div>
<div class="sharedspacer"></div>
<div class="contend">
<?/*
<div class="pic2"><div>
		<?if($list_infocate){
         foreach($list_infocate as $k=> $v){
        if($v["cate_id"]==$cid){?>
      <a href="news.html?pid=<?=$pid?>&cid=<?=$v["cate_id"]?>" class="n1"><?=$v["cate_name"]?></a>
      		  <?}else{?>
            <a href="news.html?pid=<?=$pid?>&cid=<?=$v["cate_id"]?>" class="n2"><?=$v["cate_name"]?></a>
            <?}
         }
       }?>
    </div></div>
    */?>
<ul class="list2">
        <?if($list_news){
        	foreach($list_news as $k=> $v){?>
               <li><span class="news_more"><?=date( 'y-m-d',$v["add_time"])?></span><a href="<?=get_newslink($v["info_id"])?>" target="_blank"><?=$v["title"]?></a></li>
		<?}
        }?>
      </ul>
   <div class="page">
    <? pager_bar($pager,WEB_ROOT."/games/pager.html"); ?>
     </div>    
</div>
  <div class="mandi">	</div> 


</div> 

</div>
</div>

<? include('footer.html'); ?> 