<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>逍遥剑vip专题</title>
<meta http-equiv="pragma" content="no-cache" />
<meta name="Keywords" content=""/>
<meta name="description" content="" />
<link href="css/vipcss.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<iframe src="<?=YOU_ROOT?>/top_bar_iframe.html?url=<?=urlencode(HTTP_ROOT.$_SERVER['REQUEST_URI'])?>&name=<?=urlencode('49游戏平台逍遥剑')?>" frameborder="0" height="37px;" scrolling="no" width="100%"></iframe>
<div class="man">
<div id="page">
	<div class="nav"><img src="images/nav.jpg" alt="" border="0" usemap="#Map"/>
    	  <map name="Map" id="Map2">
	    <area shape="rect" coords="601,231,726,270" href="<?=YOU_ROOT?>/pay_type.html?gid=<?=$game_id?>" />
	    <area shape="rect" coords="606,328,711,349" href="index.html" />
        <area shape="rect" coords="452,328,557,349" href="server_list.html" />
      </map>
  </div>
	<div id="main">
		<div id="content">
			<div id="content_top"></div>
<div style="color: #A80611 !important; margin-left: 20px; margin-top:10px; width: 664px; height: 40px; line-height:18px; padding: 5px; background: none repeat scroll 0 0 #DEE0CE;">注意：不同充值方式对应的充值比例可能不同<br />
例如：网银充值1元=10黄金，手机卡充值1元=9黄金，其他卡类1元=8黄金</div>
			<div class="content">
				<div class="list">
					<div class="frame" id="v1">
						<div class="top">VIP1</div>
						<div class="con">
<p class="title">累计充值：10黄金</p>
<p class="title">对应RMB：1元</p>

<p class="title">对应功能</p>
<p>1,每天0点自动增加生命包10万，内力包5万</p>
<p>2,额外增加50次正常收益的野外打怪次数</p>
<p>3,关卡行动点可多购买5点</p>
<p>4,每日可使用10次打工</p>
<p>5,野外自动战斗次数提高5次(20+5)</p>
<p>6,竞技场可购买的次数增加3次(15+3)</p>
<p>7,可使用人物及侠客24小时训练功能</p>
<p>8,增加可购买第五个侠客训练位置</p>
						</div>
						<div class="btm"></div>
					</div>
					<div class="frame" id="v2">
						<div class="top">VIP2</div>
						<div class="con">
<p class="title">累计充值：500黄金</p>
<p class="title">对应RMB：50元</p>

<p class="title">对应功能</p>
<p>1,每天0点自动增加生命包30万，内力包15万</p>
<p>2,额外增加50次正常收益的野外打怪次数</p>
<p>3,关卡行动点可多购买5点</p>
<p>4,每日可使用12次打工</p>
<p>5,竞技场可购买的次数增加5次(15+5)</p>
<p>6,可使用人物及侠客24小时训练功能</p>
<p>7,人物及侠客训练时增加120%经验比例选项</p>
<p>8,野外自动战斗次数提高5次(20+5)</p>
<p>9,增加可购买第五个侠客训练位置</p>
						</div>
						<div class="btm"></div>
					</div>
				</div>
				<div class="list">
					<div class="frame" id="v3">
						<div class="top">VIP3</div>
						<div class="con">
<p class="title">累计充值：1000黄金</p>
<p class="title">对应RMB：100元</p>

<p class="title">对应功能</p>
<p>1,每天0点自动增加生命包50万，内力包25万</p>
<p>2,额外增加100次正常收益的野外打怪次数</p>
<p>3,关卡行动点可多购买5点</p>
<p>4,每日可使用15次打工</p>
<p>5,竞技场可购买的次数增加8次(15+8)</p>
<p>6,增加一次放大镜功能</p>
<p>7,可使用人物及侠客24小时训练功能</p>
<p>8,人物及侠客训练时增加120%经验比例选项</p>
<p>9,野外自动战斗次数提高10次(20+10)</p>
<p>10,装备强化可使用黄金直接增加成功率到100%</p>
<p>11,增加可购买第五个侠客训练位置</p>
						</div>
						<div class="btm"></div>
					</div>
					<div class="frame" id="v4">
						<div class="top">VIP4</div>
						<div class="con">
<p class="title">累计充值：2000黄金</p>
<p class="title">对应RMB：200元</p>

<p class="title">对应功能</p>
<p>1,每天0点自动增加生命包70万，内力包35万</p>
<p>2,额外增加100次正常收益的野外打怪次数</p>
<p>3,关卡行动点可多购买10点</p>
<p>4,每日可使用30次打工</p>
<p>5,竞技场可购买的次数增加12次(15+12)</p>
<p>6,增加一次放大镜功能</p>
<p>7,运镖可选择运送"稀世珍宝"</p>
<p>8,可使用人物及侠客24小时训练功能</p>
<p>9,人物及侠客训练时增加120%经验比例选项</p>
<p>10,野外自动战斗次数提高10次(20+10)</p>
<p>11,可使用黄金突飞功能</p>
<p>12,可批量使用黄金突飞功能</p>
<p>13,装备强化可使用黄金直接增加成功率到100%</p>
<p>14,增加可购买第五个侠客训练位置（第3、第4非VIP亦可购买）</p>
						</div>
						<div class="btm"></div>
					</div>
				</div>
				<div class="list">
					<div class="frame" id="v5">
						<div class="top">VIP5</div>
						<div class="con">
<p class="title">累计充值：5000黄金</p>
<p class="title">对应RMB：500元</p>

<p class="title">对应功能</p>
<p>1,每天0点自动增加生命包100万，内力包50万</p>
<p>2,额外增加200次正常收益的野外打怪次数</p>
<p>3,关卡行动点可多购买10点</p>
<p>4,每日可使用30次打工</p>
<p>5,竞技场可购买的次数增加15次(15+15)</p>
<p>6,增加一次放大镜功能</p>
<p>7,运镖可选择运送"稀世珍宝"</p>
<p>8,可使用人物及侠客24小时训练功能</p>
<p>9,人物及侠客训练时增加150%经验比例选项</p>
<p>10,野外自动战斗次数提高20次(20+20)</p>
<p>11,可使用黄金突飞功能</p>
<p>12,可批量使用黄金突飞功能</p>
<p>13,装备强化可使用黄金直接增加成功率到100%</p>
<p>14,可在秘籍功能中使用"黄金开星"功能，极大幅度提升获得高品质技能和终极技能的概率</p>
<p>15,增加可购买第五个侠客训练位置</p>
						</div>
						<div class="btm"></div>
					</div>
					<div class="frame" id="v6">
						<div class="top">VIP6</div>
						<div class="con">
<p class="title">累计充值：10000黄金</p>
<p class="title">对应RMB：1000元</p>

<p class="title">对应功能</p>
<p>1,每天0点自动增加生命包150万，内力包75万</p>
<p>2,额外增加250次正常收益的野外打怪次数</p>
<p>3,关卡行动点可多购买10点</p>
<p>4,每日可使用30次打工</p>
<p>5,竞技场可购买的次数增加15次(15+15)</p>
<p>6,增加一次放大镜功能</p>
<p>7,运镖可选择运送"稀世珍宝"</p>
<p>8,可使用人物及侠客24小时训练功能</p>
<p>9,人物及侠客训练时增加150%经验比例选项</p>
<p>10,野外自动战斗次数提高30次(20+30)</p>
<p>11,可使用黄金突飞功能</p>
<p>12,可批量使用黄金突飞功能</p>
<p>13,装备强化可使用黄金直接增加成功率到100%</p>
<p>14,可在秘籍功能中使用"黄金开星"功能，极大幅度提升获得高品质技能和终极技能的概率</p>
<p>15,增加可购买第五、第六个侠客训练位置</p>
						</div>
						<div class="btm"></div>
					</div>
				</div>
				<div class="list">
					<div class="frame" id="v7">
						<div class="top">VIP7</div>
						<div class="con">
<p class="title">累计充值：20000黄金</p>
<p class="title">对应RMB：2000元</p>

<p class="title">对应功能</p>
<p>1,每天0点自动增加生命包200万，内力包100万</p>
<p>2,额外增加300次正常收益的野外打怪次数</p>
<p>3,关卡行动点可多购买15点</p>
<p>4,每日可使用50次打工</p>
<p>5,竞技场可购买的次数增加15次(15+15)</p>
<p>6,增加一次放大镜功能</p>
<p>7,运镖可选择运送"稀世珍宝"</p>
<p>8,可使用人物及侠客24小时训练功能</p>
<p>9,人物及侠客训练时增加200%经验比例选项</p>
<p>10,野外自动战斗次数提高40次(20+40)</p>
<p>11,可使用黄金突飞功能</p>
<p>12,可批量使用黄金突飞功能</p>
<p>13,装备强化可使用黄金直接增加成功率到100%</p>
<p>14,可在秘籍功能中使用"黄金开星"功能，极大幅度提升获得高品质技能和终极技能的概率</p>
<p>15,增加可购买第五、第六个侠客训练位置</p>
						</div>
						<div class="btm"></div>
					</div>
					<div class="frame" id="v8">
						<div class="top">VIP8</div>
						<div class="con">
<p class="title">累计充值：50000黄金</p>
<p class="title">对应RMB：5000元</p>

<p class="title">对应功能</p>
<p>1,每天0点自动增加生命包300万，内力包150万</p>
<p>2,额外增加350次正常收益的野外打怪次数</p>
<p>3,关卡行动点可多购买15点</p>
<p>4,每日可使用50次打工</p>
<p>5,竞技场可购买的次数增加15次(15+15)</p>
<p>6,增加一次放大镜功能</p>
<p>7,运镖可选择运送"稀世珍宝"</p>
<p>8,可使用人物及侠客24小时训练功能</p>
<p>9,人物及侠客训练时增加200%经验比例选项</p>
<p>10,野外自动战斗次数提高50次(20+50)</p>
<p>11,可使用黄金突飞功能</p>
<p>12,可批量使用黄金突飞功能</p>
<p>13,装备强化可使用黄金直接增加成功率到100%</p>
<p>14,可在秘籍功能中使用"黄金开星"功能，极大幅度提升获得高品质技能和终极技能的概率</p>
<p>15,增加可购买第五、第六个侠客训练位置</p>
						</div>
						<div class="btm"></div>
					</div>
				</div>
				<div class="list">
					<div class="frame" id="v9">
						<div class="top">VIP9</div>
						<div class="con">
<p class="title">累计充值：100000黄金</p>
<p class="title">对应RMB：10000元</p>

<p class="title">对应功能</p>
<p>1,每天0点自动增加生命包400万，内力包200万</p>
<p>2,额外增加500次正常收益的野外打怪次数</p>
<p>3,关卡行动点可多购买15点</p>
<p>4,每日可使用100次打工</p>
<p>5,竞技场可购买的次数增加15次(15+15)</p>
<p>6,增加一次放大镜功能</p>
<p>7,运镖可选择运送"稀世珍宝"</p>
<p>8,可使用人物及侠客24小时训练功能</p>
<p>9,人物及侠客训练时增加200%经验比例选项</p>
<p>10,野外自动战斗次数提高70次(20+70)</p>
<p>11,可使用黄金突飞功能</p>
<p>12,可批量使用黄金突飞功能</p>
<p>13,装备强化可使用黄金直接增加成功率到100%</p>
<p>14,可在秘籍功能中使用"黄金开星"功能，极大幅度提升获得高品质技能和终极技能的概率</p>
<p>15,增加可购买第五、第六个侠客训练位置</p>
						</div>
						<div class="btm"></div>
					</div>
					<div class="frame" id="v10">
						<div class="top">VIP10</div>
						<div class="con">
<p class="title">累计充值：200000黄金</p>
<p class="title">对应RMB：20000元</p>

<p class="title">对应功能</p>
<p>1,每天0点自动增加生命包500万，内力包250万</p>
<p>2,额外增加500次正常收益的野外打怪次数</p>
<p>3,关卡行动点可多购买20点</p>
<p>4,每日可使用150次打工</p>
<p>5,竞技场可购买的次数增加15次(15+15)</p>
<p>6,增加一次放大镜功能</p>
<p>7,运镖可选择运送"稀世珍宝"</p>
<p>8,可使用人物及侠客24小时训练功能</p>
<p>9,人物及侠客训练时增加200%经验比例选项</p>
<p>10,野外自动战斗次数提高70次(20+70)</p>
<p>11,可使用黄金突飞功能</p>
<p>12,可批量使用黄金突飞功能</p>
<p>13,装备强化可使用黄金直接增加成功率到100%</p>
<p>14,可在秘籍功能中使用"黄金开星"功能，极大幅度提升获得高品质技能和终极技能的概率</p>
<p>15,增加可购买第五、第六个侠客训练位置</p>
						</div>
						<div class="btm"></div>
					</div>
				</div>
				<div class="list">
					<div class="frame" id="v11">
						<div class="top">VIP11</div>
						<div class="con">
<p class="title">累计充值：500000黄金</p>
<p class="title">对应RMB：50000元</p>

<p>对应功能</p>
<p>1,每天0点自动增加生命包500万，内力包250万</p>
<p>2,额外增加500次正常收益的野外打怪次数</p>
<p>3,关卡行动点可多购买20点</p>
<p>4,每日可使用200次打工</p>
<p>5,竞技场可购买的次数增加15次(15+15)</p>
<p>6,增加一次放大镜功能</p>
<p>7,运镖可选择运送"稀世珍宝"</p>
<p>8,可使用人物及侠客24小时训练功能</p>
<p>9,人物及侠客训练时增加200%经验比例选项</p>
<p>10,野外自动战斗次数提高100次(20+100)</p>
<p>11,可使用黄金突飞功能</p>
<p>12,可批量使用黄金突飞功能</p>
<p>13,装备强化可使用黄金直接增加成功率到100%</p>
<p>14,可在秘籍功能中使用"黄金开星"功能，极大幅度提升获得高品质技能和终极技能的概率</p>
<p>15,增加可购买第五、第六个侠客训练位置</p>
						</div>
						<div class="btm"></div>
					</div>
					<div class="frame" id="v12">
						<div class="top">VIP12</div>
						<div class="con">
<p class="title">累计充值：1000000黄金</p>
<p class="title">对应RMB：100000元</p>

<p class="title">对应功能</p>
<p>1,每天0点自动增加生命包500万，内力包250万</p>
<p>2,额外增加500次正常收益的野外打怪次数</p>
<p>3,关卡行动点可多购买20点</p>
<p>4,每日可使用200次打工</p>
<p>5,竞技场可购买的次数增加15次(15+15)</p>
<p>6,增加一次放大镜功能</p>
<p>7,运镖可选择运送"稀世珍宝"</p>
<p>8,可使用人物及侠客24小时训练功能</p>
<p>9,人物及侠客训练时增加200%经验比例选项</p>
<p>10,野外自动战斗次数提高200次(20+200)</p>
<p>11,可使用黄金突飞功能</p>
<p>12,可批量使用黄金突飞功能</p>
<p>13,装备强化可使用黄金直接增加成功率到100%</p>
<p>14,可在秘籍功能中使用"黄金开星"功能，极大幅度提升获得高品质技能和终极技能的概率</p>
<p>15,增加可购买第五、第六个侠客训练位置</p>
						</div>
						<div class="btm"></div>
					</div>
				</div>
				<div class="table">
				打工价格:<br/>
				<img src="images/a01.jpg" alt=""/><br/>
				侠客训练位置购买价格:<br/>
				<img src="images/a02.jpg" alt=""/><br/>
				</div>
			</div>
			<div id="content_btm"></div>
		</div>
		<div id="bottom"></div>
	</div>
</div>
</div>
</body>
</html>