<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>神仙道_神仙道仙履奇缘_神仙道仙履奇缘事件大全</title>
<meta name="keywords" content="神仙道,神仙道仙履奇缘,神仙道仙履奇缘事件大全,神仙道仙履奇缘事件,神仙道仙履奇缘选择" />
<meta name="description" content="神仙道仙履奇缘事件大全为神仙道玩家提供了最新最全的仙履奇缘事件及对应选择奖励，使用非常简单，玩家只需输入事件内容便可得到精确的选择及对应奖励，让玩家最快捷地得到最合适的神仙道仙履奇缘！" />
<link href="css/cp.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/basic.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jscontrol.js"></script>
</head>
<body>
<div id="topbg">
<div class="top">
<div class="sosuo"><input id="xlname" class="texta" type="text" value="请在这里输入事件内容或选择" style="color: gray;"  />
<input class="butt" type="button" onclick="txtclean()" value="清空重问"/>
 </div>
</div>

<div class="main">
<div id="xldata" style="height:360px">
<table width="100%" height="100%">
<tr>
<td align="center" valign="middle"><img src="images/loading.gif"/></td>
</tr>
</table>
</div>
  <div class="page" id="xlpage"><a href="#">首页</a><strong>1</strong><a href="###">下一页</a><a href="###">末页</a></div>
  <div class="dip">
    <div style="float:left;"><a href="http://sxd.49you.com/" target="_blank"><img src="images/guanw.jpg" width="248" height="58" /></a></div>
  <div class="anniu">
  <a href="http://www.49you.com/reg_4_4819031.html" target="_blank" >进入游戏</a>
  <a href="http://sxd.49you.com/server_list.html" target="_blank">最新开服</a>
  <a href="http://sxd.49you.com/news.html?pid=128&cid=131" target="_blank">游戏攻略</a>
  <a href="http://sxd.49you.com/news.html?pid=122&cid=123" target="_blank">最新资讯</a></div>
  </div>
  
</div>
<div class="sharedspacer5"></div>
<div class="bom"></div>
</div>
<script src="http://app.baidu.com/static/appstore/monitor.st"></script>
</body>
</html>
