<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>九天仙梦-2012春节专题</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<style>
.nav li H2 {
	OVERFLOW: hidden; TEXT-INDENT: -9999px; HEIGHT: 43px;
}

.nav ul{ margin:0 auto;}
.nav ul LI { }
	
.nav LI h2{
display:none;}

.nav LI table{ }
</style>
<body>

<div class="main">

<div class="wipper1">
  <img src="images/index_02.jpg" border="0" usemap="#Map"/>
  <map name="Map" id="Map">
  <area shape="rect" coords="708,11,771,33" href="http://www.49you.com/reg.html" /><area shape="rect" coords="636,11,699,33" href="http://jtxm.49you.com" /></map>
</div>
<div class="wipper2">

<script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','1004','height','348','src','images/bg','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/bg' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="1004" height="348">
    <param name="movie" value="images/bg.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <embed src="images/bg.swf" width="1004" height="348" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
  </object></noscript>


</div>
<div class="wipper3"></div>

<div class="wipper4">

<div class="nav">
<ul>
  <LI>
  <H2>喜迎春，疯狂大礼乐翻天</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A  title="喜迎春，疯狂大礼乐翻天"  class=but_01 buta1 href="index.html">喜迎春，疯狂大礼乐翻天</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  

    <LI>
  <H2>新春红包人人拿</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="新春红包人人拿" class=but_02 href="index01.html">新春红包人人拿</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>仙梦天天送好礼</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="仙梦天天送好礼" class=but_03 href="index02.html">仙梦天天送好礼</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
    <LI>
  <H2>神龙临九天</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="神龙临九天" class=but_04 href="index03.html">神龙临九天</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
      <LI>
  <H2>瑞兽报丰年</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="瑞兽报丰年" class=but_05 href="index04.html">瑞兽报丰年</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>新春特价折折折</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="新春特价折折折" class=but_06 href="index05.html">新春特价折折折</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
    <LI>
  <H2>龙年喜换换</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="龙年喜换换" class=but_07 href="index06.html">龙年喜换换</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
      <LI>
  <H2>寻找最强天赋</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="寻找最强天赋" class=but_c8 href="index07.html">寻找最强天赋</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  </ul>
 </div>




<div class="content">
<div class="c1"></div>

<div class="c2">
<h1>◆寻找最强天赋</h1>

<div class="nr">

<strong>【活动时间】：</strong>2012年01月18日12:00:00——2012年1月29日24:00:00<br>
<strong>【活动对象】：</strong>全服玩家<br>
<strong>【活动内容】：</strong><br>
　　你的宠物有强大的天赋技能么？活动期间只要把你的宠物天赋技能截图发到官方论坛参与比拼，天赋技能最高级的玩家即可获得“魂玉•无极”！<br>
<strong class="red1">宠物天赋技能最高级：</strong><br>
奖励：“魂玉•无极”*1（必需十一级或以上天赋，否则奖励“魂玉•黄龙”*1）<br>
<strong class="red1">宠物天赋技能等级第2-5名：</strong><br>
奖励：“魂玉•黄龙”*1（必需十级或以上天赋，否则奖励“魂玉•无相”*1）<br>
<strong class="red1">其他参与宠物天赋的玩家达到九级或以上天赋：</strong><br>
奖励：“魂玉•无相”*1<br>
<br>
<strong class="red1">魂玉展示：</strong><br>

<div align="center"><img width="488" height="172" src="images/index07_clip_image002.gif"  border="0"/></div>

<br>
<strong>【活动方法】：</strong><br>
　　玩家在活动时间内，将自己的宠物天赋技能，按指定格式截图，并发布到官方论坛指定贴子。（帖子链接）<br>
【参与回帖格式】<br>
所在服 ：<br>
角色名 ：<br>
截  图 ：（把角色名及宠物天赋技能等级（下图红框处）一起截进去的图才判定为有效的图）<br>

<div align="center"><img width="554" height="496" src="images/index07_clip_image002_0000.gif"  border="0"/></div>
<br>



注意事项：<br>
1、玩家所发截图必需真实，如有虚假将取消玩家本次活动参与资格，情节严重进行永久封号处理；<br>
2、<span class="red1">活动名次按平台所有服所有玩家统计，天赋等级相同的奖励给发贴时间更早的玩家，发贴时间必需在活动时间内才有效;<br>
3、如玩家一个宠物多次发贴，则以最高天赋的贴子的天赋等级及时间为准；<br>
4、活动以单一宠物计算</span>，如玩家有几只宠物达到要求均可获得相应奖励；<br>
5、<span class="red1">所有发贴玩家在奖励未发放前务必保留该天赋</span>，如GM审核天赋时发现宠物当前天赋与发贴天赋不一致，则视为虚假回贴并取消该帖子参与资格；<br>
6、礼品均为绑定，在活动结束后5个工作日内以邮件方式发放；<br>
7、一切活动内容以游戏内为准，九天仙梦运营团队拥有变更、修正活动内容之结果与权力。


</div>
</div>
</div>

</div>

<div class="c3"></div>
</div>

<div class="foot">
<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br> 
关于本站 | 免责声明 | 客服中心 | 联系我们</p>
</div>
</body>
</html>
