<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>九天仙梦-2012春节专题</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<style>
.nav li H2 {
	OVERFLOW: hidden; TEXT-INDENT: -9999px; HEIGHT: 43px;
}

.nav ul{ margin:0 auto;}
.nav ul LI { }
	
.nav LI h2{
display:none;}

.nav LI table{ }
</style>
<body>

<div class="main">

<div class="wipper1">
  <img src="images/index_02.jpg" border="0" usemap="#Map"/>
  <map name="Map" id="Map">
  <area shape="rect" coords="708,11,771,33" href="http://www.49you.com/reg.html" /><area shape="rect" coords="636,11,699,33" href="http://jtxm.49you.com" /></map>
</div>
<div class="wipper2">

<script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','1004','height','348','src','images/bg','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/bg' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="1004" height="348">
    <param name="movie" value="images/bg.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <embed src="images/bg.swf" width="1004" height="348" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
  </object></noscript>


</div>
<div class="wipper3"></div>

<div class="wipper4">

<div class="nav">
<ul>
  <LI>
  <H2>喜迎春，疯狂大礼乐翻天</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A  title="喜迎春，疯狂大礼乐翻天"  class=but_01 buta1 href="index.html">喜迎春，疯狂大礼乐翻天</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  

    <LI>
  <H2>新春红包人人拿</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="新春红包人人拿" class=but_02 href="index01.html">新春红包人人拿</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>仙梦天天送好礼</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="仙梦天天送好礼" class=but_c3 href="index02.html">仙梦天天送好礼</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
    <LI>
  <H2>神龙临九天</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="神龙临九天" class=but_04 href="index03.html">神龙临九天</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
      <LI>
  <H2>瑞兽报丰年</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="瑞兽报丰年" class=but_05 href="index04.html">瑞兽报丰年</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
  <LI>
  <H2>新春特价折折折</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="新春特价折折折" class=but_06 href="index05.html">新春特价折折折</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
    <LI>
  <H2>龙年喜换换</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="龙年喜换换" class=but_07 href="index06.html">龙年喜换换</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  
  
      <LI>
  <H2>寻找最强天赋</H2>
  
  <TABLE cellSpacing=0 cellPadding=0 width=0 border=0>
    <TBODY>
    <TR>
      <TD><A title="寻找最强天赋" class=but_08 href="index07.html">寻找最强天赋</A></TD>
   </TR>
    </TBODY></TABLE>
  </LI>
  </ul>
 </div>




<div class="content">
<div class="c1"></div>

<div class="c2">
<h1>◆仙梦天天送好礼</h1>

<div class="nr" style="height:550px">


<strong>【活动时间】：</strong>2012年01月18日12:00——2012年1月29日24:00:00<br>
<strong>【活动对象】：</strong>全服玩家<br>
<strong>【活动内容】：</strong><br>
每天累计在线30分钟即可获得<span class="red1">“新春美食盒”</span>*1<br>
每天累计在线60分钟可再获得<span class="red1">“新春美食盒”</span>*1<br>
每天累计在线120分钟可再获得<span class="red1">“新春美食盒”</span>*1<br>
每天累计在线180分钟可再获得<span class="red1">“新春美食盒”</span>*1、<span class="red1">“龙年幸运券”</span>*1<br>
新春美食盒（绑定）：双击使用可能获得各类“新春美食”（数量不定哦！）<br>
龙年幸运券（绑定）：参与仙梦台历抽奖的道具！<br>

<span class="red1">各类新春美食：可用于活动兑换<br>
兑换地址：右上角的【活动】——>兑换</span><br><br>
注意事项：<br>
1、玩家当天在线总时长即为累计在线时间（下线不清空当天在线时间），每天24点清空当天累计时间，第二天重新进行累计。<br>
2、一切活动内容以游戏内为准，九天仙梦运营团队拥有变更、修正活动内容之结果与权力。<br>
</div>
</div>
</div>

</div>

<div class="c3"></div>
</div>

<div class="foot">
<p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活<br> 
关于本站 | 免责声明 | 客服中心 | 联系我们</p>
</div>
</body>
</html>
