<?php $title='游戏资料_49you凡人修真2官方网站'; 
$keywords="凡人修真2游戏资料";
$description="49you凡人修真2游戏资料"?>
<?php include('header.html'); ?>
<!--main -->
<div id="main">
 <!--content -->
 <div class="content">
	 <!--left -->
<div class="left">
<!--left_login start-->
<? include('lefter_login.html'); ?> 
<!--left_login end-->
<!--server -->
<? include('lefter_server.html'); ?> 
<!--server end -->
<!--info -->
<? include('lefter_info.html'); ?> 
<!--info end -->
<!-----kefu----->
<? include('lefter_kf.html'); ?> 
<!--kefu end -->
	 </div>
	 <!--left end -->
	 <!--right -->
	 <div class="right">
     <!--gg -->
<? include('lefter_gg.html'); ?> 
<!--gg end -->
		<!--newslist -->
        <div id="newslist">
		  <div class="newslist-top"><span style="margin-left:20px;">游戏资料</span></div>
          <div id="newslist-content" style="text-align:center;">
            <p><img src="images/neiye1_07.png"></p><br/>
			<div class="p-content">
			   <ul>
				 <li style="border:none"><a href="<?=get_newslink(3848)?>">打坐系统</a>|<a href="<?=get_newslink(3850)?>">好友系统</a>|<a href="<?=get_newslink(3851)?>">好友祝福</a>|<a href="<?=get_newslink(3852)?>">基本操作</a>|<a href="<?=get_newslink(3853)?>">离线经验</a>|<a href="<?=get_newslink(3854)?>">人物属性</a>|<a href="<?=get_newslink(3855)?>">如何聊天</a>|<a href="<?=get_newslink(3856)?>">组队系统</a></li>
				 <li style="border:none"><a href="<?=get_newslink(3857)?>">双修系统</a>|<a href="<?=get_newslink(3858)?>">目标系统</a>|<a href="<?=get_newslink(3859)?>">职业介绍</a>|<a href="<?=get_newslink(3860)?>">自动打怪</a>|<a href="<?=get_newslink(3861)?>">自动寻路</a></li>			
			   </ul>
			</div><br/><br/><br/>
            <p><img src="images/neiye1_15.png"></p><br/>
			<div class="p-content">
			   <ul>
				 <li style="border:none"><a href="<?=get_newslink(3862)?>">VIP系统</a>|<a href="<?=get_newslink(3863)?>">称号系统</a>|<a href="<?=get_newslink(3864)?>">宠物打造</a>|<a href="<?=get_newslink(3866)?>">灵宠技能</a>|<a href="<?=get_newslink(3867)?>">交易系统</a>|<a href="<?=get_newslink(3868)?>">经脉系统</a>|<a href="<?=get_newslink(3869)?>">炼化系统</a>|<a href="<?=get_newslink(3870)?>">灵宠融合</a></li>
				 <li style="border:none"><a href="<?=get_newslink(3877)?>">强化系统</a>|<a href="<?=get_newslink(3879)?>">仙盟系统</a>|<a href="<?=get_newslink(3881)?>">鲜花系统</a>|<a href="<?=get_newslink(3882)?>">邮件系统</a>|<a href="<?=get_newslink(3883)?>">装备融合</a>|<a href="<?=get_newslink(3886)?>">装备洗练</a>|<a href="<?=get_newslink(3887)?>">坐骑系统</a></li>			
			   </ul>
			</div>			
			<br/><br/><br/>
            <p><img src="images/neiye1_18.png"></p><br/>
			<div class="p-content">
			   <ul>
				 <li style="border:none"><a href="<?=get_newslink(3888)?>">百炼成仙</a>|<a href="<?=get_newslink(3889)?>">宝石合成</a>|<a href="<?=get_newslink(3890)?>">宠物岛</a>|<a href="<?=get_newslink(3891)?>">钓鱼烤鱼</a>|<a href="<?=get_newslink(3896)?>">仙盟仓库</a>|<a href="<?=get_newslink(3897)?>">仙盟商店</a>|<a href="<?=get_newslink(3898)?>">镶嵌宝石</a>|<a href="<?=get_newslink(3878)?>">神秘商店</a></li>
			   </ul>
			</div>
			</div>
		  <div class="newslist-footer"><img src="images/index2_82.png"></div>
        </div>
	 </div><!--right end -->
	 <div class="clear"></div>
 </div><!--content end -->
</div><!--main end -->
<? include('footer.html'); ?> 
