<?php $title='凡人修真2|凡人修真2官网|49you凡人修真2|新手卡|职业|跑商|宠物|攻略';
$keywords="凡人修真2,凡人修真2官网,49you凡人修真2,凡人修真2新手卡,凡人修真2职业,凡人修真2宠物,凡人修真2攻略";
$description="凡人修真2,凡人修真2官网,49you凡人修真2是一款画面精致唯美的即时战斗大型网页游戏。49you凡人修真2官网提供凡人修真2新手卡礼包领取、各职业玩法、宠物和跑商攻略等，以及最新开服、火爆活动等资讯。"?>
<?php include('header.html'); ?>
<!--main -->
<div id="main">
 <!--content -->
 <div class="content">
	 <!--left -->
	 <div class="left">
<!--left_login start-->
<? include('lefter_login.html'); ?> 
<!--left_login end-->
<!--server -->
<? include('lefter_server.html'); ?> 
<!--server end -->
<!-----kefu----->
<? include('lefter_kf.html'); ?> 
<!--kefu end -->
<!-----jieshao----->
<? include('lefter_yx.html'); ?> 
<!--jieshao end -->
	 </div>
     <!--left end -->
	 <!--right -->
	 <div class="right">
     <!--gg -->
<? include('lefter_gg.html'); ?> 
<!--gg end -->
	   <!--anniu -->
	   <div class="anniu">
	     <p style="padding-bottom:6px;"><a href="cardlist.html"><img src="images/01.jpg"></a>
		 <a href="<?=get_newslink(3950)?>"><img src="images/02.jpg"></a>
		 <a href="<?=get_newslink(3862)?>"><img src="images/03.jpg"></a>
		 <a href="<?=get_newslink(3949)?>"><img src="images/04.jpg"></a></p>
		 <p><a href="<?=get_newslink(3952)?>"><img src="images/05.jpg"></a>
		 <a href="<?=get_newslink(3909)?>"><img src="images/06.jpg"></a>
		 <a href="<?=get_newslink(3951)?>"><img src="images/07.jpg"></a>
		 <a href="<?=get_newslink(3887)?>"><img src="images/08.jpg"></a></p>
	   </div><!--anniu -->
   <script type="text/javascript">
	var morelinks = Array();
	morelinks[0]="news.html?cid=<?=$ids['gn_rd']?>";
	morelinks[1]="news.html?cid=<?=$ids['gn_xw']?>";
	morelinks[2]="news.html?cid=<?=$ids['gn_hd']?>";
	</script>
		<script type="text/javascript" src="js/changetab.js"></script>
		<div class="h-17173">
					<div class="tabmenu">
                          <ul>
                             <li onmouseover="tabChange(this,'tabcontent')" class="cli">热点<img src="images/index2_44.png" style="display: block; float: right;"></li>
                             <li onmouseover="tabChange(this,'tabcontent')">新闻<img src="images/index2_44.png" style="display: block; float: right;"></li>
							  <li onmouseover="tabChange(this,'tabcontent')">活动<img src="images/index2_44.png" style="display: block; float: right;"></li>
							  <li id="news_more" class="tabmenu_more"><a href="news.html?cid=<?=$ids['gn_rd']?>" target="_blank">更多</a></li>
                          </ul>
          </div>

                     <div id="tabcontent">
                          <ul name="tabul">
                      <?if($rs_news){
                        foreach($rs_news as $k=> $v){
                        if($v["cate_id"]=="1" || $v["cate_id"]=="2"){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                       ?>
                    <li class="<?=$cls?>" ><div class="index_listtitle">[<?if($v["cate_id"]=="1"){?><a href="news.html?cid=<?=$ids['gn_xw']?>
" target="_blank">新闻</a><?}else{?><a href="news.html?cid=<?=$ids['gn_hd']?>" target="_blank">活动</a><?}?>]<a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"  target="_blank"><?=$v["subtitle"]?></a></div><span class="index_listspan"><?=date('m-d',$v["add_time"])?></span></li>
                      <?}
                        }
                      }?>
                              </ul>
                           <ul class="hidden">
                      <?if($rs_news){
                        foreach($rs_news as $k=> $v){
                        if($v["cate_id"]==$ids["gn_xw"]){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
                    <li class="<?=$cls?>" ><div class="index_listtitle">[<a href="news.html?cid=<?=$ids['gn_xw']?>" target="_blank">新闻</a>]<a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>" target="_blank"><?=$v["subtitle"]?></a></div><span class="index_listspan"><?=date('m-d',$v["add_time"])?></span></li>
                      <?}
                        }
                      }?>
                      </ul>
                           <ul class="hidden">
                      <?if($rs_news){
                        foreach($rs_news as $k=> $v){
                        if($v["cate_id"]==$ids["gn_hd"]){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
                    <li class="<?=$cls?>"><div class="index_listtitle">[<a href="news.html?cid=<?=$ids['gn_hd']?>" target="_blank">活动</a>]<a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>" target="_blank"><?=$v["subtitle"]?></a></div><span class="index_listspan"><?=date('m-d',$v["add_time"])?></span></li>
                      <?}
                        }
                      }?>
				</ul>
                   </div>
		</div>
		<!--yxgl-->
		<div class="yxgl">
		  <div class="yxgl-top">
          <div><span class="tips">游戏攻略</span><span class="more"><a href="news.html?cid=<?=$ids['gamegl']?>">更多</a></span></div>
          </div>
		  <div class="yxgl-content">
			  <ul>
                      <?if($rs_gamegs){
                        foreach($rs_gamegs as $k=> $v){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
                        
                    <li class="<?=$cls?>" >
                    <div class="index_listtitle"><a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>" target="_blank"><?=$v["subtitle"]?></a></div><span class="index_listspan"><?=date('m-d',$v["add_time"])?></span></li>
                      <?}
                      }?>
			  </ul>
		  </div>
		</div><!--yxgl end-->
		<div class="clear"></div>
		<!--infro -->
        <div id="infro">
		  <div class="infro-top"><span style="margin-left:20px; float:left;">游戏资料</span><span class="more"><a href="gamedata.html" style="color:#fff;">更多</a></span></div>
          <div id="infro-content">
            <div class="infro-content-1">
              <div class="infro-content-1-1">&nbsp;&nbsp;</div>
              <div class="infro-content-1-2">&nbsp;&nbsp;</div>
              <div class="infro-content-1-3">&nbsp;&nbsp;</div>
            </div>
            <div class="infro-content-2">
              <div class="infro-content-2-1">
                <p><a href="<?=get_newslink(3848)?>">打坐系统</a>|<a href="<?=get_newslink(3850)?>">好友系统</a>|<a href="<?=get_newslink(3851)?>">好友祝福</a>|<a href="<?=get_newslink(3852)?>">基本操作</a>|<a href="<?=get_newslink(3853)?>">离线经验</a>|<a href="<?=get_newslink(3854)?>">人物属性</a>|<a href="<?=get_newslink(3855)?>">如何聊天</a>|<a href="<?=get_newslink(3856)?>">组队系统</a></p>
                <p><a href="<?=get_newslink(3857)?>">双修系统</a>|<a href="<?=get_newslink(3858)?>">目标系统</a>|<a href="<?=get_newslink(3859)?>">职业介绍</a>|<a href="<?=get_newslink(3860)?>">自动打怪</a>|<a href="<?=get_newslink(3861)?>">自动寻路</a></p>
              </div>
              <div class="infro-content-2-1">
                <p><a href="<?=get_newslink(3862)?>">VIP系统</a>|<a href="<?=get_newslink(3863)?>">称号系统</a>|<a href="<?=get_newslink(3864)?>">宠物打造</a>|<a href="<?=get_newslink(3866)?>">灵宠技能</a>|<a href="<?=get_newslink(3867)?>">交易系统</a>|<a href="<?=get_newslink(3868)?>">经脉系统</a>|<a href="<?=get_newslink(3869)?>">炼化系统</a>|<a href="<?=get_newslink(3870)?>">灵宠融合</a></p>
                <p><a href="<?=get_newslink(3877)?>">强化系统</a>|<a href="<?=get_newslink(3879)?>">仙盟系统</a>|<a href="<?=get_newslink(3881)?>">鲜花系统</a>|<a href="<?=get_newslink(3882)?>">邮件系统</a>|<a href="<?=get_newslink(3883)?>">装备融合</a>|<a href="<?=get_newslink(3886)?>">装备洗练</a>|<a href="<?=get_newslink(3887)?>">坐骑系统</a>|<a href="<?=get_newslink(4501)?>">装备品质</a></p>
                <p><a href="<?=get_newslink(4500)?>">连续登录奖励</a>|<a href="<?=get_newslink(4502)?>">装备强化</a>|<a href="<?=get_newslink(4503)?>">亲密度</a></p>              </div>
              <div class="infro-content-2-1">
                <p><a href="<?=get_newslink(3888)?>">百炼成仙</a>|<a href="<?=get_newslink(3889)?>">宝石合成</a>|<a href="<?=get_newslink(3890)?>">宠物岛</a>|<a href="<?=get_newslink(3891)?>">钓鱼烤鱼</a>|<a href="<?=get_newslink(3896)?>">仙盟仓库</a>|<a href="<?=get_newslink(3897)?>">仙盟商店</a>|<a href="<?=get_newslink(3898)?>">镶嵌宝石</a>|<a href="<?=get_newslink(3878)?>">神秘商店</a></p>
                <p><a href="<?=get_newslink(4498)?>">聚宝盆</a></p>              </div>
            </div>
          </div>
		  <div class="infro-footer"><img src="images/index2_82.png"></div>
        </div>
		<!--yxgl-->
		<div class="yxgl" style="float:left; margin-left:0;">
		  <div class="yxgl-top">
          <div><span class="tips">日常活动</span><span class="more"><a href="news.html?cid=<?=$ids['gamerchd']?>">更多</a></span></div>
          </div>
		  <div class="yxgl-content">
			  <ul>
                      <?if($rs_gamexq){
                        foreach($rs_gamexq as $k=> $v){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
                    <li class="<?=$cls?>" ><a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>" class="index_listtitle" target="_blank"><?=$v["subtitle"]?></a><span class="index_listspan"><?=date('m-d',$v["add_time"])?></span></li>
                      <?}
                      }?>
			  </ul>
		  </div>
		</div><!--yxgl end-->
			<!--yxgl-->
		<div class="yxgl">
		  <div class="yxgl-top">
          <div><span class="tips">常见问题</span><span class="more"><a href="news.html?cid=<?=$ids['gamecjwt']?>">更多</a></span></div>
          </div>
		  <div class="yxgl-content">
			  <ul>
                      <?if($rs_gamequ){
                        foreach($rs_gamequ as $k=> $v){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
                    <li class="<?=$cls?>" ><a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>" class="index_listtitle" target="_blank"><?=$v["subtitle"]?></a><span class="index_listspan"><?=date('m-d',$v["add_time"])?></span></li>
                      <?}
                      }?>
			  </ul>
		  </div>
		</div><!--yxgl end-->
		<div class="clear"></div>
		<!--hzmt-->
<? include('lefter_mt.html'); ?> 
        <!--hzmt end-->
	 </div><!--right end -->
	 <div class="clear"></div>
 </div><!--content end -->
</div><!--main end -->
<? include('footer.html'); ?> 
