	   <!-----新手指南----->
	   <div class="xinshouzhinan">
	     <div class="xinshouzhinan-header">新手指南</div>
		 <div class="xinshouzhinan-content">
           <ul>
		     <li><a href="<?=get_newslink(3848)?>">打坐系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3850)?>">好友系统</a></li>
			 <li><a href="<?=get_newslink(3851)?>">好友祝福</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3852)?>">基本操作</a></li>
			 <li><a href="<?=get_newslink(3853)?>">离线经验</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3854)?>">人物属性</a></li>
			 <li><a href="<?=get_newslink(3855)?>">如何聊天</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3856)?>">组队系统</a></li>
			 <li><a href="<?=get_newslink(3857)?>">双修系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3858)?>">目标系统</a></li>
             <li><a href="<?=get_newslink(3859)?>">职业介绍</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3860)?>">自动打怪</a></li>
		   </ul>
		 </div>
	   </div><!--新手指南 end -->
	   	   <!-----系统介绍----->
	   <div class="xitongjieshao">
	     <div class="xitongjieshao-header">系统介绍</div>
		 <div class="xitongjieshao-content">
           <ul>
		     <li><a href="<?=get_newslink(3862)?>">VIP系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3863)?>">称号系统</a></li>
			 <li><a href="<?=get_newslink(3864)?>">宠物打造</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3866)?>">灵宠技能</a></li>
			 <li><a href="<?=get_newslink(3867)?>">交易系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3868)?>">经脉系统</a></li>
			 <li><a href="<?=get_newslink(3869)?>">炼化系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3870)?>">灵宠融合</a></li>
			 <li><a href="<?=get_newslink(3877)?>">强化系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3879)?>">仙盟系统</a></li>
			 <li><a href="<?=get_newslink(3881)?>">鲜花系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3882)?>">邮件系统</a></li>
		   </ul>		 </div>
	   </div><!--系统介绍 end -->
       	   <!-----特色玩法----->
	   <div class="tesewanfa">
	     <div class="tesewanfa-header">特色玩法</div>
		 <div class="tesewanfa-content">
           <ul>
		     <li><a href="<?=get_newslink(3888)?>">百炼成仙</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3889)?>">宝石合成</a></li>
			 <li><a href="<?=get_newslink(3890)?>">宠物岛</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3891)?>">钓鱼烤鱼</a></li>
			 <li><a href="<?=get_newslink(3896)?>">仙盟仓库</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3897)?>">仙盟商店</a></li>
			 <li><a href="<?=get_newslink(3898)?>">镶嵌宝石</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3878)?>">神秘商店</a></li>
		   </ul>		 </div>
	   </div><!--特色玩法 end -->