<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>神仙道_神仙道伙伴大全</title>
<meta name="keywords" content="神仙道,神仙道伙伴,神仙道伙伴大全" />
<meta name="descrition" content="神仙道伙伴大全为玩家提供最新最完整的神仙道伙伴资料！是一款通过简单操作即可查询伙伴资料的神仙道辅助工具。" />

<link href="css/cp.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/basic.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jscontrol.js"></script>
</head>

<body>
<div id="topbg">
<div class="top">
<div class="sharedspacer6"></div>
<div class="daohang" id="div_type"><strong>不 限</strong><a href="#">剑 灵</a><a href="#">将 星</a><a href="#">武 圣</a><a href="#">飞 羽</a><a href="#">术 士</a><a href="#">神秘伙伴</a></div>
<div class="sharedspacer6"></div>
<div class="daohang" id="div_sw"><strong>不 限</strong><a href="#">0</a><a href="#">1000</a><a href="#">5000</a><a href="#">20000</a><a href="#">60000</a><a href="#">100000</a>
<a href="#" >150000</a><a href="#">200000</a><a href="#">260000</a><a href="#">330000</a><a href="#">400000</a></div>
<div class="sharedspacer6"></div>
<div class="daohang" id="div_act"><strong>不 限</strong><a href="#">全 体</a><a href="#">纵 向</a><a href="#">横 向</a><a href="#">单 体</a></div>
</div>

<div class="main">
  <div class="person_list" id="xldata">
  </div>
    <div class="main-zw" id="xlhbdata" style="display:none;">
    </div>
</div>

  <div class="dip">
    <div style="float:left; margin-left:8px;"><img src="css/img/guanw.jpg" width="202" height="58" /></div>
  <div class="anniu">
  <a href="http://www.49you.com/reg_4_2674112.html" target="_blank">进入游戏</a>
  <a href="http://sxd.49you.com/server_list.html" target="_blank">最新开服</a>
  <a href="http://sxd.49you.com/news.html?pid=122&cid=123" target="_blank">最新资讯</a>
  <a href="http://sxd.49you.com/news.html?pid=128&cid=131" target="_blank">游戏攻略</a>
  <a href="http://sxd.49you.com/lm.html" target="_blank">猎命摸拟器</a>
  <a href="http://sxd.49you.com/news_2099.html" target="_blank">辅助工具</a>
  
  </div>
  </div>
</div>
<script src="http://app.baidu.com/static/appstore/monitor.st"></script>
</body>
</html>
