html,body,h1,h2,h3,ul,p {margin:0;padding:0;}
body {font-size:12px;color: #CCE2E3;}
.clear{clear:both;font:0px/0px sans-serif;display:block;}

#layout{ width:540px; margin:0px auto;}

#top{ width:540px; height:152px; background:url(../images/bg1.jpg) no-repeat; float:left;}
#ser{ width:380px; height:29px; background: url(../images/yxwz_04.jpg) no-repeat; no-repeat; float:left; margin-top:85px; margin-left:68px;_margin-left:34px;}
.input-test{ width:240px; height:20px; float:left; margin-left:35px;  border:none; margin-top:3px; line-height:20px; background:#FFFFFF;}
.ser-button{ width:88px; height:29px; float:right; background: url(../images/yxwz_05.jpg) no-repeat; border:none; text-align:center; font-size:14px; font-weight:bold; line-height:30px; color:#820202;cursor:pointer;}

#libao{ width:305px; height:23px; float:left; margin-top:11px;}
#libao2{ width:59px; height:23px; float:right; background: url(../images/yxwz_10.gif) no-repeat;text-align:center;}
#libao2 a{ color:#FFFFFF; text-decoration:none; line-height:26px; font-weight:bold;}
#libao2 a:hover{text-decoration: underline;}

#content{ width:540px; height:291px; float:left; background:url(../images/bg2.gif) no-repeat;}
#content2{ width:507px; height:249px; margin:43px auto 0px auto;}
#content2-left{ width:117px; height:249px; float:left;}
#content2-left ul{ margin:0; padding:0;}
#content2-left ul li{ list-style:none; text-align:center; width:117px; height:47px; color:#0386B7; font-size:14px; font-weight:bold; line-height:45px; float:left; overflow:hidden; margin-top:3px;}

#content2-right{ width:385px; height:249px; float:right;}
#content2-right ul{ margin:0; padding:0;}
#content2-right ul li{ list-style:none; width:385px; height:24px; float:left; overflow:hidden; margin-top:1px;}
.chose{ width:190px; height:24px; float:left; text-align:center; line-height:25px; color:#000000; overflow:hidden;}
.chose2{ width:190px; height:24px; float:right; text-align:center; line-height:25px; color:#000000;overflow:hidden;}
.chose3{ width:190px; height:24px; float:left; text-align:center; line-height:25px; color:#FF5F08; overflow:hidden;}
.chose4{ width:190px; height:24px; float:right; text-align:center; line-height:25px; color:#FF5F08; overflow:hidden;}

.page {
	color: #9B8415;
	line-height: 20px;
	padding: 10px 0;
	text-align: center;
}
.page a {background: #0386B7;  border: 1px solid #000000;  color: #FFFFFF; margin-right: 8px;  padding: 0 6px;}
.page strong{background: #F60;  border: 1px solid #000000;  color: #FFFFFF; margin-right: 8px;  padding: 0 6px;}


#content3{ width:320px; height:17px; margin:9px auto 0px auto;}
#content3 ul{ margin:0; padding:0;}
#content3 ul li{ list-style:none; float:left; margin-left:8px;}
.page1 a{ width:45px; height:15px; float:left; background:#0583B2; border:solid 1px #035B7C; text-align:center; color:#FFFFFF; line-height:18px; text-decoration:none;}
.page2 a{ width:18px; height:15px; float:left; background:#0583B2; border:solid 1px #035B7C; text-align:center; color:#FFFFFF; line-height:18px;text-decoration:none;}
.page1 a:hover, .page2 a:hover{ background:#FF8808; border:solid 1px #035B7C;}


.title{ width:370px; height:25px; line-height:29px;_line-height:24px;float:left; text-align:left; color:#FFFFFF; overflow:hidden;}
.title a{ color:#FFFFFF; text-decoration:none;}
.title a:hover{ text-decoration:underline;color:#FF5F08;}
.answer{ width:120px; height:25px; float:right; text-align:center;line-height:29px;_line-height:24px; color:#FF5F08; overflow:hidden;}

#footer{ width:540px; height:85px; float:left; background:url(../images/bg3.gif) no-repeat;}
#footer2{ width:511px; height:70px; margin:0px auto;}
#footer-img{ width:206px; height:70px; float:left;}
#footer-buttom{ width:282px;height:70px; float:right;}
#footer-buttom ul{ padding:0px; margin:0px;_margin-right:-14px}
#footer-buttom ul li{ width:80px; height:24px; float:left; margin-top:8px;_margin-top:5px; margin-right:14px;list-style:none; text-align:center;}
#footer-buttom ul li a{ width:80px; height:24px; background: url(../images/yxwz_17.jpg) no-repeat;line-height:27px; color:#FFFFFF; text-decoration:none; display:block;}
#footer-buttom ul li a:hover{ background: url(../images/yxwz_17_2.jpg) no-repeat;text-decoration:underline;}