@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	color: #0B4764;
	font-family:"微软雅黑",Helvetica, sans-serif;
}


.sharedspacer10 {  height:10px; *height:10px; _height:10px; line-height:10px; clear:both; }
/*tou */
.man_top{
	background: url(../images/bg_x.png) repeat-x;
	color:#1476AB;
	width:100%;
	height:366px;
}
#header{margin:0 auto;width:909px;height:52px;padding-top:2px;}
#header #guild{float:right;width:400px;height:22px;text-align:right;padding:20px 10px 0 0;}
#header #guild a{ padding:0 8px}

#navs{margin:0 auto;width:909px;height:36px;}
#navs ul{float:left;height:36px;}
#navs ul li{ float:left; width:99px; height:32px; line-height:32px; font-size:15px; font-weight:bold; text-align:center; padding:4px 20px 0 20px; font-family:"微软雅黑";}
#navs ul li a{ display:block;width:99px; height:32px; color:#fff}
#navs .current{background: url(../images/li.png) no-repeat center; color:#1476AB;}
#navs .current a{color:#036;text-decoration:none;}

#breadCrumb{margin:0 auto 10px auto;width:900px;height:24px; line-height:24px;padding:0px 0 0 9px}
#hf{margin:0 auto 0px auto;width:909px;}


#wrap{margin:0 auto 10px auto;width:909px; overflow:hidden;}
.content{ float:left; width:605px; padding:0 15px; font-size:13px; line-height:24px;}
.content h1{ font-size:15px; color:#bc2214; font-weight:bold; border-bottom:1px solid #d7d7d7;padding-left:12px; line-height:24px; margin-bottom:12px;}
.content_b{margin:0 auto 10px auto; width:889px; float:none; padding:0 10px;}
#wrap .left_con{ float:right; width:260px;}

.gghh {font-size:14px; line-height:26px; padding:180px 0 25px 0; background:url(../images/2c_03.png) no-repeat center top;}
a.jk{ font-size:16px; color:#06F; text-decoration: underline; font-weight:bold;}
a:hover.jk{color:#039;}

.tigg{ width:260px; margin-bottom:10px;}
.tigg h3{ color:#1476AB; height:29px; line-height:29px; background:url(../images/tibg.gif) no-repeat; padding-left:8px}
.tigg .txts{ width:238px; border-left:1px solid #dbe1e6; border-right:1px solid #dbe1e6; background:#FFF; padding:4px 10px 2px 10px;}
.tigg .botom{ background:url(../images/botm.gif) no-repeat; height:6px;}

.txt_q{padding:8px 20px 10px 20px; border-bottom:1px dashed #CCC; margin-bottom:10px; text-indent:26px}
