<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢乐百服,实物大礼相赠-49you游戏</title>
<meta name="description" content="49you神仙道12月22日新服'49仙道100服'隆重开启，百服活动欢乐行，万元实物大家激情放送，活动时间2011年12月22日11:00—12月23日23:59。">
<meta name="keywords" content="神仙道12月22日新服,49仙道100服">
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="js/bgiframe.js"></script>
<script type="text/javascript" src="js/ubox.js"></script>
<script type="text/javascript" src="js/click.js"></script>
</head>
<body>

<div class="warp">
<div class="header1"><div class="btnbox"><a class="jrgw" target="_blank" href="http://sxd.49you.com/">返回官网</a><a class="jrlt" target="_blank" href="http://bbs.49you.com/forumdisplay.php?fid=25">进入论坛</a></div></div>
<div class="header2"></div>
<div class="header3"><img src="images/h3.jpg" width="1000" height="483" border="0" usemap="#Map" />
  <map name="Map" id="Map">
      <area shape="poly" coords="207,4,62,147,205,292,351,149" href="step_1.html" alt="万元实物大奖震撼相赠" op="showwin" />
      <area shape="poly" coords="362,148,507,2,648,148,506,290" href="step_2.html" alt="幸运大转盘巨奖" op="showwin"/>
      <area shape="poly" coords="800,10,663,147,806,291,949,144" href="step_3.html" alt="温情微博送祝福" op="showwin"/>
  <area shape="rect" coords="269,339,858,513" href="http://www.49you.com/vip.html" target="_blank" />
  </map>
</div>
<div class="header4">
  <p><a href="http://sxd.49you.com/" target="_blank">神仙道</a>| <a href="http://www.49you.com/" target="_blank">49you游戏平台</a> | <a href="http://www.49you.com/jianhu/gc.html" target="_blank">家长监护服务</a> | <a href="http://www.49you.com/news_info_207.html" target="_blank">关于我们 </a>| <a href="http://www.49you.com/service.html" target="_blank">客服中心</a> | <a href="http://www.49you.com/news_info_206.html" target="_blank">商务合作</a> <br />

Copyright ©2010 49you游戏平台<a href="http://www.49you.com/"> www.49you.com</a> 文网文[2010]320号粤ICP备10051215号 All Rights Reserved</p>
</div>
</div>
</body>
</html>
