<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢乐百服,实物大礼相赠-49you游戏</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {
	color: #FF0000;
	font-weight: bold;
}
.STYLE2 {color: #FF0000}
.STYLE3 {color: #FF00FF}
-->
</style>
</head>
<body style="background:none;">
<div class="jlbox">
  <div class="closebtn">
    <a href="#" class="btn_close"><img src="images/close.jpg" width="33" height="30" /></a> 
    <div style="clear:both"></div> 
  </div>
  <div class="jlbox-inner">

  <h1><strong>活动3：温情微博送祝福</strong></h1>
  <p><strong>【活动时间】:</strong><br />
12月22日11:00~12月25日11:00</p>
  <p><strong>【活动范围】：</strong><br />
49仙道全服</p>
  <p><strong>【活动内容】：</strong>  
  <p>&nbsp;活动期间内，玩家通过微博参与49you《神仙道》百服庆典获得。我们会在49you的官方微博<a href="http://weibo.com/49you" target="_blank">http://weibo.com/49you</a>上发布49you《神仙道》百服庆典信息，玩家先要关注我们的官方微博且转发该微博，<span class="STYLE2">并在论坛转帖上截图跟帖回复</span>，即可获赠100元宝的奖励。另外，我们<span class="STYLE3">每天</span>会<span class="STYLE3">随机抽取5名</span>转发的玩家额外给予<span class="STYLE3">100元宝</span>的奖励。 
  <p ><strong>【活动要求】</strong>：</p>
  <p >1、参与活动微博必须拥有50以上的粉丝。 </p>
  <p >2、转发该微博同时须@您的三个好友。 </p>
  <p >3、回帖格式详情请看论坛活动转帖。 </p>
  <p >4、每个玩家、每个微博都只能参与一次活动。 </p>
  <p >5、转发的内容我们会在活动开始后发布在论坛转帖上。 </p>
  <p >&nbsp;</p>
  <p align="center" class="STYLE1" >&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;&gt;<a href="http://bbs.49you.com/viewthread.php?tid=5510" target="_blank">论坛活动转帖</a>&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt; </p>
  <p><br />
    <br />
  </div>
</div>
</body>
</html>

