<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢乐百服,实物大礼相赠-49you游戏</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {
	color: #FF00FF;
	font-weight: bold;
}
.STYLE2 {color: #FF00FF}
-->
</style>
</head>
<body style="background:none;">
<div class="jlbox">
  <div class="closebtn">
    <a href="#" class="btn_close"><img src="images/close.jpg" width="33" height="30" /></a> 
    <div style="clear:both"></div> 
  </div>
  <div class="jlbox-inner">

  <h1><strong>活动1：</strong>喜迎49仙道百服盛宴，万元实物震撼相赠</h1>
  <p><strong>【活动时间】:</strong><br />
12月22日11:00~12月23日23:59</p>
  <p><strong>【活动范围】：</strong><br />
49仙道100服</p>
  <p><strong>【百服尊享礼包】:</strong><br />
<p>1.【百服白金礼包】<br />
<p>凡在活动期间累计充值<span class="STYLE1">100000元宝</span>以上的玩家，可选取下列白金礼包中的一种：<br />
<p><strong>白金1号礼包：</strong>苹果iPad 2（16GB/WIFI版）平板电脑。<br />
<p><strong>白金2号礼包：</strong>索尼PS3 slim(320GB)家用游戏机一台+正版PS3蓝光游戏光盘两张（任选）。<br />
<p>2.【百服豪华礼包】<br />
<p>	凡在活动期间累计充值<span class="STYLE1">50000元宝</span>以上的玩家，可选取下列豪华礼包中的一种：<br />
<p><strong>豪华礼包一号：</strong>Apple苹果iPod touch 4（8GB）<br />
<p><strong>豪华礼包二号：</strong>索尼PSP-3000+HORI原装 PSP 周边实用套装（保护包+贴膜+耳机+屏幕擦布）<br />
<p><strong  class="red">备注：</strong><br />
<p>1）本次活动仅限49仙道100服玩家参与，敬请留意。 
<p >2）活动奖励可以多次领取，例如玩家充值<span class="STYLE2">200000元宝</span>，可以领取<span class="STYLE2">两个白金1号礼包</span>。 </p>
<p >3）白金礼包与豪华礼包不可同时获得。 </p>
<p >4）充值时间以订单提交时间为准，充值金额以游戏内实际到账为准。 </p>
<p >5）参加此活动的玩家请在活动结束后<strong>联系QQ：326809756</strong>，我们会在验证后联系玩家发放奖励。 </p>
<p><br />
</div>
</div>
</body>
</html>
