<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢乐百服,实物大礼相赠-49you游戏</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {
	color: #FF00FF;
	font-weight: bold;
}
.STYLE2 {color: #FF00FF}
-->
</style>
</head>
<body style="background:none;">
<div class="jlbox">
  <div class="closebtn">
    <a href="#" class="btn_close"><img src="images/close.jpg" width="33" height="30" /></a> 
    <div style="clear:both"></div> 
  </div>
  <div class="jlbox-inner">

  <h1><strong>活动2：</strong>幸运大转盘巨奖落谁家</h1>
  <p><strong>【活动时间】:</strong><br />
12月22日11:00~12月23日23:59</p>
  <p><strong>【活动范围】：</strong><br />
49仙道第100服</p>
  <p><strong>【活动内容】：</strong></p>
  <p><strong>&nbsp;</strong>活动期间累计充值<span class="STYLE1">10000元宝</span>的玩家即可获得<span class="STYLE1">500元宝的返还</span>，同时<span class="STYLE2">还可以参与幸运大转盘</span>活动，参与玩家将有机会获得我们送出时尚的电玩产品奖励。<br />
    <strong>【活动奖励】&nbsp;    </strong>  </p>
  <p >随机抽取参与活动的10%玩家送出PSP3000一台（参与人数须达到10人）。 </p>
  <p >随机抽取参与活动的5%玩家送出任天堂3DS一台（参与人数须达到20人）。 </p>
  <p >随机抽取参与获得的3%玩家送出WII&nbsp;任天堂游戏机一台（参与人数须达到33人）。 </p>
  <p><img src="images/step_2_wps_clip_image-21557_0000.png" alt="49仙道百服活动" width="553" height="235"></p>
  <p><strong>【活动说明】 </strong></p>
  <p >1、参与活动一的玩家不能同时参与活动二。 </p>
  <p >2、活动期间累积充值<span class="STYLE2">10000元宝</span>的49仙道100服玩家均可参与本次获得。 </p>
  <p >3、充值时间以订单提交时间为准，充值金额以游戏内实际到账为准。 </p>
  <p >4、活动结束后我们会公布获奖玩家的名单，请获奖者在七个工作日内联系在线客服提供有效的联系方式。 </p>
  <p >5、本次活动所有奖励以最终实物为准，图例仅供参考。获奖实物会按玩家要求寄出，不提供相关票据。 </p>
  <p >6、本次活动最终解释权归49you《神仙道》运营团队所有。 </p>
  </div>
</div>
</body>
</html>
