<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
<title>一骑当先_49you一骑当先春节活动</title>
<link href="css/yqi.css" rel="stylesheet" type="text/css" />
<link href="http://pic.9787.com/js/ubox/ubox.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://pic.9787.com/js/jquery-1.6.min.js" /></script>
<script type="text/javascript" src="http://pic.9787.com/js/ubox/bgiframe.js"></script>
<script type="text/javascript" src="http://pic.9787.com/js/ubox/ubox.js"></script>
<script type="text/javascript" src="js/newyear.js" /></script>
</head>
<body >
<!--内容部分开始-->
<div class="continer">
	<div class="top_wraper">
		<div class="top">
			<h1 class="logo"><a href="http://yqdx.49you.com/" title="一骑当先" target="_blank"></a></h1>
			<div class="linktext">
				<a href="http://yqdx.49you.com/" title="官网首页" class="net">官网首页</a>|
				<a href="http://www.49you.com/reg.html?returl=http%3A%2F%2Fyqdx.49you.com%2F&gid=14" title="我要注册" class="reg">我要注册</a>|
				<a href="http://bbs.49you.com/forumdisplay.php?fid=96" title="官方论坛" class="bbs">官方论坛</a>|
				<a href="http://www.49you.com/pay_type.html?gid=14" title="我要充值" class="pay">我要充值</a>|
				<a href="http://www.49you.com/service.html" title="联系客服" class="ser">联系客服</a>
			</div>
            <div class="game_entry"><a href="http://yqdx.49you.com/server_list.html"></a></div>
		</div>
	</div>
	<div class="con_wraper">
		<div class="content">
			<div class="stepbox1"><a href="#" ref="pop1.html" ><img src="images/yqi/step_01.gif" alt="" title="" /></a></div>
			<div class="stepbox2"><a href="#" ref="pop2.html" ><img src="images/yqi/step_02.gif" alt="" title="" /></a></div>
			<div class="stepbox3"><a href="#" ref="pop3.html" ><img src="images/yqi/step_03.gif" alt="" title="" /></a></div>
			<div class="stepbox4"><a href="#" ref="pop4.html" ><img src="images/yqi/step_04.gif" alt="" title="" /></a></div>
			<div class="stepbox5"><a href="#" ref="pop5.html" ><img src="images/yqi/step_05.gif" alt="" title="" /></a></div>
		</div>
	</div>
</div>
</body>
</html>
