 <div style="width:700px">
<div class="PopsBar" >
  <div class="closequ"><a href="#" class="btn_close">close</a></div>
  <div class="popContiner">
	<div class="popTitle"><img src="images/yqi/poptitle_01.gif" alt="" /></div>
	<div class="popContent">
		<p class="con_special">活动时间：</p>
		<p>2012-1-15至2012-1-17</p>
		<p class="con_special">活动内容：</p>
		<p>活动期间,玩家可以点击【绝世金蟾】按钮打开活动窗口，通过购买金蟾获得银币、黄金奖励。购买的金蟾会固定的时间产出奖励发放至玩家的包裹内，一只金蟾可以产出3次奖励。</p>
		<p class="con_special">活动奖励：</p>
		<p class="con_title">珍品金蟾(价格:1000黄金,黄金返还15%，银币奖励10万)</p>
		<p>第一次奖励：金蟾小银箱（银币×100000）</p>
		<p>第二次奖励：金蟾中金箱（黄金×650）</p>
		<p>第三次奖励：金蟾小金箱（黄金×500）</p>
		<p class="con_title">绝世金蟾(价格:10000黄金,黄金返还20%，银币奖励100万)</p>
		<p>第一次奖励：金蟾大银箱（银币×1000000）</p>
		<p>第二次奖励：金蟾超级金箱（黄金×7000）</p>
		<p>第三次奖励：金蟾大金箱（黄金×5000）</p>
		<p class="con_special">温馨提示:</p>
		<p>1、第一次产出(购买后直接产出)，第二次产出(1月22日)，第三次产出(1月29日)。</p>
		<p>2、每种金蟾最多购买5只。</p>

	</div>
	</div>
</div>
</div>