 <div style="width:700px">
<div class="PopsBar">
  <div class="closequ"><a href="#" class="btn_close">close</a></div>
  <div class="popContiner">
	<div class="popTitle"><img src="images/yqi/poptitle_02.gif" alt="" /></div>
	<div class="popContent">
		<p class="con_special">活动时间：</p>
		<p>2012-1-18至2012-1-29</p>
		<p class="con_special">活动内容：</p>
		<p>活动期间，玩家在活动界面内使用黄金开启“天运亨通”后，在10天内每日可获得丰厚收益(开启当天立即享受，每位玩家仅可开启1次)。</p>
		<p class="con_special">活动奖励：</p>
		<p>每日日常任务次数+3(总共30次，价值360黄金)</p>
		<p>每日官邸征收次数+3(总共30次，价值270黄金)</p>
		<p>每日擂台挑战次数+2(总共20次，价值600黄金)</p>
		<p>每日洞天福地次数+2(总共20次，价值600黄金)</p>
		<p>每日抢船次数+5(总共50次，价值250黄金)</p>
		<p>每日奴隶工作次数+2(总共20次，价值600黄金)</p>
		<p>每日自动开启3个御用马夫(总共30个，价值300黄金)</p>
		<p>总计价值：2980黄金</p>
		<p class="con_special">温馨提示:</p>
		<p>1.以上奖励效果每天0点刷新后获得。</p>
		<p> 2.开启天运亨通消耗：500黄金。</p>

	</div>
	</div>
</div>
 </div>
