 <div style="width:700px">
<div class="PopsBar">
  <div class="closequ"><a href="#" class="btn_close">close</a></div>
  <div class="popContiner">
	<div class="popTitle"><img src="images/yqi/poptitle_03.gif" alt="" /></div>
	<div class="popContent">
		<p class="con_special">活动时间：</p>
		<p>2012-1-18至2012-2-2</p>
		<p class="con_special">活动内容：</p>
		<p>2012年1月18至1月30，登录游戏就送新年红包，连续多日登录红包更多、奖励更多。1月31至2月2日，用收集到的新年红包可兑换名将谱、橙色披风等尊贵好礼！</p>
		<p class="con_special">活动奖励：</p>
		<p class="con_title">1月18至1月30新年红包大奉送：</p>
		<p>活动期间每日登录游戏，除了惯常的登陆宝箱礼外，还可额外获得新年红包。</p>
		<p>连续一天登陆：青铜宝箱（使用后获得银两*30000，菊花茶*1）+新年红包×1</p>
		<p>连续二天登陆：玄铁宝箱（使用后获得银两*40000，突飞小礼包*1，宁神丹*1）+新年红包×2</p>
		<p>连续三天登陆：白银宝箱（使用后获得银两*50000，突飞小礼包*1，体力药包*1）+新年红包×3</p>
		<p>连续四天登陆：黄金宝箱（使用后获得银两*70000，突飞小礼包*1，菊花茶*1，体力药包*1）+新年红包×4</p>
		<p>连续五天登陆：紫金宝箱 （使用后获得银两*100000，突飞大礼包*1，菊花茶*1，体力药包*1）+新年红包×5</p>
		<p class="con_title">1月31至2月2日新年红包换好礼：</p>
		<p>60个新年红包兑换：名将谱×1</p>
		<p>50个新年红包兑换：越影(橙色)×1</p>
		<p>40个新年红包兑换：天罡披风(橙色)×1</p>
		<p>30个新年红包兑换：天罡冠(橙色)×1</p>
		<p>20个新年红包兑换：祭神炉×1</p>
		<p>5个新年红包兑换：菊花茶×1</p>
		<p>1个新年红包兑换：银币×6666，很小几率获得魂符。</p>
		<p class="con_special">温馨提示:</p>
		<p>1、新年红包出售：1银币。</p>
		<p>2、超过五天后的连续登陆每天可获得第五天登陆礼包，如中途未登录，则礼包从头开始领取。</p>
		<p>3、注册游戏第一天不计算连续登陆，第二天登陆才算连续登陆一天。</p>

	</div>
	</div>
</div>
</div>