 <div style="width:700px">
<div class="PopsBar">
  <div class="closequ"><a href="#" class="btn_close">close</a></div>
  <div class="popContiner">
	<div class="popTitle"><img src="images/yqi/poptitle_04.gif" alt="" /></div>
	<div class="popContent">
		<p class="con_special">活动时间：</p>
		<p>2012-1-22至2012-1-30</p>
		<p class="con_special">活动内容：</p>
		<p>活动期间，玩家每消耗一定数量的黄金、银币即可获得爆竹奖励，每个爆竹可以选择一次贡品,随机获得一项奖励，有几率获得新春名将。</p>
		<p class="con_special">活动奖励：</p>
		<p class="con_title">每消耗一定数量的黄金或银币即可获得1个爆竹奖励：</p>
		<p>消耗黄金：初始10黄金，每次递增10黄金。</p>
		<p>消耗银币：初始10000银币，每次翻2倍。</p>
		<p  class="con_title">注：每次消耗不累计，均重新计算，每天0:00重置。</p>
		<p>例如：玩家当前消耗了10黄金后领取了一个爆竹，那么要领取第二个爆竹需要再消耗20黄金，第三个爆竹需要30黄金，依此类推。</p>
		<p class="con_title">贡品类别：</p>
		<p>银两×2500；军工×200；突飞令×1；菊花茶×1；声望×100；新春名将×1（只能获得一个）</p>
		<p><span class="con_title">新春名将：</span>三国龙女</p>
		<p><span class="con_title">属性初始值</span>=1100  </p>
		<p><span class="con_title">属性上限</span>=1800 </p>
		<p><span class="con_title">技能：</span>新年贺岁(技能效果群体120%伤害，当目标体力值过低则伤害倍增)</p>
		<p><span class="con_title">名将职业：</span>战神</p>

		<p class="con_special">温馨提示:</p>
		<p>1.每个爆竹只能选择一次贡品，选择后随即获得奖励。</p>
		<p>2.获得新春名将，玩家可以永久持有。</p>
	</div>
	</div>
</div>
</div>
 
