<?php $title='一骑当先_一骑当先官网_49you一骑当先 ';
$keywords="一骑当先,一骑当先官网,49you一骑当先 ";
$description="一骑当先,一骑当先官网,49you一骑当先是全球首款横版三国题材网页游戏。49you一骑当先官网提供一骑当先攻略、职业、武将、兵符等内容及最新开服、新版、活动等资讯。"?>
<?php include('header.html'); ?>
 <!--content -->
 <div class="content">
   <div class="left">   
<?php include('lefter_login.html'); ?>
<?php include('lefter_server.html'); ?>
<?php include('lefter_kf.html'); ?>
<?php include('lefter_yx.html'); ?>
     </div>
	 
	 <!--right -->
	 <div class="right">

	   <div class="hdp">
       <? include('lefter_gg.html'); ?> 
       </div>
	   
       <div class="small-img">
           <div class="small-img1">
		      <ul>
			     <li class="small-img1-1"><a href="cardlist.html" target="_blank" alt="领取新手卡" ><img src="images/1.jpg" border="0" /></a></li>
				 <li class="small-img1-1"><a href="<?=get_newslink(4435)?>" target="_blank" alt="充值大礼" ><img src="images/2.jpg" border="0" /></a></li>
                 <li class="small-img1-1"><a href="<?=get_newslink(4436)?>" target="_blank" alt="武魂系统" ><img src="images/3.jpg" border="0" /></a></li>                 
				 <li class="small-img1-2"><a href="<?=get_newslink(4437)?>" target="_blank" alt="常见问题FAQ" ><img src="images/4.jpg" border="0" /></a></li>
			  </ul>
		   </div>
           <div class="small-img2">
		      <ul>
			     <li class="small-img2-1"><a href="<?=get_newslink(4425)?>" target="_blank" alt="VIP系统" ><img src="images/5.jpg" border="0" /></a></li>
				 <li class="small-img2-1"><a href="<?=get_newslink(4444)?>" target="_blank" alt="名将榜" ><img src="images/6.jpg" border="0" /></a></li>
				 <li class="small-img2-1"><a href="<?=get_newslink(4445)?>" target="_blank" alt="武将技能" ><img src="images/7.jpg" border="0" /></a></li>
				 <li class="small-img2-2"><a href="http://bbs.49you.com/forumdisplay.php?fid=100" target="_blank" alt="战报分享" ><img src="images/8.jpg" border="0" /></a></li>
			  </ul>
		   </div>
	   </div>
	    
		<!--17173-->
		<script type="text/javascript" src="js/changetab.js"></script>
		<div class="h-17173">
			
			<div class="tabmenu">
              <ul>
               <li onmouseover="tabChange(this,'tabcontent')" class="cli">热点</li>
               <li onmouseover="tabChange(this,'tabcontent')">新闻</li>
			   <li onmouseover="tabChange(this,'tabcontent')">活动</li>
              </ul>
            </div>

            <div id="tabcontent">
              <ul name="tabul">
                      <?if($rs_news){
                        foreach($rs_news as $k=> $v){
                        if($v["cate_id"]=='1' || $v["cate_id"]=='2'){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
			    <li class="<?=$cls?>">
                <span class="date"><?=date('m-d',$v["add_time"])?></span>
                [<?if($v["cate_id"]=='1'){?><a href="news.html?cid=<?=$ids['gn_xw']?>" target="_blank">新闻</a><?}else{?><a href="news.html?cid=<?=$ids['gn_hd']?>" target="_blank">活动</a><?}?>]<a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"><?=$v["subtitle"]?></a>
                </li>
                      <?}
                        }
                      }?>
         	 </ul>
              
			  <ul class="hidden">
                      <?if($rs_news){
                        foreach($rs_news as $k=> $v){
                        if($v["cate_id"]==$ids['gn_xw']){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>              
			    <li class="<?=$cls?>"><span class="date"><?=date('m-d',$v["add_time"])?></span>[<a href="news.html?cid=<?=$ids['gn_xw']?>" target="_blank">新闻</a>]<a href="<?=get_newslink($v["info_id"])?>"><?=$v["subtitle"]?></a></li>
                      <?}
                        }
                      }?>
                
			  </ul>
                           
			 <ul class="hidden">
                      <?if($rs_news){
                        foreach($rs_news as $k=> $v){
                        if($v["cate_id"]==$ids['gn_hd']){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>              
			    <li class="<?=$cls?>">
                <span class="date"><?=date('m-d',$v["add_time"])?></span>
                [<a href="news.html?cid=<?=$ids['gn_hd']?>" target="_blank">活动</a>]<a href="<?=get_newslink($v["info_id"])?>"><?=$v["subtitle"]?></a></li>
                      <?}
                        }
                      }?>
             </ul>
           </div>
	 </div><!--17173 end-->
		
		<!--yxgl-->
		<div class="yxgl">
		  <div class="yxgl-top topgl"><h1></h1><span><a href="news.html?cid=<?=$ids['gamegl']?>">更多>></a></span></div>
		  <div class="yxgl-content">
			  <ul>
                      <?if($rs_gamegs){
                        foreach($rs_gamegs as $k=> $v){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
			    <li class="<?=$cls?>" ><span class="date"><?=date('m-d',$v["add_time"])?></span><a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"><?=$v["subtitle"]?></a></li>
                      <?}
                      }?>
			  </ul>
		  </div>
		</div><!--yxgl end-->
		
		<!--infro -->
        <div id="infro">
		  <div class="infro-top"><h1></h1></div>
          <div class="infro-content">
		     <div class="infro-content1">
			    <ul>
			      <li> 
                  <a href="<?=get_newslink(4406)?>">游戏背景</a>|
                  <a href="<?=get_newslink(4407)?>">游戏介绍</a>|
                  <a href="<?=get_newslink(4408)?>">游戏特色</a>|
                  <a href="<?=get_newslink(4409)?>">游戏画面</a>|
                  <a href="<?=get_newslink(4410)?>">游戏注册</a>|
                  <a href="<?=get_newslink(4411)?>">角色创建</a>|
                  <a href="<?=get_newslink(4413)?>">好友系统</a>
                  </li>
                   <li>
                  <a href="<?=get_newslink(4412)?>">聊天系统</a>|
                   <a href="<?=get_newslink(4414)?>">邮件系统</a>|
                   <a href="<?=get_newslink(4485)?>">新手第一次</a>
                   </li>
			   </ul>
			 </div>
			 
			 <div class="infro-content2">
			    <ul>
			      <li>
                  <a href="<?=get_newslink(4441)?>">武将系统</a>|
                  <a href="<?=get_newslink(4463)?>">装备系统</a>|
                  <a href="<?=get_newslink(4469)?>">战斗系统</a>|
                  <a href="<?=get_newslink(4457)?>">封地系统</a>|
                  <a href="<?=get_newslink(4420)?>">国家系统</a>|
                  <a href="<?=get_newslink(4422)?>">货币系统</a>|
                  <a href="<?=get_newslink(4480)?>">任务系统</a>
                  </li>
			      <li>
                  <a href="<?=get_newslink(4421)?>">交互系统</a>|
                  <a href="<?=get_newslink(4483)?>">怪物与NPC</a>|
                  <a href="<?=get_newslink(4425)?>">VIP系统</a>
                  </li>
			   </ul>
			 </div>
			 
			 <div class="infro-content2">
			    <ul>
			      <li>
                   <a href="<?=get_newslink(4426)?>">军团战</a>|
                   <a href="<?=get_newslink(4444)?>">名将一览</a>|
                   <a href="<?=get_newslink(4442)?>">名将兑换</a>|
                   <a href="<?=get_newslink(4448)?>">武将养成</a>|
                   <a href="<?=get_newslink(4461)?>">擂台系统</a>|
                   <a href="<?=get_newslink(4458)?>">船坞系统</a>|
                   <a href="<?=get_newslink(4457)?>">征收系统</a>
				</li>
			      <li>
                   <a href="<?=get_newslink(4460)?>">马厩系统</a>
                  </li>
			   </ul>
			 </div>
		  </div>
        </div>
		
		<!--yxgl-->
		<div class="yxgl" style="float:left; margin-left:0;">
                  <!--div class="yxgl-top2">
		      <div class="yxgl-sele"><span>服务器：</span><select name="" id="servers" class="yxgl-sele2" onchange="javascript:serverchange(this.value)">
		        <option value="请选择服务器区">请选择服务器区</option>
                 <?if($rs_server){
                 foreach($rs_server as $k=> $v){?>
                  <option value="<?=$v["server_sid"]?>">双线<?=$v["server_num"]?>区</option>
                  <?}
                  }?>		      
              </select></div>
		 </div>
		  <div class="phb-content2">
		     
			 <div class="yxgl-title">
			    <span class="sp1">序号</span><span class="sp2">角色名</span><span class="sp3">官阶</span>
			 </div>
			 <div class="phb-list">
               <script language="javascript">
			    var _server="";
				var js_list_url="http://yqdx.49you.com/ajax_server.html";
				function getTopInfo() {
					$.getJSON(js_list_url+'?act=getorderjson&_server=138',function(data){
					if(data == ''){
						return;
					}
				 var obj=data;
				 var comp_list;
				 var i = 1;
				 for(k in data){
				  var company = data[k];
				  comp_list = '<li class="phb-list-1">';			
				  comp_list += '<span class="phb_list1">'+i+'</span>';
				  comp_list += '<span class="phb_list2">'+data[k].passport+'</span>';  
				  comp_list += '<span class="phb_list3">'+data[k].officium+'</span>';
				  comp_list += '</li>'; 
					i+=1;
					if(i>5)break;
				 }
				 $('#phb').attr('innerHTML', comp_list);
				});
				}
				function serverchange(_ss){
					_server=_ss;
					getTopInfo();
				}
				function set_url(turl){
					js_list_url=turl;
				}

			</script>
			   <ul id="phb">
			     <!--li class="phb-list-1"><span class="phb_list1">1</span><span class="phb_list2">ashou81</span><span class="phb_list3">神射手</span></li-->
			   <!--/ul>
          <script>
		  set_url("<?=YOU_ROOT?>/ajax_server.html");
		  serverchange($('#servers').val());
          </script>
			 </div>
		  </div-->

          <div class="yxgl-top rchd"><h1></h1><span><a href="news.html?cid=<?=$ids['gamerchd']?>">更多>></a></span></div>
		  <div class="yxgl-content2">
			  <ul>
                      <?if($rs_gamexq){
                        foreach($rs_gamexq as $k=> $v){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
			    <li class="<?=$cls?>" ><span class="date"><?=date('m-d',$v["add_time"])?></span><a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"><?=$v["subtitle"]?></a></li>
                      <?}
                      }?>
			  </ul>
		  </div>
		</div><!--yxgl end-->
			
			<!--yxgl-->
		<div class="yxgl">
          <div class="yxgl-top cjwt"><h1></h1><span><a href="news.html?cid=<?=$ids['gamecjwt']?>">更多>></a></span></div>
		  <div class="yxgl-content2">
			  <ul>
                      <?if($rs_gamequ){
                        foreach($rs_gamequ as $k=> $v){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
			    <li class="<?=$cls?>" ><span class="date"><?=date('m-d',$v["add_time"])?></span><a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"><?=$v["subtitle"]?></a></li>
                      <?}
                      }?>
			  </ul>
		  </div>
		</div><!--yxgl end-->
		<div class="clear"></div>
		
<!--hzmt-->
<?php include('lefter_mt.html'); ?>
<!--hzmt end-->
	 
	 </div><!--right end -->
	 <div class="clear"></div>
 </div><!--content end -->
<?php include('footer.html'); ?>
