<?php $title='千军破'; ?>
<?php $nav='member'; ?>
<?php include('header.html'); ?>

<div class="mid">
    <!--left start-->
<? include('lefter.html'); ?> 
<!--left end-->
  <div class="ind_rig">
   
    
  <div class="news_1ist">
   <h2><span>您的位置：首页>游戏资料>游戏地图</span><img height="30" width="135" src="../images/a_8.png"></h2>
   <div class="page_inf">
        	<div class="newsinf_title"><div class="titl2">
        	  <p>游戏地图</p>
        	</div></div>
   </div>
   <div class="wanjia">
        <ul>
          <li><a href="#" target="_blank"><img src="../tu/74913.jpg" width="170" height="110" /></a></li>
          <li><a href="#" target="_blank"><img src="../tu/74913.jpg" width="170" height="110" /></a></li>
         <li><a href="#" target="_blank"><img src="../tu/74913.jpg" width="170" height="110" /></a></li>
         <li><a href="#" target="_blank"><img src="../tu/74913.jpg" width="170" height="110" /></a></li>
        </ul>
      </div>
   <div class="page_inf"> 
<ul >  
<li><a href="#" target="_blank">上一条：酷派8910领衔 八款TD智能旗舰手机盘点</a></li>
<li><a href="#" target="_blank">下一条：诺基亚E5周降百元 1500元超值手机搜罗</a></li>
</ul>
</div>     
   <div class="sharedspacer"></div>
          
    </div>


     
  </div>
</div>
</div>
</div>

<? include('footer.html'); ?>