    <div class="kuaisu">
      <div class="k_s"><img src="../images/b_1.png" width="226" height="28" /></div>
          <ul>
        <li><a href="<?=YOU_ROOT?>/return.html">推广返利</a></li>
        <li><a href="<?=YOU_ROOT?>/news_info_215.html#jifen_01">积分系统</a></li>
        <li><a href="<?=YOU_ROOT?>/news_info_215.html#VIP_01">VIP会员特权</a></li>
        <li><a href="<?=YOU_ROOT?>/pay.html">快速充值</a></li>
      </ul>
<div class="ine_3 cl"></div>
</div>

    <div class="kuaisu">
      <div class="k_s"><img src="../images/b_3.png" width="226" height="28" /></div>
          <ul> 
        <li><a href="<?=get_newslink(248)?>" target="_blank">游戏背景</a></li>
        <li><a href="<?=get_newslink(250)?>" target="_blank">游戏界面</a></li>
        <li><a href="<?=get_newslink(244)?>" target="_blank">地图场景 </a></li>
        <li><a href="<?=get_newslink(245)?>" target="_blank">基本操作</a></li>
        <li><a href="<?=get_newslink(246)?>" target="_blank">新手任务</a></li>        
        <li><a href="<?=get_newslink(231)?>" target="_blank">兵种介绍</a></li>

      </ul>
<div class="ine_3 cl"></div>
</div>
    <div class="kuaisu">
      <div class="k_s"><img src="../images/b_7.png" width="226" height="28" /></div>
          <ul>
          <li><a href="<?=get_newslink(253)?>" target="_blank">城市发展</a></li> 
          <li><a href="<?=get_newslink(259)?>" target="_blank">田庄发展</a></li>
          <li><a href="<?=get_newslink(234)?>" target="_blank">技能详情</a></li>
          <li><a href="<?=get_newslink(236)?>" target="_blank">爵位详情 </a></li>
          <li><a href="<?=get_newslink(235)?>" target="_blank">建筑详情</a></li>
          <li><a href="<?=get_newslink(233)?>" target="_blank">道具详情</a></li>
          <li><a href="<?=get_newslink(258)?>" target="_blank">建立同盟</a></li>
          <li><a href="<?=get_newslink(278)?>" target="_blank">征战沙场</a></li>
          <li><a href="<?=get_newslink(257)?>" target="_blank">广征良兵</a></li>
          <li><a href="<?=get_newslink(255)?>" target="_blank">攻防策略</a></li>
          <li><a href="<?=get_newslink(279)?>" target="_blank">武将养成</a></li>
          <li><a href="<?=get_newslink(240)?>" target="_blank">深山剿匪</a></li>

      </ul>
<div class="ine_3 cl"></div>
</div>
<div class="kuaisu">
  <div class="k_s"><img src="../images/b_8.png" width="226" height="28" /></div>
          <ul>
          <li><a href="<?=get_newslink(280)?>" target="_blank">竞技系统</a></li>
          <li><a href="<?=get_newslink(239)?>" target="_blank">任务系统</a></li>
          <li><a href="<?=get_newslink(237)?>" target="_blank">军事系统</a></li>
          <li><a href="<?=get_newslink(243)?>" target="_blank">战场系统 </a></li>
          <li><a href="<?=get_newslink(242)?>" target="_blank">武将系统</a></li>
          <li><a href="<?=get_newslink(238)?>" target="_blank">军团系统</a></li>
          <li><a href="<?=get_newslink(241)?>" target="_blank">势力系统</a></li>

      </ul>
<div class="ine_3 cl"></div>
</div>
