<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>神仙道_神仙道伙伴大全</title>
<meta name="keywords" content="神仙道,神仙道伙伴,神仙道伙伴大全" />
<meta name="descrition" content="神仙道伙伴大全为玩家提供最新最完整的神仙道伙伴资料！是一款通过简单操作即可查询伙伴资料的神仙道辅助工具。" />

<link href="css/cp.css" type="text/css" rel="stylesheet" />
<link href="css/style.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/basic.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jscontrol.js"></script>
</head>

<body>
<div id="layout">
  <div id="top"></div>

<div id="content">
     <div id="content1"><a href="#">49you天之刃新服火爆开启</a><span style="padding-left:10px;"><a href="http://tzr.49you.com/cardlist.html" target="_blank">点击进入</a></span></div>

  <div class="person_list" id="xldata">
  </div>
    <div class="main-zw" id="xlhbdata" style="display:none;">
    </div>
</div>
  <div id="footer">
    <div id="footer2">
      <div id="footer-img"><a href="http://tzr.49you.com/" target="_blank"><img src="css/img/game-img.jpg" border="0" /></a></div>
	  <div id="footer-buttom">
	     <ul>
		    <li><a href="http://tzr.49you.com/" target="_blank">进入官网</a></li>
			<li><a href="http://tzr.49you.com/server_list.html" target="_blank">最新开服</a></li>
			<li><a href="http://tzr.49you.com/news.html" target="_blank">最新资讯</a></li>
			<li><a href="http://www.49you.com/reg_17_5379122.html" target="_blank">进入游戏</a></li>
			<li><a href="http://tzr.49you.com/cardlist.html" target="_blank">领取新手卡</a></li>
			<li><a href="http://bbs.49you.com/forumdisplay.php?fid=108" target="_blank">玩家论坛</a></li>
		 </ul>
	  </div>
	</div>
  </div>
  <div class="clear"></div>
</div>
<script src="http://app.baidu.com/static/appstore/monitor.st"></script>
</body>
</html>
