<? include('header.html') ?>
<div id="navs">
<ul>
<li><a href="gc.html">工程体系</a></li>
<li  class="current"><a href="fw.html">服务申请</a></li>
<li><a href="wt.html">常见问题</a></li>
<li><a href="/service.html">客服中心</a></li>
</ul>              
</div>

<div id="breadCrumb">您的当前位置：<a href="/">49you网页游戏</a> &gt; <a href="gc.html">未成年人家长监护工程</a> &gt;服务申请</div>
<div id="hf"><img src="images/hf.jpg" width="909" height="243" /></div>
</div>

<div class="sharedspacer10"></div>

<div class="content content_b">
  <h1>服务申请</h1>
   <div class="gghh"> 
  <p> <strong>流程介绍详细说明：</strong><br />
    <span class="color2"><strong>护人提出申请</strong></span><br />
    　　在监护人发现被监护人有沉溺49you网页游戏的情况下，监护人可向我公司申请发起未成年人家长监护机制。  　监护人需亲自通过邮寄方式 向我司提供有效材料，向我公司提出未成年人账户监控的申请。在收到邮件后，我司即开始启动监护机制审核流程，首先进入疑似账号身份确认期。  <br />
    <span class="color1"><strong>疑似账号身份确认期（15 个自然日）</strong></span><br />
    　在判断申请材料完整的情况下，我司将通过官方邮箱联系疑似帐号归属者，告知其在 15 个自然日内将按照监护人需求对其账号进行相关操作，并要求疑似账号归属者提供身份材料以便我司判定其与监护人监护关系；  若疑似账号归属者在 15 个自然日内不能提供有效身份证明或逾期提供，则默认为疑似账号归属者与被监护人身份相符。我司即按照监护人申请要求，对其游戏账号纳入防沉迷系统；<br />
　若疑似账号归属者在 15 个自然日内提供的身份证明与被监护人相符，我司即按照监护人申请要求，对其游戏账号纳入防沉迷系统；<br />
　若疑似账号归属者在 15 个自然日内提供的身份证明与被监护人不符，我司则无法判定其与被监护人的身份关系。在此情况下，为保障用户游戏账号安全，我司将通知监护人通过公安机关出具账号找回协查证明，由我司协助被监护人找回游戏账号后再进行后续操作； </p>
  </div>
<strong>监护服务申请书：</strong><br />
<p style=" padding:0 20px"><a href="images/49youjz.rar" target="_blank" class="jk">49you网页游戏未成年人用户家长监控服务申请书（点击下载）</a><br />
  1、监护人信息表（包含监护人的身份证明复印件）；<br />
2、被监护人信息表（包含被监护人所玩游戏相关信息及身份证明复印件）； <br />
3、填写网络游戏未成年人家长监护申请书、保证书、授权书并手工签字（需下载，填写并打印，签字）；<br />
4、申请人与被监护人的监护关系证明文件（户口簿或有关机关出具的证明文件）。 </p>
</div>


<? include('footer.html') ?>
