<? include('header.html') ?>

<div id="navs">
<ul>
<li><a href="gc.html">工程体系</a></li>
<li><a href="fw.html">服务申请</a></li>
<li class="current"><a href="wt.html">常见问题</a></li>
<li><a href="/service.html">客服中心</a></li>
</ul>              
</div>

<div id="breadCrumb">您的当前位置：<a href="/">49you网页游戏</a> &gt; <a href="gc.html">未成年人家长监护工程</a> &gt;常见问题</div>
<div id="hf"><img src="images/hf.jpg" width="909" height="243" /></div>
</div>

<div class="sharedspacer10"></div>

<div class="content content_b">
  <h1>常见问题解答</h1>
  <h4>Q1："网络游戏未成年人家长监护机制工程"是什么？</h4>
  <p class="txt_q">"网络游戏未成年人家长监护工程"是一项由国内网络游戏企业共同发起并参与实施，由中华人民共和国文化部指导，旨在加强家长对未成年人参与网络游戏的监护，引导未成年人健康、绿色参与网络游戏，和谐家庭关系的社会性公益行动。它提供了一种切实可行的方法，一种家长实施监控的管道，使家长纠正部分未成年子女沉迷游戏的行为成为可能。该项社会公益行动充分反映了中国网络游戏行业高度的社会责任感，对未成年玩家合法权益的关注以及对用实际行动营造和谐社会的愿望。</p>
   <h4>Q2：什么情况下需要申请该项服务呢？</h4>
  <p class="txt_q">在监护人发现被监护人有沉溺49you网页游戏的情况下，监护人可向游家公司申请发起未成年人家长监护机制。</p>
   <h4>Q3：申请该项服务时需要提交哪些资料呢？如何提交呢？</h4>
  <p class="txt_q">申请人需通过邮寄方式向我司提交《<a href="/jiazhang/49youjz.rar" target="_blank" class="color2">49you网页游戏未成年人用户家长监控服务申请书</a>》及其中所提及需提供的附件，包含：<br />
附件1：申请人的身份证或户口本（复印件）<br />
附件2：被申请人的身份证或户口本（复印件）<br />
附件3：申请人与被申请人的监护法律关系证明（原件）<br />
您在填写《<a href="/jiazhang/49youjz.rar">49you网页游戏</a>未成年人用户家长监控服务申请书》时，请提供尽可能详尽、真实的玩家资料，以便帐号归属的判定。 </p>
   <h4>Q4：相关资料寄往哪里呢？</h4>
  <p class="txt_q">请将相关资料邮寄至：（请在信封表面写上"家长监控服务申请书"的字样）<br />
收件人：广州纤上网络有限公司 49you网页游戏产品运营部 家长监护系统专员 <br />
地　址：广州市天河区天河北路892号国际科贸中心6楼<br />
邮　编：510000 </p>
   <h4>Q5：提交资料后，后续处理流程怎样呢？</h4>
  <p class="txt_q">您提交相关申请资料后，我司受理专员将按照<a href="/jiazhang/Application.html" target="_blank" class="color1" >监护申请流程</a>尽快处理您的申请，处理过程中可能需要对监护人和被监护人进行电话回访以便信息的判定，希望您的配合。</p>
   <h4>Q6：判定帐号归属需要多久呢？   </h4>
  <ul class="txt_q">
   <li>在判断申请材料完整的情况下，我司将联系疑似账号归属者，告知其在 15   个自然日内将按照监护人需求对其账号进行相关操作，并要求疑似账号归属者提供身份材料以便我司判定其与监护人监护关系； </li>
     <li>若疑似账号归属者在 15   个自然日内不能提供有效身份证明或逾期提供，则默认为疑似账号归属者与被监护人身份相符。我司即按照监护人申请要求，对其游戏账号纳入防沉迷系统； </li>
     <li>若疑似账号归属者在 15 个自然日内提供的身份证明与被监护人相符，我司即按照监护人申请要求，对其游戏账号纳入防沉迷系统； </li>
     <li>若疑似账号归属者在 15   个自然日内提供的身份证明与被监护人不符，我司则无法判定其与被监护人的身份关系。在此情况下，为保障用户游戏账号安全，我司将通知监护人通过公安机关出具账号找回协查证明，由我司协助被监护人找回游戏账号后再进行后续操作；</li></ul>
      <h4>Q7:若发现对帐号归属有疑义或账号被恶意防沉迷限制怎么办？</h4>
  <p class="txt_q">您需要在收到通知后15个自然日内提供您的身份证复印件（纸质），并通过以下地址邮寄到我司，如果我司在15个自然日内未收到您的身份证复印件，我们会将您的账号纳入家长监控系统。<br />
收件人：广州纤上网络有限公司 49you网页游戏产品运营部 家长监护系统专员<br />
地　址：广州市天河区天河北路892号国际科贸中心6楼
<br />
邮　编：510000  <br />
注1：请在身份证复印件上写明您的签名以及联系电话，QQ号，电子邮箱。<br />
注2：请您确认官方邮箱地址为：heartnix@163.com ，以免受骗上当。 <br />
注3：请您注意我司提供该项服务不收取任何费用，以免上当受骗。 </p>
  <span class="color2">服务电话：<?=$config['service_tel1']?></span></div>


<? include('footer.html') ?>