<?php $title='新手卡领取_49you神仙道官方网站'; 
$keywords="神仙道新手卡";
$description="49you神仙道新手卡"?>
<?php include('header.html'); ?>
<style>.fontred{color:red;font-weight:bold}</style>
<script language="javascript">
function getcard(){
	if($('#secode').val()!="49仙道"){alert("请在“第一步”输入“49仙道”");$('#secode').val("");return;}
	if($('#country').val()==0){alert("请选择服务器！");return;}
	window.open('<?=YOU_ROOT?>/get_package.html?ct='+$('#country').val());
}
</script>
<div class="main">
  <div class="l">
  
<!--left_login start-->
<? include('lefter_login.html'); ?> 
<!--left_login end-->
<!--left_server start-->
<? include('lefter_server.html'); ?> 
<!--left_server end-->
<!--lefter_info start-->
<? include('lefter_info.html'); ?> 
<!--lefter_info end-->
<!--lefter_kf start-->
<? include('lefter_kf.html'); ?> 
<!--lefter_kf end-->
<!--lefter_mt start-->
<? include('lefter_mt.html'); ?> 
<!--lefter_mt end-->

  </div>
  <div class="ra" id="content">
    <div class="dh">
      <label>礼品卡领取</label>
      <div>您当前的位置：<a href="index.html" title="神仙道_49仙道">神仙道</a> &gt;&gt; 礼品卡领取</div>
    </div>
    <div class="contend">
     <div class="txt" >
    <p>第一步 请输入游戏名称</p>
    <br />
&nbsp;&nbsp;<input type="text" id="secode" style="width:75px"/> 答案：<span class="fontred">49仙道</span>
<br /><br />
  </div>
    <div class="txt" >
    <p>第二步 选择服务器</p>
	<br />
      <select name="coid" id="country">
       <option value="0" selected="selected">请选择服务器</option>
<? if(!empty($cardlist)){ 
    	foreach($cardlist as $k=>$v){?>
        <option value="<?=$v["cardtype_id"]?>"><?=$v["cardtype_name"]?></option>
<?}
}?>
      </select>
    &nbsp;&nbsp;&nbsp;<input class="inp3" type="button" name="button" value="点击领取" onClick="getcard()" />  
<br /><br />
     </div>

    <div class="txt">
      <div>
        <div>
          <p>【新手卡奖励道具】</p>
        </div>
      </div><br />

      <div>
        <div>
          <p><span>&nbsp;&nbsp;&nbsp;58元宝和一品武力、绝技、法术丹各一颗</span></p>
        </div>
      </div><br />

      <div>
        <div>
          <p>【领取流程】</p>
          <br />

          <p style="text-align:left;">1、在游戏中小渔村找到&quot;迎新道人&quot;<br />
		<img src="images/u93_original.jpg" />
          <br />
          <br />
            2、对话，选择&quot;激活兑换礼券&quot;<br />
		<img src="images/u96_original.jpg" />
          <br />
          <br />
            3、输入新手卡卡号即可<br />
		<img src="images/u99_original.jpg" />
           </p>
          <div>
            <div>
              <p></p>
            </div>
      </div>

<br />
          <div id="u60">
            <div>
              <p>【注意】</p>
              <p> 1、每个角色和每个激活码只能使用一次，不能重复使用。</p>
              <p> 2、该活动的所有解释权归49you网页游戏平台。</p>
            </div>
          </div>
          <p>&nbsp;</p>
        </div>
      </div>
      <p><br>
</p>
<p></p>
      </div>
    </div>
    <div class="bgdi">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</div>
  </div>
</div>
</div>


<? include('footer.html'); ?>