<div class="zl2">
	<h3>游戏资料</h3>
	  <ul>
<li><strong>新手指引</strong>
<div>
<a href="<?=get_newslink('955')?>" target="_blank">职业介绍</a>
<a href="<?=get_newslink('956')?>" target="_blank">门派阵营</a>	
<a href="<?=get_newslink('957')?>" target="_blank">帮派介绍</a>
<a href="<?=get_newslink('961')?>" target="_blank">体力详解</a>
<a href="<?=get_newslink('959')?>" target="_blank">战报地址</a>
<a href="<?=get_newslink('960')?>" target="_blank">游戏助手</a>
<a href="<?=get_newslink('963')?>" target="_blank">好友听众</a>
<a href="<?=get_newslink('964')?>" target="_blank">新手帮助</a>
<a href="<?=get_newslink('992')?>" target="_blank">清理缓存</a>
<a href="<?=get_newslink('1065')?>" target="_blank">网络异常处理</a></div>
</li><br />

<li>
<strong>特色系统</strong>
  <div>
<a href="page_vip.html" target="_blank">VIP系统</a>
<a href="<?=get_newslink('966')?>" target="_blank">猎命命格</a>
<a href="<?=get_newslink('967')?>" target="_blank">副本玉牌</a>
<a href="<?=get_newslink('975')?>" target="_blank">伙伴系统</a>
<a href="<?=get_newslink('976')?>" target="_blank">药园系统</a>
<a href="<?=get_newslink('977')?>" target="_blank">竞技场系统</a>
<a href="<?=get_newslink('978')?>" target="_blank">PK系统</a>
<a href="<?=get_newslink('979')?>" target="_blank">阵法系统</a>
<a href="<?=get_newslink('980')?>" target="_blank">阅历奇术</a>
<a href="<?=get_newslink('981')?>" target="_blank">练功系统</a>
<a href="<?=get_newslink('982')?>" target="_blank">变身系统</a>
 <a href="#" class="indent">.</a>
  </div>
</li><br />

<li><strong>玩法要点</strong>
  <div>
<a href="<?=get_newslink('1557')?>" target="_blank">仙履奇缘</a>
<a href="<?=get_newslink('983')?>" target="_blank">伙伴大全</a>
<a href="<?=get_newslink('974')?>" target="_blank">命格大全</a>
<a href="<?=get_newslink('984')?>" target="_blank">装备制作</a>
<a href="<?=get_newslink('985')?>" target="_blank">装备强化</a>
<a href="<?=get_newslink('958')?>" target="_blank">世界BOSS</a>
<a href="<?=get_newslink('986')?>" target="_blank">神秘商人</a>
  </div><br />
</li><br />


</ul><div class="clear"></div>
    </div>