    <div class="kf">
      <div class="kfdiv">客服中心</div>
	<div style="margin: 6px 0px 0px 18px;"><a href="<?=YOU_ROOT?>/service_online.html" target="_blank"><img height="72" width="172" src="images/kefu.jpg"></a></div>
      
      <ul>
        <li>客服热线：<?=$config['service_tel1']?> </li>
        <li>联系客服：<a target="_blank" href="<?=YOU_ROOT?>/service.html" class="e">点击进入</a></li>
        <li>游戏论坛：<a target="_blank" href="<?=BBS_ROOT?>" class="e">点击进入</a></li>
        <li style="font-size: 14px; font-weight: bold; color: rgb(255, 255, 0);"></li>
      </ul>
    </div>