<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>神仙道VIP特权详解</title>
	<meta name="keywords" content="神仙道,神仙道官网,心动游戏,网页游戏,WebGame" />
	<meta name="description" content="神仙道,神仙道官网,《神仙道》是由心动游戏独家代理的新款RPG网页游戏。游戏打破了旧有RPG游戏繁琐的打怪升级模式，采用了全新的设计理念，极度简化玩家的操作方式。游戏中始终贯穿着大气磅礴的剧情主线，其中的命格系统更是让玩家耳目一新。" /> 
	
	<link type="text/css" rel="stylesheet" href="css/reset.css" />
	<link type="text/css" rel="stylesheet" href="css/vip.css" />

   	<script type="text/javascript" src="js/jquery.js"></script>

</head>

<body >
<?
$gwname='49游戏平台神仙道';
require(WEB_ROOT.'/games/top_bar.html');
?> 
<div id="vip_body">
			<img height="0" width="1" style="border-style:none;position:absolute;" alt="" src=""/>
    	
	<div id="vip_inner">
		<a id="vip_button" href="<?=YOU_ROOT?>/pay_type.html?gid=<?=$game_id?>" title="元宝充值" target="_blank"></a>

		<a href="index.html" id="back">返回官网</a>
</div>
	
	<div id="vip_content">
		<div class="vip_just">
			<div class="vip_info">
				<p class="important">从开服当日起，只要玩家的角色是第一次在游戏里进行充值，不限制任何金额，除了能获得相应的元宝之外，还都将会获得一份“首次充值礼包”，礼包内容包含：首次充值额外10%元宝，二品武力丹、绝技丹、法术丹各一颗。助您在修仙之旅中，增强自己的实力。</p>
			</div>
			<div class="vip_block">

				<div class="vip_block_title">
					<h1>VIP1</h1>
				</div>
				<div class="vip_block_line" id="line1">
<p>1、招财神符3：每天可使用招财神符3次</p>
<p>2、免费道具店：打开背包可免费开启道具店</p>
<p>3、免费仓库：打开背包可免费开启仓库</p>
<p>4、挑战次数增加：元宝购买竞技场挑战次数</p>
<p>5、铜币礼包：获得10W铜币礼包</p>
<p>6、帮派成员可上苏合香，祝福30次，声望+100</p>
<p>7、上香：拜祭关公上苏合香，祝福120次，声望+100</p>
				</div>
				<div class="vip_block_foot">
				</div>
			</div>
			
			<div class="vip_block">
				<div >

					
				</div>
				<div class="vip_block_title">
					<h1>VIP2</h1>
				</div>
				<div class="vip_block_line" id="line1">
<p>1、每日任务刷新：刷新每日任务3</p>
<p>2、招财神符5：每天可使用招财神符5次</p>
<p>3、强化队列3：可开启第三个强化队列</p>
<p>4、奇术消CD：升级奇术的同时，可同时消除CD</p>
<p>5、帮派成员可上天木香，祝福100次，声望+1000</p>
<p>6、练功时间延长：自动练功延长至24小时</p>
<p>7、高级上香：拜祭关公上天木香，祝福360次，声望+1000</p>
<p class="important">8、包含VIP1所有功能</p>
				</div>
				<div class="vip_block_foot">
				</div>
			</div>

			
			<div class="vip_block">
				<div class="vip_block_title">
					<h1>VIP3</h1>
				</div>
				<div class="vip_block_line" id="line2">
<p>1、强化成功率固定100%：花费元宝，让魔力值100%</p>
<p>2、角色培养增加白金级培养：更容易洗出高属性</p>
<p>3、招财神符7：每天可使用招财神符7次</p>
<p>4、伙伴跟随：获得伙伴跟随功能</p>
<p>5、新增刷新神秘商人功能：可用元宝刷新神秘商人。</p>
<p>6、重置英雄副本：可消费元宝重置英雄副本1次</p>
<p>7、浴火重生：BOSS战浴火重生限制5次，每次浴火重生将获得额外战力加成。</p>
<p>8、鼓舞：BOSS战和阵营战可用元宝鼓舞</p>
<p>9、自动阵营战：自动参加阵营战</p>
<p>10、重置爬塔：可以消费元宝额外重置5次六道轮回塔</p>
<p>11、购买仙露：可消费元宝购买仙露18次</p>
<p class="important">12、包含VIP1-2所有功能</p>
				</div>
				<div class="vip_block_foot">
				</div>
			</div>

			
			<div class="vip_block">
				<div class="vip_block_title">
					<h1>VIP4</h1>
				</div>
				<div class="vip_block_line" id="line2">
<p>1、每日任务直接完成：直接完成每日任务</p>
<p>2、增加体力5次：每天增加体力5次，元宝购买体力</p>
<p>3、招财神符9：每天可使用招财神符9次</p>
<p>4、取经加速：护送取经可使用取经加速和直接到达功能</p>
<p>5、减少取消强化时间的操作：强化时，可同时用元宝消</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;除强化队列的CD时间</p>
<p>6、制作卷轴直接完成：制作卷轴可用元宝补足缺失的材料</p>
<p>7、召唤唐僧：护送取经召唤唐僧</p>
<p>8、简化刷新每日任务：一键刷出每日任务最高星级</p>
<p>9、神仙保佑：护送取经途中可以鼓舞</p>
<p>10、药园土地升级：玩家可消费元宝对药园土地进行升级，升级后的土地，将获得更多的收益，同时CD时间也将减少。</p>
<div><wbr></wbr></div>
<p class="important">11、包含VIP1-3所有功能</p>
				</div>
				<div class="vip_block_foot">
				</div>
			</div>
			
			<div class="vip_block">
				<div class="vip_block_title">
					<h1>VIP5</h1>

				</div>
				<div class="vip_block_line" id="line3">
<p>1、药园简化刷新：一键刷出药园满星种子</p>
<p>2、招财神符30：每天可使用招财神符30次</p>
<p>3、自动猎命：增加一键猎命，免去点击鼠标的烦恼</p>
<p>4、元宝猎命：元宝召唤猎命师&ldquo;张道陵&rdquo;，极大幅度提升</p>
<p>获得特殊命格&ldquo;太初&rdquo;与其他优质命格的概率</p>
<p>5、角色培养增加钻石级培养：更容易洗出高属性</p>
<p>6、丹药直接制作：在角色查看丹药界面消费元宝，直接</p>
<p>制作相应等级的丹药（1品~5品丹药）</p>
<p>7、批量封灵：灵件可使用批量功能洗练属性</p>
<p>8、伙伴元宝传承：消耗一定元宝伙伴可获得额外等级</p>
<p>9、重置英雄副本：可消费元宝重置英雄副本2次</p>
<p>10、替身娃娃：可以使用替身娃娃，自动参加活动，免去因为时间问题而错过活动的烦恼</p>
<p>11、召唤如来：每天固定时间消费一定元宝召唤如来，如来存在期间，召唤如来的玩家将获得取经收益翻倍的加成，其他玩家护送取经也将获得20%的加成。</p>
<p>12、永久消除强化CD：开启三个强化队列后，可选使用元宝永久消除强化CD。</p>
<p class="important">13、包含VIP1-4所有功能</p>
                    
				</div>
				<div class="vip_block_foot">
				</div>
			</div>
			
			<div class="vip_block">
				<div class="vip_block_title">

					<h1>VIP6</h1>
				</div>
				<div class="vip_block_line" id="line3">
<p>1、增加体力20次：每天增加体力20次，元宝购买体力</p>
<p>2、招财神符批量使用</p>
<p>3、至尊洗点：玩家能够更加方便、非常容易地获得高属性</p>
<p>4、药园批量种植。</p>
<p class="important">5、包含VIP1-5所有功能</p>
				</div>
				<div class="vip_block_foot">
				</div>
			</div>
			
			<div class="vip_block">
				<div class="vip_block_title">
					<h1>VIP7</h1>

				</div>
				<div class="vip_block_line" id="line4">
<p>1、招财神符50：每天可使用招财神符50次</p>
<p>2、招财神符自动使用</p>
<p>3、自动购买体力：扫荡体力不足时自动购买体力</p>
<p>4、六级丹药：人物丹药面板可以直接服用六品丹药</p>
<p class="important">5、包含VIP1-6所有功能</p>

				</div>
				<div class="vip_block_foot">
				</div>
			</div>
			
			<div class="vip_block">
				<div class="vip_block_title">
					<h1>VIP8</h1>
				</div>

				<div class="vip_block_line" id="line4">
<p>1、增加体力45次：每天增加体力45次，元宝购买体力</p>
<p class="important">2、包含VIP1-7所有功能</p>
				</div>
				<div class="vip_block_foot">
				</div>
			</div>
			
			<div class="vip_block">

				<div class="vip_block_title">
					<h1>VIP9</h1>
				</div>
				<div class="vip_block_line" id="line5">
<p>1、招财神符100：每天可使用招财神符100次8</p>
<p class="important">2、包含VIP1-8所有功能</p>
				</div>

				<div class="vip_block_foot">
				</div>
			</div>
			
			<div class="vip_block">
				<div class="vip_block_title">
					<h1>VIP10</h1>
				</div>
				<div class="vip_block_line" id="line5">
<p>1、增加体力80次：每天增加体力80次，元宝购买体力</p>
<p>2、招财神符200：每天可使用招财神符200次</p>
<p class="important">3、包含VIP1-9所有功能</p>
				</div>
				<div class="vip_block_foot">
				</div>
			</div>

			
			<div class="vip_block">
				<div class="vip_block_title">
					<h1>VIP11</h1>
				</div>
				<div class="vip_block_line" id="line6">
<p>1、招财神符300：每天可使用招财神符300次</p>
<p class="important">2、包含VIP1-10所有功能</p>

				</div>
				<div class="vip_block_foot">
				</div>
			</div>
			
			<div class="vip_block">
				<div class="vip_block_title">
					<h1>VIP12</h1>
				</div>

				<div class="vip_block_line" id="line6">
<p>1、招财神符400：每天可使用招财神符400次</p>
<p class="important">2、包含VIP1-11所有功能</p>
				</div>
				<div class="vip_block_foot">
				</div>
			</div>
			
			<div class="vip_info">

				<p class="important">VIP各等级需充值元宝：</p>
				<table>
					<tr class="head_table">
						<td>VIP1</td>
						<td>VIP2</td>
						<td>VIP3</td>
						<td>VIP4</td>

						<td>VIP5</td>
						<td>VIP6</td>
						<td>VIP7</td>
						<td>VIP8</td>
						<td>VIP9</td>
						<td>VIP10</td>

						<td>VIP11</td>
						<td>VIP12</td>
						
					</tr>
					<tr>
						<td>100<br/>元宝</td>
						<td>500<br/>元宝</td>

						<td>1,000元宝</td>
						<td>2,000元宝</td>
						<td>5,000元宝</td>
						<td>10,000元宝</td>
						<td>20,000元宝</td>
						<td>50,000元宝</td>

						<td>100,000元宝</td>
						<td>200,000元宝</td>
						<td>500,000元宝</td>
						<td>1,000,000元宝</td>
					</tr>
				</table>
				<p class="important">注：充值金额可累计。<br/>例如：首次升级VIP4时需要2000元宝，所以玩家可以一次性充值2000元宝直接升至VIP4，也可以累计充值达到2000元宝。</p>

				<br/>
				<p class="important">VIP购买体力详细列表：</p>
				<table>
					<tr class="head_table">
						<td>VIP等级</td>
						<td>购买次数</td>
						<td>每次使用元宝</td>

					</tr>
					<tr>
						<td>VIP4</td>
						<td>1～5次</td>
						<td>40元宝</td>
					</tr>
					<tr>

						<td>VIP6</td>
						<td>6～20次</td>
						<td>80元宝</td>
					</tr>
					<tr>
						<td>VIP8</td>
						<td>21～45次</td>

						<td>200元宝</td>
					</tr>
					<tr>
						<td>VIP10</td>
						<td>46～80次</td>
						<td>400元宝</td>
					</tr>

				</table>
				<p class="important">招财神符详细列表：</p>
				<table>
					<tr class="head_table">
						<td>购买次数</td>
						<td>每次使用元宝</td>
					</tr>

					<tr>
						<td>1～9次</td>
						<td>次数 × 2 </td>
					</tr>
					<tr>
						<td>10～30次</td>
						<td>20</td>

					</tr>
					<tr>
						<td>31～50次</td>
						<td>50</td>
					</tr>
					<tr>
						<td>51～100次</td>

						<td>100元宝</td>
					</tr>
					<tr>
						<td>101～400次</td>
						<td>200元宝</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
	<div id="vip_foot">
	</div>
	<div class="footer">
		<p></p>			
	</div>

	</div>
 </div>
    </body>
</html>