<?php $title='英雄王座|英雄王座官网|49you英雄王座新手卡|职业|跑商|宠物|攻略';
$keywords="英雄王座,英雄王座官网,49you英雄王座,英雄王座新手卡,英雄王座职业,英雄王座宠物,英雄王座攻略";
$description="英雄王座,英雄王座官网,49you英雄王座是一款画面精致唯美的即时战斗大型网页游戏。49you英雄王座官网提供英雄王座新手卡礼包领取、各职业玩法、宠物和跑商攻略等，以及最新开服、火爆活动等资讯。"?>
<?php include('header.html'); ?>
<script language="javascript">
function getcard(){
	if($('#secode').val()!="49you英雄王座"){alert("请在\"第一步\"输入\"49you英雄王座\"");$('#secode').val("");return;}
	if($('#country').val()==0){alert("请选择服务器！");return;}
	window.open('<?=YOU_ROOT?>/get_package.html?ct='+$('#country').val());
}
</script>
 <!--content -->
 <div class="content">

    <div class="left">
<?php include('lefter_login.html'); ?>
<?php include('lefter_server.html'); ?>	  
<?php include('lefter_info.html'); ?>
<?php include('lefter_kf.html'); ?>

	 <div class="clear"></div>
     </div>
	 
	 <!--right -->
	 <div id="n-right">
	    <div class="hdp"><? include('lefter_gg.html'); ?></div>
	   
	    <div id="n-right-t"><h1>新手卡</h1><span>您现在的位置：<a href="#">首页</a> > <a href="#">新手卡</a></span></div>
		
		<div id="n-right-c">
		   <div id="n-right-c1">
		   
		      <div class="xsk1"><h1>第一步：输入游戏名称</h1>
			    <div class="xsk1-1"><input name="input" type="text" id="secode"	 class="xsk1-input"/><span style="color:red;">答案：49you英雄王座</span></div>
			  </div>
			  
			  <div class="xsk1"><h1>第二步：选择服务器</h1>
			    <div class="xsk1-1"><select name="coid" id="country" class="xsk1-input2">
                   <option value="0" selected="selected">请选择服务器</option>
            <? if(!empty($cardlist)){ 
                    foreach($cardlist as $k=>$v){?>
                    <option value="<?=$v["cardtype_id"]?>"><?=$v["cardtype_name"]?></option>
            <?}
            }?>
                </select>&nbsp;&nbsp;<input class="inp3" type="button" name="button" value="点击领取" onClick="getcard()" /></div>
			  </div>
		      
			  <div class="game-zl-1">
			     <div class="game-zl-1-t"><h1>道具奖励</h1></div>
				 <div class="game-zl-1-c">高级强化石X2，奇美拉的翅膀X5，特级小型血瓶X99，特级小型魔瓶X99，离线经验卡X1，双倍经验卡X1，万能强化珠X3</div>
			  </div>
			  
			  <div class="game-zl-1">
			     <div class="game-zl-1-t"><h1>使用方法</h1></div>
				 <div class="game-zl-1-c"><b style="color:red;">方法一</b>：进入游戏后可以点击右上角的<img src="images/xsk444.jpg"> 打开活动面板，选择【福利】---【新手卡礼包】，点击领取礼包后按ctrl+V粘贴从官网领取的新手卡激活码即可领取。</div>
                 <p><img src="images/xsk111.jpg"></p>
                 <div class="game-zl-1-c"><b style="color:red;">方法二</b>：点击游戏右上角的地图，在主城米德加特【57,109】处找到『NPC库洛洛』->点击『新手礼包兑换』->输入新手礼包激活码进行兑换。</div>
                 <p><img src="images/xsk333.jpg"></p>
                 <p><img src="images/xsk222.jpg"></p>
			  </div>
			  
			  <div class="game-zl-1">
			     <div class="game-zl-1-t"><h1>注意事项</h1></div>
				 <div class="game-zl-1-c">1、每个激活码只能使用一次，不能重复使用。<p>2、该活动的所有解释权归49you网页游戏平台。</p>3、每个账号只能在一个服务器内兑换一次。</div>
			  </div>

			  <div class="clear"></div>
		   </div>
		</div>
		
		<div class="clear"></div>
	 </div>
	 <!--right end -->
	 
	 <div class="clear"></div>
 </div><!--content end -->
<?php include('footer.html'); ?>

