<?php $title='英雄王座|英雄王座官网|英雄王座2|49you英雄王座新手卡|答题器|职业|攻略';
$keywords="英雄王座,英雄王座官网,49you英雄王座,英雄王座2,英雄王座新手卡,英雄王座职业,英雄王座答题器,英雄王座攻略";
$description="英雄王座,英雄王座官网,49you英雄王座是一款以北欧神话为背景的即时战斗网页游戏。49you英雄王座官网提供英雄王座新手卡、特色礼包领取，战士、法师加点，宠物和各职业攻略等，以及英雄王座2最新开服、火爆活动等资讯。"?>
<?php include('header.html'); ?>
 <!--content -->
 <div class="content">
   <div class="left">   
<?php include('lefter_login.html'); ?>
<?php include('lefter_server.html'); ?>
<?php include('lefter_kf.html'); ?>
<?php include('lefter_yx.html'); ?>
     </div>
	 
	 <!--right -->
	 <div class="right">

	   <div class="hdp">
       <? include('lefter_gg.html'); ?> 
       </div>
       <div class="small-img">
           <div class="small-img1">
		      <ul>
			     <li class="small-img1-1"><a href="cardlist.html" target="_blank"><img src="images/07.jpg" border="0" /></a></li>
				 <li class="small-img1-1"><a href="<?=get_newslink(4082)?>" target="_blank"><img src="images/06.jpg" border="0" /></a></li>
				 <li class="small-img1-1"><a href="<?=get_newslink(4021)?>" target="_blank"><img src="images/02.jpg" border="0" /></a></li>
				 <li class="small-img1-2"><a href="<?=get_newslink(4084)?>" target="_blank"><img src="images/01.jpg" border="0" /></a></li>
				 <li class="small-img1-3"><a href="<?=get_newslink(4019)?>" target="_blank"><img src="images/05.jpg" border="0" /></a></li>
				 <li class="small-img1-3"><a href="<?=get_newslink(4014)?>" target="_blank"><img src="images/04.jpg" border="0" /></a></li>
				 <li class="small-img1-3"><a href="<?=get_newslink(4025)?>" target="_blank"><img src="images/03.jpg" border="0" /></a></li>
				 <li class="small-img1-4"><a href="<?=get_newslink(4079)?>" target="_blank"><img src="images/08.jpg" border="0" /></a></li>
			  </ul>
		   </div>
	   </div>
	    
		<!--17173-->
		<script type="text/javascript" src="js/changetab.js"></script>
		<div class="h-17173">
			
			<div class="tabmenu">
              <ul>
               <li onmouseover="tabChange(this,'tabcontent')" class="cli">热点</li>
               <li onmouseover="tabChange(this,'tabcontent')">新闻</li>
			   <li onmouseover="tabChange(this,'tabcontent')">活动</li>
              </ul>
            </div>

            <div id="tabcontent">
              <ul name="tabul">
                      <?if($rs_news){
                        foreach($rs_news as $k=> $v){
                        if($v["cate_id"]=="1" || $v["cate_id"]=="2"){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
			    <li class="<?=$cls?>">
                <?if($v["cate_id"]=="1"){?><span class="date"><?=date('m-d',$v["add_time"])?></span><? }else{ ?><span class="date" style="color:red;"><?=date('m-d',$v["add_time"])?></span><? } ?>
                [<?if($v["cate_id"]=="1"){?><a href="news.html?pid=243&cid=245" target="_blank">新闻</a><?}else{?><a href="news.html?pid=243&cid=246" target="_blank">活动</a><?}?>]<a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"><?=$v["subtitle"]?></a>
                </li>
                      <?}
                        }
                      }?>
         	 </ul>
              
			  <ul class="hidden">
                      <?if($rs_news){
                        foreach($rs_news as $k=> $v){
                        if($v["cate_id"]=="245"){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>              
			    <li class="<?=$cls?>"><span class="date"><?=date('m-d',$v["add_time"])?></span>[<a href="news.html?pid=243&cid=245" target="_blank">新闻</a>]<a href="<?=get_newslink($v["info_id"])?>"><?=$v["subtitle"]?></a></li>
                      <?}
                        }
                      }?>
                
			  </ul>
                           
			 <ul class="hidden">
                      <?if($rs_news){
                        foreach($rs_news as $k=> $v){
                        if($v["cate_id"]=="246"){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>              
			    <li class="<?=$cls?>">
                <?if($v["cate_id"]=="1"){?><span class="date"><?=date('m-d',$v["add_time"])?></span><? }else{ ?><span class="date" style="color:red;"><?=date('m-d',$v["add_time"])?></span><? } ?>
                [<a href="news.html?pid=243&cid=246" target="_blank">活动</a>]<a href="<?=get_newslink($v["info_id"])?>"><?=$v["subtitle"]?></a></li>
                      <?}
                        }
                      }?>
             </ul>
           </div>
	 </div><!--17173 end-->
		
		<!--yxgl-->
		<div class="yxgl">
		  <div class="yxgl-top"><h1>游戏攻略</h1><span><a href="news.html?pid=242&cid=251">更多>></a></span></div>
		  <div class="yxgl-content">
			  <ul>
                      <?if($rs_gamegs){
                        foreach($rs_gamegs as $k=> $v){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
			    <li class="<?=$cls?>" ><span class="date"><?=date('m-d',$v["add_time"])?></span><a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"><?=$v["subtitle"]?></a></li>
                      <?}
                      }?>
			  </ul>
		  </div>
		</div><!--yxgl end-->
		
		<!--infro -->
        <div id="infro">
		  <div class="infro-top"><h1>游戏资料</h1></div>
          <div class="infro-content">
		     <div class="infro-content1">
			    <ul>
			      <li> <a href="<?=get_newslink(4001)?>">职业介绍</a>|<a href="<?=get_newslink(4001)?>">游戏背景</a>|<a href="<?=get_newslink(4002)?>">战斗模式</a>|<a href="<?=get_newslink(4003)?>">好友系统</a>|<a href="<?=get_newslink(4005)?>">交易系统</a>|<a href="<?=get_newslink(4006)?>">排名系统</a>|<a href="<?=get_newslink(4007)?>">邮件系统</a>|<a href="<?=get_newslink(4008)?>">摆摊系统</a></li>
                   <li><a href="<?=get_newslink(4009)?>">背包系统</a>|<a href="<?=get_newslink(4010)?>">公会系统</a></li>
			   </ul>
			 </div>
			 
			 <div class="infro-content2">
			    <ul>
			      <li> <a href="<?=get_newslink(4011)?>">仓库系统</a>|<a href="<?=get_newslink(4021)?>">VIP系统</a>|<a href="<?=get_newslink(4023)?>">竞技场</a>|<a href="<?=get_newslink(4024)?>">公会城战</a>|<a href="<?=get_newslink(4025)?>">宠物争霸</a>|<a href="<?=get_newslink(4026)?>">宠物资质提升</a>|<a href="<?=get_newslink(4027)?>">宠物洗练</a>|<a href="<?=get_newslink(4028)?>">宠物系统</a></li>
			      <li><a href="<?=get_newslink(4029)?>">切磋系统</a>|<a href="<?=get_newslink(4030)?>">红名惩罚</a></li>
			   </ul>
			 </div>
			 
			 <div class="infro-content2">
			    <ul>
			      <li> <a href="<?=get_newslink(4012)?>">神兵转换</a>|<a href="<?=get_newslink(4013)?>">公会等级</a>|<a href="<?=get_newslink(4014)?>">宠物抓捕</a>|<a href="<?=get_newslink(4015)?>">挂机系统</a>|<a href="<?=get_newslink(4016)?>">神兵重生</a>|<a href="<?=get_newslink(4017)?>">神兵洗练</a>|<a href="<?=get_newslink(4018)?>">神兵附魂</a>|<a href="<?=get_newslink(4019)?>">神兵系统</a></li>
			      <li><a href="<?=get_newslink(4020)?>">寄卖行</a></li>
			   </ul>
			 </div>
		  </div>
        </div>
		
		<!--yxgl-->
		<div class="yxgl" style="float:left; margin-left:0;">
          <div class="yxgl-top"><h1>日常活动</h1><span><a href="news.html?pid=242&cid=253">更多>></a></span></div>
		  <div class="yxgl-content2">
			  <ul>
                      <?if($rs_gamexq){
                        foreach($rs_gamexq as $k=> $v){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
			    <li class="<?=$cls?>" ><span class="date"><?=date('m-d',$v["add_time"])?></span><a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"><?=$v["subtitle"]?></a></li>
                      <?}
                      }?>
			  </ul>
		  </div>
		</div><!--yxgl end-->
			
			<!--yxgl-->
		<div class="yxgl">
          <div class="yxgl-top"><h1>常见问题</h1><span><a href="news.html?pid=242&cid=252">更多>></a></span></div>
		  <div class="yxgl-content2">
			  <ul>
                      <?if($rs_gamequ){
                        foreach($rs_gamequ as $k=> $v){
                        $cls = $v["attachment"]=="red" ? 'new_list_red' : '';
                        ?>
			    <li class="<?=$cls?>" ><span class="date"><?=date('m-d',$v["add_time"])?></span><a href="<?=get_newslink($v["info_id"])?>" title="<?=$v["subtitle"]?>"><?=$v["subtitle"]?></a></li>
                      <?}
                      }?>
			  </ul>
		  </div>
		</div><!--yxgl end-->
		<div class="clear"></div>
		
<!--hzmt-->
<?php include('lefter_mt.html'); ?>
<!--hzmt end-->
	 
	 </div><!--right end -->
	 <div class="clear"></div>
 </div><!--content end -->
<?php include('footer.html'); ?>
