	  <div class="n-game-infor">
	     <div class="n-game-infor-t"></div>
		 <div class="n-game-infor-c">
		      
			  <div class="n-game-infor-c1">
			      <div class="n-game-infor-text">
				  <a href="<?=get_newslink(4001)?>">职业介绍</a><a href="<?=get_newslink(4001)?>">游戏背景</a><a href="<?=get_newslink(4002)?>">战斗模式</a><a href="<?=get_newslink(4003)?>">好友系统</a><a href="<?=get_newslink(4005)?>">交易系统</a><a href="<?=get_newslink(4006)?>">排名系统</a><a href="<?=get_newslink(4007)?>">邮件系统</a><a href="<?=get_newslink(4008)?>">摆摊系统</a><a href="<?=get_newslink(4009)?>">背包系统</a><a href="<?=get_newslink(4010)?>">公会系统</a>
				  </div>
			  </div>
			  
			  <div class="n-game-infor-c2">
			      <div class="n-game-infor-text">
				  <a href="<?=get_newslink(4011)?>">仓库系统</a><a href="<?=get_newslink(4021)?>">VIP系统</a><a href="<?=get_newslink(4023)?>">竞技场</a><a href="<?=get_newslink(4024)?>">公会城战</a><a href="<?=get_newslink(4025)?>">宠物争霸</a><a href="<?=get_newslink(4026)?>">资质提升</a><a href="<?=get_newslink(4027)?>">宠物洗练</a><a href="<?=get_newslink(4028)?>">宠物系统</a><a href="<?=get_newslink(4029)?>">切磋系统</a><a href="<?=get_newslink(4030)?>">红名惩罚</a>
				  </div>
			  </div>
			  
			  <div class="n-game-infor-c3">
			      <div class="n-game-infor-text">
				 <a href="<?=get_newslink(4012)?>">神兵转换</a><a href="<?=get_newslink(4013)?>">公会等级</a><a href="<?=get_newslink(4014)?>">宠物抓捕</a><a href="<?=get_newslink(4015)?>">挂机系统</a><a href="<?=get_newslink(4016)?>">神兵重生</a><a href="<?=get_newslink(4017)?>">神兵洗练</a><a href="<?=get_newslink(4018)?>">神兵附魂</a><a href="<?=get_newslink(4019)?>">神兵系统</a><a href="<?=get_newslink(4020)?>">寄卖行</a>
				  </div>
			  </div>
		 </div>
		 <div class="n-game-infor-f"></div>
		 <div class="clear"></div>
	  </div>
