<div class="f-layout">
    <div class="f-layout-1">
	   <div class="f-top">健康游戏公告：<span class="p"> 抵制不良游戏</span><span class="p">拒绝盗版游戏</span><span class="p">注意自我保护</span><span class="p">谨防受骗上当</span><span class="p">适度游戏益脑</span><span class="p">沉迷游戏伤身</span><span class="p">合理安排时间</span><span class="p">享受健康生活</span><span class="p2">56UU——游戏天下，精彩人生!</span></div>
	   <div class="f-con">
	       
		   <div class="f-con-1"><strong>游戏充值</strong>
		      <div class="f-con-1-c"> 
			   <ul>
			      <li><a href="<?=YOU_ROOT?>/?m=pay">网银充值</a></li>
				  <li><a href="<?=YOU_ROOT?>/?m=pay">支付宝充值</a></li>
				  <li><a href="<?=YOU_ROOT?>/?m=pay">易宝神州行充值</a></li>
				  <li><a href="<?=YOU_ROOT?>/?m=pay">骏网卡充值</a></li>
				  <li><a href="<?=YOU_ROOT?>/?m=pay">更多>></a></li>
			   </ul>
			   </div>
		   </div>
		   
		    <div class="f-con-1"><strong>用户服务</strong>
		      <div class="f-con-1-c"> 
			   <ul>
			      <li><a href="<?=YOU_ROOT?>/?m=user&action=register">56UU帐号注册</a></li>
				  <li><a href="<?=YOU_ROOT?>/?m=user&action=getprotections">找回密码</a></li>
				  <li><a href="<?=YOU_ROOT?>/?m=kf">客服中心</a></li>
				  <li><a href="<?=YOU_ROOT?>/?m=kf">被盗号找回服务</a></li>
				  <li><a href="<?=YOU_ROOT?>/?m=kf&action=view&content_id=980">玩家守则</a></li>
			   </ul>
			   </div>
		   </div>
		   
		    <div class="f-con-1"><strong>游戏社区</strong>
		      <div class="f-con-1-c"> 
			   <ul>
			      <li><span class="left"><a href="<?=BBS_ROOT?>/forumdisplay.php?fid=201&sid=pC67j6">龙将</a></span><span class="right"><a href="<?=BBS_ROOT?>/forumdisplay.php?fid=195&sid=pC67j6">一骑当先</a></span></li>
				  <li><span class="left"><a href="<?=BBS_ROOT?>/forumdisplay.php?fid=143&sid=pC67j6">神仙道</a></span><span class="right"><a href="<?=BBS_ROOT?>/forumdisplay.php?fid=155&sid=pC67j6">盛世三国</a></span></li>
				  <li><span class="left"><a href="<?=BBS_ROOT?>/forumdisplay.php?fid=181&sid=pC67j6">降龙18掌</a></span><span class="right"><a href="<?=BBS_ROOT?>/forumdisplay.php?fid=174&sid=pC67j6">火影世界</a></span></li>
				  <li><span class="left"><a href="<?=BBS_ROOT?>/forumdisplay.php?fid=167&sid=pC67j6">108将</a></span><span class="right"><a href="<?=BBS_ROOT?>/forumdisplay.php?fid=83&sid=pC67j6">傲视天地</a></span></li>
				  <li><span class="left"><a href="<?=BBS_ROOT?>/forumdisplay.php?fid=86&sid=pC67j6">天地英雄</a></span><span class="right"><a href="<?=BBS_ROOT?>/forumdisplay.php?fid=82&sid=pC67j6">梦幻修仙</a></span></li>

			   </ul>
			   </div>
		   </div>
		   
		   <div class="f-con-2"><strong>快速跳转</strong>
		       <div class="f-con-2-c">
			      <div class="f-con-2-c-logo"><a href="<?=HTTP_ROOT?>" target="_blank"><img src="/images/logo-1.gif" border="0" /></a></div>
				  <div class="f-con-2-c-logo"><a href="http://yqdx.56uu.com" target="_blank"><img src="/images/logo-2.gif" border="0" /></a></div>
				  <div class="f-con-2-c-logo"><a href="http://sxd.56uu.com" target="_blank"><img src="/images/logo-3.gif" border="0" /></a></div>
			   </div>
			   <div class="f-con-2-c-2"><a href="http://long.56uu.com/">龙将</a>|<a href="http://yqdx.56uu.com/">一骑当先</a>|<a href="http://sxd.56uu.com">神仙道</a>|<a href="http://sg.56uu.com">盛世三国</a>|<a href="http://mhxx.56uu.com">梦幻修仙</a>|<a href="http://as.56uu.com">傲视天地</a> </div>
		   </div>
		   
		 </div>
	   <div class="f-f">
	       <div class="f-f-1"><a href="<?=YOU_ROOT?>/?m=function&action=about">关于我们</a>|<a href="<?=YOU_ROOT?>/?m=function&action=business">商务合作</a>|<a href="<?=YOU_ROOT?>/?m=function&action=job">人才招聘</a>|<a href="<?=YOU_ROOT?>/?m=kf">客服中心</a>|<a href="<?=BBS_ROOT?>/">游戏论坛</a></div>
		   <div class="f-f-2">广州翁般扎信息科技有限公司<a href="#">文网文[2010]320号</a>|<a href="#">粤ICP备10051215号</a>|<a href="#">增值电信业务经营许可证粤B2-20065178 </a>|<a href="#">文网游备字(2011)W-SLG019号</a></br>
24小时客服电话：4000-656-056<span>文化部网络游戏举报和联系电子邮箱：wlwh@vip.sina.com</span>纠纷处理方式：联系客服或依《用户协议》约定方式处理</div>
	   </div>
	</div>
</div>

<? 
$urlarr=explode(".",$_SERVER["HTTP_HOST"]);
    $jsurl="http://www.".$urlarr[1].".".$urlarr[2];
?>
<script src="<?=$jsurl?>/Template/2012/js/member_ref.js" language="JavaScript"></script>