<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?=$titleinfo?>_56uu龙将_龙将官网_56uu网页游戏平台</title>
<link href="/style/style.css" rel="stylesheet" type="text/css" />
<link href="/top/top.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
<script type="text/javascript" src="/js/108j.js"></script>
</head>
<body>
<!--------------------------------------------------------------------top bar--------------------------------------------------------------------------->
<?php include('top.html'); ?>
	
	<!--content-->
	<div id="content">
	  <div id="main">
	    <div id="main2">
		  
		   <div id="i-left">
<?php include('leftn.html'); ?>
           </div>
		   
		   <!--right -->
		   <div id="n-right">
		      <div id="n-right-title"><strong><?=$titleinfo?></strong><span>你现在的位置：<a href="#"><?=$titleinfo?></a></span></div>
			  <div id="n-right-content">
<div id="n-right-c-content-1">
				  <ul>
                          <?if($list_news){
        	foreach($list_news as $k=> $v){?>
						   <li><span class="list-date"><?=date('y-m-d',$v["add_time"])?></span><img src="/template/images/neiye-ico.gif" />&nbsp;&nbsp;&nbsp;<a href="<?=get_newslink($v["info_id"])?>"><?=$v["title"]?></a></li>
                      		<?}}?>
				  </ul><br/><br/>
     <div class="newslist-page" style=" text-align:center;">
    <? pager_bar($pager,WEB_ROOT."/games/pager.html"); ?>
     </div>  
				</div>			  
                </div>
			  <div id="n-right-footer"><img src="/images/neiye-footer.gif" /></div>
			  <div class="clear"></div>
		   </div>
		   <div class="clear"></div>
		</div>
	  </div>
	  <div id="main-f"></div>
	</div>
	
	<div class="clear"></div>
  </div> 
  <div class="clear"></div>
</div>

<!------------------------------------------------------------------------- footer -------------------------------------------------------------------->
<?php include('footer.html'); ?>
</body>
</html>
