<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="侠客世界，新服活动,新手礼包,礼包赠送">
<meta name="description" content="《侠客世界》开服系列活动，六大活动助你踏入江湖！">
<title>六大活动迎新服—《侠客世界》官方网站</title>
<link href="xk_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="subpageBg">
	<div class="main" style="height:auto">
		<div class="subpageTop">
			<a href="http://xk.49you.com/" target="_blank"><img class="mainLogo" alt="侠客世界logo" src="images/spacer.gif" /></a>
			<div class="topNav" ><a href="http://xk.49you.com/server_list.html" target="_blank"><img src="images/spacer.gif" /></a><a href="http://xk.49you.com/" target="_blank"><img src="images/spacer.gif" /></a><a href="http://bbs.49you.com/forumdisplay.php?fid=80" target="_blank"><img src="images/spacer.gif" /></a><a href="http://xk.49you.com/news_4277.html" target="_blank"><img src="images/spacer.gif" style="width:120px" /></a><a href="#"></a></div>
		</div>
		<div class="subpageMain">
			<ul class="subpageHd">
				<li id="leftNav01" class="now"><a href="hd1.html"></a></li>
				<li id="leftNav02"><a href="hd2.html"></a></li>
				<li id="leftNav03"><a href="hd3.html"></a></li>
				<li id="leftNav04"><a href="hd4.html"></a></li>
				<li id="leftNav05"><a href="hd5.html"></a></li>
				<li id="leftNav06"><a href="http://bbs.49you.com/viewthread.php?tid=5519&page=1&extra=#pid25688" target="_blank"></a></li>
			</ul>
			<div class="fanhui"><a href="index.html"><img src="images/fanhui.gif" border="0" /></a></div>
			<div class="txt_w">
				<h2><strong>活动一：新服狂欢 系列活动</strong></h2>
		        <p>　　为迎接大家来到一个全新的服务器，我们准备了大量的新服系列活动，进入游戏即可直接参与活动，内容多样，奖励多彩，千万不要错过。</p>
			  <h4>活动时间：</h4>
					<p>开服至所有活动结束</p>

			  <h4>参与条件：</h4>
					<p>所有</p>
			        <h4>活动内容：</h4>
					<p>在开服之后，在大家的界面会提示大家当前进行的狂欢活动。点击界面后大家可在主控栏的“任务-活动”栏查看活动详情。</p>
			  <h4>系列活动介绍：</h4>
					<p><strong>活动一：非常礼遇，帮会问鼎</strong></p>
					<p>开服第三日23:59以前，所有二级及二级以上帮会的帮会成员，都将获得帮会礼包一个。<a href="http://xk.49you.com/news_4598.html" target="_blank">&gt;&gt;查看活动详情&lt;&lt;</a><br />
				    </p>
					<p><strong>活动二：华山论剑，英雄谁属</strong><br />
					  开服第七日“天下论剑场”积分排名前五十的玩家将根据排名的不同获得不同的称号。<a href="http://xk.49you.com/news_4599.html" target="_blank">&gt;&gt;查看活动详情&lt;&lt;</a><br />
				    </p>
					<p><strong>活动三：刀剑拳棍，如我手足</strong><br />
					  开服第十四日23:59统计大家的装备评分，根据装备评分的排名，将获得不同的称号奖励。<a href="http://xk.49you.com/news_4600.html" target="_blank">&gt;&gt;查看活动详情&lt;&lt;</a><br />
				    </p>
					<p><strong>活动四：集字有礼，全民章回</strong><br />
					服务器内第一个完成第五章章回任务的玩家将会获得“江湖礼包”一个，同时还将为全服玩家赢来大量修为的奖励。<a href="http://xk.49you.com/news_4601.html" target="_blank">&gt;&gt;查看活动详情&lt;&lt;</a><br />
				    </p>
					<p><strong>活动五：快速升级，谁是第一</strong><br />
					  第一个达到60级的玩家将获得全服唯一称号“快速冲级王”。还将为大家带来双倍经验一天！<a href="http://xk.49you.com/news_4603.html" target="_blank">&gt;&gt;查看活动详情&lt;&lt;</a><br />
					  <br />
					</p>
		  </div>
		</div>

	</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6559232-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
