<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="侠客世界，新服活动,新手礼包,礼包赠送">
<meta name="description" content="《侠客世界》开服系列活动，六大活动助你踏入江湖！">
<title>六大活动迎新服—《侠客世界》官方网站</title>
<link href="xk_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="subpageBg">
	<div class="main" style="height:auto">
		<div class="subpageTop">
			<a href="http://xk.49you.com/" target="_blank"><img class="mainLogo" alt="侠客世界logo" src="images/spacer.gif" /></a>
			<div class="topNav" ><a href="http://xk.49you.com/server_list.html" target="_blank"><img src="images/spacer.gif" /></a><a href="http://xk.49you.com/" target="_blank"><img src="images/spacer.gif" /></a><a href="http://bbs.49you.com/forumdisplay.php?fid=80" target="_blank"><img src="images/spacer.gif" /></a><a href="http://xk.49you.com/news_4277.html" target="_blank"><img src="images/spacer.gif" style="width:120px" /></a><a href="#"></a></div>
		</div>
		<div class="subpageMain">
			<ul class="subpageHd">
				<li id="leftNav01"><a href="hd1.html"></a></li>
				<li id="leftNav02"><a href="hd2.html"></a></li>
				<li id="leftNav03" class="now"><a href="hd3.html"></a></li>
				<li id="leftNav04"><a href="hd4.html"></a></li>
				<li id="leftNav05"><a href="hd5.html"></a></li>
				<li id="leftNav06"><a href="http://bbs.49you.com/viewthread.php?tid=5519&page=1&extra=#pid25688" target="_blank"></a></li>
			</ul>
			<div class="fanhui"><a href="index.html"><img src="images/fanhui.gif" border="0" /></a></div>
			<div class="txt_w">
				<h2><strong>连续登录 坐着升级</strong></h2>
		        <p>　　在侠客世界里，升级方式多种多样，就连打坐都能获得不菲经验，让您畅享坐着升级的非凡待遇。此外，每天登录都可以领取“新手兑换卡”，利用新手兑换卡还能兑换一些好东西哦。</p>
	    <h4>活动时间：</h4>
					<p>登陆奖励时间：开服启至开服第七日23:59
					  <br />
					  兑换奖励时间：开服启至开服第七日23:59</p>
					
	                <h4>活动NPC:</h4>
					<p>牛家村-无名 </p>
	    <h4>参与条件：</h4>
					<p>所有玩家</p>
			        <h4>活动内容：</h4>
					<p>活动期间，玩家每天登陆可领取强效静心散（1.5倍打坐经验药）一颗和新手兑换券一张。<br />
					  活动期间可利用新手兑换卡兑换各类奖励，兑换详情如下：<br />
				    <img src="images/2.jpg" width="370" height="112" /></p>
					<p><strong>道具说明：</strong></p>
					<p>1.强效静心散：使用后1日打坐时获得的经验增加50%，从使用时刻起至下一个0点为1日。<br />
					  2.秘制静心散：使用后1日打坐时获得的经验增加100%，从使用时刻起至下一个0点为1日。<br />
					  3.醍醐：可用于角色或者侠客参悟技能。技能需要达到一定等级后才可以参悟。<br />
					  4.高级强力（侠客）：给侠客使用后侠客学会技能“强力”，“强力”技能可提升侠客攻击力。若侠客已学会“强力”技能，则增加此技能经验值500点。<br />
					  5.初阶小强化石：可用于强化1-49阶的装备。<br />
				    6.提炼丹可于“商城 - 特殊道具”购买，道具售价1元宝，不可用礼券购买。</p>
					<h4>活动说明：</h4>
			  <p>1.开服前三天领取的1.5倍打坐经验药和新手兑换券奖励每天只可领取一次。<br />
					  2.新手兑换券请在开服第七日前尽快兑换，开服第八日开始不可兑换。
					  <br />
					  3.新手兑换券在活动后无其他用途可进行丢弃。<br />
			    友情tips：<a href="http://xk.49you.com/news_4345.html" target="_blank">&gt;&gt;如何使用侠客技能书&lt;&lt;</a></p>
                    <p><br />
                    </p>								
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6559232-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
