<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="侠客世界，新服活动,新手礼包,礼包赠送">
<meta name="description" content="《侠客世界》开服系列活动，六大活动助你踏入江湖！">
<title>六大活动迎新服—《侠客世界》官方网站</title>
<link href="xk_style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {
	color: #FF0000;
	font-weight: bold;
}
-->
</style>
</head>
<body>
<div id="subpageBg">
	<div class="main" style="height:auto">
		<div class="subpageTop">
			<a href="http://xk.49you.com/" target="_blank"><img class="mainLogo" alt="侠客世界logo" src="images/spacer.gif" /></a>
			<div class="topNav" ><a href="http://xk.49you.com/server_list.html" target="_blank"><img src="images/spacer.gif" /></a><a href="http://xk.49you.com/" target="_blank"><img src="images/spacer.gif" /></a><a href="http://bbs.49you.com/forumdisplay.php?fid=80" target="_blank"><img src="images/spacer.gif" /></a><a href="http://xk.49you.com/news_4277.html" target="_blank"><img src="images/spacer.gif" style="width:120px" /></a><a href="#"></a></div>
		</div>
		<div class="subpageMain">
			<ul class="subpageHd">
				<li id="leftNav01"><a href="hd1.html"></a></li>
				<li id="leftNav02"><a href="hd2.html"></a></li>
				<li id="leftNav03"><a href="hd3.html"></a></li>
				<li id="leftNav04" class="now"><a href="hd4.html"></a></li>
				<li id="leftNav05"><a href="hd5.html"></a></li>
				<li id="leftNav06"><a href="http://bbs.49you.com/viewthread.php?tid=5519&page=1&extra=#pid25688" target="_blank"></a></li>
			</ul>
			<div class="fanhui"><a href="index.html"><img src="images/fanhui.gif" border="0" /></a></div>
			<div class="txt_w">
				<h2><strong>首次充值 好礼连连</strong></h2>
		        <p>　　在侠客世界里面，用于购买各类神异道具的货币是元宝。利用元宝除了可以购买道具强化装备外，还可以刷新环任务，开启包裹雇佣镖师等，端的是用途无穷。元宝可以通过向游戏内充值或者交易行出售道具的方式获得。现为庆祝新服，现在充值，不仅可以获得足量元宝，更可以额外获取奖励。
	          </p>
                <h4>活动时间：</h4>
					<p>开服之日起</p>
					
	                <h4>特别提示：</h4>
			        <p>玩家在侠客世界里充值超过5元人民币即可前往“自屋-礼物盒”中领取。<strong> </strong></p>
                    <h4>活动方式：</h4>
					<p>充值后于“牛家村-自屋-礼物盒”处自助领取奖励。<strong> </strong></p>
			        <h4>参与条件：</h4>
					<p>所有玩家</p>
					<h4>活动内容：</h4>
					<p>服务器开启后，只要充值超过5RMB，即可在 自屋 礼物盒 处领取 至尊礼包一个。本活动奖励仅可领取一次。</p>
					<p><strong>礼包内容：</strong></p>
					<p><img src="images/3.jpg" width="387" height="109" /></p>
		  </div>
		</div>

	</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6559232-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
