<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="侠客世界，新服活动,新手礼包,礼包赠送">
<meta name="description" content="《侠客世界》开服系列活动，六大活动助你踏入江湖！">
<title>六大活动迎新服—《侠客世界》官方网站</title>
<link href="xk_style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
</style>
</head>
<body>
<div id="subpageBg">
	<div class="main" style="height:auto">
		<div class="subpageTop">
			<a href="http://xk.49you.com/" target="_blank"><img class="mainLogo" alt="侠客世界logo" src="images/spacer.gif" /></a>
			<div class="topNav" ><a href="http://xk.49you.com/server_list.html" target="_blank"><img src="images/spacer.gif" /></a><a href="http://xk.49you.com/" target="_blank"><img src="images/spacer.gif" /></a><a href="http://bbs.49you.com/forumdisplay.php?fid=80" target="_blank"><img src="images/spacer.gif" /></a><a href="http://xk.49you.com/news_4277.html" target="_blank"><img src="images/spacer.gif" style="width:120px" /></a><a href="#"></a></div>
		</div>
		<div class="subpageMain">
			<ul class="subpageHd">
				<li id="leftNav01"><a href="hd1.html"></a></li>
				<li id="leftNav02"><a href="hd2.html"></a></li>
				<li id="leftNav03"><a href="hd3.html"></a></li>
				<li id="leftNav04"><a href="hd4.html"></a></li>
				<li id="leftNav05" class="now"><a href="hd5.html"></a></li>
				<li id="leftNav06"><a href="http://bbs.49you.com/viewthread.php?tid=5519&page=1&extra=#pid25688" target="_blank"></a></li>
			</ul>
			<div class="fanhui"><a href="index.html"><img src="images/fanhui.gif" border="0" /></a></div>
			<div class="txt_w">
				<h2><strong>白金新手 自助领取</strong></h2>
		        <p>　　来到侠客世界，可是一个福利多多的地方，除了活动多以外，经常还能发现一些意外的奖励，比如笑傲江湖礼包。</p>
	    <h4>活动时间：</h4>
					<p>开服之日启</p>
					

                    <h4>参与条件：</h4>
					<p>所有玩家</p>
			        <h4>活动内容：</h4>
					<p>大家可在官网领取新手卡后于游戏内“牛家村—百晓生”处领取笑傲江湖礼包。</p>
					<p><a href="http://xk.49you.com/cardlist.html" target="_blank" class="STYLE1">官网领取链接&gt;&gt;&gt;</a></p>
					<h4>礼包内容：</h4>
					<p><img src="images/4.jpg" /><br />
					  <br />
			  </p>								
			</div>
		</div>

	</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6559232-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script src="http://static.kunlun.com/images/head/platformFooter.js" ></script>
</body>
</html>
