<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="侠客世界，新服活动,新手礼包,礼包赠送">
<meta name="description" content="《侠客世界》开服系列活动，六大活动助你踏入江湖！">
<title>六大活动迎新服-《侠客世界》官方网站</title>
<link href="xk_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="mainBg">
	<div class="main">
		<div class="mainTop"></div>
		<div class="mainTop2"></div>
		<div class="mainEnd"></div>
		
		<a href="http://xk.49you.com/" target="_blank"><img class="mainLogo" alt="侠客世界logo" src="images/spacer.gif" /></a>
		<a href="hd1.html"><img class="huodong01" alt="活动1" src="images/spacer.gif" /></a>
		<a href="hd2.html"><img class="huodong02" alt="活动2"  src="images/spacer.gif" /></a>
		<a href="hd3.html"><img class="huodong03" alt="活动3"  src="images/spacer.gif" /></a>
		<a href="hd4.html"><img class="huodong04" alt="活动4"  src="images/spacer.gif" /></a>
		<a href="hd5.html"><img class="huodong05" alt="活动5"  src="images/spacer.gif" /></a>
		<a href="http://bbs.49you.com/viewthread.php?tid=5519&page=1&extra=#pid25688" target="_blank"><img  src="images/spacer.gif" alt="活动6" border="0" class="huodong06" /></a>	
	  <div class="topNav" ><a href="http://xk.49you.com/server_list.html" target="_blank"><img src="images/spacer.gif" /></a><a href="http://xk.49you.com/" target="_blank"><img src="images/spacer.gif" /></a><a href="http://bbs.49you.com/forumdisplay.php?fid=80" target="_blank"><img src="images/spacer.gif" /></a><a href="http://xk.49you.com/news_4277.html" target="_blank"><img src="images/spacer.gif" style="width:120px" /></a><a href="#"></a></div>
	</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-6559232-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
