<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style/page.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">

<div class="wipper1"><span>进入游戏　|  游戏注册</span></div>

<div class="wipper2"></div>

<div class="wipper3">
<div class="nr01">

<table width="90%" border="0" align="center">
  <tr>
    <td height="85">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>




<table width="90%" height="290" border="0" align="center" style="line-height:24px; font-size:14px; margin:0 auto;">
  <tr>
    <td width="42%" height="286"><img src="images/pic01.gif" border="0"/></td>
    <td width="58%" valign="top">
    
<strong>活动时间：</strong>12月23日12:00-12月30日12:00<br>
玩家通过做任务，副本，野怪等活动获得圣诞道具，收集一定数量的圣诞道具可换取：<br>
1.带群攻技能的超萌雪人宝宝<br>
2.独有节日驯鹿坐骑<br>
3.酷炫带感的圣诞时装<br>
<strong>活动时间内更有碎片兑换轻松进阶超大福利：</strong><br>
活动时间内，伏魔碎片或诛仙碎片+圣诞星星通过炼化系统可进行转化为诛仙碎片或伏魔碎片。<br>


<div class="but0"><a href="index.html"><img src="images/but0.jpg" border="0"/></a></div>

</td>
  </tr>
</table>

</div>
</div>


<div class="wipper4"></div>



</div>
</body>
</html>
