<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style/page.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">

<div class="wipper1"><span>进入游戏　|  游戏注册</span></div>

<div class="wipper2"></div>

<div class="wipper3">
<div class="nr03">

<table width="90%" border="0" align="center">
  <tr>
    <td height="85">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>




<table width="90%" height="290" border="0" align="center" style="line-height:24px; font-size:14px; margin:0 auto;">
  <tr>
    <td width="42%" height="286"><img src="images/pic2.jpg" width="245" height="274" /></td>
    <td width="58%" valign="top">
<strong>活动时间：</strong>12月23日12:00-12月30日12:00<br>
<strong>活动内容：</strong><br>
1)圣诞老人在圣诞树上挂满了礼物。摇一摇将有意想不到的惊喜。与太极城的圣诞树对话，弹出圣诞树界面，可使用雪球或者花费5元宝摇一摇。<br>
摇动圣诞树有几率摇落进阶幸运符、根骨保护符、圣诞时装、驯鹿坐骑等珍贵道具。还有机会摇出大量金币！！<br>
摇圣诞树时，有概率摇落满地金币或满地经验，附件的玩家都可捡取。<br>
2)12月24日-12月25日每天傍晚18:00-19:00，在太机城，仙盟领地任意地方打坐都可以获得经验和灵气10倍收获的奖励。<br>

<div class="but0"><a href="index.html"><img src="images/but0.jpg" border="0"/></a></div></td>
  </tr>
</table>
</div>
</div>


<div class="wipper4"></div>



</div>
</body>
</html>
