<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="style/page.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">

<div class="wipper1"><span>进入游戏　|  游戏注册</span></div>

<div class="wipper2"></div>

<div class="wipper3">
<div class="nr04">

<table width="90%" border="0" align="center">
  <tr>
    <td height="85">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>




<table width="90%" height="290" border="0" align="center" style="line-height:24px; font-size:14px; margin:0 auto;">
  <tr>
    <td width="58%" height="286" valign="top">
    
<strong>活动时间：</strong>12月23日12:00-12月30日12:00<br>
<strong>活动内容：</strong>活动时间内，护送灵兽改为护送麋鹿；护送任务改为护送至太机城内的圣诞老人处，任务更简单快捷。在灵运期间护送还有额外的丰富经验奖励。 <br>

<div align="center"><img src="images/pic3.jpg" border="0"/></div>

<div class="but0"><a href="index.html"><img src="images/but0.jpg" border="0"/></a></div></td>
  </tr>
</table>
</div>
</div>


<div class="wipper4"></div>



</div>
</body>
</html>
