<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>九天仙梦-圣诞专题</title>
<link href="css/christmas.css" rel="stylesheet" type="text/css" />
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>
<body>
<div class="wrap">
	<div class="mas_wrap">
    <div class="snow">
  <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','1000','height','300','src','images/snow','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/snow' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="1000" height="300">
    <param name="movie" value="images/snow.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <embed src="images/snow.swf" width="1000" height="300" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
  </object>
</noscript></div>
    	<div class="mas_01">
        	<div class="topnav"><a href="http://www.49you.com/" title="官网首页">官网首页</a><a href="http://www.49you.com/reg.html?returl=/" title="账号注册">账号注册</a><a href="http://www.49you.com/pay_type.html?gid=2" title="游戏充值">游戏充值</a></div>
        </div>
        <div class="mas_02"></div>
        <div class="mas_03"></div>
        <div class="mas_04"></div>
        <div class="mas_05"></div>
        <div class="mas_06"></div>
        <div class="mas_07">
        	<a href="christmas01.html#a" class="mas_nav01" title="开蛋有礼"><a name="a" id="a"></a></a>
            <a href="christmas02.html#a" class="mas_nav02" title="装饰谁的梦？"><a name="a" id="a"></a></a>
            <a href="christmas03.html#a" class="mas_nav03" title="蛋蛋大派对"><a name="a" id="a"></a></a>
            <a href="christmas04.html#a" class="mas_nav04" title="铃儿响，鹿儿跑"><a name="a" id="a"></a></a>
            <a href="christmas05.html#a" class="mas_nav05" title="游园乐，不蛋疼"><a name="a" id="a"></a></a>
            <a href="christmas06.html#a" class="mas_nav06" title="迷糊兑换乐"><a name="a" id="a"></a></a>
            <a href="christmas07.html#a" class="mas_nav07" title="五行升仙"><a name="a" id="a"></a></a>
            <a href="christmas08.html#a" class="mas_nav08" title="阿拉丁的神灯"><a name="a" id="a"></a></a>
      </div>
</div>
</div>
<div class="footer">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</div>
</body>
</html>