<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>九天仙梦-圣诞专题</title>
<link href="css/christmas.css" rel="stylesheet" type="text/css" />
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
</style>
</head>
<body>
<div class="wrap">
	<div class="mas_wrap">
    	<div class="snow">
  <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','1000','height','300','src','images/snow','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/snow' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="1000" height="300">
    <param name="movie" value="images/snow.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <embed src="images/snow.swf" width="1000" height="300" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
  </object>
</noscript></div>
    	<div class="mas_01">
        	<div class="topnav"><a href="http://www.49you.com/" title="官网首页">官网首页</a><a href="http://www.49you.com/reg.html?returl=/" title="账号注册">账号注册</a><a href="http://www.49you.com/pay_type.html?gid=2" title="游戏充值">游戏充值</a></div>
        </div>
        <div class="mas_02"></div>
        <div class="mas_03"></div>
        <div class="mas_04"></div>
        <div class="mas_05"></div>
        <div class="mas_06"></div>
        <div class="mas_07">
        	<a href="christmas01.html#a" class="mas_nav01" title="开蛋有礼"><a name="a" id="a"></a></a>
            <a href="christmas02.html#a" class="mas_nav02" title="装饰谁的梦？"><a name="a" id="a"></a></a>
            <a href="christmas03.html#a" class="mas_nav03" title="蛋蛋大派对"><a name="a" id="a"></a></a>
            <a href="christmas04.html#a" class="mas_nav04" title="铃儿响，鹿儿跑"><a name="a" id="a"></a></a>
            <a href="christmas05.html#a" class="mas_nav05" title="游园乐，不蛋疼"><a name="a" id="a"></a></a>
            <a href="christmas06.html#a" class="mas_nav06" title="迷糊兑换乐"><a name="a" id="a"></a></a>
            <a href="christmas07.html#a" class="mas_nav07" title="五行升仙"><a name="a" id="a"></a></a>
            <a href="christmas08.html#a" class="mas_nav08" title="阿拉丁的神灯"><a name="a" id="a"></a></a>
      </div>
      <div class="mas_08"><a class="go_home" href="index.html"></a></div>
        <div class="mas_con">
        	<div class="mas_text">
            <div class="mas_tit"><img src="images/mas_tit06.jpg" /></div>
            <div><img src="images/mas_line.jpg" /></div>
<div style=" text-align:center;"><span class="STYLE1">迷糊的小鹿蹦跶哒地跑来对你说：“留着那些圣诞饰品干嘛呢？还不快点来换我？人家天生丽质难自弃，一枝梨花压海棠，麻袋都能穿出貂皮大衣的感觉，比芙蓉和凤姐还可爱温柔，虽然有点迷糊…</span></div><br/>                
			<p>【活动时间】：2011年12月23日00:00至2012年1月3日22:00<br />
【活动对象】：全服玩家&nbsp; <br />
【活动内容】： <br />
活动期间，击杀副本内（【深幽秘境】、【云阳城皇宫】、【小天宫】、【潜龙之渊】）的所有怪物将会掉落<span class="STYLE1"><strong>各类“圣诞饰品”</strong><strong>哦</strong></span>，这些宝物可在活动兑换里面换取各种实用东东！ <br />
<span class="red"><strong>兑换地址：右上角的【活动】——&gt;兑换</strong><br />
<strong>掉落截止时间：2012年1月3日10:00</strong><br />
<strong>兑换截止时间：2012年1月3日22:00</strong><br />
<strong>可兑换的道具列表：</strong></span></p>
<table border="1" cellspacing="0" cellpadding="0" width="596">
    <tr>
                  <td width="199" nowrap="nowrap"><p align="center">物品 </p></td>
                  <td width="397" nowrap="nowrap"><p align="center">兑换条件 </p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center">本源之金*5</p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*15</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center">本源之木*5</p></td>
                  <td width="397" nowrap="nowrap"><p>铃铛*15</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center">本源之水*5</p></td>
                  <td width="397" nowrap="nowrap"><p>小铃铛*15</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center">本源之火*5</p></td>
                  <td width="397" nowrap="nowrap"><p>彩球*15</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center">本源之土*5</p></td>
                  <td width="397" nowrap="nowrap"><p>彩带*15</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center">仙灵礼盒 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*3 + 铃铛*3 + 小铃铛*3    + 彩球*3 + 彩带*3</p></td>
                </tr>
                <tr>
                  <td width="199"><p align="center">大喇叭 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*1 + 铃铛*1 + 小铃铛*1    + 彩球*1 + 彩带*1</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center">判官神符 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*1 + 铃铛*1 + 小铃铛*1    + 彩球*1 + 彩带*1</p></td>
                </tr>
                <tr>
                  <td width="199"><p align="center">汲魂石 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*1 + 铃铛*1 + 小铃铛*1    + 彩球*1 + 彩带*1</p></td>
                </tr>
                <tr>
                  <td width="199"><p align="center">经验卡 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*2 + 铃铛*2 + 小铃铛*2    + 彩球*2 + 彩带*2</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center" class="STYLE1"><strong>圣诞老人（男）（7天时装） </strong></p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*5 + 铃铛*5 + 小铃铛*5    + 彩球*5 + 彩带*5</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center" class="STYLE1"><strong>圣诞老人（女）（7天时装） </strong></p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*5 + 铃铛*5 + 小铃铛*5    + 彩球*5 + 彩带*5</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center" class="STYLE1"><strong>圣诞装（男）（7天时装） </strong></p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*5 + 铃铛*5 + 小铃铛*5    + 彩球*5 + 彩带*5</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center" class="STYLE1"><strong>圣诞装（女）（7天时装） </strong></p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*5 + 铃铛*5 + 小铃铛*5    + 彩球*5 + 彩带*5</p></td>
                </tr>
                <tr>
                  <td width="199"><p align="center">如意宠物蛋 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*7 + 铃铛*7 + 小铃铛*7    + 彩球*7 + 彩带*7</p></td>
                </tr>
                <tr>
                  <td width="199"><p align="center">三阶奇异果 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*20 + 铃铛*20 + 小铃铛*20    + 彩球*20 + 彩带*20</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center">幽冥之火*10</p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*8 + 铃铛*8 + 小铃铛*8    + 彩球*8 + 彩带*8</p></td>
                </tr>
                <tr>
                  <td width="199"><p align="center">凤凰之火 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*8 + 铃铛*8 + 小铃铛*8    + 彩球*8 + 彩带*8</p></td>
                </tr>
                <tr>
                  <td width="199"><p align="center">盘古钉 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*8 + 铃铛*8 + 小铃铛*8    + 彩球*8 + 彩带*8</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap" valign="bottom"><p align="center">四阶护甲强化石 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*18 + 铃铛*18 + 小铃铛*18    + 彩球*18 + 彩带*18</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap" valign="bottom"><p align="center">四阶神兵强化石 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*36 + 铃铛*36 + 小铃铛*36    + 彩球*36 + 彩带*36</p></td>
                </tr>
                <tr>
                  <td width="199"><p align="center">五级鸡血石 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*20 + 铃铛*20 + 小铃铛*20    + 彩球*20 + 彩带*20</p></td>
                </tr>
                <tr>
                  <td width="199"><p align="center">五级多彩石 </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*20 + 铃铛*20 + 小铃铛*20    + 彩球*20 + 彩带*20</p></td>
                </tr>
                <tr>
                  <td width="199"><p align="center">青铜VIP卡（周卡） </p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*20 + 铃铛*20 + 小铃铛*20    + 彩球*20 + 彩带*20</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center" class="STYLE1"><strong>迷糊的小鹿（宠物） </strong></p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*108 + 铃铛*108 + 小铃铛*108 + 彩球*108 + 彩带*108</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center" class="STYLE1"><strong>雪胖胖（宠物） </strong></p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*108 + 铃铛*108 + 小铃铛*108 + 彩球*108 + 彩带*108</p></td>
                </tr>
                <tr>
                  <td width="199" nowrap="nowrap"><p align="center" class="STYLE1"><strong>雪美美（宠物） </strong></p></td>
                  <td width="397" nowrap="nowrap"><p>拐杖糖*108 + 铃铛*108 + 小铃铛*108 + 彩球*108 + 彩带*108</p></td>
                </tr>
              </table>
            <p>注意事项：<br />
              1、所有兑换得到的物品均为绑定； </p>
			  2、活动物品掉落等级惩罚为40级，副本次数不影响掉率； </p>
          3、一切活动内容以游戏内为准，九天仙梦运营团队拥有变更、修正活动内容之结果与权力。</div>
        	<div class="go_top"><div><a onclick="window.scrollTo(0,0);" href="javascript:void(0);"><img src="images/go_top.jpg" /></a></div></div>
        </div>
        <div><img src="images/mas_09.jpg" /></div>
        <div class="mas_footer">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</div>
    </div>
</div>
</body>
</html>