				<h1>仙道会最新赛事细则</h1>
			
				<h1>一、综述</h1>
				<ul>
					<li>1、仙道会定义：为保证公平、公正，新的仙道会以"时间轴"为单位，所有处于同一时间轴内的服务器玩家将会被划分到一个分组，仙道会的比赛将会在这些分组分别"独立"举行。处于同一时间轴上的服务器分组在仙道会期间游戏内都将统一以类似"神仙道xx年"命名。
					注："分组"不区分所在游戏平台</li>
					<li>
					2、条件限制：本服有玩家达到70级，开启本服争霸赛。所在时间轴的服务器，争霸赛参与人数达到64人时，开启跨服赛。
					</li>
					<li>
					3、仙道会比赛仍然划分"天榜"、"地榜"，并要求报名参赛玩家最低等级为70级，比赛时不再划分等级。
					</li>
					<li>
					4、仙道会期间，首先进行单服的争霸赛，之后会进行分组内的淘汰赛、晋级赛，并最终决胜出该分组的冠军。
					</li>
					<li>
					5、玩家数据获取：淘汰赛以开赛前30分钟内读取到的玩家数据为准，晋级赛每场战斗读取一次玩家数据（通常战斗前几分钟），建议玩家变更伙伴、阵型、道具等策略时提前做好准备，所有比赛以最终读取到的玩家数据为准！</li>
					<li>
					6、  比赛时：<br/>
					淘汰赛优先决胜出天榜32强，之后再决胜出地榜32强<br/>
					淘汰赛每局间隔10分钟，负3盘出局制，1局决胜负<br/>
					晋级赛每局间隔1小时，以5局3胜制，胜3盘晋级<br/>
					</li>
				</ul>
				
				
				
				<h1>二、赛程安排</h1>
				2011年12月26日~2012年01月01日 为热身赛，仅开放本服争霸赛，不包含选拔，玩家可熟悉适应新的赛事规则制度
				<br/>2012年01月02日 正式开始分组选拔赛、晋级赛。
				
				<h2>神仙道"天下第一仙道会"近期赛程安排如下：</h2>
				<h2>争霸赛（热身赛）：</h2>
				<table class="half_t">
					<tr>
						<td>2011-12-26 09:30:00</td>
						<td>准备阶段</td>
					</tr>
					<tr>
						<td>2011-12-26 10:00:00</td>
						<td>开放报名</td>
					</tr>
					<tr>
						<td>2011-12-27 13:30:00</td>
						<td>报名结束</td>
					</tr>
					<tr>
						<td>2011-12-27 14:00:00</td>
						<td>淘汰赛</td>
					</tr>
					<tr>
						<td>2011-12-28 11:00:00</td>
						<td>16强赛</td>
					</tr>
					<tr>
						<td>2011-12-29 13:00:00</td>
						<td>8强赛</td>
					</tr>
					<tr>
						<td>2011-12-30 15:00:00</td>
						<td>4强赛</td>
					</tr>
					<tr>
						<td>2011-12-31 17:00:00</td>
						<td>半决赛</td>
					</tr>
					<tr>
						<td>2012-01-01 17:00:00</td>
						<td>决赛</td>
					</tr>
				</table>
				<h2>争霸赛：（正式比赛）</h2>
				<table  class="half_t">
					<tr>
						<td>2012-01-02 10:00:00</td>
						<td>开放报名</td>
					</tr>
					<tr>
						<td>2012-01-03 13:30:00</td>
						<td>报名结束</td>
					</tr>
					<tr>
						<td>2012-01-03 14:00:00</td>
						<td> 淘汰赛</td>
					</tr>
					<tr>
						<td>2012-01-04 17:00:00</td>
						<td>16强赛</td>
					</tr>
					<tr>
						<td>2012-01-05 17:00:00</td>
						<td>8强赛</td>
					</tr>
					<tr>
						<td>2012-01-06 17:00:00</td>
						<td>4强赛</td>
					</tr>
					<tr>
						<td>2012-01-07 17:00:00</td>
						<td>半决赛</td>
					</tr>
					<tr>
						<td>2012-01-08 17:00:00</td>
						<td>决赛</td>
					</tr>
					<tr>
						<td>2012-01-09一天</td>
						<td>战绩表</td>
					</tr>
				</table>
				<h2>分组跨服赛：</h2>
				<table  class="half_t">
					<tr>
						<td>2012-01-10 14:00:00-15:00:00 </td>
						<td>淘汰赛准备时间</td>
					</tr>
					<tr>
						<td>2012-01-10 15:00:00</td>
						<td>淘汰赛</td>
					</tr>
					<tr>
						<td>2012-01-11 17:00:00</td>
						<td>16强赛</td>
					</tr>
					<tr>
						<td>2012-01-12 17:00:00</td>
						<td>8强赛</td>
					</tr>
					<tr>
						<td>2012-01-13 17:00:00</td>
						<td>4强赛</td>
					</tr>
					<tr>
						<td>2012-01-14 17:00:00</td>
						<td>半决赛</td>
					</tr>
					<tr>
						<td>2012-01-15 17:00:00</td>
						<td>决赛</td>
					</tr>
					<tr>
						<td>2012-01-15</td>
						<td>战绩表</td>
					</tr>
				</table>
				
				分组跨服赛淘汰赛开始前系统会发送全服通告，分别给晋级天、地榜玩家发送通知，通知时间为淘汰赛开始前4小时、2小时、1小时、半小时，另外我们也提醒：
				<p class="spe_red">跨服战期间是决胜的关键时刻，尤其在比赛期间，会读取玩家数据，建议玩家提前做好准备，不要随意更换阵型、伙伴、装备、命格等数据！</p>

				
				<h1>三、比赛规则</h1>
				
				
				
				<h2>天下第一仙道会单服争霸赛规则</h2>
				<ul>
					<li>1、混合等级，有报名的玩家都能参赛</li>
					<li>
					2、选拔赛天榜淘汰赛规则<br/>
a)随机分派对手，每场1局。每局间隔10分钟。<br/>
b)如果玩家累积失败3场，就将被淘汰出局，直至决出最后32强。<br/>
c)玩家可以在我的战绩处查看自己的成绩。<br/>

					</li>
					<li>
					3、选拔赛地榜淘汰赛规则<br/>
a)天榜淘汰赛后，去掉天榜出线的选手<br/>
b)随机分派对手，每场1局。每局间隔10分钟。<br/>
c)如果玩家累积失败3场，就将被淘汰出局，直至决出最后32强。<br/>
   d)玩家可以在我的战绩处查看自己的成绩。<br/>

					</li>
					<li>
					4、晋级赛规则<br/>
   a)淘汰赛决出的天榜32强和地榜32强将分16组，以每组2人进行5局3胜制比赛，获得3胜的玩家晋级。每局间隔1小时。<br/>

					</li>
					
				</ul>
				
				
				<h2>天下第一仙道会分组跨服赛规则：</h2>
				
				<ul>
					<li>1、每服选拔赛的天榜32强和地榜32强的选手才能入围参赛。</li>
					<li>
					2、分组赛天榜淘汰赛规则<br/>
   a)随机分派对手，每场1局。每局间隔3分钟。<br/>


   b)如果玩家累积失败3场，就将被淘汰出局，直至决出最后32强。<br/>
   c)玩家可以在我的战绩处查看自己的成绩。<br/>

					</li>
					<li>
					3、分组赛地榜淘汰赛规则<br/>
   a)天榜淘汰赛后，去掉天榜出线的选手<br/>
   b)随机分派对手，每场1局。每局间隔3分钟。<br/>
   c)如果玩家累积失败3场，就将被淘汰出局，直至决出最后32强。<br/>
   d)玩家可以在我的战绩处查看自己的成绩。<br/>


					</li>
					<li>
					4、晋级赛规则<br/>
   a)淘汰赛决出的天榜32强和地榜32强将分16组，以每组2人进行5局3胜制比赛，获得3胜的玩家晋级。每局间隔1小时。<br/>


					</li>
					
				</ul>
				
				<h1>四、下注规则</h1>
				仙道会的同时，比赛从天榜开始，满足一定等级要求的玩家就可以在每场比赛前，投注一个榜单中您所认为可能晋级的玩家一定铜钱，该场比赛该玩家若取得比赛胜利，系统除了返还您所投注铜钱外，您还将获得额外1倍于投注金额的铜钱，若投注失败，您所投注的铜钱返还一半。
				
				<h1>五、比赛奖励</h1>
				<h2>仙道会单服争霸赛奖励</h2>
				
				<table>
					<tr class="headtr">
						<td>天榜</td>
						<td></td>
					</tr>
					<tr>
						<td>冠军奖励</td>
						<td>20000声望、1000W铜钱、普通葫芦坐骑。</td>
					</tr>
					<tr>
						<td>亚军奖励</td>
						<td>20000声望、800W铜钱。</td>
					</tr>
					<tr>
						<td>第3、4名奖励</td>
						<td>15000声望、600W铜钱。</td>
					</tr>
					<tr>
						<td>第5-8名</td>
						<td>10000声望、400W铜钱</td>
					</tr>
					<tr>
						<td>第9-16名</td>
						<td>8000声望、200W铜钱</td>
					</tr>
					<tr>
						<td>第17-32名</td>
						<td>5000声望、100W铜钱 </td>
					</tr>
					<tr class="headtr">
						<td>地榜</td><td></td>
					</tr>
					<tr>
						<td>冠军奖励：</td>
						<td>4000声望、500W铜钱</td>
					</tr>
					<tr>
						<td>亚军奖励：</td>
						<td>3000声望、400W铜钱</td>
					</tr>
					<tr>
						<td>第3、4名奖励：</td>
						<td>2000声望、300W铜钱</td>
					</tr>
					<tr>
						<td>第5-8名</td>
						<td>1000声望、200W铜钱</td>
					</tr>
					<tr>
						<td>第9-16名</td>
						<td>800声望、100W铜钱</td>
					</tr>
					<tr>
						<td>第17-32名</td>
						<td>500声望、50W铜钱 </td>
					</tr>
				</table>				
				
				<h2>仙道会分组跨服赛奖励</h2>
				
				<table>
					<tr class="headtr">
						<td>天榜</td><td></td>
					</tr>
					<tr>
						<td>冠军奖励</td>
						<td>60000声望、8000W铜钱、天地玉牌18个、风雷翼 、上线通告、称号（天下第一）、明星号资格
						<p class="spe_red">注：拥有明星号特权的玩家在世界频道说话时会有特殊状态标识，说话的特殊颜色，登陆游戏时全服通告等</p></td>
					</tr>
					<tr>
						<td>亚军奖励</td>
						<td>50000声望、5000W铜钱、天地玉牌12个、至尊葫芦坐骑</td>
					</tr>
					<tr>
						<td>第3、4名奖励</td>
						<td>40000声望、4000W铜钱、天地玉牌10个</td>
					</tr>
					<tr>
						<td>第5-8名</td>
						<td>30000声望、3000W铜钱、天地玉牌8个</td>
					</tr>
					<tr>
						<td>第9-16名</td>
						<td>20000声望、2000W铜钱、天地玉牌6个</td>
					</tr>
					<tr>
						<td>第17-32名</td>
						<td>10000声望、1000W铜钱、天地玉牌4个 </td>
					</tr>
					<tr class="headtr">
						<td>地榜</td><td></td>
					</tr>
					<tr>
						<td>冠军奖励</td>
						<td>8000声望、1000W铜钱、天地玉牌4个</td>
					</tr>
					<tr>
						<td>亚军奖励</td>
						<td>6000声望、800W铜钱、天地玉牌3个</td>
					</tr>
					<tr>
						<td>第3、4名奖励</td>
						<td>5000声望、500W铜钱、天地玉牌3个</td>
					</tr>
					<tr>
						<td>第5-8名</td>
						<td> 3000声望、300W铜钱、天地玉牌3个</td>
					</tr>
					<tr>
						<td>第9-16名</td>
						<td>2000声望、200W铜钱、天地玉牌3个</td>
					</tr>
					<tr>
						<td>第17-32名</td>
						<td>1000声望、100W铜钱、天地玉牌3个 </td>
					</tr>
				</table>
				如有其他变动，请随时留意官方公告或游戏内更新，最终解释权归神仙道运营团队所属。
