<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英雄王座－喜庆迎新春，英雄铸王座</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {font-family: "黑体"}
.STYLE2 {
	color: #720502;
	font-family: Arial;
	font-size: 14pt;
}
.STYLE14 {color: #0066FF; font-family: Arial; font-size: 14pt; }
-->
</style>
</head>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<body>
<div class="main">
<div class="wipper1"><span><a href="http://yx.49you.com">官网首页</a> | <a href="http://www.49you.com/reg.html">游戏注册</a></span></div>

<div class="wipper2"></div>

<div class="wipper3">

 <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','1004','height','328','src','images/nav','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/nav' ); //end AC code
  </script>
  <noscript>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="1004" height="328">
    <param name="movie" value="images/nav.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <embed src="images/nav.swf" width="1004" height="328" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
  </object>
  </noscript>


</div>

<div class="wipper4"><h1 class="STYLE1">千喜临门来春运</h1>
</div>
<div class="nr01">
<div class="nr">


<span class="STYLE2">1.2012年1月18日至31日活动期间，护送货物时，只要刷到<span class="STYLE14">紫色或橙色品质</span>的货物，成功交付后所获得的经验及金币奖励将是非活动时间的</span><span class="STYLE14">两倍</span><span class="STYLE2">；<br>
<br>
2.在此期间成功</span><span class="STYLE14">拦截</span><span class="STYLE2">紫色或橙色品质的货物，所获得的奖励也是原来的两倍；<br>
<br>
3.活动期间紫色货物和橙色货物的两倍奖励与每天晚上</span><span class="STYLE14">20:15</span><span class="STYLE2">的护送效果叠加。<br>
</span><br>

</div><div align="center"><img src="images/images_06.jpg" width="516" height="359" /><br>
</div>
</div>

<div class="nr02">
</div>




</div>

<div class="foot"></div>
</body>
</html>
