<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英雄王座－喜庆迎新春，英雄铸王座</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE2 {font-family: "黑体"}
.STYLE4 {
	font-family: Arial;
	font-size: 14pt;
	color: #720502;
}
.STYLE7 {
	color: #0066FF;
	font-size: 14px;
}
.STYLE9 {font-size: 14pt}
.STYLE10 {color: #0066FF}
.STYLE11 {font-size: 14pt; color: #0066FF; }
.STYLE16 {color: #720502; font-family: Arial; font-size: 14px; }
.STYLE21 {color: #FFEFDD; font-weight: bold; font-family: Arial; font-size: 14px; }
.STYLE22 {font-family: Arial; font-size: 14pt; color: #0066FF; }
-->
</style>
</head>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<body>
<div class="main">
<div class="wipper1"><span><a href="http://yx.49you.com">官网首页</a> | <a href="http://www.49you.com/reg.html">游戏注册</a></span></div>

<div class="wipper2"></div>

<div class="wipper3">

 <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','1004','height','328','src','images/nav','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/nav' ); //end AC code
  </script>
  <noscript>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="1004" height="328">
    <param name="movie" value="images/nav.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <embed src="images/nav.swf" width="1004" height="328" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
  </object>
  </noscript>


</div>

<div class="wipper4"><h1 class="STYLE2">喜气洋洋换时装</h1>
</div>
<div class="nr01">
<div class="nr">


<span class="STYLE4">1.2012年1月18日至31日活动期间，玩家每天在游戏里累计登陆时长达到<span class="STYLE7"><span class="STYLE9">1小时</span></span>、<span class="STYLE10"><span class="STYLE9">3</span></span></span><span class="STYLE11">小时</span><span class="STYLE4">、<span class="STYLE11">5小时</span>和<span class="STYLE11">8小时</span>，即可到米德加特城【在线兑换NPC——丝奇】处领取相应的<span class="STYLE11">宠物变身装</span>或碎片：</span><br>
<br>
<div  align="center">
<table width="560" border="1" cellpadding="0" cellspacing="0" bordercolor="#720502" bgcolor="#720502">
  <tr>
    <td width="98" align="center" valign="middle" bordercolor="#720502" bgcolor="#720502"><p align="center" class="STYLE21">在线时长 </p></td>
    <td width="160" align="center" valign="middle" bordercolor="#720502" bgcolor="#720502"><p align="center" class="STYLE21">变身装 </p></td>
    <td width="298" align="center" valign="middle" bordercolor="#720502" bgcolor="#720502"><p align="center" class="STYLE21">说明 </p></td>
  </tr>
  <tr>
    <td width="98" align="center" valign="middle" bordercolor="#720502" bgcolor="#FEE490"><p align="center" class="STYLE16">1小时 </p></td>
    <td width="160" align="center" valign="middle" bordercolor="#720502" bgcolor="#FEE490"><p align="center" class="STYLE16">宠物变身装碎片×10</p></td>
    <td width="298" rowspan="3" align="center" valign="middle" bordercolor="#720502" bgcolor="#FEE490"><p align="left" class="STYLE16">集齐80个可到NPC【活动兑换——莉莉雅】处兑换宠物变身装1个 </p></td>
  </tr>
  <tr>
    <td width="98" align="center" valign="middle" bordercolor="#720502" bgcolor="#FEE490"><p align="center" class="STYLE16">3小时 </p></td>
    <td width="160" align="center" valign="middle" bordercolor="#720502" bgcolor="#FEE490"><p align="center" class="STYLE16">宠物变身装碎片×30</p></td>
  </tr>
  <tr>
    <td width="98" align="center" valign="middle" bordercolor="#720502" bgcolor="#FEE490"><p align="center" class="STYLE16">5小时 </p></td>
    <td width="160" align="center" valign="middle" bordercolor="#720502" bgcolor="#FEE490"><p align="center" class="STYLE16">宠物变身装碎片×50</p></td>
  </tr>
  <tr>
    <td width="98" align="center" valign="middle" bordercolor="#720502" bgcolor="#FEE490"><p align="center" class="STYLE16">8小时 </p></td>
    <td width="160" align="center" valign="middle" bordercolor="#720502" bgcolor="#FEE490"><p align="center" class="STYLE16">宠物变身装×1</p></td>
    <td width="298" align="center" valign="middle" bordercolor="#720502" bgcolor="#FEE490"><p align="left" class="STYLE16">使用后出战的宠物12小时内随机变成舞龙或舞狮的模型，<span class="STYLE7">人物获得BUFF：攻击+40，防御+10，暴击伤害+15%，生命+1000</span></p></td>
  </tr>
</table>
</div>
<div align="left"><br>
  
  <span class="STYLE4">2.所有累计时长在每天00:00全部自动清零，开始新一天的计算；<br>
    <br>
    3.如果玩家在一天中领取了其中一个种类，则当天不能再领取其他种类；<br>
        <br>
    </span></div><div align="center"><img src="images/images_05.jpg" width="538" height="224" /><br>
</div>
    <p class="STYLE4">&nbsp;</p>
    <p class="STYLE22">备注：人物的新春时装由“打年兽”活动的年兽礼包开出。</p>
</div>
</div>

<div class="nr02">
</div>




</div>

<div class="foot"></div>
</body>
</html>
