<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英雄王座－喜庆迎新春，英雄铸王座</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE3 {font-family: "黑体"}
.STYLE6 {
	font-family: Arial;
	font-size: 14pt;
	color: #720502;
}
.STYLE7 {
	font-family: Arial;
	font-size: 14pt;
	color: #0066FF;
}
.STYLE12 {color: #FFEFDD; font-weight: bold; font-family: Arial; font-size: 14px; }
.STYLE14 {color: #720502; font-family: Arial; font-size: 14px; }
-->
</style>
</head>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<body>
<div class="main">
<div class="wipper1"><span><a href="http://yx.49you.com">官网首页</a> | <a href="http://www.49you.com/reg.html">游戏注册</a></span></div>

<div class="wipper2"></div>

<div class="wipper3">

 <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','1004','height','328','src','images/nav','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/nav' ); //end AC code
  </script>
  <noscript>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="1004" height="328">
    <param name="movie" value="images/nav.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <embed src="images/nav.swf" width="1004" height="328" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
  </object>
  </noscript>


</div>

<div class="wipper4"><h1 class="STYLE3">称心如意购年货</h1>
</div>
<div class="nr01">
<div class="nr"> <span class="STYLE6">   2012年1月18日至25日期间，商城将每日出现限时抢购的道具，疯狂折扣、先到先得，机会不容错过！</span><br>
  <br>
<div align="center">
<table width="94%" border="1" cellpadding="0" cellspacing="0" bordercolor="#720502" bgcolor="#720502">
  <tr bordercolor="#720502">
    <td bgcolor="#720502"><div align="center" class="STYLE12">促销时间</div></td>
    <td bgcolor="#720502"><div align="center" class="STYLE12">促销道具</div></td>
    <td bgcolor="#720502"><div align="center" class="STYLE12">原价</div></td>
    <td bgcolor="#720502"><div align="center" class="STYLE12">促销价</div></td>
  </tr>
  <tr bordercolor="#720502">
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">18日至21日</div></td>
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">VIP月卡</div></td>
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">398</div></td>
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">298</div></td>
  </tr>
  <tr bordercolor="#720502">
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">18日至21日</div></td>
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">高级资质刷新石</div></td>
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">54</div></td>
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">40</div></td>
  </tr>
  <tr bordercolor="#720502">
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">22日至25日</div></td>
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">6级幸运水晶</div></td>
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">200</div></td>
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">150</div></td>
  </tr>
  <tr bordercolor="#720502">
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">22日至25日</div></td>
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">4级升星石</div></td>
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">150</div></td>
    <td bgcolor="#FEDF8F"><div align="center" class="STYLE14">120</div></td>
  </tr>
</table>
</div>
<br>

<span class="red1 STYLE7">备注：由于新服有本身的商城限时促销活动，所以部分新开服的商城促销活动会往后延期，详情请关注官方最新公告。</span><br>
<br><br><br><br>
</div>
</div>

<div class="nr02">
</div>




</div>

<div class="foot"></div>
</body>
</html>
