<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>英雄王座－喜庆迎新春，英雄铸王座</title>
<link href="style/style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {font-family: "黑体"}
.STYLE3 {
	color: #720502;
	font-size: 14pt;
	font-family: Arial;
}
.STYLE18 {color: #0066FF; font-size: 14pt; font-family: Arial; }
-->
</style>
</head>
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>

<body>
<div class="main">
<div class="wipper1"><span><a href="http://yx.49you.com">官网首页</a> | <a href="http://www.49you.com/reg.html">游戏注册</a></span></div>

<div class="wipper2"></div>

<div class="wipper3">

 <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','1004','height','328','src','images/nav','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','wmode','transparent','movie','images/nav' ); //end AC code
  </script>
  <noscript>
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="1004" height="328">
    <param name="movie" value="images/nav.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <embed src="images/nav.swf" width="1004" height="328" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" wmode="transparent"></embed>
  </object>
  </noscript>


</div>

<div class="wipper4"><h1 class="STYLE1">洪福齐天打年兽</h1>
</div>
<div class="nr01">
<div class="nr">

  <p><span class="STYLE3">1.2012年1月18日至31日活动期间，所有副本及试炼的最终BOSS被击杀后均有几率掉落“秘境卷轴”；<br>
        <br>
    2.≥35级的玩家在【罗林平原】与NPC——龙之使者对话，可以选择对应等级难度进入【年兽副本】，每次进入需要消耗1个<span class="STYLE18">“秘境卷轴”</span>；</span></p>
  <p><span class="STYLE3"><br>
        <img src="images/images_07.jpg" width="619" height="406" /></span></p>
  <p><span class="STYLE3"><br>
    3.年兽副本中有8个宝箱，每次进入有</span><span class="STYLE18">1次机会免费</span><span class="STYLE3">打开其中一个宝箱，打开后有可能唤醒年兽，或者获得年兽礼包，或者获得压岁钱；<br>
      <br>
      4.不同等级难度的秘境只能掉落不同等级的</span><span class="STYLE18">“年兽礼包”</span><span class="STYLE3">，打开后可获得丰厚的奖励，更有机会获得喜庆的</span><span class="STYLE18">新春时装</span><span class="STYLE3">，稀有的</span><span class="STYLE18">龙年首饰</span><span class="STYLE3">和</span><span class="STYLE18">“神龙卷轴”</span><span class="STYLE3">；</span></p>
  <p align="left"><span class="STYLE3"><img src="images/images_01.jpg" width="145" height="265" /></span>&nbsp;&nbsp;<span class="STYLE3"><img src="images/images_02.jpg" width="144" height="265" /></span><span class="STYLE3">&nbsp;&nbsp;<img src="images/images_03.jpg" width="145" height="265" /></span><span class="STYLE3">&nbsp;&nbsp;</span><span class="STYLE3"><img src="images/images_04.jpg" width="144" height="265" /><br>
    5.获得“神龙卷轴”的玩家可以触发</span><span class="STYLE18">春节成就</span><span class="STYLE3">任务，完成后会获得特有的永久称号</span><span class="STYLE18">“神龙斗士”</span><span class="STYLE3">；<br>
      <br>
      6.每个玩家每天最多只能进入</span><span class="STYLE18">5次</span><span class="STYLE3">龙之秘境；</span></p>
  <p align="left"><span class="STYLE3"><br>
    </span><span class="STYLE18">备注：获得“神龙卷轴”的玩家，务必在<span class="STYLE18">2012年1月18日至31日</span>期间接取和完成春节成就系列任务，否则活动结束后无法继续完成。</span><br>
  </p>
  </div>
</div>

<div class="nr02">
</div>




</div>

<div class="foot"></div>
</body>
</html>
