<?php $title="游戏资料_49you天之刃官方网站 ";
$keywords="天之刃游戏资料";
$description="49you天之刃游戏资料。"
?>
<?php include('header.html'); ?>
 <!--content -->
 <div class="content">

    <div class="left">
<?php include('lefter_login.html'); ?>
<?php include('lefter_server.html'); ?>	  
<?php include('lefter_info.html'); ?>
<?php include('lefter_kf.html'); ?>


	 <div class="clear"></div>
     </div>
	 
	 <!--right -->
	 <div id="n-right">
	    <div class="hdp"><? include('lefter_gg.html'); ?></div>
	   
	    <div id="n-right-t"><h1>游戏资料</h1><span>您现在的位置：<a href="/">首页</a>><a href="gamedata.html">游戏资料</a></span></div>
		
		<div id="n-right-c">
		   <div id="n-right-c1">
		      
			  <div class="game-zl-1">
			     <div class="game-zl-1-t"><h1>新手指南</h1></div>
				 <div class="game-zl-1-c">                   
                  <a href="<?=get_newslink(5462)?>">游戏背景</a>|
                  <a href="<?=get_newslink(5572)?>">职业介绍</a>|
                  <a href="<?=get_newslink(5522)?>">首充礼包</a>|
                  <a href="<?=get_newslink(5465)?>">VIP特权</a>|
                  <a href="<?=get_newslink(5575)?>">礼包领取</a>|
                  <a href="<?=get_newslink(5461)?>">角色创建</a>|
                  <a href="<?=get_newslink(5589)?>">新手问题</a>
				 <p>                   
                  <a href="<?=get_newslink(5463)?>">界面介绍</a>|
                   <a href="<?=get_newslink(5488)?>">拾取物品</a>|
                   <a href="<?=get_newslink(992)?>">清理缓存</a>|
                   <a href="<?=get_newslink(5531)?>">网络异常</a>|
                   <a href="<?=get_newslink(5534)?>">防盗防骗</a>
                </p></div>
			  </div>
			  
			  <div class="game-zl-1">
			     <div class="game-zl-1-t"><h1>系统介绍</h1></div>
				 <div class="game-zl-1-c">
                  <a href="<?=get_newslink(5490)?>">声望介绍</a>|
                  <a href="<?=get_newslink(5491)?>">宠物介绍</a>|
                  <a href="<?=get_newslink(5493)?>">锻造介绍</a>|
                  <a href="<?=get_newslink(5494)?>">门派系统</a>|
                  <a href="<?=get_newslink(5496)?>">玩家交易</a>|
                  <a href="<?=get_newslink(5497)?>">聊天系统</a>|
                  <a href="<?=get_newslink(5498)?>">好友系统</a>
			      <p>
                  <a href="<?=get_newslink(5499)?>">组队系统</a>|
                  <a href="<?=get_newslink(5591)?>">成就达成</a>|
                  <a href="<?=get_newslink(5590)?>">坐骑系统</a>
                 </p></div>
			  </div>
			  
			  <div class="game-zl-1">
			     <div class="game-zl-1-t"><h1>特色玩法</h1></div>
				 <div class="game-zl-1-c">
                   <a href="<?=get_newslink(5470)?>">王位争霸</a>|
                   <a href="<?=get_newslink(5469)?>">精炼系统</a>|
                   <a href="<?=get_newslink(5552)?>">三国战场</a>|
                   <a href="<?=get_newslink(5586)?>">全新套装</a>|
                   <a href="<?=get_newslink(5553)?>">宝图玩法</a>|
                   <a href="<?=get_newslink(5485)?>">个人拉镖</a>|
                   <a href="<?=get_newslink(5484)?>">篝火活动</a>
                   <p>
                   <a href="<?=get_newslink(5483)?>">商贸活动</a>|                  
                   <a href="<?=get_newslink(5466)?>">地下王陵</a>|
                   <a href="<?=get_newslink(5486)?>">魔神之殿</a>|
                   <a href="<?=get_newslink(5587)?>">试炼副本</a>|
                   <a href="<?=get_newslink(5480)?>">西瓜副本</a>|
                   <a href="<?=get_newslink(5588)?>">战役玩法</a>
                   </p>
				 </div>
			  </div>

			  <div class="clear"></div>
		   </div>
		</div>
     <div><img src="../images/neiye_03_2.gif" width="720" height="14"></div>
		<div class="clear"></div>
	 </div>
	 <!--right end -->
	 
	 <div class="clear"></div>
 </div><!--content end -->
<?php include('footer.html'); ?>