	  <div class="n-game-infor">
	     <div class="n-game-infor-t"></div>
		 <div class="n-game-infor-c">
		      
			  <div class="n-game-infor-c1">
			      <div class="n-game-infor-text">
                  <a href="<?=get_newslink(5462)?>">游戏背景</a>
                  <a href="<?=get_newslink(5572)?>">职业介绍</a>
                  <a href="<?=get_newslink(5522)?>">首充礼包</a>
                  <a href="<?=get_newslink(5465)?>">VIP特权</a>
                  <a href="<?=get_newslink(5575)?>">礼包领取</a>
                  <a href="<?=get_newslink(5461)?>">角色创建</a>
                  <a href="<?=get_newslink(5589)?>">新手问题</a>
                  <a href="<?=get_newslink(5463)?>">界面介绍</a>
                   <a href="<?=get_newslink(5488)?>">拾取物品</a>
                   <a href="<?=get_newslink(992)?>">清理缓存</a>
                   <a href="<?=get_newslink(5531)?>">网络异常</a>
                   <a href="<?=get_newslink(5534)?>">防盗防骗</a>
				  </div>
			  </div>
			  
			  <div class="n-game-infor-c2">
			      <div class="n-game-infor-text">
                  <a href="<?=get_newslink(5490)?>">声望介绍</a>
                  <a href="<?=get_newslink(5491)?>">宠物介绍</a>
                  <a href="<?=get_newslink(5493)?>">锻造介绍</a>
                  <a href="<?=get_newslink(5494)?>">门派系统</a>
                  <a href="<?=get_newslink(5496)?>">玩家交易</a>
                  <a href="<?=get_newslink(5497)?>">聊天系统</a>
                  <a href="<?=get_newslink(5498)?>">好友系统</a>
                  <a href="<?=get_newslink(5499)?>">组队系统</a>
                  <a href="<?=get_newslink(5591)?>">成就达成</a>
                  <a href="<?=get_newslink(5590)?>">坐骑系统</a>
				  </div>
			  </div>
			  
			  <div class="n-game-infor-c3">
			      <div class="n-game-infor-text">
                   <a href="<?=get_newslink(5470)?>">王位争霸</a>
                   <a href="<?=get_newslink(5469)?>">精炼系统</a>
                   <a href="<?=get_newslink(5552)?>">三国战场</a>
                   <a href="<?=get_newslink(5586)?>">全新套装</a>
                   <a href="<?=get_newslink(5553)?>">宝图玩法</a>
                   <a href="<?=get_newslink(5485)?>">个人拉镖</a>
                   <a href="<?=get_newslink(5484)?>">篝火活动</a>
                   <a href="<?=get_newslink(5483)?>">商贸活动</a>                  
                   <a href="<?=get_newslink(5466)?>">地下王陵</a>
                   <a href="<?=get_newslink(5486)?>">魔神之殿</a>
                   <a href="<?=get_newslink(5587)?>">试炼副本</a>
                   <a href="<?=get_newslink(5480)?>">西瓜副本</a>
                   <a href="<?=get_newslink(5588)?>">战役玩法</a>
				  </div>
			  </div>
		 </div>
		 <div class="n-game-infor-f"></div>
		 <div class="clear"></div>
	  </div>
