<?php $nav='member'; ?>
<?php $ltv='bind_phone'; ?>
<?php include('header.html'); ?>

<div class="text cl ">
<div class="con clearfix">
<?php include('member_modify_info.html'); ?>
   <div class="pmid"> 
    <p><img src="images/ptop-1.jpg" width="940" height="45" /></p>
    <div class="pmid_bj1">
    <div class="pmid_bj2">
 <div class="pmid_mo">
        <div class="pbj3">
        
        <div class="entryitem">
		<div class="entrylabel">请输入您的手机号码：</div>
		<div class="entryfl"><input type="text" id="loginname" name="loginname"  class="entrytext" tabindex="1"  value="" />
		 
        </div></div>

        <div class="entryitem">
		<div class="entrylabel">平台账号登陆密码：</div>
		<div class="entryfl"><input type="text" id="loginname" name="loginname"  class="entrytext" tabindex="1"  value="" />
		 
        </div></div>

        <div class="entryitem">
          
            <P  style="padding-left:130px;">点击“下一步”后，系统将会向您手机发送一条包含验证码的短信。此短信不收取任何费用，请放心操作。</P>
</div>                        
         </div>
    <div class="btn" ><a href="#" class="btn-link btn-n" >下 一 步</a> </div>     
     <div class="cl"></div>    
 </div>
     </div>
    </div>
    <p><img src="images/ptop-3.jpg" width="940" height="45" /></p>
   </div> 
   
      <div class="pbom"> 
    
   </div> 
</div>


</div>

<div class="sharedspacer12"></div>
<!--bom-->
<? include('footer.html'); ?>
