<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="网页游戏,网页小游戏,最新网页游戏,傲视天地,仙侠风云,2011年最新网页游戏,最新网页游戏开服表">
<meta name="description" content="49网页游戏平台为大家提供最新最热门的网页游戏。包括傲视天地、仙侠风云、千军破、十年一剑、魔塔世界等多款最好玩的网页游戏。">
<title>49you</title>
<link href="style/Log.css" type="text/css" rel="stylesheet" />
</head>

<body>
<br><br>
	<div class="pop_mo">
	<div class="pop_1">手机认证</div>
	<div class="pop_3">
    
<div class="p_bj2" style="height:auto;">    
	<div class="p_3">
	<h2>您的手机号码是：XXXXXXXXXXX，可以激活绑定！</h2>
<p>请将您接收到的验证码输入下面的文本框中，点击确定按钮即可完成手机绑定操作。
（您接收到的验证码将在12小时候后失效，请及时进行绑定操作）</p> 

<p><span>请输入您收到的验证码：</span></p>
<p><input name="" type="text" /></p><br />

	</div>
</div>

<div style="height:24px; width:280px; float: right; margin:10px 0px;">
          <a href="#" class="btn-link btn-p2" >确定提交</a>
          </div>
<p class="cl" style="padding:0px 10px 10px 10px;">如果10分钟后，您的手机还没有收到短信，请点这里重新获取验证码“<a href="#" style="font-size:14px; color:#F00; font-weight:bold;">获取验证码</a>”
注：此短信接收免费 

	<div class="cl"></div>
	
	</div>
	</div>
</body>
</html>
