<div class="bot">
<h2><a href="http://xk.49you.com" target="_blank">侠客世界</a> | 
<a href="http://long.49you.com" target="_blank">龙将</a> | 
<a target="_blank" href="http://sxd.49you.com">神仙道</a> | 
<a target="_blank" href="http://jhl.49you.com">江湖令</a> | 
<a target="_blank" href="http://sg.49you.com">盛世三国</a> | 
<a target="_blank" href="http://xy.49you.com">飞音西游</a> | 
<a target="_blank" href="http://jtxm.49you.com">九天仙梦</a> | 
<a href="http://sh.49you.com" target="_blank">山海创世录</a> | 
<a href="http://xyj.49you.com" target="_blank">逍遥剑</a> | 
<a target="_blank" href="http://cq.49you.com">传奇国度</a> | 
<a href="/news_info_207.html">关于我们</a> | <a href="/jianhu/gc.html" target="_blank" >家长监护服务</a> | <a href="/service.html">客服中心</a> | <a href="/news_info_206.html">商务合作</a> | <a href="#">网站地图</a> | <a href="/news_info_205.html">人才招聘</a></h2>
<div class="b_1">
<?=$config['footer']?>



</div>
</div>
</div>

<? if($config_index['enabled_floor_flash']=='1'){ ?>
<!-- flash -->
<script type="text/javascript">
var isleft = false;
var absolute_flash_url = "<?=$config_index['header_floor']?>";
var absolute_flash_root = "<?=YOU_ROOT?>";
var absolute_flash_link = "<?=$config_index['header_floor_link']?>";
var absolute_flash_width = "<?=$config_index['header_floor_width']?>";
var absolute_flash_height = "<?=$config_index['header_floor_height']?>";
</script>
<script src="<?=YOU_ROOT?>/js/absolute_flash.js" language="JavaScript"></script>
<!-- flash -->
<? } ?>

<div style="display:none;">
<script src="http://s21.cnzz.com/stat.php?id=3162030&web_id=3162030&show=pic" language="JavaScript"></script>
</div>
<script src="/api/js/1.js" language="JavaScript" charset="utf-8" ></script>
<script src="<?=YOU_ROOT?>/js/member_ref.js" language="JavaScript"></script>
<script src="http://www.pubright.com/49you_index.js" language="JavaScript"></script>
</body>

</html>