<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="网页游戏,网页小游戏,最新网页游戏,傲视天地,仙侠风云,2011年最新网页游戏,最新网页游戏开服表">
<meta name="description" content="49网页游戏平台为大家提供最新最热门的网页游戏。包括傲视天地、仙侠风云、千军破、十年一剑、魔塔世界等多款最好玩的网页游戏。">
<title>49you</title>
<link href="style/Log.css" type="text/css" rel="stylesheet" />
</head>

<body>
<br><br>
	<div class="pop_mo">
	<div class="pop_1">系统提示<a href="javascript:window.location.href='<?=$returl?>';" class="pl-x"><img src="style/img/x.jpg" /></a></div>
	<div class="pop_3">
    
<div class="p_bj5">    
	<div class="p_3">
	<h2>对不起！</h2>
<P>您必须登录通行证才能进行该操作；如果您还没有通行证账号，请先注册。</P>



	</div>
</div>

<div style="height:24px; width:380px; float: right; margin:10px 0px;"><a href="login.html" class="btn-link btn-p0" >登陆账号</a><a href="reg.html" class="btn-link btn-p1" >注册账号</a>
          <a href="javascript:window.location.href='<?=$returl?>';" class="btn-link btn-p2" >返 回</a>
          </div>
	<div class="cl"></div>
	
	</div>
	</div>
</body>
</html>
