<?php $nav='member'; ?>
<?php include('header.html'); ?>

<div class="text cl ">
<div class="con clearfix">

 <div class="ptop"><h3>登陆</h3>
 </div>  
   <div class="pmid"> 
    <p><img src="images/ptop-1.jpg" width="940" height="45" /></p>
    <div class="pmid_bj1">
    
    <div class="pmid_bj2">
 <div class="pmid_mo">
        <div class="pbj5">
<div class="r_6">
<h2>登录49you游戏平台可以做些什么？</h2>
<dl>
<dt><img src="images/r_6.jpg" width="56" height="50" /></dt>
<dd>玩遍精品游戏、尊享多样游戏礼包、享受优质服务、游戏安全有保障......</dd>
</dl>
<div class="cl"></div>
<dl>
<dt><img src="images/r_7.jpg" width="56" height="50" /></dt>
<dd style="padding-top:10px;">参加各色平台活动，游戏奖励、实物礼品，奖品丰富多彩，包您玩的开心尽兴......</dd>
</dl>
<div class="cl"></div>
<dl>
<dt><img src="images/r_8.jpg" width="56" height="50" /></dt>
<dd style="padding-top:10px;">结识来自五湖四海的游戏好友，邀请好友来玩游戏，还能获得实惠奖励......</dd>
</dl>
</div>
<div class="r_7">
<div class="r_7_1">
<form id="form1" name="form1" method="post" action="">
  <ul>
<li><span class="rf_9">通行证账号：</span>
  <input class="rf_k" type="text" name="username" id="username" />
</li>
<li><span class="rf_9">通行证密码：</span>
  <input class="rf_k" type="password" name="password" id="password" />
</li>
<li><span class="rf_9">&nbsp;</span>					<span class="zi">
  <input type="checkbox" class="checkbox"  checked="checked" id="chkRememberUsername" name="chkRememberUsername"/>
					<label >记住用户名</label>
					<input type="checkbox" class="checkbox"  id="chkRememberMe" name="chkRememberMe"/>
					<label>自动登录</label>
</span></li>
<li><span class="rf_9">&nbsp;</span><span class="rf_183">
	<input type="hidden" name="act" value="login" />
    <input type="hidden" name="returl" value="<?=$returl?>" />
  <input class="rf_k1" type="submit" name="button" id="button" value="登录" /> <a href="pwd_find.html">找回密码</a>
</span></li>
<div class="cl"></div>

</ul>
<p>还没有49you通行证？
  <input class="rf_k2" type="button" name="button2" id="button2" value="立即注册" onclick="window.location.href='reg.html?returl=<?=urlencode($returl)?>';" />
</p>
</form>
</div>


</div>

</div>
             
    

<div class="cl"></div>    

     </div>
     
        
    </div>
    
   </div> 
<p><img src="images/ptop-3.jpg" width="940" height="45" /></p>   
      
</div>


</div>
<div class="pbom cl"> </div> 

<? include('footer.html'); ?>