 <div class="ptop">
     <ul class="ptag">
                <li class="<?=$ltv=="member_info"? "on" : "";?>"><a href="member_info.html">个人资料</a></li> 
                <li class="<?=$ltv=="pwd_modify"? "on" : "";?>"><a href="pwd_modify.html">密码修改</a></li>
                
                <li class="<?=$ltv=="bind_mail"? "on" : "";?>"><a href="bind_mail.html">邮箱绑定</a></li>
                <?/*
                <li class="<?=$ltv=="bind_phone"? "on" : "";?>"><a href="bind_phone.html">手机绑定</a></li>
                */?>
                <li class="<?=$ltv=="pwd_protect"? "on" : "";?>"><a href="pwd_protect.html">密码保护</a></li>
                <li class="<?=$ltv=="bind_idcard"? "on" : "";?>"><a href="bind_idcard.html">防沉迷认证</a></li>
    </ul></div> 