<?php $nav='member'; ?>
<?php include('header.html'); ?>

<div class="text cl ">
<div class="con clearfix">

 <div class="ptop"><h3>49you安全中心-<span class="red">找回密码</span></h3>
 </div>  
   <div class="pmid"> 
    <p><img src="images/ptop-1.jpg" width="940" height="45" /></p>
    <div class="pmid_bj1">
    
    <div class="pmid_bj2">
 <div class="pmid_mo">
        
        <div class="mima_lb">
 <p class="haveLine2">如果您记得以下几项中的任意一项，<br />
   您可以通过系统找回您的密码：</p>

<p><a href="pwd_find_by_mail.html">1、通过绑定邮箱找回密码</a></p>
<p><a href="pwd_find_by_protect.html">2、通过密保找回密码</a></p>
<!--<p><a href="pwd_find_by_phone.html">3、通过绑定手机找回密码</a></p>-->
        </div>
        
          <div class="mima_2b">
            <p>如果您无法通过左边的方法找回自己的密码，<br />
            请您使用账号申诉找回您的密码
            </p><br />
        <div><a href="service_online.html" target="_blank"><img src="images/ss-bt.png" width="244" height="71" /></a></div>
          </div>      

    
<div class="cl"></div>
 </div>
     
        
    </div>
    
   </div> 
<p><img src="images/ptop-3.jpg" width="940" height="45" /></p>   
      
</div>


</div>
<div class="pbom cl"> </div> 
<? include('footer.html'); ?>
