<?php $nav='member'; ?>
<?php include('header.html'); ?>
<form id="form1" name="form1" method="post" action="">
<div class="text cl ">
<div class="con clearfix">

 <div class="ptop"><h3>49you安全中心</h3>
 </div>  
   <div class="pmid"> 
    <p><img src="images/ptop-1.jpg" width="940" height="45" /></p>
    <div class="pmid_bj1">
    
    <div class="pmid_bj2">
 <div class="pmid_mo">
        <div class="pbj1">
        <h3 >通过绑定邮箱找回密码：</h3><br />
        <div class="entryitem">
		<div class="entrylabel">
		  <p>用户名：</p>
		</div>
		<div class="entryfl"><input type="text" id="loginname" name="loginname"  class="entrytext" tabindex="1"  value="<?=$_REQUEST["loginname"]?>" />
          <span class="red">必填</span>
          <p>&nbsp;</p>
        </div></div>

        <div class="entryitem cl">
		<div class="entrylabel">
		  <p>绑定邮箱：</p>
		</div>
		<div class="entryfl">
		 
		    <input type="text" id="email" name="email"  class="entrytext" tabindex="2"  value="<?=$_REQUEST["email"]?>" />
		   
		  <p>&nbsp;</p>
        </div></div>

        <div class="entryitem cl">
		<div class="entrylabel">
		  <p>验证码：</p>
		</div>
		<div class="entryfl"><input type="text" id="seccode" name="seccode"  class="entrytext entrytext-1" tabindex="3"  value="" /> 
		  <img src="/seccode.php?rand=<?=time()?>" border="0" align="top" style="height:26px" id="seccode_img" /><a href="#" onClick="setSeccode()" class="flk13">&nbsp;看不清？换一张</a>
		</div></div> 
        
                       
         </div>
<div class="sharedspacer12"></div>
<P>提示：如果您的注册邮箱不能使用，可以使用密码申述或者通过密保问题找回您的密码。</P>
<div class="btn" ><a href="pwd_find.html" class="btn-link btn-personal2" >返 回</a><a href="javascript:$('#form1').submit();" class="btn-link btn-n" >下一步</a> </div> 

     <div class="cl"></div>    

 </div>
     
        
    </div>
    </div>
     <p><img src="images/ptop-3.jpg" width="940" height="45" /></p>
   </div> 
  
      <div class="pbom"> </div> 
</div>


</div>
	<input type="hidden" name="act" value="check_mail" />
</form>

<? include('footer.html'); ?>