<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="网页游戏,网页小游戏,最新网页游戏,傲视天地,仙侠风云,2011年最新网页游戏,最新网页游戏开服表">
<meta name="description" content="49网页游戏平台为大家提供最新最热门的网页游戏。包括傲视天地、仙侠风云、千军破、十年一剑、魔塔世界等多款最好玩的网页游戏。">
<title>49you</title>
<link href="style/sty.css" type="text/css" rel="stylesheet" />
<link href="style/login.css" type="text/css" rel="stylesheet" />
<script language="javascript" src="js/jquery.js"></script>
<script language="javascript" src="js/TroJs.js"></script>

</head>

<body>
<div style="position:absolute;visibility:hidden;width:92px;height:50px;top:23px;background:#ececec" id="um2">
<div class="strip_l">
<ul>
<li id="menuItem"><a href="javascript:void(0);" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('http://www.#.com/');">设为首页</a></li>
<li id="menuItem"><a href="javascript:void(0);" onclick="AddFavorite('http://www.#.com','49游戏平台');">加入收藏</a></li>
<li id="menuItem"><a href="#" target="_blank">保存到桌面</a></li>
</ul>
</div>
</div>

<div class="strip">
<div class="strip_top">
<div class="st_1">www.49you.com  49游网欢迎您！
	<a href="#">登 录</a> |    
  <a href="#">注 册</a> |   
  <a href="#">充 值</a>
</div>
<script language="javascript">
	var menuCls2=new Tro_MenuCls("um2","menuid1","menuItem",0,20,"menuCls2");
</script>
<div class="st_2" id="menuid1" style="cursor:pointer" onclick="javascript:menuCls2.ShowMenu();">收藏我们</div>


</div>

</div>

<div class="top_1">
<div class="logo"><a target="_blank" href="#"><img height="86" width="131" src="images/logo.jpg" /></a></div>
<div class="top_swf"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="788" height="86">
  <param name="movie" value="flash/IndexTopFlash.swf" />
  <param name="wmode" value="transparent" />
  <param name="quality" value="high" />
  <embed src="flash/IndexTopFlash.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="788" height="86" ></embed>
</object></div>

<div class="nav">
<ul>
<li><a href="#">首  页</a> </li>
<li class=n_bg><a href="#">会员中心</a></li>
<li><a href="#">游戏中心</a></li>
<li><a href="#">充值中心</a></li>
<li><a href="#">新闻动态</a></li>
<li><a href="#">客服中心</a></li>
<li><a href="#">推广返利</a></li>
<li><a href="#">礼包领取</a></li>
<li><a href="#">火爆论坛</a></li>
</ul>

</div>

</div>

<div class="text cl ">
<div class="con clearfix">

 <div class="ptop"><h3>注册49you通行证</h3>
 </div>  
   <div class="pmid"> 
    <p><img src="images/ptop-1.jpg" width="940" height="45" /></p>
    <div class="pmid_bj1">
    
    <div class="pmid_bj2">
 <div class="pmid_mo">
        <div class="pbj1">
        <h3 >基本资料：</h3>
        
        <div class="entryitem">
		<div class="entrylabel">用户名：</div>
		<div class="entryfl"><input type="text" id="loginname" name="loginname"  class="entrytext" tabindex="1"  value="" />
          <span class="red">必填</span>
          <p>用户名长度为4-20个字符，可以使用数字、字母、下划线</p>
        </div></div>

        <div class="entryitem cl">
		<div class="entrylabel">密码：</div>
		<div class="entryfl"><input type="text" id="loginname" name="loginname"  class="entrytext" tabindex="1"  value="" />
		<span class="red"> 必填</span>
		<p>  密码长度6-20个字符，字母区分大小写</p>
        </div></div>

        <div class="entryitem cl">
		<div class="entrylabel">确认密码：</div>
		<div class="entryfl"><input type="text" id="loginname" name="loginname"  class="entrytext" tabindex="1"  value="" />
		  <span class="red">必填</span>

        </div></div>
        <div class="maltop2 cl">
          <ul class="maltag">
                <li class=""><a href="#">高级选项点击显示</a></li> 
                
    </ul></div>      
                               
         </div>
        <div class="entryitem cl">
          <div class="entrylabel">验证码：</div>
          <div class="entryfl"><input type="text" id="loginname" name="loginname"  class="entrytext entrytext-1" tabindex="1"  value="" />
            <label class="pbj1img">
              <img id="JD_Verification1" Ver_ColorOfNoisePoint="#888888" OnClick="this.src='JDVerification.aspx?&amp;uid=9c04b20c-5ab2-4caf-8bc5-c17d22632b90&amp;yys='+new Date().getTime()" src="JDVerification.aspx?&amp;uid=9c04b20c-5ab2-4caf-8bc5-c17d22632b90" alt="" style="cursor:pointer;width:100px;height:16px;" />	
              </label>
            <label class="ftx23">&nbsp;看不清？<a  href="javascript:void(0)" onclick="verc()" class="flk13">换一张</a></label> 
            
            </div>
          
        </div>     
    <div class="btn cl" ><a href="#" class="btn-link btn-n" >完成注册</a> </div> 
    <div class="r_4 cl"><p>
  <input name="checkbox" type="checkbox" id="agree_protocol" checked="checked"> 
  我接受《<a href="http://www.yaowan.com/class_view_7078.html" target="_blank">要玩游戏平台通行证用户服务协议和相关的条款和条件</a>》
</p>
    
     <div class="cl"></div>    
 </div>
 

     </div>
     
        
    </div>
    
   </div> 
<p><img src="images/ptop-3.jpg" width="940" height="45" /></p>   
      
</div>


</div>
<div class="pbom cl"> </div> 
<div class="sharedspacer12"></div>
<!--bom-->
<div class="con clearfix" >
  <div class="bot">
  <h2><a href="#">关于我们</a> | <a href="#" target="_blank">家长监护服务</a> | <a href="#">客服中心</a> | <a href="#">商务合作</a> | <a href="#">网站地图</a> | <a href="#">人才招聘</a></h2>
  <div class="b_1">
  <p>健康游戏忠告：抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
  <p>Copyright ©2010 要玩游戏平台 <a href="http://www.yaowan.com" target="_blank">www.yaowan.com</a> 经营许可证编号：粤B2-201000066 文网文[2010]068 </p>
  <p>粤ICP备10000936号 Rights Reserved </p>
  </div>
</div>


</div>


</body>
</html>
