<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>圣诞狂欢,礼物大派送</title>
<link href="style/style_sdhd2011.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="top">
<div class="logo"><a href="/" target="_blank"><img src="images/sdhd2011/logo.gif" width="81" height="24" border="0" /></a></div>
<div class="lin"><span><a href="/" target="_blank">49you首页</a></span><span><a href="game.html" target="_blank">游戏中心</a></span><span><a href="reg.html" target="_blank">注册</a></span></div>
</div>
<div class="top1"></div>
<div class="top2"></div>
<div class="top3"></div>
<div class="top4">
<div class="iphone">
<ul>
<li><div class="id">TT***20</div><div class="id">253***9490@qq.com</div><div class="id">轻***刀狂</div><span>侠客世界</span></li>
<li><div class="id">10***0722</div><div class="id">12***1343@qq.com</div><div class="id">躺***中枪</div><span>侠客世界</span></li>
<li><div class="id">b64***15.s2</div><div class="id">86***n11623@qq.com</div><div class="id">射***手</div><span>神仙道</span></li>
<li><div class="id">yy***13.s69</div><div class="id">49***27521@qq.com</div><div class="id">无风***狼</div><span>神仙道</span></li>
<li><div class="id">83***356.95</div><div class="id">84***486@qq.com</div><div class="id">强插***</div><span>神仙道</span></li>
<li><div class="id">35***10209.76</div><div class="id">454***104@qq.com</div><div class="id">pla***</div><span>神仙道</span></li>
<li><div class="id">zj***86</div><div class="id">49***120@qq.com</div><div class="id">令***冰</div><span>凡人修真2</span></li>
<li><div class="id">46***3657</div><div class="id">46***3657@qq.com</div><div class="id">轩***昻</div><span>凡人修真2</span></li>
<li><div class="id">su***de</div><div class="id">414***40@qq.com</div><div class="id">宇***雁</div><span>凡人修真2</span></li>
<li><div class="id">az***1</div><div class="id">39***582@qq.com</div><div class="id">吴庸***</div><span>凡人修真2</span></li>
</ul>
</div>
</div>
<div class="top5"></div>
<div class="top6"></div>
<div class="top4">
<div class="iphone">
<ul>
<li><div class="id">ZQ***530</div><div class="id">31***79776@qq.com</div><div class="id">这***吃鱼</div><span>侠客世界</span></li>
<li><div class="id">tj***314</div><div class="id">760***98656@qq.com</div><div class="id">闷***无敌</div><span>侠客世界</span></li>
<li><div class="id">Ze***QP0530</div><div class="id">131***333405@qq.com</div><div class="id">那***的闷骚</div><span>侠客世界</span></li>
<li><div class="id">789***4.s19</div><div class="id">69***5621@qq.com</div><div class="id">陆***理</div><span>神仙道</span></li>
<li><div class="id">90***wu.s46</div><div class="id">41***657@qq.com</div><div class="id">寒心***</div><span>神仙道</span></li>
<li><div class="id">25***pian.s33</div><div class="id">25***8881@qq.com</div><div class="id">诱惑***</div><span>神仙道</span></li>
<li><div class="id">34***357.s87</div><div class="id">34***357@qq.com</div><div class="id">34***357</div><span>神仙道</span></li>
<li><div class="id">bu***iyi</div><div class="id">81***1120@QQ.com</div><div class="id">风色***想</div><span>一骑当先</span></li>
<li><div class="id">fo***8ow</div><div class="id">40***6471@qq.com</div><div class="id">傲***雄</div><span>凡人修真2</span></li>
<li><div class="id">mo***ol</div><div class="id">11***447@qq.com</div><div class="id">尼***疼吗</div><span>凡人修真2</span></li>
</ul>
</div>
</div>
<div class="top5"></div>
<div class="top7"></div>
<div class="top8">
<div class="iphone">
<ul>
<li><div class="id">yazi***90219</div><span>125***611@qq.com</span></li>
<li><div class="id">53***61</div><span>55***405@qq.com</span></li>
<li><div class="id">xi***ou55</div><span>rx**22@126.com</span></li>
<li><div class="id">pu***906</div><span>6**6@21cn.com</span></li>
<li><div class="id">bi**86c</div><span>qing****xia235@sina.com</span></li>
<li><div class="id">da***viet</div><span>lx***go@vip.qq.com</span></li>
<li><div class="id">xu***ang</div><span>jx***888@163.com</span></li>
<li><div class="id">fuc***ryou</div><span>63***118@qq.com</span></li>
<li><div class="id">xia****5201314</div><span>136****087@qq.com</span></li>
<li><div class="id">zha***wa001</div><span>221***2420@qq.com</span></li>
<li><div class="id">hb***777</div><span>23***5479@qq.com</span></li>
<li><div class="id">105***3865</div><span>105***3865@qq.com</span></li>
<li><div class="id">jy****6089</div><span>jy****6089@163.com</span></li>
<li><div class="id">oy***99@qq.com</div><span>51***9@qq.com</span></li>
<li><div class="id">shan****nkang</div><span>1127****99@qq.com</span></li>
<li><div class="id">sj**sf</div><span>sj**sf@126.com</span></li>
<li><div class="id">bei****nfeng</div><span>316****89@qq.com</span></li>
<li><div class="id">cl***483</div><span>27***8974@qq.com</span></li>
<li><div class="id">wan***999</div><span>231***108@qq.com</span></li>
<li><div class="id">43***237</div><span>43***237@qq.com</span></li>
<li><div class="id">ch****qq</div><span>ch****5574@126.com</span></li>
<li><div class="id">81***9zq</div><span>81***9zq@163.com</span></li>
<li><div class="id">ale****888</div><span>858****53@qq.com</span></li>
<li><div class="id">lg***03</div><span>lg***03@163.com</span></li>
<li><div class="id">a3***389</div><span>42***9320@qq.com</span></li>
<li><div class="id">xing****an5678_24</div><span>9814****4@qq.com</span></li>
<li><div class="id">gi**18</div><span>12***9839@qq.com</span></li>
<li><div class="id">czz***xing</div><span>czl***fa@yahoo.com.cn</span></li>
<li><div class="id">11***1944</div><span>11***1943@qq.com</span></li>
<li><div class="id">11***194</div><span>71***4025@qq.com</span></li>
<li><div class="id">ws*hu</div><span>164***093@qq.com</span></li>
<li><div class="id">cp**lll</div><span>cp**lll@yahoo.cn</span></li>
<li><div class="id">waz**314</div><span>524**7174@qq.com</span></li>
<li><div class="id">wuh***002</div><span>534***131@qq.com</span></li>
<li><div class="id">ar*at</div><span>19**6874@qq.com</span></li>
<li><div class="id">cao***a74</div><span>190***612@qq.com</span></li>
<li><div class="id">liy***ng723</div><span>273***665@qq.com</span></li>
<li><div class="id">hon***506</div><span>298***90@qq.com</span></li>
<li><div class="id">l44***2577</div><span>345***333@qq.com</span></li>
<li><div class="id">xz**202</div><span>fm***9415@yahoo.com.cn</span></li>
<li><div class="id">n4**507</div><span>24**32415@qq.com</span></li>
<li><div class="id">z2***652</div><span>27***1046@163.com</span></li>
<li><div class="id">13***537</div><span>38***9553@qq.com</span></li>
<li><div class="id">hx**121</div><span>hx**121@163.com</span></li>
<li><div class="id">che***odeo2</div><span>108***689@qq.com</span></li>
<li><div class="id">ke**lyn</div><span>ke**lyn@qq.com</span></li>
<li><div class="id">zx**417</div><span>zx**417@163.com</span></li>
<li><div class="id">zu***008</div><span>zu***008@sina.com</span></li>
<li><div class="id">ke***bcy</div><span>38***2477@qq.com</span></li>
</ul>
</div>
</div>
<div class="top5"></div>
<div class="top9"></div>
<div class="top10"></div>
</body>
</html>
