<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>在线客服_49you网页游戏平台</title>
<meta name="keywords" content="<?=$config['keyword']?>">
<meta name="description" content="<?=$config['description']?>">
</head>

<body  style="height:100%;">
<table height="100%" cellSpacing="0" cellPadding="0" width="100%" border="0">
  <tr>
    <td>
      <iframe id="main" name="main" src="http://chat.53kf.com/webCompany.php?arg=49you-cs&style=1
&charset=utf-8"  frameborder="0"  width="100%" scrolling="no"  height="100%" style="display:block;" ></iframe>
</td>
</tr>
</table>
</body>
</html>
