<div class="box cs">
    <div class="margin">
    <h4 >客服中心 <a  href="service.html" class="pl-more"><img src="images/moer.gif" width="46" height="15" /></a></h4>
        <div class="cs_div">
            
<p>客服热线：<?=$config['service_tel1']?> </p>
              <p>客服邮箱：<a href="mailto:<?=$config['service_mail1']?>" title="邮箱联系" target="_blank"><?=$config['service_mail1']?></a></p>
       <div style="padding-left:10px; padding-top: 4px;">
               <div class="c1" > <a href="account_appeal.html" title="帐号申诉" target="_blank">帐号申诉</a></div>
                 <div class="c2" ><a href="service_online.html" title="在线客服" target="_blank">在线客服</a></div>
            </div >
        </div>
    </div>
</div>    