<html><head>
<!-- base -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta http-equiv="refresh" content="588">
<title>网页游戏开服时间表|网页游戏新服时间表|新开网页游戏发布网|网页开服时间表|开服榜</title><meta name="keywords" content="网页游戏开服时间表,网页游戏新服时间表,新开网页游戏发布网,网页开服时间表,开服榜"><meta name="description" content="今天、明天、昨天新开网页游戏开服时间表资讯。根据各大网页游戏平台开服时间表即时更新数据库，是最全面和最准确的开服时间信息网站。可以按游戏类型，游戏背景等快速进行筛选，找到您最喜欢的网页游戏开服信息。">
<meta name="AUTHOR" content="开服榜"></head><body top;="" repeat-x="">
<link type="text/css" href="images/tmp_index/Skin_1.css" rel="stylesheet">
<style type="text/css">
a.jrscbt:link,a.jrscbt:visited,a.jrscbt:active{color:#24210c};a.jrscbt:hover{color:#1368B9;background-color:#f7f7f7;}
</style>
<script language="javascript" src="images/tmp_index/Functions.js"></script>
<script language="javascript">
function CText()
{
	NowURL="还没找到最新最好玩的网页游戏吗？赶紧去全球最大的网页游戏开服预告 ！";
	clipboardData.setData('text',NowURL);
	alert('网址已复制, 介绍给你的朋友请按Ctrl+V发到QQ或MSN好友里！贴在论坛里面也可以');
}
function CTextNoTips()
{
	NowURL="还没找到最新最好玩的网页游戏吗？赶紧去全球最大的网页游戏开服预告 ！";
	clipboardData.setData('text',NowURL);
	document.all.URL.select();
}
</script>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="904">
  <tbody><tr>
    <td background="images/tmp_index/au_top_bgl.jpg" valign="top" width="3"><img src="images/tmp_index/au_top_bgl.jpg" width="3"></td>
    <td align="center">

<table border="0" cellpadding="0" cellspacing="1" width="100%">
 <tbody><tr>
  </tr>
</tbody></table>


</td>
    <td background="images/tmp_index/au_top_bgr.jpg" valign="top" width="3"><img src="images/tmp_index/au_top_bgr.jpg" width="3"></td>
  </tr>
</tbody></table>
<center>


<div style="width:904px; background-color:#e4f1fa;">
<table width="904" cellspacing="1" cellpadding="4" border="0" align="center" >
<tbody><tr>
<td width="904" align="center"><b>开服榜-网页游戏开服资讯</b></td>
</tr>
</tbody></table>
<table width="904" cellspacing="1" cellpadding="4" border="0" align="center" >
<tbody><tr bgcolor="#ffffff">
<td>
中国最好的网页游戏开服发布网——开服榜资讯平台，免费为各位玩家提供最新网页游戏开服信息。
</td>
</tr>
</tbody></table>
<br />
<table align="center" border="0" cellpadding="0" cellspacing="0" width="904">
  <tbody><tr>
    <td background="images/tmp_index/au_top_bgl.jpg" width="3"><img src="images/tmp_index/au_top_bgl.jpg" width="3" height="1"></td>
    <td bgcolor="#e4f1fa" width="898"><table align="center" background="images/tmp_index/title_bg.jpg" border="0" cellpadding="0" cellspacing="0" width="872">
      <tbody><tr>
        <td width="143" background="images/tmp_index/title_l02.gif">　近十五天最新开区</td>
        <td align="right">&nbsp;</td>
        <td width="21"><img src="images/tmp_index/title_r01.jpg" width="21" height="31"></td>
      </tr>
    </tbody></table>
       <table align="center" bgcolor="#a4bcca" border="0" cellpadding="5" cellspacing="1" width="870">
        <tbody><tr align="center" bgcolor="#f4f4f4" height="20">
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">11-02</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">11-01</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-31</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-30</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-29</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-28</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-27</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-26</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-25</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-24</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-23</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-22</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-21</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-20</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-19</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-18</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-17</a></td>
                <td bgcolor="#f4f4f4"><a target="_blank" href="#">10-16</a></td>
                  </tr>
      </tbody></table></td>
    <td background="images/tmp_index/au_top_bgr.jpg" width="3"><img src="images/tmp_index/au_top_bgr.jpg" width="3" height="1"></td>
  </tr>
</tbody></table>
<br />

<table align="center" border="0" cellpadding="0" cellspacing="0" width="904">
  <tbody><tr>
    <td background="images/tmp_index/au_top_bgl.jpg" width="3"><img src="images/tmp_index/au_top_bgl.jpg" width="3" height="1"></td>
    <td bgcolor="#e4f1fa" width="898"><table align="center" background="images/tmp_index/title_bg.jpg" border="0" cellpadding="0" cellspacing="0" width="872">
      <tbody><tr>
        <td width="143" background="images/tmp_index/title_l02.gif">　热门游戏开服表</td>
        <td align="right">&nbsp;</td>
        <td width="21"><img src="images/tmp_index/title_r01.jpg" width="21" height="31"></td>
      </tr>
    </tbody></table>
       <table align="center" bgcolor="#a4bcca" border="0" cellpadding="5" cellspacing="1" width="870">
        <tbody><tr align="center" bgcolor="#f4f4f4" height="20">
                          </tr>
      </tbody></table></td>
    <td background="images/tmp_index/au_top_bgr.jpg" width="3"><img src="images/tmp_index/au_top_bgr.jpg" width="3" height="1"></td>
  </tr>
</tbody></table> 


<table align="center" border="0" cellpadding="0" cellspacing="0" width="904">
  <tbody><tr>
    <td background="images/tmp_index/au_top_bgl.jpg" width="3"><img src="images/tmp_index/au_top_bgl.jpg" width="3" height="1"></td>
    <td bgcolor="#e4f1fa" width="898"><table align="center" background="images/tmp_index/title_bg.jpg" border="0" cellpadding="0" cellspacing="0" width="872">
      <tbody><tr>
        <td width="143"><img src="images/tmp_index/title_l01.jpg" width="143" height="31"></td>
        <td align="right"><img src="images/tmp_index/small01.jpg" width="100" height="31"></td>
        <td width="21"><img src="images/tmp_index/title_r01.jpg" width="21" height="31"></td>
      </tr>
    </tbody></table>
      <table align="center" bgcolor="#a4bcca" border="0" cellpadding="5" cellspacing="1" width="870">
        <tbody><tr style="font-weight: bold;" align="center" bgcolor="#f4f4f4" height="20">
        <td bgcolor="#f4f4f4" width="80">游戏类型</td>
        <td bgcolor="#f4f4f4" width="80">游戏背景</td>
          <td bgcolor="#f4f4f4" width="125">网页游戏名称</td>
          <td bgcolor="#f4f4f4" width="85">服务器名称</td>
          <td bgcolor="#f4f4f4" width="106">开放时间</td>
          <td bgcolor="#f4f4f4" width="80">运营商</td>
          <td bgcolor="#f4f4f4">游戏介绍</td>
          <td bgcolor="#f4f4f4" width="75">网站</td>
          </tr>

          <!----------固定推荐-----------><!----------半点开机----------->
<script language="JavaScript" type="text/JavaScript">theAds=new Array();
shu =0
dot=''
theAds2=''
adshu=shu+1
function Quickpick()
{
var ball
for( ball = 1; ball < adshu; ball++)
  {
    this[ball] = parseInt(Math.random() * shu + 1);
    for(var list = 0; list < ball; list++)
    {
      if(this[list] == this[ball])
      {  
        list = ball;
        ball--;
      }
    }
  }
  return this;
}
var idx;
var ballball = new Array(shu);
ballball = this.Quickpick();
for(idx = 1; idx < adshu; idx++){
document.write(dot+theAds[ballball[idx]]);
if (idx < shu){document.write('')}}
document.write(dot+theAds2);
</script>	
<!----------半点开机-----------><!----------整点开放-----------><!----------整点开放-----------><!----------整点开放-----------><!----------整点开放-----------><!----------即将半点----------->

<!----------即将半点-----------><!----------即将半点----------->

<!----------即将半点----------->

		
      </tbody></table></td>



    <td background="images/tmp_index/au_top_bgr.jpg" width="3"><img src="images/tmp_index/au_top_bgr.jpg" width="3" height="1"></td>
  </tr>
</tbody></table>
<br>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="904">
  <tbody><tr>
    <td background="images/tmp_index/au_top_bgl.jpg" width="3"><img src="images/tmp_index/au_top_bgl.jpg" width="3" height="1"></td>
    <td bgcolor="#e4f1fa" width="898"><table align="center" background="images/tmp_index/title_bg.jpg" border="0" cellpadding="0" cellspacing="0" width="872">
      <tbody><tr>
        <td width="143"><img src="images/tmp_index/title_l02.jpg" width="143" height="31"></td>
        <td align="right"><a href="#" onClick="self.scrollTo(0, 0); return false;"><img src="images/tmp_index/small02.jpg" border="0" width="100" height="31"></a></td>
        <td width="21"><img src="images/tmp_index/title_r01.jpg" width="21" height="31"></td>
      </tr>
    </tbody></table>
      <table align="center" bgcolor="#a4bcca" border="0" cellpadding="5" cellspacing="1" width="870">
        <tbody><tr style="font-weight: bold;" align="center" bgcolor="#f4f4f4" height="20">
        <td bgcolor="#f4f4f4" width="80">游戏类型</td>
        <td bgcolor="#f4f4f4" width="80">游戏背景</td>
          <td bgcolor="#f4f4f4" width="125">网页游戏名称</td>
          <td bgcolor="#f4f4f4" width="85">服务器名称</td>
          <td bgcolor="#f4f4f4" width="106">开放时间</td>
          <td bgcolor="#f4f4f4" width="80">运营商</td>
          <td bgcolor="#f4f4f4">游戏介绍</td>
          <td bgcolor="#f4f4f4" width="75">网站</td>
          </tr>
<!----------即将半点----------->
          <!----------即将半点----------->	
      </tbody></table></td>
    <td background="images/tmp_index/au_top_bgr.jpg" width="3"><img src="images/tmp_index/au_top_bgr.jpg" width="3" height="1"></td>
  </tr>
</tbody></table>
<br>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="904">
  <tbody><tr>
    <td background="images/tmp_index/au_top_bgl.jpg" width="3"><img src="images/tmp_index/au_top_bgl.jpg" width="3" height="1"></td>
    <td bgcolor="#e4f1fa" width="898"><table align="center" background="images/tmp_index/title_bg.jpg" border="0" cellpadding="0" cellspacing="0" width="872">
      <tbody><tr>
        <td width="143"><img src="images/tmp_index/title_l03.jpg" width="143" height="31"></td>
        <td align="right"><a href="#" onClick="self.scrollTo(0, 0); return false;"><img src="images/tmp_index/small02.jpg" border="0" width="100" height="31"></a></td>
        <td width="21"><img src="images/tmp_index/title_r01.jpg" width="21" height="31"></td>
      </tr>
    </tbody></table>
       <table align="center" bgcolor="#a4bcca" border="0" cellpadding="5" cellspacing="1" width="870">
        <tbody><tr style="font-weight: bold;" align="center" bgcolor="#f4f4f4" height="20">
        <td bgcolor="#f4f4f4" width="80">游戏类型</td>
        <td bgcolor="#f4f4f4" width="80">游戏背景</td>
          <td bgcolor="#f4f4f4" width="125">网页游戏名称</td>
          <td bgcolor="#f4f4f4" width="85">服务器名称</td>
          <td bgcolor="#f4f4f4" width="106">开放时间</td>
          <td bgcolor="#f4f4f4" width="80">运营商</td>
          <td bgcolor="#f4f4f4">游戏介绍</td>
          <td bgcolor="#f4f4f4" width="75">网站</td>
          </tr>
<!----------整点开放----------->
<tr onMouseOut="this.bgColor='#FFFBEC'" onMouseOver="this.bgColor='#FFCC00'" bgcolor="#fffbec" height="28" align="center">
<td>角色扮演</td><td>西游</td><td><a href="#" target="_blank"><font color="#008000"><b>七十二变</b></font></a>&nbsp;<img src="images/tmp_index/hot.gif"></td><td><a href="#" target="_blank">封测</a></td>
<td align="center"><font color="#ff0000">08月08日 14:00</font></td><td align="center">游族</td><td><div class="tddescover"><a href="#" target="_blank">以取经队伍第五人的形式直接带领玩家参与剧情，将这个中国人的集体神话梦境全面呈现。</a></div></td><td align="center"><a href="#" target="_blank"><font color="#800080"><b>点击查看</b></font></a></td>
</tr>
<tr onMouseOut="this.bgColor='#FFFBEC'" onMouseOver="this.bgColor='#FFCC00'" bgcolor="#fffbec" height="28" align="center">
<td>角色扮演</td><td>魔幻</td><td><a href="#" target="_blank"><font color="#008000"><b>热血龙族</b></font></a>&nbsp;<img src="images/tmp_index/hot.gif"></td><td><a href="#" target="_blank">T1封测</a></td>
<td align="center"><font color="#ff0000">07月29日 14:00</font></td><td align="center">昆仑万维</td><td><div class="tddescover"><a href="#" target="_blank">上班族玩的魔兽</a></div></td><td align="center"><a href="#" target="_blank"><font color="#800080"><b>点击查看</b></font></a></td>
</tr>
<tr onMouseOut="this.bgColor='#FFFBEC'" onMouseOver="this.bgColor='#FFCC00'" bgcolor="#fffbec" height="28" align="center">
<td>角色扮演</td><td>远古狩猎</td><td><a href="#" target="_blank"><font color="#008000"><b>猎人外传</b></font></a>&nbsp;<img src="images/tmp_index/hot.gif"></td><td><a href="#" target="_blank">首次封测</a></td>
<td align="center"><font color="#ff0000">07月28日 12:00</font></td><td align="center">欢腾游戏</td><td><div class="tddescover"><a href="#" target="_blank">玩家扮演一位远古赤迦族的猎人，生活在充满危险和神秘的南卡大陆上，猎人们不断的和怪兽们抗争，以此保护他们的部落和亲人们！</a></div></td><td align="center"><a href="#" target="_blank"><font color="#800080"><b>点击查看</b></font></a></td>
</tr>
<tr onMouseOut="this.bgColor='#FFFBEC'" onMouseOver="this.bgColor='#FFCC00'" bgcolor="#fffbec" height="28" align="center">
<td>休闲竞技</td><td>天殇曲降临、六界大乱</td><td><a href="#" target="_blank"><font color="#008000"><b>仙魔令</b></font></a>&nbsp;<img src="images/tmp_index/hot.gif"></td><td><a href="#" target="_blank">删档内测</a></td>
<td align="center"><font color="#ff0000">07月26日 00:00</font></td><td align="center">51wan</td><td><div class="tddescover"><a href="#" target="_blank">仙侠风集换式卡牌对战网页游戏</a></div></td><td align="center"><a href="#" target="_blank"><font color="#800080"><b>点击查看</b></font></a></td>
</tr>
<tr onMouseOut="this.bgColor='#FFFBEC'" onMouseOver="this.bgColor='#FFCC00'" bgcolor="#fffbec" height="28" align="center">
<td>战争策略</td><td>灭纣兴周</td><td><a href="#" target="_blank"><font color="#008000"><b>斗法天地</b></font></a>&nbsp;<img src="images/tmp_index/hot.gif"></td><td><a href="#" target="_blank">双线三服</a></td>
<td align="center"><font color="#ff0000">07月25日 14:14</font></td><td align="center">29ww网页平台</td><td><div class="tddescover"><a href="#" target="_blank">乱世群雄逐鹿天下，三教共同争夺天下大势</a></div></td><td align="center"><a href="#" target="_blank"><font color="#800080"><b>点击查看</b></font></a></td>
</tr>
<tr onMouseOut="this.bgColor='#FFFBEC'" onMouseOver="this.bgColor='#FFCC00'" bgcolor="#fffbec" height="28" align="center">
<td>休闲竞技</td><td>NBA蓝球</td><td><a href="#" target="_blank"><font color="#008000"><b>兄弟篮球</b></font></a>&nbsp;<img src="images/tmp_index/hot.gif"></td><td><a href="#" target="_blank">内测1服</a></td>
<td align="center"><font color="#ff0000">07月25日 10:00</font></td><td align="center">上海旭游</td><td><div class="tddescover"><a href="#" target="_blank">2011最值得期待的篮球网页游戏大作</a></div></td><td align="center"><a href="#" target="_blank"><font color="#800080"><b>点击查看</b></font></a></td>
</tr>
<tr onMouseOut="this.bgColor='#FFFBEC'" onMouseOver="this.bgColor='#FFCC00'" bgcolor="#fffbec" height="28" align="center">
<td>角色扮演</td><td>三国</td><td><a href="#" target="_blank"><font color="#008000"><b>决战三国</b></font></a>&nbsp;<img src="images/tmp_index/hot.gif"></td><td><a href="#" target="_blank">火烧洛阳</a></td>
<td align="center"><font color="#ff0000">07月25日 10:00</font></td><td align="center">蓝龙天游</td><td><div class="tddescover"><a href="#" target="_blank">一款RPG+SLG三国经典版页游</a></div></td><td align="center"><a href="#" target="_blank"><font color="#800080"><b>点击查看</b></font></a></td>
</tr>
<tr onMouseOut="this.bgColor='#FFFBEC'" onMouseOver="this.bgColor='#FFCC00'" bgcolor="#fffbec" height="28" align="center">
<td>武侠RPG</td><td>传奇经典</td><td><a href="#" target="_blank"><font color="#008000"><b>传奇国度</b></font></a>&nbsp;<img src="images/tmp_index/hot.gif"></td><td><a href="#" target="_blank">49传奇1服</a></td>
<td align="center"><font color="#ff0000">07月15日 11:00</font></td><td align="center">49you</td><td><div class="tddescover"><a href="#" target="_blank">魔幻题材的即时战斗RPG网页游戏</a></div></td><td align="center"><a href="#" target="_blank"><font color="#800080"><b>点击查看</b></font></a></td>
</tr>
<tr onMouseOut="this.bgColor='#FFFBEC'" onMouseOver="this.bgColor='#FFCC00'" bgcolor="#fffbec" height="28" align="center">
<td>武侠RPG</td><td>乱世南宋</td><td><a href="#" target="_blank"><font color="#008000"><b>十年一剑</b></font></a>&nbsp;<img src="images/tmp_index/hot.gif"></td><td><a href="#" target="_blank">双线160区</a></td>
<td align="center"><font color="#ff0000">07月07日 12:00</font></td><td align="center">49you</td><td><div class="tddescover"><a href="#" target="_blank">一段因你而起的江湖传说</a></div></td><td align="center"><a href="#" target="_blank"><font color="#800080"><b>点击查看</b></font></a></td>
</tr>
<!----------整点开放----------->	
      </tbody></table></td>
    <td background="images/tmp_index/au_top_bgr.jpg" width="3"><img src="images/tmp_index/au_top_bgr.jpg" width="3" height="1"></td>
  </tr>
</tbody></table>
<br>







<table align="center" background="images/tmp_index/end_02.jpg" border="0" cellpadding="0" cellspacing="0" width="904">
  <tbody><tr>
    <td><img src="images/tmp_index/end_01.jpg" width="13" height="6"></td>
    <td><img src="images/tmp_index/end_02.jpg" width="3" height="6"></td>
    <td align="right"><img src="images/tmp_index/end_03.jpg" width="9" height="6"></td>
  </tr>
</tbody></table>
</div>
<!--footer start-->
<table align="center" border="0" cellpadding="3" cellspacing="0" >
        <tbody><tr> 
          <td style="line-height: 14pt;" align="center">
            关于我们 | <a target="_blank" href="#"><font color="#ff0000">广告联系</font></a>| <a target="_blank" href="#"><font color="#808000">发布新服信息</font></a> | 联系我们 | 合作伙伴 | 招聘英才<br>49玩  粤ICP备11094650号
<br>
			 Copyright&nbsp;&#169;&nbsp; 2011-2015 All Rights Reserved
          </td>
        </tr>
</tbody></table> 
<!--footer end-->
</center>
</body></html>