<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>49you</title>
<meta name="keywords" content="<?=$config['keyword']?>">
<meta name="description" content="<?=$config['description']?>">
<link href="style/style_top_bar.css" type="text/css" rel="stylesheet" />
<script language="javascript" src="js/basic.js"  ></script>
</head>

<body>
<div class="th100">
  <div class="thzz th">
    <div class="th1 fl"><a href="<?=YOU_ROOT?>" target="_blank"><img src="../images/logo_l.jpg" width="104" border="0" height="35"></a></div>
    <a href="http://xk.49you.com" target="_blank" style="color:red">侠客世界</a>
    <a href="http://long.49you.com" target="_blank" style="color:red">龙将</a>
    <a href="http://sxd.49you.com" target="_blank" style="color:red">神仙道</a>
    <a href="http://yqdx.49you.com" target="_blank" style="color:red">一骑当先</a>
    <a href="http://xz.49you.com" target="_blank">凡人修真2</a>
    <a href="http://jhl.49you.com" target="_blank">江湖令</a>
    <a href="http://yx.49you.com" target="_blank">英雄王座</a>
    </div>
    <div class="fr" style="height:37px; padding-left:10px;">

      <div class="th3 fl" style="color:#000">
	  <a href="shortcut.html" target="_blank" >把49you放到桌面上</a>|
      <a href="javascript:void(0);" onclick="AddFavorite('<?=$_REQUEST['url']?>','<?=$_REQUEST['name']?>');" >收藏本站</a>|
      <a href="javascript:void(0);" onclick="SetHome(this,'<?=$_REQUEST['url']?>');" >设为首页</a>|
      <a href="http://weibo.com/49you" target="_blank" style="color:red">关注49you微博>></a>
      </div>
    </div>
  </div>
</div>

</body>
</html>
