<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>2012情人节,49you帮你告别单身!</title>
<meta name="description" content="情人节,网页游戏,网页游戏大全,网页游戏排行榜,网页游戏论坛" />
<meta name="keywords" content="情人节,49you网页游戏平台-最好玩的网页游戏平台,网页游戏大全,最新网页游戏排行榜与游戏资料,与千万游戏玩家一起欢迎你" />
<link href="/zt/lover/images/style.css" rel="stylesheet" media="screen" type="text/css" />
<link href="/style/share.css" rel="stylesheet" type="text/css" />
<style>
#ckepop {
    padding-left: 100px;
    padding-top: 30px;
    width: 750px;
}
</style>
<script language="javascript">
function jiathis_sendto(webid){
	var siteurl = window.location.href;
	var url = 'http://www.jiathis.com/send/?webid='+webid+'&url='+siteurl+'&title='+ encodeURIComponent('2012情人节，我要告别单身！')  + '&uid=1530790';
	window.open(url);
}
</script>
</head>
<body>
<!--toptop开始-->
<div class="toptop">
<div class="top_main">
<div class="main_left"><a href="http://www.49you.com/">www.49you.com</a> 49you网页游戏平台欢迎您</div>
<div class="main_right">
<ul>
<li><a href="http://www.49you.com/" target="_blank">平台首页</a></li>
<li><a href="http://www.49you.com/game.html" target="_blank">游戏中心</a></li>
<li><a href="http://www.49you.com/service.html" target="_blank">客服中心</a></li>
</ul>
</div>
</div>
</div>
<!--toptop结束-->

<div class="top">
<div class="main1"></div>
<div class="main2"><img src="/zt/lover/images/vday_03.jpg" width="1015" height="226" border="0" usemap="#Map2" />
  <map name="Map2" id="Map2">
    <area shape="rect" coords="347,137,442,189" href="http://www.49you.com/reg.html" target="_blank" />
    <area shape="rect" coords="453,132,543,183" href="http://www.49you.com/game.html" target="_blank" />
    <area shape="rect" coords="557,139,647,185" href="http://www.49you.com/news.html" target="_blank" />
  </map>
</div>
<div class="main3">
  <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="960" height="200" align="middle" id="FlashID">
    <param name="movie" value="/zt/lover/images/vday.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <param name="swfversion" value="9.0.45.0" />
    <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
    <param name="expressinstall" value="Scripts/expressInstall.swf" />
    <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
    <!--[if !IE]>-->
    <object data="/zt/lover/images/vday.swf" type="application/x-shockwave-flash" width="960" height="200" align="middle">
      <!--<![endif]-->
      <param name="quality" value="high" />
      <param name="wmode" value="opaque" />
      <param name="swfversion" value="9.0.45.0" />
      <param name="expressinstall" value="Scripts/expressInstall.swf" />
      <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
      <div>
        <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33" /></a></p>
      </div>
      <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
  </object>
</div>
<div class="main4"><img src="/zt/lover/images/vday_06.jpg" width="1015" height="379" border="0" usemap="#Map" />
  <map name="Map" id="Map">
    <area shape="rect" coords="40,64,256,180" href="http://sxd.49you.com/" target="_blank" />
    <area shape="rect" coords="282,65,495,182" href="http://long.49you.com/" target="_blank" />
    <area shape="rect" coords="521,64,736,182" href="http://xk.49you.com/" target="_blank" />
    <area shape="rect" coords="759,252,975,369" href="http://xz.49you.com/news_6779.html" target="_blank" />
    <area shape="rect" coords="41,254,257,368" href="http://long.49you.com/news_6741.html" target="_blank" />
    <area shape="rect" coords="282,254,495,369" href="http://sxd.49you.com/news_6821.html" target="_blank" />
    <area shape="rect" coords="521,254,736,369" href="http://xz.49you.com/news_6779.html" target="_blank" />
    <area shape="rect" coords="760,65,973,180" href="http://sg.49you.com/" target="_blank" />
  </map>
</div>
<div class="main5">
<img src="/zt/lover/images/vday_07.jpg" width="1015" height="221" border="0" usemap="#Map3" />
  <map name="Map3" id="Map3">
    <area shape="rect" coords="56,63,961,201" href="http://ygame.gy9y.com/test/344.html" target="_blank"/>
  </map>
  
<div id="ckepop">
<a href="#" onclick="jiathis_sendto('tqq');return false;" class="jiatitle"><span class="jtico jtico_tqq">QQ微博</span></a>
<a href="#" onclick="jiathis_sendto('qzone');return false;" class="jiatitle"><span class="jtico jtico_qzone">QQ空间</span></a>		
<a href="#" onclick="jiathis_sendto('xiaoyou');return false;" class="jiatitle"><span class="jtico jtico_xiaoyou">QQ校友</span></a>
<a href="#" onclick="jiathis_sendto('tsina');return false;" class="jiatitle"><span class="jtico jtico_tsina">新浪微博</span></a>
<a href="#" onclick="jiathis_sendto('renren');return false;" class="jiatitle"><span class="jtico jtico_renren">人人网</span></a>
<a href="#" onclick="jiathis_sendto('kaixin001');return false;" class="jiatitle"><span class="jtico jtico_kaixin001">开心网</span></a>

<a href="#" onclick="jiathis_sendto('msn');return false;" class="jiatitle"><span class="jtico jtico_msn">MSN</span></a>
<a href="#" onclick="jiathis_sendto('email');return false;" class="jiatitle"><span class="jtico jtico_email">邮件</span></a>
<a href="#" onclick="jiathis_sendto('tieba');return false;" class="jiatitle"><span class="jtico jtico_tieba">百度贴吧</span></a>
<a href="#" onclick="jiathis_sendto('baidu');return false;" class="jiatitle"><span class="jtico jtico_baidu">百度搜藏</span></a>
<a href="#" onclick="jiathis_sendto('douban');return false;" class="jiatitle"><span class="jtico jtico_douban">豆瓣</span></a>
<a href="#" onclick="jiathis_sendto('taobao');return false;" class="jiatitle"><span class="jtico jtico_taobao">淘江湖</span></a>
<a href="#" onclick="jiathis_sendto('t163');return false;" class="jiatitle"><span class="jtico jtico_t163">网易微博</span></a>
<a href="#" onclick="jiathis_sendto('tsohu');return false;" class="jiatitle"><span class="jtico jtico_tsohu">搜狐微博</span></a>
                        </div>
</div>
<div class="main6"></div>
</div>


<!-- //底部模板 -->
<div class="bottom"> 
<span>抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活 ——《健康游戏忠告》</span>49you　 版权所有
<div>
  <div>
    <div>
      <div>
        <p>Copyright ©2011 49you游戏平台 <a href="http://www.49you.com" target="_blank">www.49you.com</a> 粤ICP备11094650号-1 粤网文[2011]0266-037号 Rights   Reserve</p>
      </div>
    </div>
    </div>
</div>
<div style="display:none;">
<script src="http://s24.cnzz.com/stat.php?id=3776781&web_id=3776781" language="JavaScript"></script>
</div>
</div>
<!--底结束-->
</body>
