<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>元宵佳节 爱游戏 更爱回家！49you网页游戏平台祝你佳节快乐!</title>
<meta name="description" content="49you网页游戏平台 - 提供最新好玩的网页游戏，包括九天仙梦、传奇国度、神仙道等最新最好的网页游戏。" />
<meta name="keywords" content="49you,49you网页游戏平台,网页游戏平台,最新网页游戏,好玩的网页游戏,九天仙梦,传奇国度,神仙道,49仙梦,49传奇" />
<link href="/zt/yuanxiao/images/style.css" rel="stylesheet" media="screen" type="text/css" />
<script src="/zt/yuanxiao/scripts/swfobject_modified.js" type="text/javascript"></script>
</head>
<body>
<!--toptop开始-->
<div class="toptop">
<div class="top_main">
<div class="main_left">www.49you.com 49you网页游戏平台欢迎您</div>
<div class="main_right">
<ul>
<li><a href="http://www.49you.com/">平台首页</a></li>
<li><a href="http://www.49you.com/game.html">游戏中心</a></li>
<li><a href="http://www.49you.com/service.html">客服中心</a></li>
</ul>
</div>
</div>
</div>
<!--toptop结束-->

<div class="top">
<div class="main1"></div>
<div class="main2">
<div class="left"><img src="/zt/yuanxiao/images/left.jpg" width="638" height="745" border="0" usemap="#Map" />
  <map name="Map" id="Map">
    <area shape="rect" coords="36,79,164,262" href="http://www.youku.com/show_page/id_z92f8d70625b811df97c0.html" target="_blank" />
    <area shape="rect" coords="187,237,269,262" href="http://v.youku.com/v_show/id_XMTg3ODYzNTg0.html" target="_blank" />
    <area shape="rect" coords="283,237,333,261" href="http://v.youku.com/v_show/id_XMTc2MDg1NzA4.html" target="_blank" />
    <area shape="rect" coords="35,309,166,491" href="http://www.youku.com/show_page/id_zcc16a154962411de83b1.html" target="_blank" />
    <area shape="rect" coords="188,468,270,492" href="http://v.youku.com/v_show/id_XMjM2MDYwOTAw.html" target="_blank" />
    <area shape="rect" coords="283,468,333,492" href="http://v.youku.com/v_show/id_XMTQ1NTU2NjIw.html" target="_blank" />
    <area shape="rect" coords="35,539,166,723" href="http://v.youku.com/v_show/id_XMzI0NzkxMzE2.html" target="_blank" />
    <area shape="rect" coords="187,698,269,724" href="http://v.youku.com/v_show/id_XMzI0NzkxMzE2.html" target="_blank" />
    <area shape="rect" coords="283,698,334,724" href="http://v.youku.com/v_show/id_XMzI0NzkxMzE2.html" target="_blank" />
  </map>
</div>
<div class="right"> 
  <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="314" height="705">
    <param name="movie" value="/zt/yuanxiao/images/49you.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="opaque" />
    <param name="swfversion" value="9.0.45.0" />
    <!-- 此 param 标签提示使用 Flash Player 6.0 r65 和更高版本的用户下载最新版本的 Flash Player。如果您不想让用户看到该提示，请将其删除。 -->
    <param name="expressinstall" value="/zt/yuanxiao/scripts/expressInstall.swf" />
    <!-- 下一个对象标签用于非 IE 浏览器。所以使用 IECC 将其从 IE 隐藏。 -->
    <!--[if !IE]>-->
    <object type="application/x-shockwave-flash" data="/zt/yuanxiao/images/49you.swf" width="314" height="705">
      <!--<![endif]-->
      <param name="quality" value="high" />
      <param name="wmode" value="opaque" />
      <param name="swfversion" value="9.0.45.0" />
      <param name="expressinstall" value="/zt/yuanxiao/scripts/expressInstall.swf" />
      <!-- 浏览器将以下替代内容显示给使用 Flash Player 6.0 和更低版本的用户。 -->
      <div>
        <h4>此页面上的内容需要较新版本的 Adobe Flash Player。</h4>
        <p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="获取 Adobe Flash Player" width="112" height="33" /></a></p>
      </div>
      <!--[if !IE]>-->
    </object>
    <!--<![endif]-->
  </object>
</div>
<div class="foot"><img src="/zt/yuanxiao/images/foot.jpg" width="980" height="352" border="0" usemap="#Map2" />
  <map name="Map2" id="Map2">
    <area shape="rect" coords="33,57,162,177" href="http://v.youku.com/v_show/id_XMjg3MjY3MDk2.html" target="_blank" />
    <area shape="rect" coords="189,56,319,178" href="http://v.youku.com/v_show/id_XMzQzNzEwMTI0.html" target="_blank" />
    <area shape="rect" coords="347,57,476,177" href="http://v.youku.com/v_show/id_XMjQxNDU3MjQ0.html" target="_blank" />
    <area shape="rect" coords="503,57,631,176" href="http://v.youku.com/v_show/id_XMzM3MTM4Njcy.html" target="_blank" />
    <area shape="rect" coords="659,56,788,161" href="http://v.youku.com/v_show/id_XMjM2ODg1ODcy.html" target="_blank" />
    <area shape="rect" coords="816,56,944,174" href="http://v.youku.com/v_show/id_XMzQwNDMxNjk2.html" target="_blank" />
    <area shape="rect" coords="33,200,162,305" href="http://v.youku.com/v_show/id_XMjM3MzMzODQw.html" target="_blank" />
    <area shape="rect" coords="189,200,320,304" href="http://v.youku.com/v_show/id_XNjA2MTA4MDQ=.html" target="_blank" />
    <area shape="rect" coords="347,200,476,320" href="http://v.youku.com/v_show/id_XMzQ0NjU2NTAw.html" target="_blank" />
    <area shape="rect" coords="503,200,631,320" href="http://v.youku.com/v_show/id_XMzQzNTM0MjU2.html" target="_blank" />
    <area shape="rect" coords="660,199,788,319" href="http://v.youku.com/v_show/id_XMzQ0ODg2MDUy.html" target="_blank" />
    <area shape="rect" coords="816,199,944,322" href="http://v.youku.com/v_show/id_XMzQzNTMxMjM2.html" target="_blank" />
  </map>
</div>
</div>
</div>

<!-- //底部模板 -->
<div class="bottom"> 
<span>抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活 ——《健康游戏忠告》</span>Copyright ©2011 49you游戏平台
<div>
  <div>
    <p><a href="http://www.49you.com" target="_blank">www.49you.com</a> 粤ICP备11094650号-1 粤网文[2011]0266-037号 Rights Reserved</p>
  </div>
</div>
</div>
<!--底结束-->
<script type="text/javascript">
swfobject.registerObject("FlashID");
</script>
<div style="display:none;">
<script src="http://s24.cnzz.com/stat.php?id=3776781&web_id=3776781" language="JavaScript"></script>
</div>
</body>
</html>
