<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一骑当先征收_一骑当先征收事件_49you一骑当先官网</title>
<meta name="keywords" content="一骑当先征收,一骑当先征收事件" />
<meta name="description" content="一骑当先征收事件查询器提供了最新最全的一骑当先征收事件资料库，让您可以最方便快捷地选择到最合适奖励的答案！" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/basic.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jscontrol.js"></script>
</head>

<body>

<div id="layout">

  <div id="top">
    <div id="ser">
      <form action="" method="get">
	     <input name="" type="text" class="input-test" id="xlname"  type="text"  value="请在这里输入事件内容或选择"/>
	     <input name="重置"  class="ser-button" type="button" onclick="txtclean()" value="清空重问"//>
	  </form>
	</div>
	<div id="libao">
	  <div id="libao2"><a href="http://yqdx.49you.com/cardlist.html" target="_blank">点击进入</a></div>
	 </div>
  </div>
  
  <div id="content">
     <div id="xldata" style="height:251px;">
		<table width="100%" height="100%">
		<tr>
		<td align="center" valign="middle"><img src="images/loading.gif"/></td>
		</tr>
		</table>
	</div>
      <div class="page" id="xlpage"><a href="#">首页</a><strong>1</strong><a href="###">下一页</a><a href="###">末页</a></div>
  </div>
  
  <div id="footer">
    <div id="footer2">
      <div id="footer-img"><a href="http://yqdx.49you.com/" target="_blank"><img src="images/yxwz_14.jpg" border="0" /></a></div>
	  <div id="footer-buttom">
	     <ul>
		    <li><a href="http://yqdx.49you.com" target="_blank">进入官网</a></li>
			<li><a href="http://yqdx.49you.com/server_list.html" target="_blank">最新开服</a></li>
			<li><a href="http://yqdx.49you.com/news.html" target="_blank">最新资讯</a></li>
			<li><a href="http://www.49you.com/reg_14_4818980.html" target="_blank">进入游戏</a></li>
			<li><a href="http://yqdx.49you.com/news.html?cid=293" target="_blank">游戏攻略</a></li>
			<li><a href="http://bbs.49you.com/forumdisplay.php?fid=96" target="_blank">玩家论坛</a></li>
		 </ul>
	  </div>
	</div>
  </div>
  <div class="clear"></div>

</div>
<script src="http://app.baidu.com/static/appstore/monitor.st"></script>
</body>
</html>
