<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>江湖令-宠物保卫战！江湖新纪元，圆你武侠梦</title>
<link href="style/baoweizhan.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="bwz_wrap">
	<div class="bwz_01"><div class="bwz_nav"><a href="/" target="_blank">官网首页</a>|<a href="<?=YOU_ROOT?>/reg.html" target="_blank">账号注册</a>|<a href="<?=BBS_ROOT?>/forumdisplay.php?fid=56" target="_blank">游戏论坛</a></div></div>
    <div class="bwz_02"></div>
    <div class="bwz_03"></div>
    <div class="bwz_04">
    	<div class="bwz_04con">本年度最火爆的<span class="red">《江湖令》</span>即将在游戏内嵌入塔防系统——<span class="green">【宠物闯关】</span>，作为武侠游戏和塔防玩法的首度完美结合，<span class="red">《江湖令》</span>的<span class="green">【宠物闯关】</span>有着有哪些玩点与创新呢？下面就让我们大家一探究竟吧！</div>
  </div>
    <div class="bwz_05">
    	<div class="bwz_con">
        	<p class="bwz_tit"><img src="images/bwz_tit01.jpg" /></p>
        	<p class="bwz_img"><img src="images/bwz_06.jpg" /></p>
            <p>在《江湖令》的塔防玩法中，炮塔即为宠物，每一个炮塔与玩家宠物栏内的宠物一一对应，同时每一个炮塔在同一关卡中只能同时存在一个，如果想在塔防战斗中攻无不克、战无不胜，请得好好善待、培训宠物们哦！
炮塔具有攻击范围、攻击频率、炮塔技能等属性，其中每一个炮塔技能将一个宠物技能挂钩，炮塔技能等级将与挂钩的宠物技能等级一致。所以，强大的宠物将会是忠心耿耿地捍卫着"防线"的最大保障。</p>
            <p class="bwz_tit"><img src="images/bwz_tit02.jpg" /></p>
            <p>所谓知己知彼百战百胜，在知晓我方的备战实力后，怪物们又该如何对付呢？让我们一窥究竟吧！
当怪物受到炮塔攻击时，气血会下降。看似单一的怪物并没有太大的威胁，但凶残成性的怪物们往往集结在一起，每隔一段时间，将成群结队地从特定区域出发，一波又一波地向玩家的防线袭来，假设玩家能抵御并且截击，每击杀一波怪物后，都将获得一定的宠物经验、物品奖励、宠物成长。</p>
            <p class="bwz_tit"><img src="images/bwz_tit03.jpg" /></p>
            <p class="bwz_img"><img src="images/bwz_07.jpg" /></p>
            <p>【宠物闯关】系统由多个关卡组成；必须通过前面的关卡才能挑战后面的关卡，完成通关条件，怪物全部被消灭，即可获得通关资格。
      【宠物闯关】即将席卷《江湖令》，运用你的智慧，合理搭配各类防御措施，巧妙的选择安放位置，筑起一道难以逾越的防御线吧！</p>
        </div>
    </div>
</div>
<div class="bwz_footer">
	<div class="bwz_gg">【以上信息仅供参考，一切游戏信息以最新游戏更新内容为依据】</div>
    <div class="bwz_zg">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活 </div>
</div>
</body>
</html>