<?php $title='游戏资料_49you江湖令官方网站'; 
$keywords="江湖令游戏资料";
$description="49you江湖令游戏资料"?>
<?php include('header.html'); ?>
<!--main -->
<div id="main">
 <!--content -->
 <div class="content">
	 <!--left -->
<div class="left">
<!--left_login start-->
<? include('lefter_login.html'); ?> 
<!--left_login end-->
<!--server -->
<? include('lefter_server.html'); ?> 
<!--server end -->
<!--info -->
<? include('lefter_info.html'); ?> 
<!--info end -->
<!-----kefu----->
<? include('lefter_kf.html'); ?> 
<!--kefu end -->
	 </div>
	 <!--left end -->
	 <!--right -->
	 <div class="right">
     <!--gg -->
<? include('lefter_gg.html'); ?> 
<!--gg end -->
		<!--newslist -->
        <div id="newslist">
		  <div class="newslist-top"><span style="margin-left:20px;">游戏资料</span></div>
          <div id="newslist-content" style="text-align:center;">
            <p><img src="images/neiye1_07.png"></p><br/>
			<div class="p-content">
			   <ul>
				 <li style="border:none"><a href="<?=get_newslink(3602)?>">VIP系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3611)?>">史诗武将</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3634)?>">职业阵营</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3603)?>">帮派系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3610)?>">人物技能</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3619)?>">装备打造</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3618)?>">组队战斗</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3638)?>">清理缓存</a></li>
				 <li style="border:none"><a href="<?=get_newslink(3639)?>">网络异常处理</a></li>			
			   </ul>
			</div><br/><br/><br/>
            <p><img src="images/neiye1_15.png"></p><br/>
			<div class="p-content">
			   <ul>
				 <li style="border:none"><a href="<?=get_newslink(3601)?>">寄售系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3604)?>">宠物系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3605)?>">钓鱼系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3708)?>">科举系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3606)?>">合成系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3607)?>">护送系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3613)?>">双修系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3614)?>">挖矿系统</a></li>
				 <li style="border:none"><a href="<?=get_newslink(3615)?>">温泉系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3608)?>">科技家园</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3706)?>">外装系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3705)?>">坐骑系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3704)?>">雕像系统</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3700)?>">经脉系统</a></li>			
			   </ul>
			</div>			
			<br/><br/><br/>
            <p><img src="images/neiye1_18.png"></p><br/>
			<div class="p-content">
			   <ul>
				 <li style="border:none"><a href="<?=get_newslink(3609)?>">竞技场</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3617)?>">循环任务</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3612)?>">世界BOSS</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3616)?>">修练场</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3645)?>">装备移星</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3641)?>">装备移宝</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3640)?>">装备洗练</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3703)?>">焰火晚会</a></li>
				 <li style="border:none"><a href="<?=get_newslink(3701)?>">试练副本</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3699)?>">挑战心魔</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="<?=get_newslink(3702)?>">真武转换</a></li>			
			   </ul>
			</div>
			</div>
		  <div class="newslist-footer"><img src="images/index2_82.png"></div>
        </div>
	 </div><!--right end -->
	 <div class="clear"></div>
 </div><!--content end -->
</div><!--main end -->
<? include('footer.html'); ?> 
