	   <!-----新手指南----->
	   <div class="xinshouzhinan">
	     <div class="xinshouzhinan-header">新手指南</div>
		 <div class="xinshouzhinan-content">
           <ul>
		     <li><a href="<?=get_newslink(3602)?>">VIP系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3611)?>">史诗武将</a></li>
			 <li><a href="<?=get_newslink(3634)?>">职业阵营</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3603)?>">帮派系统</a></li>
			 <li><a href="<?=get_newslink(3610)?>">人物技能</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3619)?>">装备打造</a></li>
			 <li><a href="<?=get_newslink(3618)?>">组队战斗</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3638)?>">清理缓存</a></li>
			 <li><a href="<?=get_newslink(3639)?>">异常处理</a></li>
		   </ul>
		 </div>
	   </div><!--新手指南 end -->
	   	   <!-----系统介绍----->
	   <div class="xitongjieshao">
	     <div class="xitongjieshao-header">系统介绍</div>
		 <div class="xitongjieshao-content">
           <ul>
		     <li><a href="<?=get_newslink(3601)?>">寄售系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3604)?>">宠物系统</a></li>
			 <li><a href="<?=get_newslink(3605)?>">钓鱼系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3708)?>">科举系统</a></li>
			 <li><a href="<?=get_newslink(3606)?>">合成系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3607)?>">护送系统</a></li>
			 <li><a href="<?=get_newslink(3613)?>">双修系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3614)?>">挖矿系统</a></li>
			 <li><a href="<?=get_newslink(3615)?>">温泉系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3608)?>">科技家园</a></li>
			 <li><a href="<?=get_newslink(3706)?>">外装系统</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3705)?>">坐骑系统</a></li>
		   </ul>		 </div>
	   </div><!--系统介绍 end -->
       	   <!-----特色玩法----->
	   <div class="tesewanfa">
	     <div class="tesewanfa-header">特色玩法</div>
		 <div class="tesewanfa-content">
           <ul>
		     <li><a href="<?=get_newslink(3609)?>">竞技场</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3617)?>">循环任务</a></li>
			 <li><a href="<?=get_newslink(3612)?>">世界BOSS</a><span style="margin:0 10px;">|</span>&nbsp;&nbsp;<a href="<?=get_newslink(3616)?>">修练场</a></li>
			 <li><a href="<?=get_newslink(3645)?>">装备移星</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3641)?>">装备移宝</a></li>
			 <li><a href="<?=get_newslink(3640)?>">装备洗练</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3703)?>">焰火晚会</a></li>
			 <li><a href="<?=get_newslink(3701)?>">试练副本</a><span style="margin:0 10px;">|</span><a href="<?=get_newslink(3699)?>">挑战心魔</a></li>
			 <li><a href="<?=get_newslink(3702)?>">真武转换</a></li>
		   </ul>		 </div>
	   </div><!--特色玩法 end -->