<?php $title='传奇国度_49you传奇国度官方网站'; 
$keywords="传奇国度游戏资料";
$description="49you传奇国度游戏资料"?>
<?php include('header.html'); ?>
<div class="main">
  <div class="l">
<!--left_login start-->
<? include('lefter_login.html'); ?> 
<!--left_login end-->
<!--left_server start-->
<? include('lefter_server.html'); ?> 
<!--left_server end-->
<!--lefter_dj start-->
<? include('lefter_dj.html'); ?> 
<!--lefter_dj end-->
<!--lefter_kf start-->
<? include('lefter_kf.html'); ?> 
<!--lefter_kf end-->
<!--lefter_mt start-->
<? include('lefter_mt.html'); ?> 
<!--lefter_mt end-->

  </div>
  <div class="ra" id="content">
      <div class="dh">
      <label>游戏资料</label>
      <div>您当前的位置：<a href="index.html">传奇国度</a> &gt;&gt; 游戏资料</div>
    </div>
<div class="contend">
      <ul class="zl">
        <li><strong>【新手学堂】</strong><br />
<a target="_blank" href="<?=get_newslink(722)?>">职业介绍</a>|<a target="_blank" href="<?=get_newslink(754)?>">怪物资料</a>|<a target="_blank" href="<?=get_newslink(753)?>">游戏内挂</a>|<a target="_blank" href="<?=get_newslink(750)?>">主线任务</a><br/><a target="_blank" href="<?=get_newslink(755)?>">日常任务</a>|<a target="_blank" href="<?=get_newslink(756)?>">游戏分线</a>|<a target="_blank" href="<?=get_newslink(751)?>">游戏地图</a>
        </li>
        <li><strong>【特色系统】</strong><br />
<a target="_blank" href="<?=get_newslink(719)?>">结婚系统</a>|<a target="_blank" href="<?=get_newslink(721)?>">熔炉系统</a>|<a target="_blank" href="<?=get_newslink(720)?>">奖章系统</a>|<a target="_blank" href="<?=get_newslink(757)?>">成就称号</a><br/><a target="_blank" href="<?=get_newslink(769)?>">寄售系统</a>|<a target="_blank" href="<?=get_newslink(717)?>">公会系统</a>|<a target="_blank" href="<?=get_newslink(795)?>">VIP系统</a></li>
        <li><strong>【装备大全】</strong><br />
<a target="_blank" href="<?=get_newslink(726)?>">武器</a>|<a target="_blank" href="<?=get_newslink(734)?>">头部</a>|<a target="_blank" href="<?=get_newslink(735)?>">衣服</a>|<a target="_blank" href="<?=get_newslink(736)?>">手腕</a>|<a target="_blank" href="<?=get_newslink(737)?>">鞋子</a>|<a target="_blank" href="<?=get_newslink(738)?>">戒指</a><br/><a target="_blank" href="<?=get_newslink(746)?>">神装</a>|<a target="_blank" href="<?=get_newslink(748)?>">套装</a>|<a target="_blank" href="<?=get_newslink(770)?>">稀世装备</a>         
        </li>
        <li><strong>【进阶玩法】</strong><br />
<a target="_blank" href="<?=get_newslink(771)?>">人物加点</a>|<a target="_blank" href="<?=get_newslink(772)?>">万事通任务</a>|<a target="_blank" href="<?=get_newslink(773)?>">暗影禁地</a><br/><a target="_blank" href="<?=get_newslink(718)?>">诺提雅魔刃</a>|<a target="_blank" href="<?=get_newslink(716)?>">祈寒城攻城战</a> 
        </li>
      </ul>
    </div>
    
  <div class="bgdi">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</div>      
  </div>
</div>
</div>

<? include('footer.html'); ?> 