<div class="zl2">
	<h3>游戏资料</h3>
    <ul>
	        <li><strong>【新手学堂】</strong>
            <div><a target="_blank" href="<?=get_newslink(722)?>">职业介绍</a><a target="_blank" href="<?=get_newslink(754)?>">怪物资料</a><a target="_blank" href="<?=get_newslink(753)?>">游戏内挂</a><a target="_blank" href="<?=get_newslink(750)?>">主线任务</a><br/><a target="_blank" href="<?=get_newslink(755)?>">日常任务</a><a target="_blank" href="<?=get_newslink(756)?>">游戏分线</a><a target="_blank" href="<?=get_newslink(751)?>">游戏地图</a><a class="indent">.</a>
        </div></li>
        <li><strong>【特色系统】</strong>
        <div><a target="_blank" href="<?=get_newslink(719)?>">结婚系统</a><a target="_blank" href="<?=get_newslink(721)?>">熔炉系统</a><a target="_blank" href="<?=get_newslink(720)?>">奖章系统</a><a target="_blank" href="<?=get_newslink(757)?>">成就称号</a><br/><a target="_blank" href="<?=get_newslink(769)?>">寄售系统</a><a target="_blank" href="<?=get_newslink(717)?>">公会系统</a><a target="_blank" href="<?=get_newslink(795)?>">VIP系统</a><a class="indent">.</a>  
        </div></li>
        <li><strong>【装备大全】</strong>
        <div><a target="_blank" href="<?=get_newslink(726)?>">武器</a><a target="_blank" href="<?=get_newslink(734)?>">头部</a><a target="_blank" href="<?=get_newslink(735)?>">衣服</a><a target="_blank" href="<?=get_newslink(736)?>">手腕</a><a target="_blank" href="<?=get_newslink(737)?>">鞋子</a><a target="_blank" href="<?=get_newslink(738)?>">戒指</a><br/><a target="_blank" href="<?=get_newslink(746)?>">神装</a><a target="_blank" href="<?=get_newslink(748)?>">套装</a><a target="_blank" href="<?=get_newslink(770)?>">稀世装备</a><a class="indent">.</a>   
        </div></li>
        <li><strong>【进阶玩法】</strong>
        <div><a target="_blank" href="<?=get_newslink(771)?>">人物加点</a><a target="_blank" href="<?=get_newslink(772)?>">万事通任务</a><a target="_blank" href="<?=get_newslink(773)?>">暗影禁地</a><a target="_blank" href="<?=get_newslink(718)?>">诺提雅魔刃</a><a target="_blank" href="<?=get_newslink(716)?>">祈寒城攻城战</a> 
        </div></li>
 </ul>
 <div class="clear"></div>
    </div>