<?//游戏道具105

$sqlstr="select cate_id,info_id,subtitle,source,summary,pic from ".DB_PREFIX."info where info_start<=".time()." and cate_id = 105 and info_gid=3 order by sort_num desc,add_time desc limit 0,10";
$rs_gametools = $db->getAll($sqlstr);?>

<div class="djdiv">推荐道具</div>
<div class="dj" pause="5" step="1" speed="30" direction="up">
<ul>
<?if($rs_gametools){
foreach($rs_gametools as $k=> $v){?>
<li>
<span style="float:left;"><a href="<?=get_newslink($v["info_id"])?>" target="_blank" title="<?=$v["summary"]?>"><img src="<?=$v["pic"]?>" alt="<?=$v["summary"]?>"/></a></span>
<span style="float:left;"><b><a href="<?=get_newslink($v["info_id"])?>" target="_blank"><?=$v["subtitle"]?></a></b><?=$v["source"]?></span>
</li>
<?}
}?>
</ul>
</div>
<script language="javascript">
$(".dj").each(function() {
		$(this).marquee();
	});
</script>